[2019-10-17 21:27] samreid commented on #116
Fixed above, @zepumph can you please review?

[2019-10-17 21:29] samreid commented on #115
Imagine for the sake of argument that (a) we have a method that computes metrics based on an array of Electrons, something like `computeMetrics(electronArray)` and (b) it is a performance-limited application, so we cannot clone/copy the array but rather we should provide read-only access to it and (c) this method needs to be called on the contents of an ObservableArray of selectedElectrons as well

[2019-10-17 21:53] zepumph commented on #115
I'm not sure I agree with this personally, but channeling my logical argument, it seems like that means that you have a PhetioGroup that wants to act like an array, not a group, and so you should have a PhetioGroup which manages the creation/registration/disposal of these elements from the sim, and then you can have an array of electrons that can be treated like an array, and can have `computeMetr

[2019-10-17 22:27] samreid commented on #115
Let's say I have a made-up case where I need to assign indices to 2 elements in a PhetioGroup.  Are you saying rather than doing this:

[code]

it would be better to do:
[code]

I understand philosophically we described PhetioGroup as an unordered set/pool.  But I'm having trouble understanding the practical advantages.

On the other hand, if we decide to continue with the "set" philosophy, why no

[2019-10-17 22:29] samreid commented on #115
Also, I want to make sure we aren't just stuck on the name, for instance, what if we had named it `PhetioArray` instead of `PhetioGroup`?

[2019-10-18 00:03] zepumph commented on #115
No not at all. I seem to have an unsubstantiated feeling that it will be good to untie this from the implementation.

To use `indexOf` on a group is fundamentally flawed, it is making an assumption that I don't feel like we will want to keep forever. I see that in CCKC, there is a lot of code making assumption of the ordering of these lists, like how ModifiedNodalAnalysisCircuitElement takes numbe

[2019-10-18 00:04] pixelzoom commented on #96
`Tandem.GLOBAL_MODEL` and `Tandem.GLOBAL_VIEW` look good.   But I still see `Tandem.globalTandem`.  Is that being addressed elsewhere, like maybe in #95?

[2019-10-18 00:30] zepumph commented on #96
Yes that's right, I was trying to get something to work in projectile motion so I just added these, the rest will be converted in https://github.com/phetsims/tandem/issues/95.

[2019-10-18 00:30] #96 closed

[2019-10-18 15:55] samreid commented on #115
I feel like our decision should hinge on the majority of client cases.  If most clients will need indexing functionality, we should probably include that.  If most clients will not need that, perhaps we should aim toward set-like functionality.  But if there are even a few cases that require indexing, it would be nice if there is a convenient way to do it.  I'd like to explore how that can be done

[2019-10-18 16:24] samreid commented on #115
@chrisklus and @zepumph and I explored using `Vertex.index` instead of `vertexGroup.array.indexOf` and it seems like it will work.  For some reason the charges aren't showing on the capacitor plates, but I should figure that out.

[2019-10-18 19:06] zepumph commented on #102
Implemented above. @samreid will you please review.

[2019-10-19 03:32] samreid opened #117 "Should PhetioGroup.memberPrototype instances be disposed after baseline printed and validation completed?"
I noticed in Circuit Construction Kit that if I use the PhetioGroup to create vertices, then I get a bunch of incorrect VertexNodes at the center of the screen corresponding to the `memberPrototype` instances.  Should these be disposed after validation completes, perhaps right after `phetioAPIValidation.onSimStarted( this );` in `phetioEngine.js`?

I'm also thinking there may be a better solution

[2019-10-23 19:31] chrisklus opened #118 "Set phetioBaselineMetadata to null after startup"
From https://github.com/phetsims/tasks/issues/1013.

After the sim is finished constructing, it no longer needs `phetioBaselineMetadata`, since validation is complete. We tried setting this to null for every `phetioObject` in the `phetioObjectMap` and found that it saves 0.1 MB in Graphing Quadratics. We like this change and will commit it.

[2019-10-23 22:06] zepumph opened #119 "Rename PhetioGroupMemberTandem to DynamicTandem"
This is clearer, and now because of https://github.com/phetsims/phet-io/issues/1559 it needs to apply to more than just groups (also dynamic singletons).

[2019-10-23 23:45] zepumph opened #120 "Subtype DynamicTandem for better "_" schema"
Expanding on https://github.com/phetsims/tandem/issues/119, we now have PhetioGroup and PhetioCapsule. They both use "_" to indicate in their phetioID that they are dynamic. It may be nice to have a bit more stucture built into that, for example, for PhetioGroup, we could have a tandem that asserts that the dynamic component name ends with `/_\d+/`. And we could do something similar for PhetioCaps

[2019-10-23 23:45] zepumph commented on #119
Implemented above, see https://github.com/phetsims/tandem/issues/120 for next steps about dynamic Tandem classes.

[2019-10-23 23:45] #119 closed

[2019-10-25 17:52] zepumph opened #121 "Validate that newly created dynamic instances' metadata match prototype from API file"
This will be very similar in implementation to rule 4. Currently we are just checking that the new instance is dynamic, we should verify all its metadata.

[2019-10-30 21:26] zepumph commented on #118
@chrisklus what is next for this issue?

[2019-10-31 17:02] chrisklus commented on #118
I think we can close, do you agree?

[2019-10-31 17:51] samreid commented on #108
@zepumph volunteered to take a first look at this, then bring it back to design meeting.

[2019-10-31 17:58] zepumph commented on #108
I will bring back to design phet-io meeting with a first pass for review.

[2019-10-31 18:28] #118 closed

[2019-10-31 19:23] chrisklus commented on #101
From 10/31/19 dev meeting:

JB: Since they are cached after being created once, should it instead be called `getPropertyIO`?

We are happy with this!

[2019-11-04 20:07] samreid opened #122 "How to deal with Tandem.required in the options?"
There is a topic we didn't cover in https://github.com/phetsims/phet-info/issues/117 which is about dealing with `Tandem.required`.  The current pattern is to specify:

[code]

This is kind of odd because the tandem isn't actually required in "phet" brand, so it is listed in the options.  I'm not sure whether this was by design or we just ended up here haphazardly, and I'm not sure whether it need

[2019-11-04 20:14] pixelzoom commented on #122
I'm happy to overlook this wart, and the current approach seems to be working fine.

[2019-11-05 15:46] Denz1994 commented on #122
I agree with @pixelzoom for this reason. `Tandem.required` is deriving its value from an optional field in an options object. So that would make the `tandem` field in @samreid [comment](https://github.com/phetsims/tandem/issues/122#issue-517373145) above also an optional field.

If Tandem.js options object doesn't have a required field for `required` then its use case somewhere else shouldn't eith

[2019-11-05 22:47] samreid commented on #122
Sounds good, thanks!  Closing.

[2019-11-05 22:47] #122 closed

[2019-11-06 02:31] pixelzoom opened #123 "customizing and resetting initial state via Studio"
Client requirements for Natural Selection PhET-iO include:

... where "the restart button" is the Reset All button, and "preset sim conditions" means configuration in Studio.

We discussed this requirement in 11/5/19 Natural Selection design meeting, and I outlined the 3 approaches that I'm vaguely aware of:

(1) The client writes a custom listener for the Reset All button, and sets their desired

[2019-11-06 17:00] pixelzoom commented on #123
11/6/19 phet-io dev meeting, @samreid @zepumph @chrisklus @pixelzoom

We discussed the approaches, and clarified that there are 3 approaches. I edited the description above.

We may need to go back to approach (2) for `PhetioGroup`.  But will investigate approach (3).

[2019-11-06 19:12] zepumph commented on #120
Over in https://github.com/phetsims/phet-io/issues/1562 we made it so that we don't need to have specific Tandem chars responsible for the definition of a dynamic element. I'm going to close this, as we will continue with using metadata instead, via `phetioDynamicElement`

[2019-11-06 19:12] #120 closed

[2019-11-08 17:26] samreid opened #124 "Should PhetioGroup member tandems be customizable?"
There was a TODO marked in PhetioGroup:

[code]

@chrisklus @zepumph and I discussed this today and considered the following possibilities:

[code]

However, to maximize readability in the data stream and studio, we would like to stick with the custom name, like `electron_0`.

[2019-11-08 20:01] zepumph commented on #124
Since 2 hours ago, here are some thoughts:

Over in #1567 @samreid @chrisklus and @zepumph though it appropriate to name the "member" of PhetioSingleton to instance. But over here we still have a customizable prefix. We thought this deserved an issue to make sure there is a reason to have these different.

I don't think that element_0 as a consistent name is offensive, especially because now we su

[2019-11-08 20:02] zepumph commented on #124
I think I prefer calling them `element_0` right now.

[2019-11-09 00:21] pixelzoom opened #125 "TODOs with no associated issue number"
While looking up documentation for `options`, I noticed this in PhetioObject. A TODO was added by @zepumph on 10/23/19 with no issue number.

[code]

[2019-11-09 00:22] pixelzoom opened #126 "TODO in PhetioCapsule has no associated issue number"
Similar to #125, again in PhetioCapsule, by @zepumph:

[code]

[2019-11-09 00:24] pixelzoom opened #127 "TODO in PhetioGroupIO has no associated issue number"
Similar to #125 and #126, @zepumph again:

[code]

[2019-11-09 00:25] pixelzoom commented on #125
More:

[code]

[code]

[2019-11-09 00:31] pixelzoom commented on #125
In PhetioCapsule, by @zepumph:

[code]

[2019-11-09 00:32] pixelzoom commented on #126
Moved to #125.

[2019-11-09 00:32] #126 closed

[2019-11-09 00:32] pixelzoom commented on #125
In PhetioGroupIO, by @zepumph:

[code]

[2019-11-09 00:32] pixelzoom commented on #127
Moved to #125.

[2019-11-09 00:32] #127 closed

[2019-11-11 13:29] samreid commented on #124
I'm not sure one way or the other, but some thoughts:

* I like that calling them `element_0` cleans up the call sites for `new PhetioGroup()` a little bit, since you don't need to specify or maintain the element names.
* Do we need to run this kind of change past the PhET-iO design team?
* Do we need to be consistent between terminology between "member" vs "element"?  For instance, if we go with

[2019-11-11 16:37] samreid commented on #124
After implementing https://github.com/phetsims/phet-io/issues/1567 I think we should go ahead and rename as "element_0" or equivalent.  @zepumph what do you think about the 3rd bullet point above?

[2019-11-13 17:56] zepumph commented on #125
Fixed in https://github.com/phetsims/tandem/commit/1746cc1091ae01efd9b8e62de23228283bc3ab32

[2019-11-13 18:37] chrisklus commented on #87
We added a TODO in molecules-and-light for converting to use PhetioGroup

[2019-11-13 23:04] samreid opened #128 "Should we use string concatenation or whole terms for tandem components?"
See https://github.com/phetsims/scenery-phet/issues/540#issuecomment-553643702

This issue is to discuss and decide between:

[code]

Whole terms are more searchable.  Say I am looking to find "particleResetButton", then I would easily be able to track it down.  But whole terms are also more verbose, since we would have to create/store the whole tandems in corresponding places.

Assigning to @zepu

[2019-11-13 23:55] zepumph opened #129 "Call fromStateObject on argument passed to stateObjectToArgs"
While working on https://github.com/phetsims/projectile-motion/issues/198, @samreid and I thought that was a bit better of an API. Right now I am calling `fromStateObject` as the first line of `DataPointIO.stateObjectToArgs`. This feels like it should be done by the api.

[2019-11-14 17:17] samreid commented on #129
@zepumph thanks for recommending this improvement, it feels like the right direction to go.  I committed an initial draft, and confirmed it is working in the state wrapper for John Travoltage, Charges and Fields, Circuit Construction Kit: AC.  I ran projectile-motion, but received an error--not sure if it was the error you described in the projectile motion issue.

I also marked on TODO with this

[2019-11-14 23:57] zepumph commented on #128
In a lot (most) places, it has worked very well to use whole terms. For example. I think using `tandemName` in `RadioButtonGroup.js` makes a bunch of sense. I also agree about "Whole terms are more searchable." In general we should try to do that.

The reason I don't like it in the case of KeyPad.js is because I don't feel like it is adding anything, and it feels very simple to back trace the tand

[2019-11-15 19:18] pixelzoom opened #130 "PhetioCapsule: move defaultArguments to options"
Noted during review of https://github.com/phetsims/phet-io-wrappers/issues/288.

The constructor signature for `PhetioSingleton` (EDIT: now `PhetioCapsule`) is:

[code]

There are currently 5 occurrences of `new PhetioSingleton`.  4 of them use `[]` for the `defaultArguments` argument.  If this is typical....

Recommended  to move `defaultArguments`  to `options`, and set its default value to `[]`

[2019-11-15 19:24] pixelzoom commented on #130
After discussing with @chrisklus on Slack, I clarified `defaultArguments` doc in the above commit.  But we still have a ways to go, and I think some examples are needed.  This type expression is incomprehensible to me:

`@param {Array.<*>|function.<[],Array.<*>>} defaultArguments - arguments passed to createInstance during API baseline generation`

So if `defaultArguments` is a function, then it's

[2019-11-15 19:32] zepumph commented on #129
* I think that we should name all the parameters the same across usages, like we do for toStateObject and fromStateObject. To me is seems clearest to call it `serializedState`, but that is a bit verbose. I did also like `state` that I saw in projectile motion, even though it is a bit vague. I don't think it should be called `stateObject`, because that doesn't intuitively communicate that the param

[2019-11-15 21:33] zepumph commented on #130
I think the type doc should be `{Array.<*>|function():Array.<*>}`, does that make more sense to you @pixelzoom?

[2019-11-16 01:34] pixelzoom commented on #130
Yes, that makes much more sense - an array, or a function that returns an array.

[2019-11-20 18:48] zepumph commented on #112
After discussing this in phet-io sub-team meeting, we decided that this pattern isn't substantially better than just creating the groups in the model or view files (where the PhetioGroup instances live). As a result, we will leave this up to developer discretion as to when to use it or not.

- [ ] @chrisklus volunteered to add this pattern as an item in the dynamic static toolbox in the "how to" d

[2019-11-22 01:03] zepumph commented on #129
- [ ] There are TODOs pointing to this issue that I think have been reviewed, but not deleted.

[2019-12-04 18:11] zepumph commented on #124
"Element" is public facing, and I think will look better studio and the data stream than "member". I have fine keeping PhetioGroup methods and fields as "member" but agree that it is probably clearer to have it also be element.

Is there any reason why "element" is worst PhetioGroup? For example, is it more vague? Perhaps I'm just used to "member."

I still think that we should go with `element_0`

[2019-12-04 19:40] chrisklus commented on #124
We discussed this more today and decided that it was a micro-optimization to unify all names to "element" or "member", but we don't think it's that big of a deal to pass in a name for the members when creating a group. In general, it's better to go with the PhET way of being verbose and clear, and allowing Group-specific element names seems to align with that mindset. Closing.

[2019-12-05 04:51] samreid commented on #124
Should the aforementioned decision be applied to PhetioCapsule?  For instance, should we change `aboutDialogCapsule.instance` to `aboutDialogCapsule.aboutDialog`?

[2019-12-05 15:19] samreid commented on #102
I added delimiters for the cache keys (so that HouseBoat could be distinguished from House,Boat) and updated the JSDoc to clarify that all of the caches should be maintained together.  @zepumph want to double check these changes before we close?

[2019-12-05 15:49] chrisklus commented on #124
Yes, I think I prefer `aboutDialogCapsule.aboutDialog` and having consistency between PhetioGroup and PhetioCapsule, but I don't feel too strongly.

[2019-12-05 18:24] zepumph commented on #124
It is the most clear. Sounds good to me!

[2019-12-05 18:27] samreid commented on #124
@chrisklus is this something you could do within the next couple of weeks?

[2019-12-05 18:39] chrisklus commented on #124
@samreid yes i do - is the only action item to change PhetioCapsule `instance` to a customizable name?

[2019-12-05 18:40] samreid commented on #124
Also to iterate through `new PhetioCapsule` and choose the names.

[2019-12-06 17:43] zepumph opened #131 "rename phetioDynamicElementArchetype -> phetioArchetype?"
The first one is a bit more clear and verbose, but this question came up while working on a few dynamic element issues and I wanted to see if anyone thought it would  be substantially better.

[2019-12-06 20:21] pixelzoom commented on #123
Note that this also needs to address customization via query parameters, like https://github.com/phetsims/natural-selection/issues/9 (specify the initial population of bunnies) and https://github.com/phetsims/natural-selection/issues/24 (hide the concept of alleles).

[2019-12-06 21:09] pixelzoom commented on #95
@jbphet and I are both instrumenting sims.  I'm finding myself added lots of `Tandem.required`, which should be renamed to `Tandem.REQUIRED`.   @chrisklus should the priority of this issue be raised?

[2019-12-06 22:20] chrisklus opened #132 "Opt out of state for dynamic elements"
Found while working on https://github.com/phetsims/energy-forms-and-changes/issues/294 and https://github.com/phetsims/phet-io/issues/1584.

Since we are using PhetioGroups as an API validatable way for startup customization (like query parameters), there are now cases where all group members are created on startup, and don't need to be cleared out by PhetioGroup during setState. This use-case als

[2019-12-06 22:28] chrisklus commented on #132
Assigning to @zepumph for review.

[2019-12-07 01:32] zepumph commented on #132
This is all looking really nice. I think we will continue discussion in https://github.com/phetsims/phet-io/issues/1590.  I updated some documentation. Anything else here? Feel free to close.

[2019-12-07 16:09] samreid commented on #131
I prefer `phetioArchetype`, thanks!

[2019-12-09 16:53] chrisklus commented on #131
as do I!

[2019-12-09 18:07] zepumph commented on #131
I feel like we haven't done a very good job of conveying the "boolean" nature of many of our phetio options from their names. How about instead `phetioIsArchetype`?

[2019-12-09 18:09] chrisklus commented on #131
Ah, that's nicer, yes. I think I remember discussing in a dev meeting a while ago that adding "is" to a boolean value for clarity is a plus.

[2019-12-09 19:44] samreid commented on #131
Yes, `phetioIsArchetype` sounds good, thanks!

[2019-12-09 23:57] pixelzoom opened #133 "unsafe merge in PhetioObject.LinkedElement constructor"
PhetioObject.LinkedElement constructor has this call to `merge`:

[code]

This makes it possible for the caller to change `phetioType`, `phetioReadOnly` -- which I suspect would result in badness -- as well as `phetioFeatured`.

Please add assertions that these options are not set by the client.

[2019-12-10 00:23] zepumph commented on #123
@pixelzoom note that currently, when a Property's state is set, its initial value is set to that value too. This way if the reset all button calls "myProperty.reset()", it will go back to the value set by the most recent state, instead of to the arbitrary value for normal PhET Brand. This was implemented with @samreid and helped greatly for GAO IIRC.

[2019-12-10 00:23] zepumph commented on #123
Paper trail at the end of https://github.com/phetsims/phet-io-wrappers/issues/296.

[2019-12-10 00:43] pixelzoom opened #134 "LinkedElement: incorrect type expression for param coreElement"
In PhetioObject.LinkedElement,  I suspect an incorrect type expression for param `coreElement`.  The type expression is `{Object}`, but the assertion requires `{PhetioObject}`.

[code]

[2019-12-10 00:45] pixelzoom commented on #134
Ditto for param `object` of PhetioObject.metaData:

[code]

There's no assertion this time, but the implementation sure looks like this needs to be `{PhetioObject}`.

[2019-12-10 19:21] zepumph opened #135 "Simplify Tandem now the sonification wrapper repo is archived"
There was code in Tandem needed to support the sonfication wrapper repo on master. That can now be removed. Promoting issue comment to TODO and issue.

[2019-12-10 19:43] #135 closed

[2019-12-12 01:51] zepumph commented on #95
I went ahead and implemented this, @chrisklus will you please review.

[2019-12-12 01:53] zepumph commented on #133
Agreed! Nice catch. Please review and close if good.

[2019-12-12 01:57] zepumph commented on #134
Does this documentation help the groking?

[2019-12-12 02:39] chrisklus commented on #95
Whoops, sorry I let this slip. Thanks @zepumph. Changes look good and I found no missing cases. Ready to close.

[2019-12-12 06:27] chrisklus commented on #124
Changes pushed. I momentarily forgot that these changes don't affect the API, so grunt update shows no differences - sorta spooky.

Also, in all 8 cases, it was very clear that the instance name should be the capsule tandem name minus "Capsule". Should the instance name just be derived from the capsule's tandem? One of the bullets from https://github.com/phetsims/tandem/issues/124#issuecomment-552

[2019-12-12 06:56] chrisklus opened #136 "PhetioCapsule and PhetioGroup member names should be validated"
From working on https://github.com/phetsims/tandem/issues/124.

Changing the customizable member tandem names in PhetioCapsule and PhetioGroup don't result in any changes in the baseline when running `grunt update`. It's the one piece of a member that's not tracked in the baseline via the archetype.

@samreid and I discussed some possible fixes:

1. Use the same prefix for the archetype as the res

[2019-12-12 15:38] pixelzoom commented on #133
I said:

Reviewing https://github.com/phetsims/tandem/commit/e767521b5b36f1ed23be0b84f7d0a2ee103eb38b, I see that `phetioReadOnly` and `phetioFeatured` are now controlled by LinkedElement.  Why is this not also the case for `phetioType`?  Is there a use case for allowing the client to set something other than `phetioType: LinkedElementIO`?  Should that use case be documented?

[2019-12-12 15:53] pixelzoom commented on #134
👍

[2019-12-12 15:53] #134 closed

[2019-12-12 16:48] samreid commented on #136
I don't have anything further to contribute until we hear from @zepumph

[2019-12-12 17:07] zepumph commented on #133
I see this as no different as any usage of `phetioType`. It supports you passing in your own LinkedElementIO and screwing things up if you do it wrong. Pulling that out of options would disallow the ability for future subtyping of `LinkedElementIO`. If you disagree please assign @samreid for comment and discussion.

[2019-12-12 17:19] zepumph commented on #95
Thank you!

[2019-12-12 17:19] #95 closed

[2019-12-12 17:46] chrisklus commented on #132
Thanks @zepumph, closing.

[2019-12-12 17:46] #132 closed

[2019-12-12 19:44] pixelzoom commented on #133
Thanks for the clarification - that wasn't apparent from your comments or commit.  Closing.

[2019-12-12 19:44] #133 closed

[2019-12-12 22:30] zepumph opened #137 "Convert all IOTypes to es6"
From https://github.com/phetsims/phet-io/issues/1371, we are pretty close, but there are still a few functions that could be arrow functions and perhaps other things. @chrisklus does this seem like something you could take care of at a low priority?

Recently I ran into this in NodeIO.

[2019-12-13 17:31] #94 closed

[2019-12-13 17:36] chrisklus commented on #136
@samreid, @zepumph, @jonathanolson, and I met today and are most in favor of option (2). So far, we like `phetioDynamicElementName` for both dynamic element containers. This should be a sparse key, and relates to work in https://github.com/phetsims/phet-io/issues/1581.

This is on-hold until a dynamic container supertype exists, which will be done in https://github.com/phetsims/phet-io/issues/1594

[2019-12-13 18:40] zepumph opened #138 "PhetioObject.phetioStartEvent should not overload `data` parameter type"
Promoting TODO from @samreid.

@samreid instead of letting data be an object or a function or null, what about providing it through options?

[code]

There are only 12 usages of `phetioStartEvent` with that second arg, so I don't really care either way. @samreid does this feel better than overloading the second arg?

Honestly I think it is fine the way it is. Feel free to close, implement, or assi

[2019-12-13 18:42] zepumph commented on #125
I just created #138, and with that there is no longer any TODOs without issues. Closing

[2019-12-13 18:42] #125 closed

[2019-12-13 19:04] zepumph commented on #129
I think we can delete both of the TODOs pointing to this issue from `getState`, so I'm going to do that now. @samreid please let me know if you disagree.

[2019-12-13 19:09] zepumph commented on #130
@samreid @chrisklus I agree here. I think that default arguments should be an option. I know I have said this previously, and we decided it was nice as  a parameter because even when blank, it is good to think through what args need to be passed to the parameter.

Perhaps it is better in the options these days since so many of the usages are `[]`, and we now have assertions keeping us from omittin

[2019-12-13 19:13] zepumph commented on #123
I just want to note that I don't think that this should be dealt with by a "reset" function of `PhetioGroup`, at least not just yet. I am hopeful that Properties can control the PhetioGroup for bunnies appropriately, and we don't need to add the complexity to the dynamic element container. If this isn't working, then we should reevaluate and prototype that functionality into the PhetioGroup, but l

[2019-12-13 19:15] zepumph commented on #117
This sounds like something that should be handled by PhetioDynamicElementContainer over in https://github.com/phetsims/phet-io/issues/1594

[2019-12-13 19:15] zepumph commented on #116
Excellent. Thanks!

[2019-12-13 19:15] #116 closed

[2019-12-13 19:32] chrisklus commented on #124
@samreid, @zepumph, and I decided to go ahead with the change proposed in https://github.com/phetsims/tandem/issues/124#issuecomment-564869311.

When converting usages, I found two sites for the new option `phetioDynamicElementName` that I missed in my above search. @zepumph would you like to review? The most notable change to sign off on is for the ChargedParticleGroup in charges-and-fields. Exce

[2019-12-13 23:19] samreid commented on #138
Our team is moving more towards providing options for this kind of pattern, perhaps we can also `assertMutuallyExclusiveOptions` on them.

I think it's important to add documentation that the function is only called when the item is instrumented, and this an attempt to improve performance by avoiding work for uninstrumented instances.

Could we get an additional boost in PhET brand by stripping ou

[2019-12-30 20:05] chrisklus commented on #131
Rename complete, assigning to @samreid or @zepumph to review and close if appropriate.

[2019-12-30 23:17] samreid commented on #131
I did a spot check and didn't see any trouble.  Well, I couldn't figure out why the "before" commit in https://github.com/phetsims/circuit-construction-kit-ac/commit/e8b2873921ccaa66d2b7db6d1bdb823a30cb4e08 had `phetioIsArchetype` in the wrong alphabetical order, but that's all.  Closing.

[2020-01-02 23:47] zepumph opened #139 "dynamic element containers' state should handle reset case automatically"
In https://github.com/phetsims/phet-io-wrappers/issues/296 we ended up removing logic from Studio in favor of having state set in Property handle being reset. We should try to do that for PhetioGroup and PhetioCapsule, such that if I set the state with three charges in CAF, then reset all should put three charges back. Marking for PhET-iO sub team.

[2020-01-03 00:09] zepumph commented on #138
Alright we will move forward with providing two different, mutually exclusive options. (though they aren't really mutually exclusive because you can always just omit both).

see https://github.com/phetsims/phet-io/issues/1600

[2020-01-03 03:41] zepumph commented on #131
The find replace didn't change the ordering of the key in the baseline file, so I will run grunt update now.

[2020-01-03 03:46] #131 closed

[2020-01-03 16:32] chrisklus commented on #131
Nice catch @zepumph, thanks!

[2020-01-03 19:14] zepumph opened #140 "Remove PHET_IO_ENABLED from PhetioObject.isPhetioInstrumented()"
This is creating branching logic between brands, which is not ideal. In places we are trying to do less work in phet brand, then we should be testing against `Tandem.PHET_IO_ENABLED`.

[2020-01-07 02:19] zepumph opened #141 "PhetioObject options should be type validated"
@pixelzoom just ran into a case where he was accidentally passing through `undefined` as an option and it didn't error loudly, but rather quite a bit later in Studio. This should be an easy fix, and hopefully there aren't too many cases that are doing this silently right now. @chrisklus if you have time for this before me, go for it!

[2020-01-07 02:58] pixelzoom commented on #141
More details...

I accidentally set `phetioReadOnly: undefined` for an Action, something like this:

[code]

`grunt update` succeeded with no errors.

Studio failed to start with:

[2020-01-08 17:58] zepumph commented on #102
We forgot NullableIO()

[2020-01-08 18:36] zepumph commented on #102
@chrisklus, @samreid, and I implemented it above, and didn't find any others. Closing

[2020-01-08 18:36] #102 closed

[2020-01-08 22:20] zepumph opened #142 "assert static IO type functions aren't prototype functions"
This is a sloppy error that @samreid @chrisklus and @zepumph found on `NumberProperty`. We think it wise to add validation to make sure this doesn't happen again.

[2020-01-08 22:21] zepumph commented on #142
@samreid does this feel good to you? Are there any others that need assertions. I don't think so.

[2020-01-09 01:50] zepumph commented on #140
Most of this issue was going through each usage of `isPhetioInstrumented` and determining if there should be an additional check on `Tandem.PHET_IO_ENABLED`. Here are my thoughts as it pertains to a @samreid as he reviews (please):

* Action.js failed when I removed the `isPhetioInstrumented()` checks on start/end events. I would rather that not be needed. Perhaps we could wrap this in a function

[2020-01-09 02:12] zepumph commented on #138
@chrisklus can you please review this change. I think the key thing here is to triple check (because I already double checked) that I got every usage site, because otherwise what used to be data would be silently coerced into the options. That would be less than ideal. Thanks!

[2020-01-09 02:28] zepumph commented on #124
phetioDynamicElementName looks really awesome. This is great work. I'm happy with the direction we are heading in simplifying the dynamic element containers constructor signature.

For the ChargedParticleGroup, I decided to just inline the PhetioGroup creation, as it seemed better. It was much simpler for using `phetioDynamicElementName`.

I'm unsure why we prefer `particle` to `chargedParticle`,

[2020-01-09 02:34] zepumph commented on #88
@chrisklus, over in https://github.com/phetsims/tandem/issues/141 you were working right around here, do you mind adding this one to your work. Basically I think all that needs to be done is to move the merge above all the assertions about `phetioType`, and then to test.

[2020-01-10 03:15] chrisklus commented on #141
I added a couple TODOs, and i'm curious about the `phetioIsArchetype` one. @zepumph if you don't mind pairing on this again, I'd like to review together and discuss.

[2020-01-10 03:26] chrisklus commented on #88
I think this is already done since we now just use the `isIOType` check in PhetioObject, and it happens after the merge:

[code]

[2020-01-10 19:16] chrisklus opened #143 "Guard all of phetioStartEvent and phetioEndEvent with phetio checks"
@samreid and I noticed that `if ( PHET_IO_ENABLED && this.isPhetioInstrumented() ) {` was only being used in `phetioStartEvent` and `phetioEndEvent` to guard on `dataStream.start` and `dataStream.end` calls, but the rest of the code in those functions is running in phet brand. In `phetioStartEvent`, this means at least an unnecessary object allocation and merge call.

[2020-01-10 19:22] chrisklus commented on #143
We went ahead and pushed some changes that moved the checks to guard the whole function, and took a few performance measurements.

Over three tests, we measured an average increase between garbage collections of ~80 ms (with a total garbage collection cycle of ~1000 ms). @zepumph what do you think?

[2020-01-14 23:52] zepumph commented on #88
1. can you factor out `booleanValidator` to be a constant.
2. I think that this is good. Currently we aren't validating the `baseOptions.phetioType` when there is an `options.phetioType`. I do not think we need to, but wanted to note the limitation (which is general to how extend/merge works). Ready to close after (1).

[2020-01-15 20:36] zepumph commented on #139
@chrisklus @samreid and I prototyped this today with the following patch. After completing it we realized that it will never work because we also will need to reset each dynamic element's arbitrarily large nested structure (like a particle's positionProperty) on each reset too. It isn't enough to just recreate the dynamic level in `PhetioGroup`.

<details>

[code]
</details>

[2020-01-15 20:37] zepumph commented on #139
Instead we are going to look at improving on general reset logic over in https://github.com/phetsims/phet-io-wrappers/issues/296. Closing

[2020-01-15 20:37] #139 closed

[2020-01-15 21:31] zepumph commented on #138
I forgot one that had broken the mirror inputs wrapper for the last week. Like I said above. . . very finicky and hard to catch! @chrisklus please see if there are any more.

[2020-01-15 22:35] zepumph commented on #143
So if I understand, there are two things happening right now. The first is that we think the PhetioObject methods should be no ops if an instance is uninstrumented, or if we aren't running in phet-io brand. This sounds really really nice.

The second thing that I'm seeing is more guarding on Action and Property events to prevent the noop function from even running. I do not think that this is need

[2020-01-16 04:53] samreid commented on #143
We didn't measure the exact impact of the extra guard, but it seems like a nice thing to do since Property and Action are called many times, and it saves unnecessary object allocations.

[2020-01-16 14:22] samreid commented on #142
These changes look great, do you think `stateToArgsForConstructor` should be checked?  After we decide on that, this issue can be closed.

[2020-01-16 23:11] chrisklus commented on #88
Thanks @zepumph. (1) was addressed in the commit above, closing.

[2020-01-16 23:47] chrisklus commented on #138
Looks good @zepumph. I double checked all usage sites as well and couldn't find any that didn't conform to the new signature. Back to you if there's anything before closing.

[2020-01-17 05:41] samreid commented on #106
I don't see the advantage of developing something like `ReferenceIO` but with a `modelPhetioID`, but I don't really understand the role of `ReferenceIO` in charges and fields.  For instance, `ElectricFieldSensorNode` has `phetioType: ReferenceIO`.  Should we instead have put `phetioState: false` and used `phetioType: `NodeIO` which is the default for that type?

Also, I'm unclear how the introduct

[2020-01-17 05:46] samreid commented on #107
PhetioDynamicUtils now has this code:

[code]

So that seems like it is using the correct validator to validate the newly created instance.  Does that seem sufficient for this issue?  I didn't understand the reasoning behind introducing `static isIOType` above, not sure if it is necessary or not. @zepumph can you please take a look?

[2020-01-17 05:58] samreid commented on #115
I experimented with this again, leveraging the existing `Vertex.index` which was introduced for debugging.  I'm concerned that if index is mapped to matrix row/column, then we could end up with very large matrices.  I did not verify this, but even if it is not a problem now, how could we guarantee that it never becomes a problem?  Also, there is existing code where a for loop seems appropriate:

[

[2020-01-17 21:00] zepumph commented on #142
I originally thought no, but your comment caused me to search for the number of usages, and there are already 12. So I think that certainly it is a valuable check to do too.

[2020-01-17 21:02] #142 closed

[2020-01-18 21:38] samreid commented on #80
Tandem name validation was further improved in https://github.com/phetsims/phet-io/issues/1482, and it is working nicely.  Closing.

[2020-01-18 21:38] #80 closed

[2020-01-22 00:45] zepumph commented on #136
Work over in https://github.com/phetsims/phet-io/issues/1594 has yielded `PhetioDynamicElementContainer`, marking off hold, though I'm unsure exactly how that will assist us just yet.

[2020-01-22 00:52] #88 closed

[2020-01-22 00:52] zepumph commented on #141
One other thing that I noticed while over in https://github.com/phetsims/tandem/issues/136 is that we should factor out all of the validator options into constant, because even if it is used in a single place, it is still allocated for each PhetioObject that is initialized. That is at least 3 extra objects per PhetioObject instance, and likely worth culling.

[2020-01-22 01:00] zepumph commented on #136
In this patch I prototyped with a new option to PhetioObject that allows you to pass any data you want to be validated on the baseline. @samreid @chrisklus please take it for a test drive. Feel free to commit it, I just didn't feel confident enough in this approach to think that we should go through with it just yet. Maybe it was too simplistic of an approach.

<details>

[code]
</details>

[2020-01-22 02:09] zepumph commented on #107
I believe what you are saying is "why do we need to directly compare IOtypes between the containers parameter type, and the newly created instance's phetioType, isn't it the same and easier to just use the container's validator to validate the newly created instance?"

That makes a lot of sense! I'm going to close this and move on with my life, please reopen if I didn't quite understand.

[2020-01-22 02:09] #107 closed

[2020-01-24 00:54] zepumph commented on #106
Yes I agree. I don't think that this common IO type makes sense to create. I don't think that it adequately fits into how we are using the upside-down "U" strategy for implement dynamic state. I'm going to close.

[2020-01-24 00:54] #106 closed

[2020-01-24 19:50] samreid opened #144 "Add unit Tests for PhetioGroup"
From https://github.com/phetsims/phet-io/issues/1442, we are interested in creating a unit test that

* creates a PhetioGroup
* adds a few members
* captures the state from the PhetioStateEngine
* compares it to the expected JSON

[2020-01-24 20:24] samreid commented on #105
After discussion today, we thought something like this may be possible:

[code]
But it would be an insufficient gain for the amount of work, and not a sufficiently improved end product.  Closing.

[2020-01-24 20:24] #105 closed

[2020-01-24 23:32] chrisklus commented on #141
@zepumph helped me look at a few loose ends with validating options and we factored out the rest of the validators as constants. There was some confusion about `phetioIsArchetype` since it was a key in the options `DEFAULTS`, but it wasn't being used since PhetioObject determines the value, so we moved the option declaration needed for `PhetioObject.getMetadata` to use `this.phetioIsArchetype` ins

[2020-01-24 23:32] #141 closed

[2020-02-06 23:43] pixelzoom opened #145 "ReferenceIO is violating API"
ReferenceIO is violating the API for `toStateObject`.   It's supposed to return `{Object}` but is returning `{string}`:

[code]

Also recommended to add an assertion somewhere to catch this type of problem.

[2020-02-06 23:45] zepumph commented on #145
I think this is a failure of api documentation, and not a failure of ReferenceIO. That serialization has been working well for us thus far, so I updated the ObjectIO docs. @samreid will you please review.

[2020-02-06 23:48] pixelzoom commented on #145
ReferenceIO fromStateObject is also violating the API.  It's expecting `{string}` for `stateObject`. And `phetioEngine.hasPhetioObject` takes a string.

[code]

[2020-02-06 23:50] pixelzoom commented on #145
@zepumph said:

You update the doc for ObjectIO.  It's still incorrect in ReferenceIO and most of the IO subtype definitions that I spot checked.

[2020-02-06 23:53] pixelzoom commented on #145
First param for ReferenceIO toStateObject is still wrong:

`@param {Object} o`

should be:

`@param {PhetioObject} o`

... according to ObjectIO doc.  Similar error in many IO type definitions.

[2020-02-07 00:01] zepumph commented on #145
I updated a few more doc places. Sorry about that.

[2020-02-07 00:03] pixelzoom commented on #145
ObjectIO doc is now:

[code]

If the return type is `{*}`, then "Return the json" is incorrect.

[2020-02-07 00:04] pixelzoom commented on #145
This ObjectIO doc looks incorrect too.  Should return type be `{PhetioObject}`?

[code]

[2020-02-10 21:27] pixelzoom opened #146 "how to create tandem names for collections > 1D"
In https://github.com/phetsims/normal-modes/issues/17, I ran into a problem with creating tandem names for a 2D array of items.    The code looks like this, in  TwoDimensionsModel.js:

[code]

This fails in Tandem.js with this assertion:

[code]

Relevant code in Tandem.js:

[code]

After Slack discussion with @chrisklus, the conclusion is that:
* creating tandem names like this has been considere

[2020-02-10 21:57] samreid commented on #146
My instinct is that we can reintroduce `_` as a legal tandem token once we have eliminated all of the legacy pattern.

[2020-02-11 01:35] zepumph commented on #146
I think that `_` has been conventionally reserved for PhET-iO dynamic elements long enough that I would like to discuss the possibility of using another character. Would `x` work, like `2x3` or maybe a hyphen `-2-3`?

[2020-02-11 15:46] samreid commented on #146
Good point, `_` is still in use for `PhetioGroup` so we should use `x` or `-`.  @pixelzoom does that sound OK?

[2020-02-11 16:00] pixelzoom commented on #146
I'm not really clear on how or where you're using underscore.  But hypen sounds better that 'x' to me.

[2020-02-11 16:02] samreid commented on #146
The underscore is used here:

https://github.com/phetsims/tandem/blob/f7b8ba03a15c0f46693090023b8488847c83f0e8/js/PhetioGroup.js#L206

[2020-02-11 16:38] pixelzoom commented on #146
If phetio.PhetioIDUtils.GROUP_SEPARATOR is reserved for that usage in PhetioGroup, shouldn't
Tandem `getTermRegex` have something that prevents it from being used there?  If I had been trying to make this change without the benefit of your collective knowledge, I probably would have just added '_' to `getTermRegex`, and would have had no idea that it was reserved for use elsewhere.

[2020-02-11 19:22] zepumph commented on #146
So perhaps it would be helpful to have a note in Tandem.getTermRegex that says (even though it is already excluded from the regex itself) to not add an underscore here, and to see `DynamicTandem.getTermRegex` (a subtype), for details?

[2020-02-11 19:28] pixelzoom commented on #146
A note is only useful if you see it, it cannot prevent programming errors.  How about a validator for the tandem name, that can be overridden by subclasses?

[2020-02-11 19:33] pixelzoom commented on #87
I see this TODO in Tandem:

[code]

... and GroupTandem no longer appears to exist.  Can this TODO now be addressed?

[2020-02-11 19:34] pixelzoom commented on #87
Ah, never mind.  GroupTandem is still an inner class of Tandem.

[2020-02-11 23:28] zepumph commented on #146
Thanks for the `@override` annotation. I feel like we have that with `getTermRegex`. I am trying to figure out what more you feel like is needed here? Will you please explain?

[2020-02-12 00:00] pixelzoom commented on #146
`getTermRegex` is not a validator.  It's getting something that's used by an assertion in Tandem constructor.  Why is it not appropriate to use the same Validator pattern used elsewhere (in Property, etc) for params and options?

[2020-02-14 01:31] zepumph opened #147 "phetioIsArchetype not supported before Tandem.launch() called"
Though we support "static" Tandems and have for a while, the new feature for dynamic elements which marks certain element hierarchies as `phetioIsArchetype` does not work when Tandem is not launched.

I discovered this while working on https://github.com/phetsims/phet-io/issues/1618.

And to expose it I wrote a test in which the last assertion should pass, but it fails, so it is currently commente

[2020-02-14 01:36] zepumph commented on #147
Please have a look at this test and recommend a way forward. One way is to expose `Tandem.launched` as a field and assert that it has been launched if creating an archetype. Another way is to try to support this logic statically before launch.

I think I prefer the first option.

If we go with the second, there may be a way to trigger a batch recalculation where all archetype parents are discovere

[2020-02-17 19:33] zepumph opened #148 "Node.prototype.tandem should never be null"
Right now you can encounter cases were a Node never passes in options, and never mutates, and thus tandem is never defined. I think that for flexibility we should make tandem always defined.

[2020-02-17 19:37] zepumph commented on #148
@samreid does this feel like an appropriate solution. During a slack discussion, @pixelzoom mentioned that potentially we may want to fill in all defaults in the constructor. This is because of the `Node` case where you pass no options to the constructor and don't call `mutate`. Do you think that is warranted? To me the only item that seems valuable to provide here (and to take up space in all bra

[2020-02-17 19:38] zepumph commented on #148
This was brought up because of instrumentation of ABSwitch in https://github.com/phetsims/sun/issues/559. Ideally we could use any Node instance's `tandem`, to create substructure.

[2020-02-17 19:39] pixelzoom commented on #148
Setting  `this.tandem = DEFAULTS.tandem` does get me past the problem that I encountered. But what about all of the other fields?  Doesn't `DEFAULTS` imply that these will be the default values used? If I don't call `super(..., options )` or `this.mutate( options )`, then I don't I have a malformed PhetioObject?

[2020-02-17 20:00] zepumph commented on #148
@samreid, the best I remember about the reason why things are this way is to conserve memory, since we assumed when creating PhetioObject that it was only needed in phet-io brand (maybe even with instrumented items?!?!). We are now finding that to be different. Should we populate the constructor initializations with default values instead of making them `null`?

[2020-02-18 00:34] zepumph commented on #146
So you recommend replacing this line:

[code]

With this one?

[code]

That is totally fine with me, it feels like the exact same thing save that we don't get a custom assertion message.

Besides that is there anything else for this issue?

[2020-02-18 02:00] pixelzoom commented on #146
Nah... I agree, the assertion is better.  I had suggested that it would be good to prevent chars that are reserved for use elsewhere from being introduced where they shouldn't be, but apparently that's not possible.  So I guess we have to rely on documentation.

I don't see any commit that address the reported problem.  @samreid proposed some possibilities in https://github.com/phetsims/tandem/iss

[2020-02-18 18:33] zepumph commented on #146
@samreid which of these do you think would be better as a convention (or your own thoughts)

1. `modeXAmplitudeProperty-2x3`
2. `modeXAmplitudeProperty2x3`
3. `modeXAmplitudeProperty-2-3`
4. `modeXAmplitudeProperty2-3`
5. ?????

I think I like (1) best myself. The "x" feels very idiomatic as a replacement for "by", as in "two by three".

[2020-02-18 18:38] pixelzoom commented on #146
"2x3" looks like a dimension, not an index into a multidimensional array.

Is this crazy?  `modeXAmplitudeProperty[2,3]`

[2020-02-18 19:38] zepumph commented on #146
I'm also wondering if reserving `_` for dynamic tandems is too strict. Originally we were only reserving them for groups (like this use case), and then groups morphed into our dynamic element strategy. Another option is to investigate what it would take to support "static groups" that could potentially use an underscore. This was mentioned above too.

[2020-02-18 22:23] samreid commented on #146
`modeXAmplitudeProperty[2,3]` seems reasonable to me.  @zepumph what do you think?

[2020-02-19 16:22] samreid commented on #148
At one point, did we have an assertion that either `options` are passed in to the constructor or that `mutate(options)` is called?  Should we have something like that?  Then we never have to assign incorrect values (which may be read at the wrong time), and we can guarantee that attributes are assigned at some point?

[2020-02-19 16:33] pixelzoom commented on #148
I'm not sure how you could pull that off with an assertion. Where would such an assertion live?

[2020-02-19 18:14] zepumph commented on #148
After discussing with @samreid and @chrisklus, we decided that defaults should be propagated to PhetioObject all fields for options in the constructor. We found that this didn't take up any more memory.

@samreid mentioned that this will now cause an "incorrect" state for PhetioObject fields in the following case for Node:
[code]

But we decided it was alright because this is the same behavior (po

[2020-02-19 22:12] pixelzoom commented on #148
There's still one difference here.  If either `super( options )` or `this.mutate( options )` is called then `phetioComponentOptions` will be:

[code]

If neither is called, then it will be `null`:

[code]

Can we change DEFAULTS.phetioComponentOptions to `EMPTY_OBJECT`?   That would ensure that the behavior is the same in all cases, and also eliminate the logic on line 320.

[2020-02-20 23:17] zepumph commented on #146
Sounds great! Go for it @pixelzoom. This should probably be documented somewhere in the "how-to" docs as a convention for how to name items that are N dimensional in a grid.

[2020-02-20 23:20] zepumph commented on #146
How's that @samreid?

[2020-02-20 23:27] pixelzoom commented on #146
Verified by using this to address https://github.com/phetsims/normal-modes/issues/17.   Thanks!

Feel free to close after this is addressed in the "How to" doc.

[2020-02-21 00:05] zepumph commented on #148
That is excellent. Done above.

[2020-02-21 00:05] #148 closed

[2020-02-21 01:43] zepumph commented on #146
Updated in https://github.com/phetsims/phet-io/commit/93367037719708d83180e3225cd1073d1160b92c

[2020-02-21 03:23] pixelzoom commented on #146
Reopening.  Your example in phetsims/phet-io@9336703 made me wonder...  Should there be some statement about whether numbering is 0-based or 1-based?   In normal-modes, it's 0-based.  In your example, it's 1-based.

[2020-02-21 03:26] zepumph commented on #146
Right. What do you think the convention should be? Should we ask designers?

[2020-02-21 18:30] pixelzoom commented on #146
I will defer to the designers.  But if they don't have a strong preference, my vote would be for 0-based indexing for collections, primarily so we don't have continually remember to add `+1` in code.   If we use 1-based indexing, then some way to automatically identify uses of `0` index would be nice.

[2020-02-24 20:53] pixelzoom commented on #68
Initialization of fields was recently change for https://github.com/phetsims/tandem/issues/148, and fields are no longer initialized to `null`.  So this is no longer relevant, closing.

[2020-02-24 20:53] #68 closed

[2020-02-24 23:13] samreid commented on #146
Even though we chose to go with "1 based" in query strings, that is a substantially different case for a different population, and we should choose 0-based indexing here.

[2020-02-25 22:03] pixelzoom opened #149 "improve doc and robustness of PhetioGroup createMember"
In https://github.com/phetsims/beers-law-lab/issues/244, I was having trouble with mismatched number of arguments when creating a PhetioGroup.   Digging into PhetioGroup superclass PhetioDynamicElementContainer, I found this:

[code]

`PhetioGroup` first parameter is:

[code]

Apparently that function must have `{Tandem} tandem` as its first parameter.  That's not indicated in the JSdoc, and there

[2020-02-25 22:05] pixelzoom opened #150 "clean up terminology in PhetioGroup class hierarchy"
It would be nice to clean up terminology.   E.g. PhetioGroup `createMember` vs PhetioDynamicElementContainer `createElement` for the same constructor arg.

[2020-03-01 23:11] chrisklus opened #151 "Preferred way to get a general phetioID"
From https://github.com/phetsims/tandem/issues/108.

The way to get a `general` phetioID is with `phetio.PhetioIDUtils.getGeneralID`. These examples show getting `screenProperty` in Studio.js line 30:

[code]

Now, since `general` has been split into `general.model`, `general.view`, and `general.controller`, it looks a little more awkward:

[code]

During that refactor, I considered omitting `Phet

[2020-03-01 23:14] chrisklus commented on #108
In the above commits I moved `general` elements to `general.model` and `general.view` and updated wrapper usages of `phetio.PhetioIDUtils.getGeneralID` to include the correct `model` or `view` prefix.

I wasn't sure of the best way to proceed for the latter, so @samreid and I discussed some options, see https://github.com/phetsims/tandem/issues/151.

Marking for phet-io meeting to discuss how we l

[2020-03-02 01:55] samreid commented on #151
In my opinion, the current pattern is unclear and obfuscates what is happening:

[code]

And it would be clearer to use string interpolation like so:
[code]

The tandem names are not an "implementation detail" to be shielded behind methods and abstraction, but rather an "API feature" which should be leveraged.

[2020-03-02 21:20] pixelzoom commented on #151
Why are you not using `Tandem.GENERAL`?

Imo, string interpolation is incorrect and lazy, and this is preferable:

`Tandem.GENERAL.createTandem( 'model' ).createTandem( 'screenProperty' )`

[2020-03-02 21:22] samreid commented on #151
We are discussing how clients should construct `phetioIDs` on the wrapper-side, not how simulations construct `Tandems` in the simulation-side.

[2020-03-02 21:32] pixelzoom commented on #151
I have no experience with the client side. Unassigning.

[2020-03-03 22:35] zepumph commented on #151
That sounds really nice to me! It is easy enough to just use `Client.CAMEL_CASE_SIMULATION_NAME` in the cases where we have multiple sims, but in general our clients aren't going to use that function, and will just hard code it, so why don't we!

[2020-03-05 19:29] chrisklus commented on #108
Notes from 03/05/20 meeting:

* Why is `focusProperty` in sims without accessible features? See https://github.com/phetsims/scenery/issues/1037
For now we are okay with featuring `focusProperty` and `soundManager` Properties generally and updating their documentation to indicate that it doesn't apply to some sims.

* `resizeAction` docs: 'Values are in CSS pixels' -> 'Values are the sim dimensions

[2020-03-05 22:30] zepumph commented on #108
All focusProperty work has been completed over in https://github.com/phetsims/scenery/issues/1037, but I didn't do the soundManager update.

[2020-03-06 01:22] chrisklus commented on #108
@chrisklus and @zepumph addressed design changes from https://github.com/phetsims/tandem/issues/108#issuecomment-595405282. @zepumph can you do a quick review please? Relevant commits are https://github.com/phetsims/joist/commit/0a9c159c6861ca3e4014bbfeb34dae7a7bd56091 and https://github.com/phetsims/tambo/commit/9d0e251d42b22a31bfb3730618a83f6ff33befab.

[2020-03-06 01:27] zepumph commented on #108
All these changes look really nice. Did we want to phetioFeature the enhancedSoundEnabledProperty too? Otherwise looks excellent, and I trust you can feature one element.

[2020-03-06 01:43] chrisklus commented on #108
Thanks @zepumph! Right - I'll unfeature `soundManager` and feature `enhancedSoundEnabledProperty` so both of its Properties are featured.

@arouinfar would you mind taking a look and closing if this looks good in Studio or pass back to me? Our design meeting notes are in https://github.com/phetsims/tandem/issues/108#issuecomment-595405282.

[2020-03-06 22:09] arouinfar commented on #108
@chrisklus this is all looking good in studio on master. It looks like I don't have the appropriate privileges in this repo to reassign or close issues, so I'll ping the phet-io slack channel that this is ready to be closed.

[2020-03-07 18:59] pixelzoom commented on #108
@chrisklus  @arouinfar @samreid reopening.

@chrisklus I see that you added doc soundManager and its Properties, and the new doc is:

[code]

A few things...

(1) It's not clear from the doc how `enabledProperty` and `enhancedSoundEnabledProperty` are related.  I'm assuming that if `enabledProperty` is false, then the value of `enhancedSoundEnabledProperty` is irrelevant?

(2) My understanding fro

[2020-03-07 21:18] pixelzoom commented on #108
... and feel free to ignore any or all of the above input.  It's just my 2¢.

[2020-03-12 17:51] pixelzoom opened #152 "make PHET_IO_ENABLED more robust"
This was discussed at 3/12/2020 phet-io meeting.

In Tandem.js:

[code]

This assumes that global `window.phet.phetio` will only exist in PhET-iO branded sims.  That assumption is not verified, and while currently true, could easily change in the future.

Please cross-check with the brand in case “phet.phetio” gets introduced for non-PhET-iO brands.

[2020-03-13 04:02] samreid opened #153 "Improve value and usage of Tandem.PHET_IO_ENABLED"
At today's meeting, @pixelzoom recommended the following improvements for `Tandem.PHET_IO_ENABLED`.

* He thought we had other cases where another pattern was used to identify phet-io brand.   Perhaps a brand check?  We should look through sites and see if other legacy patterns can be moved to this main pattern.
* Also, we should not set `PHET_IO_ENABLED` solely based on the existence of one globa

[2020-03-13 16:13] pixelzoom commented on #153
@samreid This issue overlaps with https://github.com/phetsims/tandem/issues/152.

The only other static Tandem field that's not a Tandem instance is `Tandem.missingTandems`, so that's probably why I thought `Tandem.PHET_IO_ENABLED` was a Tandem instance.

It does seem like `PHET_IO_ENABLED` belongs elsewhere.  It doesn't seem like this should be Tandem's responsibility.

Making it a global seems a

[2020-03-16 20:23] samreid commented on #153
Thanks for the remarks @pixelzoom.  @zepumph can you take a look and let me know your recommendations? I'm happy to work on this and equally happy if you want to go for it.

[2020-03-16 23:22] zepumph commented on #152
Let's cover this over in https://github.com/phetsims/tandem/issues/153. Closing

[2020-03-16 23:22] #152 closed

[2020-03-16 23:33] zepumph commented on #153
I locally changed the value of PHET_IO_ENABLED to be: `const PHET_IO_ENABLED = _.hasIn( window, 'phet.chipper.brand' ) && phet.chipper.brand === 'phet-io';` and I really like it.

I like factoring out brand checks into a constant like this, and I agree that it makes more sense that `PHET_IO_ENABLED` should run on the brand instead of the presence of the `phet.phetio` global.

We originally put it

[2020-03-17 22:40] pixelzoom commented on #153
Checking `phet.chipper.brand` is much nicer and safer.

`_.hasIn( window, 'phet.chipper.brand' )` seems like it should be an assertion, not part of the definition of `PHET_IO_ENABLED`.   When would it be OK to execute this code without `phet.chipper.brand` defined?

Leaving it as `Tandem.PHET_IO_ENABLED` is fine with me.

[2020-03-17 22:49] zepumph commented on #153
That is a phetsim-centric view. There could be usages of it in, for example, scenery code that we wouldn't want to fail if running for another scenery usage. I think gracefully stating that a lack of `phet.chipper.brand` means that phet-io is not enabled seems correct to me. It could be good to add an assertion to Sim.js to make sure that phet.chipper.brand exists. What do you think?

[2020-03-17 23:12] pixelzoom commented on #153
Re previous comment. That sounds great.

[2020-03-18 04:25] chrisklus opened #154 "Add Tandem.createModelTandem and Tandem.createViewTandem"
From thinking about https://github.com/phetsims/joist/issues/616 and I think @samreid and I talked about this when discussing https://github.com/phetsims/tandem/issues/151.

`tandem.createTandem( 'model' )` and `tandem.createTandem( 'view' )` are duplicated ~102 times each, should we factor them out to look like `tandem.createModelTandem()` and `tandem.createViewTandem()`? Not sure this is much of

[2020-03-19 17:35] zepumph commented on #146
* Clearly document whether or not it is 0-based or 1-based
* For this normal modes case it makes sense to be 1-based because this sim uses that visually too:
![image](https://user-images.githubusercontent.com/6856943/77096308-05cc4100-69c4-11ea-8c8f-7caa2fff8216.png)

* PhetioGroups are currently always 0-based indexed, but @pixelzoom mentioned that potentially that could be problematic in cases (

[2020-03-19 19:30] pixelzoom commented on #146
Tracking in https://github.com/phetsims/normal-modes/issues/55.

[2020-03-19 19:45] zepumph commented on #146
Documentation updated above. Closing

[2020-03-19 19:45] #146 closed

[2020-03-24 22:36] pixelzoom opened #155 "incorrect type expression for @param listener"
In PhetioObject, there are incorrect type expressions for `addMemberCreatedListener`, `removeMemberCreatedListener`, `addMemberDisposedListener`, and `removeMemberDisposedListener`:

`* @param {function} listener`

All of these listeners apparently have 1 parameter, which is the member.

[2020-03-25 04:24] pixelzoom commented on #155
PhetioGroup `forEach` doc is also incorrect.  `param {function} action` takes one parameter.

[2020-03-25 14:42] pixelzoom opened #156 "change PhetioGroup API to refer to "element" ?"
I'm not wild about different terminology in `PhetioGroup` vs its superclass `PhetioDynamicElementContainer`, especially in method and parameter names.  PhetioGroup refers to "member", PhetioDynamicElementContainer refers to "element".  I find that my brain has to keep jumping between "element" and "member".

I understand that "groups" have "members", but all PhetioGroup members are "elements".  So

[2020-03-25 16:44] zepumph commented on #155
Implemented above. Note though that potentially some of these will be removed as part of https://github.com/phetsims/charges-and-fields/issues/177 (still out for discussion). I added parameter when appropriate to all function parameters to PhetioGroup methods. Closing

[2020-03-25 17:29] pixelzoom commented on #156
To further demonstrate my point, this doc was added for all multiple methods in https://github.com/phetsims/tandem/commit/4c54d48739d76c1ea06bc6dc687cc0c99238af9d for #55:

[code]

So the callback param for `addMemberCreatedListener` is described as an element.

[2020-03-25 17:33] pixelzoom commented on #55
Reopening. Now we have a terminology problem, see https://github.com/phetsims/tandem/issues/156#issuecomment-603977930.  PhetioGroup deals with "member" and you've described the callback parameter as "element".   I'd like to see PhetioGroup refer to "element", but that's still up for discussion in #156.  So in the meantime, I've changed "element" to "member" so that PhetioGroup is at least interna

[2020-03-25 17:34] pixelzoom commented on #55
Oops, reopened and added comment to wrong issue.  I'll clean up and delete irrelevant comments.

[2020-03-25 17:35] #55 closed

[2020-03-25 17:35] pixelzoom commented on #155
Reopening. Now we have a terminology problem, see https://github.com/phetsims/tandem/issues/156#issuecomment-603977930.  PhetioGroup deals with "member" and you've described the callback parameter as "element".   I'd like to see PhetioGroup use "element" terminology, but that's still up for discussion in #156.  So in the meantime, I've changed "element" to "member" so that PhetioGroup is at least

[2020-03-25 18:43] zepumph opened #157 "createCorrespondingGroupMember first param should just be the tandem"
From working with @pixelzoom and @chrisklus on dynamic elements in Natural Selection.

Most signatures look like `createCorrespondingGroupMember( bunny, bunny )` with duplicated parameters.

[2020-03-25 20:21] #155 closed

[2020-03-25 20:22] zepumph commented on #156
I think we purposefully chose member to be different from (PhET-iO) element because we thought that may be clearer. That said. . ..

I am totally up for switching to only use element. @samreid and @chrisklus what do you think?

[2020-03-25 20:28] pixelzoom commented on #156
Another argumentsfor using "element" everywhere...  In discussing with designers, it will be easier to just say "element", and not have to describe "member" or the relationship between element and member.

I'm writing a lot of comments in Natural Selection, and I'd like to be able to stop having to use "member" in comments, or worry about having to go back and change.

[2020-03-26 00:43] zepumph commented on #156
I think we thought that `PhetioCapsule.addElementAddedEmitter` was a little weird since it only has one element, but if we can get past that, I would love to have one set of created/disposed Emitters in the supertype for PhetioCapsule and PhetioGroup. Then `PhetioDynamicElementContainer` will define the set of emitters and it will simplify the hierarchy.

I an happy to implement as long as @chrisk

[2020-03-26 00:44] zepumph commented on #156
There is a good change that this is blocking https://github.com/phetsims/phet-io/issues/1634, so I would love comment sooner rather than later, raising priority.

[2020-03-26 15:43] chrisklus commented on #108
Thanks for the input @pixelzoom.

Right, that appears to be accurate based on the behavior in GFL. I updated the doc of `enhancedSoundEnabledProperty` to include this relationship.

Agreed - I updated the doc for `soundManager` and removed the redundancies in its children.

Right - I got a definition from @jbphet and added it to the doc.

Agreed, I updated the docs to match that style.

@arouinfar

[2020-03-26 19:17] arouinfar commented on #108
@chrisklus I reviewed GFL on master, and the updated documentation is looking really nice.

[2020-03-26 19:17] #108 closed

[2020-03-28 21:46] samreid commented on #145
The changes look good so far, reassigning @zepumph to please continue on @pixelzoom requests.

[2020-03-28 22:27] pixelzoom commented on #145
My understanding after working in BLL and Natural Selection, and talking with @zepumph, is that `fromStateObject` is overloaded.  Sometimes it returns a PhetioObject.  Sometimes (like in BunnyIO) it returns {Object}, and object literal.  It would be nice if `fromStateObject` were not overloaded in this way.  If that's not possible, it should be clearly documented (and verified) what is returned, a

[2020-03-30 23:23] pixelzoom opened #158 "instrumentation pattern for "Property takes a dynamically-created value""
This seems like a very general scenario:  Some instrumented Property takes a value that is dynamically created.  We want to provide meaningful type information and documentation for that Property, while supporting save/restore.

Over in Natural Selection, I discovered that this scenario is not well-supported by PhET-iO.

I had this nice set of classes for dynamic Bunny instances:

[code]

Then I n

[2020-03-30 23:39] pixelzoom commented on #158
Based on the naming "convention" I described about, I'm wondering if I should also rename `BunnyNodeIO` to `BunnyNodeReferenceIO`.

[2020-03-30 23:53] pixelzoom commented on #158
There was a long-ish discussion in the Slack phet-io channel.  Here are a few of the more important comments (sorry they're out of context):

Michael Kauzmann:octopus:  4:22 PM
we don't have a solution for that besides (a) creating a subtype called BunnyReferenceIO, or adding documentation string to solve it.

Michael Kauzmann:octopus:  4:32 PM
I also think that it is annoything that it feels like

[2020-04-01 22:10] zepumph opened #159 "ReferenceIO should be parametric"
To help solving the problem over in https://github.com/phetsims/tandem/issues/158, the phet-io subteam decided that the best way to proceed was to make ReferenceIO parametric. Looking at the current implementation, the validation thus far has only ever been validating that something is an `Object`. Making things parametric will add better validation, as well as providing a way to actually document

[2020-04-01 22:46] zepumph commented on #158
After discussing with the phet-io subteam, we decided that it made the most sense to just have one IO type, `BunnyIO` and to make `ReferenceIO` parametric to accept BunnyIO when it was appropriate to use that type as a reference instead of using BunnyIO's serialization logic itself.

Most of this change was implemented and committed to https://github.com/phetsims/tandem/issues/159. I took the libe

[2020-04-01 22:53] zepumph commented on #159
https://github.com/phetsims/tandem/issues/158 is out for review. I think it would also be good to get @samreid to review this one. Especially `ReferenceIO.js`.

[2020-04-02 17:01] pixelzoom commented on #158
Nice, this looks much better, and feels like a good direction.

But this issue has not been addressed:

Here's what is displayed in Studio:

<img width="679" alt="screenshot_239" src="https://user-images.githubusercontent.com/3046552/78277038-18b93800-74d1-11ea-9283-9fb03efc7364.png">

[2020-04-02 21:55] pixelzoom opened #160 "clean up PhetioDynamicElementContainer containerSuffix"
It's not obvious how a PhetioDynamicElementContainer gets the base tandem name for the elements in the container.  I figured out that it takes its tandem name, and strips off the value of `options.containerSuffix`.

`containerSuffix` needs better documentation, and the default values need to be factored out into constants with consistent names (like `DEFAULT_CONTAINER_SUFFIX`).

[2020-04-02 21:57] pixelzoom commented on #160
Done in the above commit. @chrisklus randomly selected from the IO team to review.

[2020-04-06 16:42] chrisklus commented on #160
Looks great @pixelzoom, thanks for doing this. Ready to close if you are.

[2020-04-06 17:41] #160 closed

[2020-04-06 18:39] samreid commented on #156
Yes, please.  Let's unify around `element` and implement as much as possible in `PhetioDynamicElementContainer`.  Thanks!

[2020-04-08 22:38] zepumph opened #161 "Thoughts about LinkedElement"
From discussion with @pixelzoom and @arouinfar.

The chief complaint is that, since a linked element takes its phetioFeatured from the core element. This means that for certain changes when changing a model Property to be phetioFeatured and then committing the overrides. The overrides will then alter the baseline of linkedElements' phetioFeatured.

- [x] (below) Perhaps omit phetioFeature from lin

[2020-04-08 22:51] pixelzoom commented on #161
To be clear about why this is high priority...  The current state of things requires `grunt update` to be run when changing metadata in Studio.  You can't simply change overrides.js.  And designers are not set up to deal with `grunt update`.

[2020-04-08 22:56] zepumph commented on #161
I think that the easiest solution would be to omit `phetioFeatured`. Perhaps something like:

[code]

[2020-04-09 00:48] zepumph commented on #145
I updated ObjectIO documentation further above. Short of rewriting these methods, I feel like the best documentation is in the phet-io-instrumentation-guide. Please review.

[2020-04-09 04:02] pixelzoom opened #162 "clean up documentation and naming of IO Type parameters"
Parameter names and type expressions for IO types is confusing, and in many cases incorrect.

For example, ObjectIO.js:

[code]

But looking at NumberIO.js:

[code]

So `{PhetioObject} o` and `{Object} value` are both incorrect, because it's a "number" in NumberIO.  The correct expression is in ObjectIO is `{*}`, and in NumberIO `{number}`.

Does anyone mind if I take a stab at cleaning this up ac

[2020-04-09 04:15] pixelzoom opened #163 "why use validator instead of assert in IO type?"
Here's a pattern that I find I'm repeating, because I copied it from other IO types.  In BunnyIO:

[code]

Why is this better than just using `assert`, like this?

[code]

If I have a choice, I'd prefer to use assertions, because I think they are clearer and more straightforward.

I also don't see `validator` used consistently.  For example, see NumberIO, StringIO, and BooleanIO.

[2020-04-09 15:42] pixelzoom opened #164 "rename ObjectIO.setValue ?"
ObjectIO `setValue` could benefit from a more descriptive name, so that it doesn't potentially collide with `setValue` in core types.

For example, this is becoming a common pattern, where the IO type delegates to the core type:

[code]

In this example, `setValue` has another more appropriate meaning in the core type.  Yes we could name `setValue` something else in the core type, but there is adv

[2020-04-09 16:08] pixelzoom commented on #159
It's nice that ReferenceIO is now parametric.  Here's an example of how I'm using it in natural-selection `EnvironmentModel`:

[code]

But the parameterization is not showing up in Studio.  Here's the above example in Studio:

<img width="567" alt="screenshot_245" src="https://user-images.githubusercontent.com/3046552/78915807-b8cf0e00-7a49-11ea-8b20-878983095418.png">

@zepumph is it possible to

[2020-04-09 16:58] pixelzoom opened #165 "revise documentation for IO Types related to JavaScript primitive types"
Current documentation for IO Types related to JavaScript primitive types:

[code]

Observations:

* I don't believe that we call these "wrappers" anymore.
* For designers, "JS" is probably less meaningful than "JavaScript".
* The correct term for these is "primitive types".

So proposal to replace the above with:

[code]

Any objections? If not, I'll do this.

[2020-04-09 18:23] pixelzoom commented on #145
👍 Closing.

[2020-04-09 18:23] #145 closed

[2020-04-09 19:12] zepumph opened #166 "Hide general and global Tandems"
From phet-io meeting today. We should only allow exposing:

[code]

This way we won't have confusion across sims. @chrisklus is this something you can take on?

[2020-04-09 19:15] zepumph commented on #162
go for it!

[2020-04-09 19:16] zepumph commented on #159
Ahh yes! I didn't change the `typeName` when changing everything else. One batch grunt update coming in hot!

[2020-04-09 19:57] zepumph commented on #159
Implemented above. I also got rid of using IO Type methods in public documentation (oops).

Anything else for this issue?

[2020-04-10 16:00] zepumph commented on #165
In lots of documentation I have capitalized "IO Type".  I would be happy to do that here too if you agree.

[2020-04-10 16:39] pixelzoom commented on #165
"IO Types" sounds great.

[2020-04-10 16:40] pixelzoom commented on #165
"IO Type" sounds great. So:

[code]

[2020-04-10 19:29] pixelzoom commented on #159
`naturalSelection.labScreen.model.environmentModel.selectedBunnyProperty` IO Type now looks good in Studio:

But when I select the "Selected" radio button for IO Type Documentation, I'm not seeing the documentation for `BunnyIO`.   Shouldn't that be included?

[2020-04-10 20:07] pixelzoom commented on #165
Doc changes have been made, and all API files updated.    Since this was trivial change, and the iO team is very busy, I'm going to go ahead and close this.  If anyone objects to the changes, please reopen.

[2020-04-10 20:07] #165 closed

[2020-04-10 20:08] zepumph commented on #163
The only difference (besides convention) is that `this.validator` will be the subtypiest validator in the hierarchy. So if there was a `SmartBunnyIO extends BunnyIO` with a validator that had a `valueType: SmartBunny, your first snippet would validate on `SmartBunny` instead of `Bunny`. I'm not quite sure if that is a pro or a con.

If it is a con, we can still use `validate` by calling `validate(

[2020-04-10 20:12] zepumph commented on #165
The above looks great. @pixelzoom my understanding is that to make this change you changed the `phetioDocumentation` in the code, and then ran `grunt update` in all phet-io repos. This totally works, and you should continue to do it if it makes you feel more comfortable.

Another way to handle these metadata-related changes that don't add/remove elements or rename phetioIDs is to just to a find/re

[2020-04-10 21:02] zepumph commented on #159
Great catch! That is an annoying gotcha, so I added an assertion to catch all other cases like this. Turns out ArrayIO was not supplying `parameterTypes` as expected either. Thanks for the solid review. Anything else here?

[2020-04-10 22:15] pixelzoom commented on #159
👍 closing.

[2020-04-10 22:15] #159 closed

[2020-04-10 22:18] pixelzoom commented on #163
This answered my question, thanks.  I'll use `validate` in `toStateObject` and `setValue`.

FYI, there are plenty of IO Types that do not do that.  If someone wants to create an issue, go for it.

Closing.

[2020-04-10 22:18] #163 closed

[2020-04-10 22:22] pixelzoom commented on #162
I've cleaned up my sims, but I don't have time to address this for common code or other instrumented sims.

Common-code IO types should be prioritized, especially the ObjectIO and ReferenceIO base classes.

It would be nice if sim-specific IO types were cleaned up sooner rather than later -- since a lot of PhET-iO instrumentation currently involves looking at examples, bad examples tend to result

[2020-04-11 20:30] samreid commented on #162
This issue overlaps with https://github.com/phetsims/phet-io/issues/1646

[2020-04-14 18:46] zepumph opened #167 "All IO Type static functions should assert with a validator"
From https://github.com/phetsims/tandem/issues/163#issuecomment-612242592 @pixelzoom mentioned that many static IO Type functions like `toStateObject` and `setValue` that don't validate using `this.validator`.

We should make sure we are consistent. This means converting `assert` to use `validate`, and adding `validate` if it isn't there.

[2020-04-16 01:20] zepumph opened #168 "Assert that all IO Types call `ObjectIO.validateSubtype`"
While poking around in https://github.com/phetsims/phet-core/issues/79, I was wondering if it would be easy to do this. More and more developers will be creating IO Types, and it would be nice to have as many assertions as possible.

Here is an idea:

What if we define a field on ObjectIO called `hasBeenValidated`, set to false, and then in `ObjectIO.validateSubtype` we set it to true. Then in Phe

[2020-04-16 01:21] zepumph opened #169 "Parametric types should use a Map for their cache"
Related to https://github.com/phetsims/phet-core/issues/79 where we did this in PropertyIO.js and EnumerationIO.js. We should use Map instead of an Object so that we can use actual Objects as keys for the cache.

This is on hold until we sort out https://github.com/phetsims/phet-core/issues/79

[2020-04-16 17:39] zepumph opened #170 "Updates to PhetioGroup API"
Some of this may only apply to PhetioGroup, and some may apply to the parent type.

- [x] Create a `countProperty` that is instrumented
- [x] Make the Emitters public, and get rid of convenience functions

This should be done with the same priority as https://github.com/phetsims/tandem/issues/156.

@pixelzoom mentioned that much of this work would simplify his implementation of `BunnyGroup.js`.

[2020-04-16 22:08] zepumph commented on #158
Right! This was handled over in https://github.com/phetsims/tandem/issues/159, and you already signed off on it there. I will go ahead and close this issue. Please reopen if you feel differently.

![image](https://user-images.githubusercontent.com/6856943/79511380-ab86c600-7feb-11ea-86e1-d1331466974b.png)

[2020-04-16 22:08] #158 closed

[2020-04-16 23:26] zepumph commented on #161
In the above commits I removed `phetioFeatured` as a supported metadata field for `LinkedElementIO`. This involved a bit of studio-side code to make the core types phetioFeatured value copied to the LinkedElement.

I tested this (once `grunt update` had removed all the `phetioFeatured` values from the baseline), in ph-scale:
* remove `phScale.macroScreen.model.pHMeter.pHProperty` from the override

[2020-04-16 23:44] zepumph commented on #170
I think it is easiest to combine this issue with #156. From https://github.com/phetsims/tandem/issues/156:

- [ ] Rename many usages of "member" to "element"
- [ ] Unify API of `PhetioGroup` and `PhetioCapsule` and try to move that logic to `PhetioDynamicElementContainer`

[2020-04-16 23:44] zepumph commented on #156
I think it is simplest to have a single issue for work being done in PhetioGroup. I added the work to be done here over to https://github.com/phetsims/tandem/issues/170#issuecomment-614952533. If there is anything I missed please comment over there. Closing.

[2020-04-16 23:45] #156 closed

[2020-04-17 00:26] zepumph commented on #161
Chargest and Fields demonstrated a bug with the previous implementation because it didn't support LinkedElements as archetypes in dynamic elements. This was shown in ProjectorModeCheckbox. The above patched it, but I'm not so sure it is good code. I wrote a TODO so we didn't forget about it.

[2020-04-17 16:25] zepumph commented on #170
I did quite a bit last night and this morning. One question about renaming from instance/member -> element:
- [ ] Can/ should we factor out a super IO Type?
- [ ] Can PhetioCapsule.create and PhetioGroup.createIndexedElement be factored out in the supertype at all? They are both the methods that their IO Types call to set state.

[2020-04-17 16:28] zepumph commented on #170
- [ ] For PhetioCapsule, it isn't immediately obvious if changing `this.instance` to be `this.element` is actually better, but it will align with the Emitter terminology and potentially lead to more that code that can be shared by the super type. I need to think about this a bit more.

[2020-04-17 16:35] pixelzoom commented on #170
I like `this.element` in PhetioCapsule.  A capsule managed exactly 1 dynamic element.

[2020-04-17 22:00] zepumph opened #171 "LinkedElementIO should copy methods from its linked TypeIO"
From https://github.com/phetsims/scenery/issues/1046:

This is a systemic issue, and I can see the value of this. i.e.:

[code]

This feels like a nice enhancement to me!

Possible ways to implement:
* Have phetioCommandProcessor manually forward for LinkedElement instances
* Make LinkedElementIO parametric and copy methods of its linked IO Type. This feels a bit sneaky.
* Something else?

@chrisk

[2020-04-18 03:17] samreid commented on #171
That sounds the most robust.

[2020-04-21 17:54] pixelzoom commented on #170
@zepumph it looks like you removed the add*Listener and remove*Listener functions, made the emitters public, and renamed "member" to "element".   Is it safe for me to revise BunnyGroup, so that I don't have redundant emitters?

[2020-04-21 18:16] pixelzoom opened #172 "design a proper "collection" API for PhetioGroup"
PhetioGroup is starting to be used like a collection, similar to ObservableArray.  Their `forEach` methods are currently very different:

[code]

First, I had no idea that there was a plan to remove `slice` from `ObservableArray.forEach`, and was relying on it.  Second, I guessed that `PhetioGroup.forEach` would behave the same as ObservableArray, but was wrong and got bit hard.  Third, the iO tea

[2020-04-21 18:23] zepumph commented on #170
Yes please! There is still more work to be done in this issue, but that is safe to do.

[2020-04-21 18:26] pixelzoom commented on #172
PhetioGroup also makes `this.array` public, while ObservableArray makes it private.  It should be private in both.

As noted in https://github.com/phetsims/axon/issues/283#issuecomment-617334011...  I would like to see `forEach` deleted from the API of both PhetioGroup and ObservableArray, and replaced with `getArray` and `getArrayCopy`.  That would make it crystal clear on whether you're operatin

[2020-04-21 18:30] pixelzoom commented on #170
Hmmm... I guess my emitters in BunnyGroup are not redundant.   After the PhetioGroup creates a bunny, there's other "work" that has to be done before notifying that a bunny has been created.  Maybe I should be BunnyGroup should use PhetioGroup via composition instead of inheritance.

[2020-04-21 18:34] zepumph commented on #170
From https://github.com/phetsims/tandem/issues/172#issuecomment-617335616:

[code]

I don't think I'm a fan of having array exposed. Let's discuss ways to make PhetioGroup more collection-like and flexible.

[2020-04-21 18:49] pixelzoom commented on #172
Regarding the `getArray` and `getArrayCopy` proposal... In https://github.com/phetsims/tandem/issues/170#issuecomment-617339885, @zepumph said:

[2020-04-21 18:57] pixelzoom commented on #172
As a user of these APIs, I would be perfectly fine with not having the array exposed.  But as I'm trying to use the current API in Natural Selection, it appears as though iteration (particularly encapsulation and performance) was not considered in the design of this API.  The seems like a significant oversight for something whose secondary responsibility is to act as a collection.

The other issue

[2020-04-21 18:59] zepumph commented on #172
Recommendations would be very welcome. You are thus far the only user of this outside the PhET-iO team.

[2020-04-21 19:07] pixelzoom commented on #172
As with any collection, the most fundamental API requirements are:
* hide the details of how members of the collection are stored
* provide useful, performant iterators

PhetioGroup and ObservableArray satisfy neither of those requirements.  That's why I've avoided ObservableArray whenever possible.  I don't have that option with PhetioGroup.

[2020-04-21 19:09] pixelzoom commented on #172
Since this issue has become more about the fact that PhetioGroup doesn't have a proper "collection" API, I've changed the issue title to reflect that.

[2020-04-21 19:18] pixelzoom opened #173 "PhetioGroup is not scalable"
Related to https://github.com/phetsims/studio/issues/122 (Studio handling of dynamic elements is not scalable)

In Natural Selection, bunnies are dynamically created via a PhetioGroup subclass - see BunnyGroup.js. The group can contain at most ~3000 living bunnies, and an open-ended number of dead bunnies (bunnies dies after 2 generations, or if killed by environmental factors).

Scalability probl

[2020-04-22 22:40] pixelzoom opened #174 "revisit PhetioObject.createCorrespondingGroupElement API"
`PhetioObject.createCorrespondingGroupElement`API results in relative ugly call sites.  Here are the current usages:

[code]

Could we revisit this API, so that we're not always duplicating the same 2 args?

In the most general case, the first parameter to `createCorrespondingGroupElement` should be `{string} tandemName`, not `{PhetioObject} phetioObject`.  It's using nothing but `phetioObject.tan

[2020-04-22 22:43] pixelzoom commented on #174
Worst case, the new API would be:

[code]

And call sites would look like:

[code]

[2020-04-23 19:13] pixelzoom commented on #173
Notes from 4/23/20 phet-io meeting:

* Work on optimizing PhetioGroup
* Determine some "upper bound" for when PhetioGroup doesn't work
* Recommend other patterns for when PhetioGroup won't work
* Work on the "collection API" part of PhetioGroup, see https://github.com/phetsims/tandem/issues/172

[2020-04-24 21:47] pixelzoom opened #175 "Bogus documentation for PhetioGroupIOImpl constructor"
Bogus documentation for PhetioGroupIOImpl constructor in PhetioGroupIO.js, see below.  What is "Track"?

[code]

[2020-04-24 23:40] zepumph opened #176 "Tandem should keep reference to their children"
@samreid, and @chrisklus and I think that this may be a way to improve performance around PhetioObject, especially as it pertains to dynamic elements and recursively applies that flag to its children in `propagateDynamicFlagsToChildren`.

We found, while working on https://github.com/phetsims/studio/issues/122, that `getChildren` calls within `propagateDynamicFlagsToChildren` could be taking upwar

[2020-04-27 21:46] samreid commented on #117
Tagging for https://github.com/phetsims/phet-io/issues/1648

[2020-04-27 22:47] chrisklus commented on #175
I took a first pass. Are we still intentionally using "member" in some places (like that function) or should everything be converted to "element"?

[2020-04-27 22:49] pixelzoom commented on #175
Based on work completed in https://github.com/phetsims/tandem/issues/156, my understanding is "element".

[2020-04-27 22:53] pixelzoom commented on #175
A couple of other things:

- [ ] The name `addChildInstance` also seems questionable, since it's described as "Creates an element of the group".

- [ ] All methods of class `PhetioGroupIOImpl` are missing visibility annotations.

[2020-04-27 22:56] pixelzoom opened #177 "missing visibility annotations in PhetioCapsuleIOImpl"
All methods of `PhetioCapsuleIOImpl` are missing visibility annotations.

[2020-04-27 23:00] pixelzoom opened #178 "missing visibility annotations in IO Types"
Lots of missing visibility annotations in IO Types and IOImpl inner classes.  Recommended to review and fix.

[2020-04-27 23:04] pixelzoom commented on #178
I fixed a few in the above commits, but not comprehensive.

[2020-04-27 23:45] chrisklus commented on #177
@samreid or @zepumph please review

[2020-04-28 05:21] samreid commented on #172
Focusing our attention on PhetioGroup for the moment, let's talk about these objectives:

It seems like this could be accomplished by making PhetioGroup.array private.

Here are the current collections-style methods provided by PhetioGroup at the time of this writing:

[code]

Can you please explain why this set of methods is not useful, consistent or performant?

[2020-04-28 14:12] pixelzoom commented on #172
No support for modification while iterating.  If you're going to suggest `filter` or `map` as a way of doing that, then change "no support" to "poor support".

No support for adding/removing > 1 element from the collection. All changes are 1 element at a time.

Length cannot be observed; you have to register a listener with both `elementCreatedEmitter` and `elmentDisposedEmitter`.

The API differs

[2020-04-28 14:30] pixelzoom commented on #172
Accessing `PhetioGroup.array` is currently necessary for 2 reasons:
(1) To make a copy of the array, in order to support modification while iterating.
(2) To try other iterators, since PhetioGroup performance has not been vetted.

[2020-04-28 14:35] pixelzoom commented on #172
Accessing `PhetioGroup.array` is currently necessary for 2 reasons:

(1) To make a copy of the array, in order to support modification while iterating.
(2) To try other iterators, since PhetioGroup performance has not been vetted.

No support for modification while iterating.  If you're going to suggest `filter` or `map` as a way of doing that, then change "no support" to "poor support".

No suppo

[2020-04-28 14:42] pixelzoom commented on #172
To the above "useful" list, I would add...  I don't believe that `forEach` is the only useful iterator.  `Array` provides multiple iterators to fit different situations, providing the flexibility to choose an iterator based on performance, readability, etc.  Have we looked at the Java iterator interface for Java Collections?  C++ iterator? Other APIs? What are the iterator use-cases for PhetioGrou

[2020-04-28 15:20] pixelzoom commented on #172
Before proceeding further with this issue, I think we need to decide whether acting as a collection is a primary responsibility of PhetioGroup.   I'm on the fence about that.  Over in https://github.com/phetsims/tandem/issues/170#issuecomment-617339885, I proposed adding `getArray` and `getArrayCopy` to both ObservableArray and PhetioGroup.  @zepumph didn't like the idea of exposing the array.  Bu

[2020-04-28 15:22] samreid commented on #172
I don't feel strongly about this issue and will wait until there is more of a consensus.  Please discuss and/or promote to developer meeting if you want a larger conversation.

[2020-04-28 15:25] pixelzoom commented on #172
Until this issue is resolved, would anyone object to adding PhetioGroup `getArray` and `getArrayCopy`, and making `array` private?   That would make things easier to change in the future.  And I have an immediate to modify-while-iterating in Natural Selection, and would prefer not to be writing code like `bunnyGroup.array.slice()`.

[2020-04-28 15:26] pixelzoom commented on #172
Until this issue is resolved, would anyone object to me adding PhetioGroup `getArray` and `getArrayCopy`, and making `array` private?   That seem to be a baby step in the right direction, and would make things easier to change in the future.  And I have an immediate to modify-while-iterating in Natural Selection, and would prefer not to be writing code like `bunnyGroup.array.slice()`.   And I woul

[2020-04-28 15:27] samreid commented on #172
Go for it!

[2020-04-28 15:28] pixelzoom commented on #172
OK.  Unless I hear objections, I'll be adding modifying the `array` part of the API this afternoon.

[2020-04-28 15:35] pixelzoom opened #179 "PhetioGroup.forEach should guard against modification while iterating"
Related to #172 (collection API for PhetioGroup)

PhetioGroup `forEach` operates on the underlying array, so perhaps it should guard against modification while iterating.  Before iterating, register a listener with `elementCreatedEmitter` and `elementDisposedEmitter` (or better yet, add `countProperty`) and fail if the listener is called. After iterating, remove the listener.

[2020-04-28 15:38] samreid commented on #179
`Array` is the de-facto standard collections API in JavaScript, and it doesn't guard against modification.  Why should we choose an inconsistent behavior for our own collections ?

[2020-04-28 18:06] pixelzoom commented on #179
@samreid I don't understand your response. Are you saying that we just because JavaScript allows you to shoot yourself in the foot, we should do the same?  And how is a catching a programming error "inconsistent behavior"?  So if Array let's you make a programming error, we should build our APIs to allow the same programming errors?

[2020-04-28 18:29] pixelzoom commented on #179
lodash's `_.merge( {}, 1 )` silently ignores its second arg. PhET's `merge( {}, 1 )` notes that the second arg is incompatible with merge and fails an assertion.  Using the argument in https://github.com/phetsims/tandem/issues/179#issuecomment-620683717, why did we bother to improve on lodash's behavior?

[2020-04-28 20:35] pixelzoom opened #180 "PhetioGroup: clean up access to internal array"
From https://github.com/phetsims/tandem/issues/172#issuecomment-620677265:

I received two 👍, so I'll proceed.

[2020-04-28 20:35] pixelzoom commented on #172
Proceeding with PhetioGroup `getArray` and `getArrayCopy` in https://github.com/phetsims/tandem/issues/180.

[2020-04-28 22:11] pixelzoom commented on #180
Summary of above commits:

* made `this.array` private and renamed to `this._array`
* temporarily added failing `get array()` to identify any `.array` that were missed
* added `getArray`
* added `getArrayCopy`
* renamed `get` to `getElement` to make future refactors easier
* temporarily added failing `get()` to identify any that I didn't change to `getElement`
* added `indexOf` convenience method

[2020-04-28 22:27] pixelzoom commented on #170
We have (at least temporarily) add `getArray` and `getArrayCopy` to both PhetioGroup and ObservableArray.  See https://github.com/phetsims/tandem/issues/180 and https://github.com/phetsims/axon/issues/283#issuecomment-620151143 respectively.

[2020-04-29 16:07] pixelzoom commented on #180
CT seems happy, so I've delete `get()` and `get array()`.

@zepumph please have a look if you'd like, then close.

[2020-04-30 01:00] samreid commented on #177
Maybe refer specifically to `PhetioStateEngine.js`?

[2020-04-30 01:07] samreid commented on #172
That makes a lot of sense.  But I don't understand why that plan is OK for PhetioGroup but not ObservableArray?

[2020-04-30 01:14] samreid commented on #174
That seems reasonable to me, but let's run it past @zepumph.

[2020-04-30 01:17] samreid commented on #179
Basically I was considering this excellent argument:

[2020-04-30 01:45] pixelzoom commented on #172
The way I see it, ObservableArray's primary responsibility is to serve as a collection that supports notification -  conceptually a subclass of Array that adds notification features.   So (to me) it feels more important to hide ObservableArray's internal Array.  But I'd be OK with proceeding with the same `getArray` and `getArrayCopy` approach.

@zepumph had an opinion about this (for PhetioGroup

[2020-04-30 01:47] pixelzoom commented on #179
Then shall we get rid of PhetioGroup `forEach` if it's not any protection against modification-while-iterating?  Or it it still valuable as a convenient replacement for `group.getArray().forEach(...)`?

[2020-04-30 14:52] KatieWoe opened #181 "CT May not have completed all tests"
[code]

[2020-04-30 19:32] zepumph commented on #181
https://github.com/phetsims/aqua/issues/89

[2020-04-30 21:07] #180 closed

[2020-04-30 21:11] zepumph commented on #174
Yes I think that just passing in the tandem name as the first arg is appropriate. Thanks!

[2020-04-30 21:12] zepumph commented on #172
I'm happy with the way your are proceeding, especially with the regard to performance and a maintainable api.

[2020-04-30 21:13] zepumph commented on #172
@pixelzoom anything else for this issue?

[2020-04-30 21:32] pixelzoom commented on #174
Back to the phet-io team to decide who works on this.

[2020-04-30 21:35] pixelzoom commented on #172
So to summarize, the collection part of the API is now `getArray` and `getArrayCopy`, with some convenience methods that operate directly on the internal array (`forEach`, `indexOf`,...)

I'm OK with calling this good, so I'll close.  If anyone object, feel free to reopen.

[2020-04-30 21:35] #172 closed

[2020-05-01 00:23] zepumph commented on #170
- [ ] When calling disposeElement, there are three operations, remove the reference from the data stream (like the array for PhetioGroup), emit disposal, and dispose the element. What order is best? Right now I'm going with the order listed above.

[2020-05-01 00:28] zepumph commented on #170
- [ ] I want to move `elementCreatedEmitter.emit( createdElement )` up to PhetioDynamicElementContainer, but that would mean for PhetioGroup that we would emit before that object has been populated into the array. Is that acceptable?

[2020-05-01 00:56] zepumph commented on #170
PhetioGroup.countProperty was added above.

- [ ] @arouinfar should this be phetioFeatured?

[2020-05-01 01:20] zepumph commented on #170
When I added countProperty, I also added a listener that would assert that this._array was the same length as the count. This ended up being challenging just like in the state order dependencies we worked on for gas properties, except that the countProperty would need a dependency on every single group element. This felt less than ideal.
- [ ] We could (and probably should) still add that assertio

[2020-05-01 02:54] pixelzoom commented on #170
That feels wrong to me.  Create should create the element, add the element to the array, then fire `elementCreatedEmitter`.  Dispose should remove the element from the array (so that the array doesn't contain a disposed element), then dispose the element, then fire `elementDisposedEmitter`.

[2020-05-01 02:59] pixelzoom commented on #170
A bit of a nit, and definitely subjective... But why not increment and decrement `countPropert` like this?

[code]

[2020-05-01 03:11] pixelzoom commented on #170
As I mentioned in https://github.com/phetsims/tandem/issues/170#issuecomment-622224002, this is (imo) all backwards:

[code]

The emitter is called "Disposed" not "WillBeDisposed".  And if it's disposed, why is it still a member of the group?   I.e., firing `this.elementDisposedEmitter` before disposing fails these 2 basic assumptions.

[code]

This doesn't fit with your subclassing plan, but here

[2020-05-01 03:32] pixelzoom commented on #170
The current implement of `disposeElement` was actually causing a bad count in Natural Selection, because I assumed that the element was actually disposed and had been removed from the array.  See my workaround in the above commit.

Note that I'm planning to delete BunnyCollection `totalNumberOfBunniesProperty` once PhetioGroup `countProperty` is finalized, and the behavior of create/dispose is wel

[2020-05-01 15:53] zepumph commented on #170
I like your ordering. I'll change it up.

[2020-05-01 16:06] pixelzoom commented on #170
Cool. And I'll be happy to review, if that helps.

[2020-05-01 16:46] zepumph commented on #170
I updated countProperty updates.

Should PhetioGroup.length run on countProperty? I don't care either way.

I also updated the disposal order as you suggested. It makes much more sense.

I prefer the current implementation of PhetioCapsule.disposeElement, to the following:

[code]

What do you think?

[2020-05-01 17:03] arouinfar commented on #170
@zepumph said:

I took a look at `countProperty` in Projectile Motion and Charges and Fields. It's looking nice!

I think this is something we'll want to be phetioFeatured. Back to @zepumph.

[2020-05-01 17:32] pixelzoom commented on #170
Yeah....  The most useful convenience method would be getting the count without having to do `group.countProperty.value`.  So I would change `get length` to `get count`, and  make it return`this.countProperty.value`.   If someone needs "length", then they're dealing with the array and have already called `getArray`.

Looking good! I added some doc to `disposeElement` and `createIndexedElement`, an

[2020-05-01 18:12] zepumph commented on #176
We worked on this more today in the context of https://github.com/phetsims/tandem/issues/173. We committed a change that improved the code responsible to propagating flags to dynamic children by streamlining the usages. We found reasonably good, though unreliable speed up numbers in the chrome dev tools in Natural Selection, but are certain that we are creating less garbage, which will only help w

[2020-05-01 18:56] chrisklus commented on #174
Committed above and tested in CAF, EFAC, and Natural Selection. @samreid or @zepumph please review.

[2020-05-01 19:37] zepumph commented on #173
@chrisklus, @samreid, and I committed over in https://github.com/phetsims/tandem/issues/176 changes that shaved a few hundred milliseconds off of natural selection generation jumps that create many bunnies. It is by no means an end all solution, but hopefully we can find a few more solutions like that which help improve the performance of underlying phet-io code.

[2020-05-01 19:47] zepumph commented on #174
very good! Thanks. I'm going to close, please reopen if there is anything else.

[2020-05-01 19:47] #174 closed

[2020-05-04 18:02] zepumph opened #182 "Rename `options` to `config` in PhetioObject.initializePhetioObject"
`options` is required in this function. Thanks @jonathanolson for pointing out the incorrect doc. Let's convert to config!

[2020-05-06 17:53] samreid commented on #179
It seems to be a valuable convenience replacement.

[2020-05-06 18:10] samreid commented on #176
Sims that use GroupTandem are having assertions errors on CT.

[2020-05-07 00:46] zepumph commented on #170
I renamed PhetioGroup.length -> PhetioGroup.count, made `countProperty` `phetioFeatured:true` and tweaked some documentation.

I don't think it is worth the complexity at this point, but let me know if you feel differently.

@pixelzoom please give things a spot check.  Anything else here?

[2020-05-07 04:24] zepumph commented on #170
Making count run on `get count` run on `countProperty` broke NaturalSelection's assertion in `BunnyCollection.assertValidCounts` in the state wrapper. This is because the ObservableArray has its listeners firing immediately during state set, but Properties do not. I will create an issue to investigate deferring ObservableArray listeners.

[2020-05-07 16:21] pixelzoom commented on #170
I made a couple of documentation changes in the 2 commits above, @zepumph feel free to take a peek.

@zepumph said:

@zepumph I don't see the "add assertion back in" comment anywhere in this issue.  Can you clarify what you're talking about here?

[2020-05-07 22:47] zepumph commented on #176
The above has three changes. I'm not totally sure which of the three fixed the bug in BAA, but afterwards I can't reproduce it. I am fine leaving it like this, since it was all in deprecated code. Hopefully this cleans up CT a bit. I'll check back tomorrow.

[2020-05-08 16:31] zepumph commented on #176
This cleaned up CT! Over to @samreid and/or @chrisklus for a review of the original commits, as well as a glance at the above workaround for the deprecated, GroupTandem pattern.

[2020-05-08 16:45] #182 closed

[2020-05-08 16:59] zepumph commented on #179
I'm happy either way!

[2020-05-08 17:05] zepumph commented on #170
You changes look great. Thank you.

Yes sorry! To be clear about what I wanted to add for validation, here is the patch:

[code]

This issue with this is in the state engine. Basically this means that the countProperty now has an order dependency on every dynamic element getting created before it gets notified. Now that I'm writing this out, it feels pretty reasonable, and like something I should

[2020-05-08 17:57] pixelzoom commented on #170
Thanks for the clarification.  Yes, I agree that is a "reasonable" and valuable assertion.

[2020-05-14 01:36] zepumph commented on #170
The assertion was successfully added above, we needed to make sure that the countProperty wasn't updated while setting state, since the countProperty itself is stateful. I'll keep this open and come back after looking at CT in the morning.

Note that the Natural selection specific problems will be discussed and reviewed over in https://github.com/phetsims/natural-selection/issues/74, but I wanted

[2020-05-14 01:42] zepumph commented on #170
Just to be clear, Natural Selection and CAF were both fuzzing state successfully after this commit, so I feel confident enough to add this assertion in now.

[2020-05-14 13:39] pixelzoom commented on #170
CT is reporting a problem with `countProperty` in Concentration:

[code]

[2020-05-14 17:42] zepumph commented on #181
Fixed above.

@jonathanolson, is there a reason why this is showing up on CT as incomplete? By best guess is that this is because of an uncaught error, but I would have thought that CT would handle that case?

When I run this locally before the fix I get this error:

[code]

Is there an open issue to get CT to report uncaught qunit unit test errors?

[2020-05-15 01:00] zepumph commented on #170
Indeed! The issue was very similar to https://github.com/phetsims/natural-selection/issues/74, in that the state setting was actually buggy, but and relied on being set twice in those cases, because on the second time a Property wouldn't change and first the listeners again. This particular fix is above. Please review.

In general, I am really loving this assertion. It has exclusively caught bugs

[2020-05-15 02:52] zepumph commented on #170
In https://github.com/phetsims/tandem/commit/e4dbfb10c017c6613b46bdd5b41801177a5b134d and https://github.com/phetsims/phet-io/commit/db74308d6b87dbd54bb97caca209148e65c6252b

I worked a bit more on making countProperty and its length validation work with phet-io state. This commit (a) removes a workaround in PhetioGroup that I thought was a fix but was actually causing bugs in Projectile Motion, a

[2020-05-15 17:40] pixelzoom commented on #170
@zepumph and I reviewed https://github.com/phetsims/beers-law-lab/commit/8ddebac6096d440b573f1688de5dca577768a2a1 via Zoom.  I think I understand the underlying problem now.  But it seems like this fix should also be applied to `Precipitate.removeAllParticles`.  So I've added that in the above commit, and will monitor CT.

[2020-05-15 20:55] pixelzoom commented on #170
No problems in BLL after 3 cycles of CT.   Sounds like the intention was to close this after BLL review, so closing.

[2020-05-15 20:55] #170 closed

[2020-05-16 00:16] zepumph commented on #170
CT is looking good to me!

[2020-05-18 19:37] ariel-phet commented on #162
It sounds like some effort should be put towards a determined effort to improve iO documentation. Marking for iO meeting to discuss priority, but it seems although perhaps not an enviable task, it is an important one for maintainability.

[2020-05-18 19:43] pixelzoom commented on #162
There's a similar problem with annotations.  IO Type methods `toStateObject` , `fromStateObject`, `setValue` (and others?) should be `@public @override`.  Many (most?) are missing one or both of those annotations.

[2020-05-22 19:07] zepumph opened #183 "ObjectIO method parameters are incorrect"
Many of them are taylored to only reference serialization, for example toStateObject does not always get a PhetioObject, for Vector2 for example.

From slack:
[code]

[2020-05-28 17:12] samreid commented on #162
We agreed this should be higher priority, ObjectIO and ReferenceIO being somewhat more important.

[2020-05-29 02:19] zepumph commented on #87
- [ ] Once this is done, we can work on https://github.com/phetsims/phet-io/issues/1675

[2020-05-29 05:08] samreid commented on #101
It has been a long time since we decided this and I just want to double check that converting parametric types from `MyTypeIO` to `getMyTypeIO` is still our preferred solution.  For instance, I see several occurrences in Natural Selection like:

[code]

and I wanted to see if we still want to go with:

[code]

I noticed that in https://github.com/phetsims/tandem/issues/101#issuecomment-534654089 t

[2020-05-29 16:47] samreid commented on #176
The changes look great.  The only part I wasn't able to determine was whether there is a memory leak for PhetioGroup member tandems.  Imagine a PhetioGroup that only has 10 members at any given time, but keeps cycling through higher and higher indices.  Is there a part of Tandem that knows how to dispose the unused children?  Do we need that?

[2020-05-29 21:59] zepumph commented on #87
- [ ] Once this is complete, we can delete the addChildElementDeprecated method from PhetioStateEngine.js

[2020-05-29 22:49] zepumph commented on #176
Can you explain how this might happen? The only way I can imagine it is in a way where the lower numbers get disposed. When this occurs, that lower number's tandem ('element_0') also get's disposed. See `Tandem.removePhetioObject`. This then plucks that Tandem out of the tree so that it can get garbage collected. That coupled with likely logic in any PhetioObject subtypes disposing children or any

[2020-06-02 16:37] pixelzoom commented on #101
At this point, my vote would be to stick with "the former" (what we've been using) and consider it to be syntactic sugar.   If we change to "the latter" (getters) I think there would be confusion about when to use an IO Type vs a getter (`AlleleIO ` vs `getBunnyIO` in the above example).

[2020-06-02 18:48] samreid commented on #101
Sounds good, @zepumph and @chrisklus OK to close this issue?

[2020-06-03 16:20] chrisklus commented on #101
Yes, sounds good to me.

[2020-06-03 16:29] zepumph commented on #101
@jbphet and I just ran into this while working on States of matter phet io state. We find it very confusing that IO types look the same even when they are parametric functions that return IO Types.  @jbphet can you comment on if you would rather see "getEnumerationIO()"  instead of 'EnumerationIO'?

I think it would make the distinction clearer, but potentially at the cost of more verbose call sit

[2020-06-03 16:48] pixelzoom commented on #101
@zepumph said:

If the syntax is the same, why do you need to care?  As I said above:

If the syntax is the same, then there's no need to figure out whether its a parametric function or not. Or am I missing something?

[2020-06-04 19:30] pixelzoom commented on #101
I'm still OK with what we've been doing. If the consensus is to change to getters, go for it.

[2020-06-05 00:08] zepumph commented on #101
I don't feel strongly either way, but I'm thick into the phet-io world, and could just be used to it. I think it would be helpful to hear from @jbphet before continuing. Please read from https://github.com/phetsims/tandem/issues/101#issuecomment-548530886 and let me know what you would like to do.

[2020-06-05 18:19] jbphet commented on #101
@pixelzoom said:

...and @zepumph said:

I'm going to defer to the two of you on this one.  I do find some aspects of the IOTypes a little challenging to get my head around, but @pixelzoom is much more steeped in them right now than I am, and I trust his judgement.

[2020-06-05 18:49] pixelzoom commented on #101
My opinion is still https://github.com/phetsims/tandem/issues/101#issuecomment-637670389:

https://github.com/phetsims/tandem/issues/101#issuecomment-639070344:

[2020-06-05 19:36] zepumph commented on #101
@samreid ready to close?

[2020-06-05 19:41] samreid commented on #101
I skimmed the issue and searched for TODOs referencing this issue.  All seems well, closing.

[2020-06-05 19:41] #101 closed

[2020-06-05 23:07] zepumph opened #184 "Support uninstrumented PhetioDynamicElementContainers"
Over in https://github.com/phetsims/phet-io/issues/1679, we added code that will opt out of setting phet-io metadata, like `phetioType` when a PhetioObject isn't instrumented. This broke our implementations of `PhetioDynamicElementContainer` because they rely on passing `phetioType.parameterTypes[0]` to `createDynamicElement`.

I think this is the right direction, despite an error we had in joist

[2020-06-05 23:10] zepumph commented on #184
Tagging @samreid and @chrisklus to see what we think the usage of PhetioDynamicElementContainers should be. Are we "allowed" to have uninstrumented ones lying around the project? My instinct is yes, we should support that. I feel this even more strongly due to the assertion above. Why does that instance of KeyboardHelpButton fail in phet brand just because of a phet-io implementation detail.

This

[2020-06-05 23:24] zepumph opened #185 "Delete ArrayIO.applyState"
Today while working with @jbphet and @samreid on https://github.com/phetsims/states-of-matter/issues/287, it took us a while to understand why/how/when to use ArrayIO.fromStateObject and ArrayIO.setValue and if/how they should be used in conjunction with each other. For the SOM case we ended up just using fromStateObject, and I think that was best. From that I was curious why we would ever use Arr

[2020-06-08 21:56] samreid commented on #184
Yes, it seems we should allow PhetioGroups to be uninstrumented, we may find reasons to `Tandem.OPT_OUT` of some common code ones.

[2020-06-09 15:35] samreid commented on #176
That looks good, thanks!

An object becomes eligible for garbage collection when there are no references from heap "roots" (I forget the technical term) to the object.  If a program has Root R and objects A and B, where A and B have references to each other, but R doesn't have a reference to either A or B, then A and B are eligible for garbage collection.

This issue seems ready to close.

[2020-06-09 15:35] #176 closed

[2020-06-11 22:18] samreid commented on #164
How about `setStateObject` or `applyState`?

[2020-06-11 22:19] samreid commented on #128
I gravitated to string concatenation in Gravity and Orbits and it helped a lot, closing.

[2020-06-11 22:19] #128 closed

[2020-06-13 19:10] pixelzoom commented on #179
I'm not clear on why this was assigned back to me.  @samreid can you please clarify?

[2020-06-15 16:27] samreid commented on #179
There were 2 responses to your question in https://github.com/phetsims/tandem/issues/179#issuecomment-621563423.  Now that you received those responses, how do you recommend to proceed for this issue?

[2020-06-15 16:36] pixelzoom commented on #179
Thanks for clarifying.  It sounds like no one else agrees that there is value in making `forEach` guard against modification while iterating, and that's it's better to make it behave the same as `getArray().forEach`.  I still don't agree, but feel free to close.

[2020-06-17 18:08] zepumph commented on #164
I like `applyState`

[2020-06-17 18:42] zepumph commented on #164
I implemented this above. It was a bit finicky since there are so many other usages of `setValue`, but I tested NS and SOM in the state wrapper (the only repos that have IO type setValue functions calling core type `setValue` functions) and all looks good. I liked `applyState`, but don't feel too strongly, mainly I like that now `applyState` is unique to this usage, and if we wanted to rename to s

[2020-06-17 19:30] pixelzoom commented on #164
Thanks, looks good to me! Closing.

[2020-06-17 19:30] #164 closed

[2020-06-17 19:52] zepumph commented on #70
We have decided not to go down this path. It seems clear that everything has `phetio` except `tandem`. It is well documented ( like in `// phet-io` documented options), and has a convention. Anything else for this issue?

[2020-06-17 19:56] chrisklus opened #186 "Should Tandem instances have a reference to their PhetioObject?"
So far, PhetioObjects only have a reference to their tandem, but not the other way around. If a PhetioObject is needed by its corresponding `tandem.phetioID`, it can use `phetioEngine.getPhetioObject`.

For testing purposes and if there are enough uses of `phetioEngine.getPhetioObject`, it could be nice to have a reference like `tandemInstance.phetioObject`. For testing, this would be a big improv

[2020-06-17 20:04] zepumph opened #187 "Add AuxiliaryTandemRegistry.js"
This new Type (ATR), will be useful for unit tests, where we don't want or need to wire up the entire phetioEngine, but instead just want a local registry that captures elements created within that test. This non-global approach will be best long term.

From this we could also call `Tandem.launch()` in `qunitStart` to make sure everything get's flushed eagerly.

This would allow a lot of previousl

[2020-06-17 20:22] samreid commented on #70
I agree, let's close.

[2020-06-17 20:22] #70 closed

[2020-06-17 20:44] zepumph commented on #161
Today the phet-io team found an issue with LinkedElement.getMetadata as it pertains to declarative APIs in https://github.com/phetsims/phet-io/issues/1657. I don't think that they should be deleting phetioFeatured from the list, but instead, now that we no longer have baseline files or grunt update commands, we can likely get the phetioFeatured value from the coreElement again.

- [ ] assigning to

[2020-06-23 23:28] samreid commented on #161
I read through https://github.com/phetsims/tandem/issues/161#issuecomment-614947406 and the mentioned commits and did not see any problems.  However, since this issue we have eliminated baseline files and it seems like a good idea to run this past @zepumph to see if that changes how we proceed for this issue.  Perhaps the preceding comment is part of that.

Also, reducing priority based on the com

[2020-06-24 14:17] samreid commented on #173
In https://github.com/phetsims/studio/issues/122 @pixelzoom reported:

I'm inclined to move priority to medium, but please correct me if it should remain high.

[2020-06-24 15:56] samreid commented on #169
Work in phetsims/phet-core#79 completed, so I removed the hold.

[2020-06-25 00:51] zepumph opened #188 "IO Type factory based on methods from the core type?"
Based on patterns that are getting established for IO Types in natural-selection and MultipleParticleModelIO, most of the logic in an IO Type is actually getting defined in the core type, and so IO Types often are mostly boilerplate:

[code]

In those cases, it could be nice to have an IO Type factory that can just wrap the core type.

[2020-07-06 15:03] samreid commented on #173
In https://github.com/phetsims/natural-selection/issues/60#issuecomment-653686932 @pixelzoom reported:

[2020-07-06 15:50] samreid commented on #188
It seems like we should coordinate this work with the other IO type work proposed in

https://github.com/phetsims/phet-io/issues/1657#issuecomment-646735445
https://github.com/phetsims/phet-io/issues/1646
https://github.com/phetsims/phet-io/issues/1643
https://github.com/phetsims/phet-io/issues/1657#issuecomment-646735445

Do we need an IO type label?

[2020-07-06 15:53] samreid commented on #188
In https://github.com/phetsims/phet-io/issues/1683#issuecomment-646229929 @pixelzoom said:

[2020-07-06 16:25] samreid commented on #179
https://github.com/phetsims/tandem/issues/172#issuecomment-620673276 says:

Are we still OK with that tradeoff, or do we want to reopen that decision?

[2020-07-06 16:38] pixelzoom commented on #179
I'm still OK with exposing the array via `getArray` and `getArrayCopy`.   I think that's preferable to trying to add a collection API.   That was attempted for ObservableArray (unsuccessfully imo), and I generally find it to be easier/clearer to use `getArray` or `getArrayCopy` there also.

[2020-07-06 16:40] samreid commented on #179
Understood, thanks.  It sounds like this issue is ready to close.  Please reopen if that's incorrect.

[2020-07-06 16:40] #179 closed

[2020-07-07 19:13] pixelzoom opened #189 "bad phetioComponentOptions validation in PhetioObject"
In PhetioObject.js:

[code]

Validation of subclass options doesn't belong in PhetioObject. It belongs in the subclasses (Node, Text, RichText). Putting it in PhetioObject leads to bad validation results for other subclasses.

For example, if I add this to my constructor in Bunny.js, it fails a validation assertion:

[code]

But if I add this, which is equally wrong, there is no complaint:

[code]

[2020-07-07 22:36] zepumph commented on #189
That makes a lot of sense! Over in https://github.com/phetsims/scenery/issues/1046 we are going to remove all components that require `phetioComponentOptions`, and hopefully after that we can deprecate phetioComponentOptions. I would rather work on that than this, but you are right, this is very wrong.

[2020-07-08 23:32] pixelzoom commented on #189
That's going to be fun.  There are currently 74 occurrences of "phetioComponentOptions:".

[2020-07-09 22:37] #138 closed

[2020-07-09 22:39] zepumph commented on #143
Agreed! Especially in those locations, which are passing data to the no-op each time. I have switched teams. I'm all team-optimization! YAY. Closing

[2020-07-09 22:39] #143 closed

[2020-07-09 22:55] zepumph commented on #177
Agreed!

[2020-07-09 22:55] #177 closed

[2020-07-14 04:15] samreid commented on #129
The following parameter names are most prevalent in the code and sound reasonable to me, and aren't too verbose:

[code]

After the above commits, I revised the remaining usages to use this new standard.  @zepumph can you please review?

[2020-07-14 18:49] pixelzoom opened #190 "improve doc for fromStateSetting"
The documentation for `fromStateSetting` doesn't tell me anything useful.  I have no idea what it does, or how it's related to validation.

In PhetioGroup.js and PhetioDynamicElementContainer.js:

[code]

In PhetioGroup.js:

[code]

In PhetioGroup.js, as an option to method `clear`:

[code]

[2020-07-14 23:31] samreid commented on #190
I took a look around but am not clear what is happening here.  @zepumph can you please take a look?

[2020-07-15 02:19] samreid commented on #144
Thanks to @zepumph, we have some very nice PhetioGroup unit tests, thanks! Closing.

[2020-07-15 02:20] samreid commented on #144
Oh well, I realized this issue is about testing the JSON content.  Maybe it should remain open.  But I don't have plans to work on it anytime soon, so unassigning.  We do test PhetioGroups frequently during our development, by using studio to create a customized simulation.  So I'm not sure how important this issue is.

[2020-07-15 04:48] samreid commented on #85
Beer's Law Lab is currently working well in the state wrapper, closing.

[2020-07-15 04:48] #85 closed

[2020-07-15 18:13] chrisklus opened #191 "Tweaks to phet-io validation"
In discussion with @samreid and @zepumph, we think that phet-io API validation and tandem validation would be clearer and easier to use if they were more related to each other. We think the best starting approach to this cleanup is having validation be either all on or all off, as the multiple levels of validation feels unnecessary.

Some changes:

- [x] Convert `Tandem.errorOnFailedValidation` to

[2020-07-17 21:53] zepumph commented on #171
In the above commit, @samreid and I added LinkedElement method forwarding build into the command processor that listens to commands from the wrapper frame.

This is hard coded for only LinkedElement, but I don't feel too bad about that, as it is quite special behavior that I don't feel like would apply anywhere else.

I ended up committing because I was able to successfully test by:
* going to the

[2020-07-18 01:05] zepumph commented on #129
Looks great. I will also be looking at many of these methods in https://github.com/phetsims/phet-io/issues/1685 when I revert the original commits in the issue (lol). Your names look great though. I will keep that naming over there.

[2020-07-18 01:05] #129 closed

[2020-07-18 14:25] samreid commented on #171
The code change looks good, and I tested with this property in Gravity and Orbits:

[code]

It worked great and I think this is good for now, I can't think of anything else we would need to do to make LinkedElements act like their core elements at the moment.  Closing.

[2020-07-18 14:25] #171 closed

[2020-07-18 16:54] samreid commented on #191
I'm planning to start on this today, not sure how far I will get.

[2020-07-18 21:27] samreid commented on #191
I tested on a clean working copy by adding an uninstumented `Checkbox` and running with `?phetioValidateTandems=true` and was surprised to see that this was not caught.  I wonder if I'm testing wrong or if this will need to be corrected.

[2020-07-18 21:52] samreid opened #192 "Tandem.REQUIRED is no longer checked"
Discovered in https://github.com/phetsims/tandem/issues/191

[2020-07-18 21:52] samreid commented on #191
I split #192 into a separate issue and will continue here.

[2020-07-18 22:03] samreid commented on #191
To test my working copy changes, I added this code in GravityAndOrbitsModel.js constructor:

[code]

Note the missing `phetioType` which is required for VALIDATION.

I tested the following cases:

package.json validation | query parameter
true | omitted
true | true
true | false
false | omitted
false | true
false | false

Each case worked as expected.  I think I'll commit and reach out to @zepumph

[2020-07-18 22:14] samreid commented on #191
Repeating a comment from earlier since all the commits pushed it up too far:

To test my working copy changes, I added this code in GravityAndOrbitsModel.js constructor:

[code]

Note the missing `phetioType` which is required for VALIDATION.

I tested the following cases:

package.json validation | query parameter
true | omitted
true | true
true | false
false | omitted
false | true
false | false

[2020-07-18 22:16] samreid commented on #192
This used to be checked at https://github.com/phetsims/tandem/blob/87e72e24a1cf436d1435f1b28f9a2593e800ecfb/js/Tandem.js#L135 but now I don't think objects with `{tandem: Tandem.REQUIRED}` are reaching that point.  @zepumph can you please take a look?

[2020-07-18 23:26] pixelzoom commented on #192
Is this a problem in the ph-scale 1.4 release branch? If so, is it something that should be patched, so that we don't make PhET-iO mistakes in 1.4 maintenance releases?

[2020-07-18 23:29] samreid commented on #191
I'm seeing some CT issues that may be related.  Self-assigning.

[2020-07-19 15:23] samreid commented on #191
The problem is that listContinuousTests.js says:

[code]

But many repos, such as "phetcommon" don't list "phet-io" as a supported brand and hence fail when they are missing the package.json "phet"."phet-io"."validation" attribute.

I'll commit a change so that phet-io brand is only specified for phet-io repos.

[2020-07-19 15:29] samreid commented on #191
I asked slack dev-public:

I'll check CT in an hour or so to see what happens.

[2020-07-20 00:07] zepumph commented on #192
Yes I think that this has been a bug since a commit on June 5th where this was added:

[2020-07-20 02:32] samreid commented on #191
I pushed fixes for some straggling issues on CT, these should be reviewed as well.  I wasn't sure that dot/kite/scenery should pick up a dependency on Query String Machine, but this seemed straightforward and will be superseded when QueryStringMachine becomes a module.

[2020-07-20 03:05] pixelzoom commented on #192
The concern is with ongoing maintenance of the 1.4 branch.  There's no telling how long that branch will be the production branch.   And if that branch doesn't correctly detect Tandem.REQUIRED, then it would be possible to accidentally remove a required tandem in a maintenance release.    So once the fix is identified, please investigate patching the ph-scale 1.4 branch.

[2020-07-20 16:00] samreid commented on #192
@zepumph are you recommending a check like this?  It appears to test OK.  If we do this, what should we do with the code in Tandem.js that used to do this part?

[code]

[2020-07-20 18:14] zepumph commented on #191
I have not yet conducted any review of this issue, but I do want to note that I have hit to following error three times in the last 3 work days:

`Uncaught Error: Assertion failed: phet-io is a required attribute in package.json for brand=phet-io`

All of which are trying to run phet-io brand in a sim/demo/unit test that isn't in `perennial/data/phet-io`. I have two thoughts on this:

1. Either ad

[2020-07-21 15:59] samreid commented on #191
Repos that we run with `?brand=phet-io` should have `supportedBrands:['phet-io']` and a `phet-io` sections in package.json.  I recommend that we add these on-demand as needed instead of adding this to every repo eagerly.

[2020-07-22 20:34] zepumph opened #193 "Can't clear an entire container with state"
Discovered while working on https://github.com/phetsims/tandem/issues/190. This bug is that when you clear all the state from a container, then it will have no entries in the state, and PhetioDynamicElementContainer won't clear its current state in the downstream simulation because it thinks that the state being set doesn't apply to it (because it checks and sees no sub tandems from the state-to-s

[2020-07-22 20:39] zepumph commented on #190
Yes, this is a confusing parameter, and there isn't a clear single place to document all usages of it. I did the best I could of pointing to a single explanation. @pixelzoom please review.

[2020-07-22 23:17] zepumph commented on #192
@samreid, could we please pair on this on Friday. I think that would be the "work-around" sort of solution&mdash;quick-and-dirty. I think the best way to proceed is to look at how and why initializePhetioObject is being called. Note that quite a bit of logic is being called even when `!Tandem.PHET_IO_ENABLED`. I would like to take this chunk of code to the next level of cleanliness. I foresee the

[2020-07-22 23:17] zepumph commented on #192
Adding blocking publication since it is holding up ph-scale

[2020-07-22 23:19] zepumph commented on #191
That workflow is annoying for me for the kind of work I'm doing often, but likely not for many others. I'm happy to adhere if that is the consensus.

[2020-07-23 01:12] samreid commented on #193
To solve this, do you recommend that when a full state is set, all containers clear themselves?

[2020-07-23 05:52] zepumph commented on #193
Yes I think that is reasonable, though I'm not sure exactly how to do that at this time.

[2020-07-23 07:29] samreid commented on #191
Let's ask for feedback at a developer meeting, the proposed strategies are:

Strategy A: In order to run in phet-io brand, a repo's package.json must have a "phet-io" section that indicates "validation": true or false
Strategy B: Any repo can be run in phet-io brand, and if there is no "phet-io"."validation", it would default to "validation":true.  In this strategy, "validation" would only be spec

[2020-07-23 17:15] jonathanolson commented on #191
Woah, looks like QueryStringMachine was added as an external dependency for running Scenery? If it's a requirement, we should be bundling that type of thing into all of our builds. (It went from "have lodash/jquery" to "have lodash/jquery + QueryStringMachine" for anyone using our libraries.

[2020-07-23 17:36] samreid commented on #191
I did add that as a dependency, the usage is in `Tandem.js`.  I wasn't sure whether that was best, or if I should find a workaround for this.  What if in the future QueryStringMachine is an es6 module?  Would that be OK or still problematic?

[2020-07-23 17:50] jonathanolson commented on #191
Preferred, if we don't need it in non-module contexts. Or included in the standalone builds.

[2020-07-23 19:48] pixelzoom commented on #192
Let me know when this is fixed, so that I can cherry-pick for https://github.com/phetsims/ph-scale/issues/183.

[2020-07-23 21:13] zepumph commented on #192
I implemented the above workaround. This is now ready for cherry-picking into RC branches. @samreid I still don't know how to remedy this with the validation that is currently in `Tandem.js`. Can we still discuss this code duplication soon?

[2020-07-23 22:17] zepumph commented on #191
For my review (developer meeting ignore this):
* It is possible that some test html files were updated, for example I hit a validation flag change while calling grunt update for studio-tests.html over in https://github.com/phetsims/studio/issues/171

[2020-07-23 23:17] zepumph commented on #193
I thought that a direction like this may work, but it doesn't handle the fact that we still have partial state setting cases where we wnt to clear the entire container, like for screen reset:

[code]

@samreid, I feel stuck, and I don't know how to proceed on this as it pertains to the work done over in https://github.com/phetsims/phet-io/issues/1678

[2020-07-24 00:55] zepumph commented on #191
@jonathanolson, would the dependency be considered squashed with the following patch? This is potentially as a temporary work-around until we can support QSM as a module (many non-sim usages need QSM at the moment).

[code]

[2020-07-24 16:23] samreid commented on #193
Here's an untested patch that uses the `tandem` as a guard to know when a `PhetioDynamicElementContainer` should be reset--if it is in the subtree of the `Tandem` being reset.  It also takes a step toward using tandems instead of `phetioIDs` but that could be improved.

<details>

[code]

</details>

[2020-07-24 18:34] zepumph commented on #193
This problem is easy to reproduce with PhetioCapsule in phet-io-test-sim, but harder to do with PhetioGroup, since it creates a countProperty that is always in the state, I can reproduce this on master in CAF by dragging out a particle, letting it set state, and then resetting the sim (particle won't clear in the downstream sim) with this temp patch:

[code]

[2020-07-24 18:56] zepumph commented on #193
@samreid and I discussed this today, and we came up with a solution that fixes the problem. It uses that Tandem hierarchy, when setting partial state (like we already do) to convey if a dynamic element container is a descendant of the "root" Tandem of what is being state set. That could be a screen tandem, a random PhetioObject, or `Tandem.ROOT` for setting full state. For encapsulation, we took @

[2020-07-24 22:02] jonathanolson commented on #191
Would need to be `window.QueryStringMachine` I believe, but that would be fine with me (then QSM could be removed from most of those files that it was added to that would never use phet-io?)

[2020-07-24 22:09] zepumph commented on #191
Agreed! That sounds really nice. I'll note that as part of my review for the issue.

[2020-07-24 22:47] zepumph commented on #191
Review is complete @samreid, please see https://github.com/phetsims/tandem/issues/191#issuecomment-663259433. We will still discuss https://github.com/phetsims/tandem/issues/191#issuecomment-662859961 in dev meeting.

[2020-07-27 16:56] pixelzoom commented on #193
@zepumph please clarify why this is relevant to  ph-scale(-basics), which does not use PhetioGroup or PhetioCapsule. If it is relevant, please explain how it should be regression tested by QA.

Slack discussion:

Chris Malley  10:46 AM
Question...  I see that https://github.com/phetsims/tandem/issues/193 needs to be cherry-picked for ph-scale and ph-scale-basics RC.   How will QA know to test this

[2020-07-27 17:01] zepumph commented on #193
In https://github.com/phetsims/tandem/issues/193#issuecomment-663684763 I told @pixelzoom to cherry pick certain shas to fix this bug in PH scale (since it uses joist PhetioCapsules. While this bug is in the code in that shas, I now don't think he needs to cherry pick. This is because I tried to reproduce the bug in the AboutDialog and found the same thing happening here as with `PhetioGroup.count

[2020-07-27 17:11] zepumph commented on #193
I think it would be best to have @samreid confirm before moving forward with ignoring this. issue for ph-scale.

[2020-07-27 17:12] samreid commented on #193
That sounds reasonable to me, but the main part I don't understand is:

Can you please clarify how this is happening for PhetioCapsule?

[2020-07-27 17:12] pixelzoom commented on #193
I don't understand this issue at all.  So I will defer to @zepumph and @samreid to decide whether this should be cherry-picked for ph-scale.   If it does need to be cherry-picked for ph-scale, please
* create a ph-scale issue, linked to this issue
* note the shas to be cherry picked
* describe how to regression test for the next RC

[2020-07-27 17:24] zepumph commented on #193
@samreid and I discussed, and found that the actual reason that the AboutDialog's capsules doesn't demonstrate this bug is because the AboutDialog is never disposed, it is created lazily and then only get's show/hide calls to it. Thus, it is always in the state after lazy creation, and so never needs clearing (and never has the bug that is about clearing). We also noted that other joist PhetioCaps

[2020-07-27 18:34] pixelzoom commented on #192
fba18d1edf4a616d15ba91bb04ed99c5a7883dea has been cherry-picked to ph-scale and ph-scale-basics 1.4 branches for https://github.com/phetsims/ph-scale/issues/183.

[2020-07-27 20:29] pixelzoom opened #194 "PhET-iO API error when using 'screens' query parameter"
Noted while working on ph-scale RC issues.

If I run ph-scale in Studio via phetmarks with `screens=3`, I get an API error message when I load the sim into Studio:

[code]

Is this intended or a bug?  If it's intended, how does the PhET-iO client use the screens query param?

Running without `phetioDebug` query parameter eliminates the assertion failure. But hhen how do I enable assertions for dev

[2020-07-27 20:29] pixelzoom commented on #194
Slack:

Michael Kauzmann  2:25 PM
In the past, phetioValidation was turned off always for built sims, but I think that was compiled into the same channel as everything else now. I think an issue is warranted. Please assign the team.

Sam Reid:house_with_garden:  2:28 PM

Here is a patch that will likely solve it:

[code]

[2020-07-27 20:30] pixelzoom commented on #194
I have no idea if this should be blocking, or if it should be cherry-picked for ph-scale 1.4.

[2020-07-27 20:52] zepumph commented on #194
Is that the only phetioAPI validation rule section that we want to guard. I'm pretty sure that API validation should be turned off in  built versions. I feel like there was some sort of guard about that, where `phetioAPIValidation.enabled` was set to false when in production. I could be miss-remembering though.

[2020-07-27 20:52] samreid commented on #194
I have a better patch on the way

[2020-07-27 20:56] samreid commented on #194
In the commit, validation is only run when enabled and using the guard for default values of ?screens and ?homeScreen.  It tests OK in ph-scale-basics?screens=3.  @zepumph can you please review at your convenience?

[2020-07-27 21:38] pixelzoom commented on #190
Much better documentation, thanks.  I fixed a few typos in the above commit. Closing.

[2020-07-27 21:38] #190 closed

[2020-07-27 21:39] samreid commented on #193
* For completeness, I wonder if we should be be passing this predicate to the `stateSetEmitter` too, so that we don't have the same issue with a general emitter broadcast when only a partial state is being set.

Yes, but I'm not sure whether we should eagerly visit each `stateSetEmitter.addListener` call site to respect the scope.  Chip away?  Or address as we re-visit simulations?

* Could using

[2020-07-27 21:46] samreid commented on #193
I'm concerned that this ancestor check could fail in a corner case:

[code]

For instance:

[code]

Is this the expected behavior?  Should there be errors when calling methods on disposed `Tandem`s?  Should we just use a string check instead so that both of these would "match"?  Let's discuss further.

[2020-07-27 22:03] samreid commented on #194
This is showing issues on CT like:

[code]

I'll investigate

[2020-07-27 22:11] samreid commented on #194
I pushed a proposed fix, ready for CT and review again.

[2020-07-28 17:47] chrisklus commented on #194
I updated a comment and a TODO above. Also, if a sim with 3 screens is run with `screens=1,2,3` (default), then validation will still be off. Is that desirable? It may not be worth the trouble to support this case - I'm fine with turning off validation whenever `screens` is provided.

[2020-07-29 13:04] samreid commented on #194
Thanks @chrisklus I had the same concern.  Ideally `phetioAPIValidation` would be able to ask `sim.areAllScreensInstantiated` and use that to determine whether it should be `enabled`.  However, at the moment, `phetioAPIValidation` is a singleton that determines its `enabled` value during construction.  Let's check in with @zepumph.

[2020-07-29 23:06] zepumph commented on #194
The above seems reasonable. I am ok with duplication, but I could also see us using an `initialize` pattern, as we do in other phet-io classes, which would allow us to set `enabled` based on screens passed to the Sim's constructor. I don't know if that is worth the hassle right now though.

Reviewing the individual commits, I don't really know if it is best to turn all validation off based on that

[2020-07-29 23:07] pixelzoom commented on #194
In https://github.com/phetsims/tandem/issues/194#issuecomment-664622244:

Still no idea if I need to patch this for ph-scale RC.  Tracking in https://github.com/phetsims/ph-scale/issues/190.

[2020-07-29 23:11] zepumph commented on #194
I think this should block ph-scale, for the case when a screen parameter is provided in built studio with the `phetioDebug` parameter on. This could error out.

[2020-07-30 00:54] samreid commented on #194
There are callbacks to `onPhetioObjectAdded` before the Sim constructor is called, so waiting for Sim constructor could be too late.

I'm happy with either paradigm "phetioAPIValidation is fully disabled when not creating all screens" vs "we will always try to check as much as possible", but I would not be able to address that this week.  @zepumph or @chrisklus please feel free to proceed if we ag

[2020-07-30 02:48] zepumph commented on #194
I am inclined to agree with you, let's turn validation off when specifying and screens parameter (since it is already implemented). With that in mind what is left for this issue?

[2020-07-30 03:05] samreid commented on #194
On slack, I said:

The recommendations that came from the code review were (a) a better way to know if the sim is creating all screens and (b) enabling some validations when the sim isn’t creating all screens.  What if we create separate non-blocking issues for those recommendations, and give SHAs to pixelzoom to move forward?

[2020-07-30 18:17] zepumph opened #195 "Should phetioAPIValidation.enabled be based on `?screens`?"
From https://github.com/phetsims/tandem/issues/194, the phet-io team fixed an immediate bug, but it could use some improvement. From https://github.com/phetsims/tandem/issues/194#issuecomment-665975148 I said:

@samreid then said that he agreed and thought that it was best to only have this check in the `onSimStarted`. We should just make sure to cover the overrides check also, unlike the linked l

[2020-07-30 18:37] zepumph commented on #194
I created https://github.com/phetsims/tandem/issues/195, a non-blocking cleanup issue.

@pixelzoom, please cherry-pick the following:
https://github.com/phetsims/tandem/commit/c9e004d052a00c503c9d5968b0283b2b0789599a
https://github.com/phetsims/tandem/commit/a514ecb8e8ea8e42718998ccd1548358fc0b6cff

@KatieWoe please confirm this is fixed in ph-scale during the next test with the following two step

[2020-07-30 19:12] zepumph commented on #191
During dev meeting discussion today, we decided that validation should be

CM said he slightly preferred strategy B to A, but didn't have a strong preference, and that it would be mostly based on what was easiest in the code.

JB: can we make it consistent with out package.json flags, where `validation` defaults to false, and you opt in just like all other parameters.

CK: brought up that to achie

[2020-07-31 00:08] pixelzoom commented on #194
I verified the fix in master, so @jbphet is cleared for his RCs.

But I'm running into a merge problem with cherry-picking for ph-scale 1.4 and ph-scale-basics-1.4:

[code]

The conflicts are in phetioValidation.js, and WebStorm shows:

e72559457341f9bb74efc4e462c84c7f74ea3127:
[code]

Base version:
[code]

Changes from server:
[code]

Assigning to @zepumph, please advise on how to resolve.

[2020-07-31 15:48] zepumph commented on #194
Please add the screens related conditional to your sha's. There should be a direct swapping from PHET_IO_ENABLED to VALIDATION in master that you can ignore in your branch. Please field any other questions today through @chrisklus.

[2020-08-03 22:49] pixelzoom commented on #194
I guess this means that I should change Tandem.VALIDATION to Tandem.PHET_IO_ENABLED in the merge conflict in phetioApiValidation.js.   So I changed this:

[code]

To this:

[code]

Seems to work OK in ph-scale 1.4 and ph-scale-basics-1.4, but makes me nervous to be doing partial cherry-picks.

Closing.

[2020-08-03 22:49] #194 closed

[2020-08-04 23:00] samreid commented on #195
Implemented in the commit and ready for review.  Maybe a nice improvement would be to add unit tests for `allScreensCreated`, but I wasn't sure that was worth the time.  @zepumph can you please review and advise?

[2020-08-04 23:11] samreid commented on #195
In the commit, I added the unit tests.

[2020-08-07 16:51] samreid commented on #191
Thanks, I have subsequently run `grunt update` on everything for another issue.  Is there more to do here?

Can a `type: boolean` query parameter have a default value of `null`?

Should it use `containsKey` instead?

Yes, I should do that, thanks!

Great idea, I'll investigate.

[2020-08-07 17:03] samreid commented on #191
I made a few commits and added questions and comments above, back to @zepumph for re-review.

[2020-08-07 20:47] zepumph commented on #191
Looks like not. I played around with a custom boolean/null type like so:
[code]

It worked, but did not actually make the Tandem.js usage any better. My recommendation is to keep it. The only issue I can think of running into down the road is if we eventually set up wrapper side code to always provide the query parameter, like our pattern for `phetioEmitHighFrequencyEvents`. Would there ever be a

[2020-08-07 20:53] samreid commented on #191
How about if we default validation to true & it doesn't need to be specified in package.json.  The only allowed value in package.json is "validation: false"?  We would never assert that the package.json flag is provided.  I don't want the validation to default to false, or to have to visit every package.json and add "validation:true" to it once it is ready.

If that sounds agreeable, I can proceed

[2020-08-07 21:16] zepumph commented on #191
I think that is the appropriate solution. It is opposite from all the other "opt in" flags in package.json, but that is the only con I can think of. I think in practice, only the few sims currently being worked on in initial development (less than 5?) will opt out of validation. So it makes the most sense to set things up sparsely like that.

- [ ] Please also make sure to update the instrumentati

[2020-08-10 22:58] samreid commented on #191
I recommend dividing the remaining work into side issues, I'll start at the review comment https://github.com/phetsims/tandem/issues/191#issuecomment-663259433

[2020-08-10 22:59] samreid opened #196 "It is possible that some test html files were updated for validation?"
In https://github.com/phetsims/tandem/issues/191#issuecomment-663259433 @zepumph said:

[2020-08-10 23:01] samreid opened #197 "Make the default value for phetioValidation be false"
In https://github.com/phetsims/tandem/issues/191#issuecomment-663259433 @zepumph said:

[code]

[2020-08-10 23:02] samreid commented on #197
I replied:

Can a type: boolean query parameter have a default value of null?

[2020-08-10 23:02] samreid commented on #197
@zepumph replied:

[code]

[2020-08-10 23:06] samreid opened #198 "Test the validation radio buttons in phetmarks"
In https://github.com/phetsims/tandem/issues/191 I added radio buttons to specify validation levels for phet-io.  In the review @zepumph replied:

The radio buttons are already implemented, you can choose "simulation default" "true" or "false"

![image](https://user-images.githubusercontent.com/679486/89839740-bd0c5480-db2b-11ea-9c7d-cc10ee1b3fdc.png)

The main part of that review request was to t

[2020-08-10 23:09] samreid commented on #197
I also asked:

[2020-08-10 23:10] samreid opened #199 "Make phet-io validation default to true, but allow package.json to opt out"
In https://github.com/phetsims/tandem/issues/191#issuecomment-670708542

I said:

[2020-08-10 23:11] samreid commented on #199
@zepumph replied:

I think that is the appropriate solution. It is opposite from all the other "opt in" flags in package.json, but that is the only con I can think of. I think in practice, only the few sims currently being worked on in initial development (less than 5?) will opt out of validation. So it makes the most sense to set things up sparsely like that.

- [ ] Please also make sure to updat

[2020-08-10 23:11] samreid commented on #191
OK I think I moved all remaining work to side issues.  @zepumph can you please review this original issue to see if it can be closed?

[2020-08-10 23:13] samreid commented on #196
I did run `grunt update` after making that change.  Did I miss something, or run it on a file that did not need it?  What else needs to be done to close this issue?  Or will it be covered by https://github.com/phetsims/tandem/issues/199 ?

[2020-08-10 23:27] samreid commented on #197
The current version in master is using `containsKey`

[code]

[2020-08-11 03:26] samreid commented on #199
Implemented and ready for review.

[2020-08-11 23:49] pixelzoom opened #200 "optimize PhetioObject.initializePhetioObject"
PhetioObject.initializePhetioObject was identified as a potential bottleneck in https://github.com/phetsims/natural-selection/issues/60#issuecomment-672366041:

<img width="647" alt="screenshot_477" src="https://user-images.githubusercontent.com/3046552/89959222-1abaa280-dbf9-11ea-9c8a-5aa38fa66737.png">

And in https://github.com/phetsims/natural-selection/issues/60#issuecomment-672368009 I ident

[2020-08-12 02:23] samreid commented on #200
I added the guard in the above commit.

[2020-08-12 13:17] pixelzoom commented on #200
Thanks for doing that.  This is a nice "quick fix" for this specific problem in initializePhetioObject.

But now we have `assert && validate(...)` and an additional `assert` test inside `validate`.    I see 150 other occurrences of `validate`, all making unnecessary function calls when assertions are disabled.   Some of these are in critical code, like a for loop in Action.js.  Should other uses o

[2020-08-12 13:21] pixelzoom commented on #200
Thanks for doing that.  This is a nice "quick fix" for this specific problem in `initializePhetioObject`.

But now we have `assert && validate(...)` and an additional `assert` test inside `validate`.    I see 150 other occurrences of `validate`, all making unnecessary function calls when assertions are disabled.   Some of these are in critical code, like in a for loop in Action.js, and throughout

[2020-08-12 13:27] pixelzoom commented on #200
Something like:

[code]

[2020-08-12 13:28] pixelzoom commented on #200
Hmmm... I guess that won't work for cases like this that are relying on `validate` returning a value:

[code]

[2020-08-12 16:38] samreid commented on #193
@zepumph @chrisklus and I discussed and we recommend passing the `isInStateScope` predicate to `this.stateSetEmitter.emit` as well as `onBeforeApplyStateEmitter` so they can properly guard when partial state doesn't apply to them.  Cases like:

[code]
may not need to be changed, if they are safe to happen even on unrelated partial state.

We briefly discussed how to move the guards to PhetioStateE

[2020-08-14 04:07] samreid commented on #200
I opened https://github.com/phetsims/axon/issues/323 for the more general case.  Can this issue be closed?

[2020-08-14 18:12] zepumph commented on #199
@samreid and I talked and think that it is likely ok to allow `validation:true` in package.json, as we feel like it will likely be a stepping stone when turning on validation. Instead of deleting that line, someone will swap a `false` for a `true`.

[2020-08-14 22:05] zepumph commented on #197
The rc.js validation check didn't get changed. I think the above is what we want.

[2020-08-14 22:46] zepumph commented on #199
This is the code that will need to go:

[code]

[2020-08-16 15:44] samreid commented on #199
I pushed a commit, now validation: true is allowed.

[2020-08-17 19:11] samreid commented on #193
My working patch for later:

<details>

[code]

</details>

[2020-08-18 00:50] samreid commented on #193
I updated the emitters and added a new issue to iterate through listeners and see if they need to change when a sub state is being set.   This issue is ready for review.

[2020-08-18 02:13] samreid opened #201 "Support setting a partial instead of total state"
From phetsims/phet-io#1697: There is 1 or more call to phetioStateEngine.stateSetEmitter.addListener. There is now a 2nd argument to the listener, which is a predicate that tests Tandems and returns true if they are in scope. We should check these listeners and see if any of them need to check whether they are in scope of a partial state set.

[2020-08-18 15:20] samreid commented on #193
Several sims are failing CT after the "improve scope check" tests above.  Self-reassigning for investigation.

[2020-08-18 18:10] samreid commented on #193
@chrisklus and I collaborated on this, and we discovered this test in PhetioDynamicElementContainer:

[code]

The `bunnyGroup` is `phetioState:false` because it is a `PhetioDynamicElementContainer`, so when it checks if its tandem is in scope, the new rule that has:

[code]
is returning `false`, i.e., indicating that the `bunnyGroup` is not in the scope of the reset.  Therefore @chrisklus and I re

[2020-08-19 00:49] samreid opened #202 "Convert PhetioIDUtils to an ES6 module"
In https://github.com/phetsims/chipper/issues/912 we discussed converting PhetioIDUtils to an ES6 module.  PhetioIDUtils is not used in node, so this could be done right away.  I see 22 or so HTML files referring to `PhetioIDUtils.js"`, so this would be a significant amount of busywork.  Not sure if it is worth the cost at the moment.  Leaving unassigned.

[2020-08-19 02:31] samreid commented on #173
I'm not seeing a lot of overhead in PhetioGroup specifically:

![image](https://user-images.githubusercontent.com/679486/90585268-b1ef9f00-e191-11ea-9448-048e52e37f98.png)

Taking this with the preceding comment indicating only around 3% overhead, can this issue be closed?

[2020-08-19 03:26] samreid commented on #154
I'm on the fence about this. The current way is very clear and matches the rest of our patterns.  Perhaps we should hear @zepumph's recommendation before proceeding.

[2020-08-19 03:38] samreid commented on #136
We no longer generate baselines for validation, we still have `phetioDynamicElementName` but it generates tandems which can be checked in API comparison or other `phetioValidation` phases.  Closing.

[2020-08-19 14:54] pixelzoom commented on #173
Yep, closing.

[2020-08-19 14:54] #173 closed

[2020-08-19 20:23] zepumph commented on #193
I found a bug in the screen-related scope check, the parent was checking if the child was an ancestor when it should have been the other way around.

[2020-08-19 20:35] zepumph commented on #193
- [ ] Assert that tandem methods aren't called when it is disposed.

[2020-08-19 20:47] pixelzoom commented on #200
Yes, OK to close.

[2020-08-19 20:47] #200 closed

[2020-08-19 22:25] zepumph commented on #193
dispose already removes itself from being the parent's child:

[code]

So I don't think there is anything else to do here.

[2020-08-19 22:50] zepumph commented on #193
@samreid and I discussed the work done regarding `isInScope` functions above (commits around https://github.com/phetsims/tandem/issues/193#issuecomment-675187004), and decided that it made for a cleaner api and code to assume that the primary use case is to check Tandem subtrees. This is most (all?) of the cases we have in a our project. So instead of having an opaque function that takes a Tandem,

[2020-08-19 22:59] zepumph commented on #201
This has been handled, and converted to use the most recent, best pattern in the parent's parent issue, see https://github.com/phetsims/tandem/commit/02cd469987adf23ab4c07125b0165662cf8c9b03. The other usage in PhetioGroup is already well set up to support partial state setting. Closing

[2020-08-19 22:59] #201 closed

[2020-08-20 22:42] zepumph commented on #198
The implementation is unfortunate. Almost 100% of this control is duplicated from the screens radio button selector. This is because we have no general solution for radio buttons yet:

[code]

We should close this issue, and try to make https://github.com/phetsims/phetmarks/issues/37 happen.

[2020-08-20 22:49] zepumph commented on #196
I think it is covered by #199. Thanks!

[2020-08-20 22:49] #196 closed

[2020-08-24 00:15] samreid commented on #184
@zepumph can you please take next steps for this issue?  Or assign me back if I should.

[2020-08-24 03:08] samreid commented on #149
I improved the JSDoc type docs in the commit.

In JavaScript, it is possible to check the number of declared parameters to a function via `function.length`, but there is no way to check the declared types of the parameters.

@pixelzoom this issue is ready for review.

[2020-08-24 03:19] samreid commented on #150
We renamed PhetioGroup.member => PhetioGroup.element in https://github.com/phetsims/tandem/issues/170.  Ready for review.

[2020-08-24 18:14] pixelzoom commented on #149
I don't follow.  What's wrong with this?

);

[code]

[2020-08-24 18:28] pixelzoom commented on #130
Fine with closing this. But if it's going to be a required parameter, could we get the type expression corrected in all places where it appears?

It still looks incorrect to me in `PhetioDynamicElementContainer`:

`@param {Array.<*>|function.<[],Array.<*>>} defaultArguments arguments passed to create during API harvest`

It was changed to this in the subclasses:

`{Array.<*>|function():Array.<*>}

[2020-08-24 19:37] samreid commented on #188
Here's a patch that introduces a new function `createIOType` and also demonstrates its use for `BunnyIO`.  The usage site looks like this:

[code]

All validation & forwarding is set up automatically.  If there are any methods, they can be supplied in the options.

Additionally, if we declare it within the during the declaration for Bunny.js, we can have direct type checks without using the namesp

[2020-08-24 20:08] pixelzoom commented on #188
I couldn't apply the patch to natural-selection master HEAD for some reason, lots of merge conflicts.  But I inspected the code and I like this direction.  A few suggestions:

* Having to import `createIOType` is inconvenient. Can `createIOType` be a static method of `PhetioObject`?  Is there any reason to create an IO Type for something that's not a `PhetioObject`?
* Document `createIOType`
* Mak

[2020-08-25 04:13] samreid commented on #188
I addressed the review comments and committed PhetioObject.createIOType.  One recommendation I did not complete is:

The `typeName` is the IO type name, like `BunnyIO` so this wouldn't work as a default unless we strip off the `IO`.  Also, at a recent meeting we wanted to investigate leveraging core type JSDoc for this documentation, but we haven't investigated that part yet in https://github.com/

[2020-08-25 13:13] samreid commented on #175
All steps complete, back to @pixelzoom for review.

[2020-08-25 15:01] #175 closed

[2020-08-25 15:34] pixelzoom commented on #188
This is looking good.

Can we move `documentation` to options and default it to `''`?  Since `IOType.documentation` is optional, I don't think it should be a required parameter to `createIOType`.

I don't fully understand the implications of the remaining phetioEngine "deficiency".  Is  there a performance impact?
Does it need to be addressed before this can be used in production code?

[2020-08-25 17:28] pixelzoom opened #203 "memory leak in Tandem.removePhetioObject"
Over in https://github.com/phetsims/natural-selection/issues/189#issuecomment-680124352, I identified a huge memory leak in Natural Selection due to PhET-iO, even with `brand=phet`.  I determined that 0 instances of Tandem and DynamicTandem were being deleted.

@samreid helped me identify the source of the problem. The leak was introduced on 5/1/2020 in 571cc878aeb3ecb42cf7a8b38532e2808ea571e0  fo

[2020-08-25 17:33] pixelzoom commented on #203
This is blocking ph-scale RC, see  phetsims/ph-scale#199.

[2020-08-25 17:48] pixelzoom commented on #203
This is blocking natural-selection prototype RC, see https://github.com/phetsims/natural-selection/issues/205.

[2020-08-25 21:51] pixelzoom commented on #203
This is blocking ph-scale RC, see phetsims/ph-scale#199.  Milestone for 1.4 publication is ??

This is blocking natural-selection prototype RC, see https://github.com/phetsims/natural-selection/issues/205. Milestone for publication is "this week if possible".

[2020-08-25 22:02] samreid commented on #203
The patch disposes of the Tandem in every brand, not just in phet-io.  It looks correct to me, leaving assigned to @zepumph to confirm.

[2020-08-25 23:26] samreid commented on #188
Thanks, I moved `documentation` to options and defaulted to `''`.

Does it need to be addressed before this can be used in production code?

There are several places where we check the existence of a method to determine how to proceed.  For instance, phetioCommandProcessor.js

[code]

With `PhetioObject.createIOType` as it is, `toStateObject` will always be defined.  There are a few other methods

[2020-08-25 23:56] samreid commented on #130
I revised the JSDoc, ready for re-review.

[2020-08-26 00:00] samreid commented on #149
The `defaultArguments` does not include the `Tandem`.  The `Tandem` is automatically created later by the `PhetioDynamicElementContainer`.  For instance:

[code]

[2020-08-26 01:13] samreid commented on #121
I added the rule, but it seemed like upstream checks for the archetype always caught these problems.  I couldn't find a way to modify the API file or the code without getting the archetype checks to trigger first.  When I commented out the archetype checks, this new code looked like it worked properly.  So it may not be useful or valuable on its own, but if we run a mode where it reports many erro

[2020-08-26 03:28] samreid commented on #203
I decided to commit the proposal, still ready for review.

[2020-08-26 10:28] samreid commented on #121
I fixed a problem that CT identified.

[2020-08-26 17:27] zepumph commented on #203
This change looks good to me. I would also add that this is better to dispose after calling phetioObjectRemoved listeners because those listeners may depend on the tandem (like phetioAPIValidation.onPhetioObjectRemoved). Good catch and thanks for the implementation. I did not test to confirm that it fixed the memory leak. I only looked at the code.

[2020-08-26 18:55] zepumph commented on #203
Any rc taken after 5/1 would be effected by this. I know that means at least:
* ph-scale
* SOM

@Denz1994 I'm unsure about BaM
@chrisklus, I'm unsure about EFAC

This fix should be very simple though, just cherrypick https://github.com/phetsims/tandem/commit/dc10b0352a7650599cd79be48f50c60ef6f328ea. This issue effects `brand=phet`.

[2020-08-26 18:56] pixelzoom commented on #130
👍🏻 closing

[2020-08-26 18:56] #130 closed

[2020-08-26 18:58] zepumph commented on #203
Assigning to @Denz1994 and @chrisklus to determine if their RC was made after 5/1. If so to apply the patch, either in this issue or a sim-specific one.

The patch is https://github.com/phetsims/tandem/commit/dc10b0352a7650599cd79be48f50c60ef6f328ea.

[2020-08-26 19:00] zepumph commented on #203
Any RC with shas after 5/1 has a memory leak in phet brand in https://github.com/phetsims/tandem/issues/203. I know of only what I spoke of above. Assigning to @ariel-phet to make sure that this doesn't effect other sims published. Likely there are prototypes that effect this, but maybe we don't care about memory leaks in those.

[2020-08-26 19:21] pixelzoom commented on #149
OK, got it. Client defines the `createElement` function, so client would need to handle validation of the `tandem` arg therein.

Doc improvements look good.

Closing.

[2020-08-26 19:21] #149 closed

[2020-08-26 21:22] zepumph commented on #188
Beginning of review:
* If we really want this to be the end all, we need to support:
  * Super types (@samreid hopes for no supertypes
  * parametric types
* We need to make sure that we aren't sacrificing the value of IO types as public schema and documentation in exchange for an easier time coding them up. @samreid and I discussed a few places where this is currently happening. If we don't suppo

[2020-08-26 21:53] pixelzoom commented on #188
I can see how we could very easily have had a need for an IO Type hierarchy in Natural Selection.  Part of the model class hierarchy in NS looks like this:

[code]

Bunny and Wolf are dynamic elements. I feel like I lucked out that everything stateful in Organism was a Property. If I'd had even 1 non-instrumented field, I would have needed an IO Type hierarchy.  (And no, I don't think that BunnyIO

[2020-08-26 23:00] zepumph commented on #199
Looks really good to me, thanks.

[2020-08-26 23:00] #199 closed

[2020-08-26 23:06] zepumph commented on #197
containsKey seems to work quite well. Closing

[2020-08-26 23:06] #197 closed

[2020-08-26 23:07] zepumph commented on #198
phetmarks is not in a very maintainable state. I'm happy to close this if you don't want to work on improving it with this change.

[2020-08-26 23:56] zepumph commented on #195
Everything looks really nice. Thanks for this addition. I think it is more complete and nicer in general. It was very cool to compare as Sets as a way to ignore ordering. Good work!
`_.isEqual( new Set( allSimScreens ), new Set( selectedSimScreens ) ) `

[2020-08-26 23:57] #191 closed

[2020-08-27 00:04] zepumph commented on #192
I marked this for collaboration to discuss Tandem assertions that don't run often now because of the PhetioObject early exit.

[2020-08-27 00:26] #195 closed

[2020-08-27 00:42] samreid commented on #198
It sounds like the buttons are working properly, so let's continue in https://github.com/phetsims/phetmarks/issues/37 or the new issue I'm about to create.

[2020-08-27 00:44] #198 closed

[2020-08-27 00:44] zepumph commented on #121
I think this is a good change. Could we use `phet.preloads.phetio.createArchetypes` to increase the coverage on this test to beyond when a referenceAPI is provided? Ideally we would want to check dynamic element metadata against the archetype that was created during that runtime, like as a sanity check, at the very least (when possible). I also may not understand `loadedReferenceAPI` well enough,

[2020-08-27 03:47] samreid commented on #203
Shouldn't we use the batch maintenance release process to automatically identify all live branches with this bug and automatically or semi-automatically fix them?

[2020-08-27 03:53] pixelzoom commented on #203
Is this issue ready for verification in Natural Selection, so that I can resolve phetsims/natural-selection#205 and move forward with prototype publication?

[2020-08-27 04:08] samreid commented on #203
Yes, please pull and test to confirm this is ready for Natural Selection.  This has been fixed and reviewed in master.  The only reason this issue remains open is to see what branches it may need to be cherry-picked to.

[2020-08-27 16:02] pixelzoom commented on #203
Memory tests look good for both NS brands, see https://github.com/phetsims/natural-selection/issues/189 and https://github.com/phetsims/natural-selection/issues/190. Closing.

[2020-08-27 16:03] pixelzoom commented on #203
Oops. Reopening because @samreid said:

[2020-08-27 17:21] zepumph commented on #203
Agreed. EFAC will be taken (was taken yesterday?) from master. I think all that is left is to do is for @Denz1994 to patch BAM if needed.

[2020-08-27 19:19] Denz1994 commented on #203
Thanks, @zepumph for the direction. This was patched in BAM. Removing my assignment.

[2020-08-27 21:38] zepumph commented on #136
In lieu of creating yet another metadata option for a specific purpose, what about a more general option that different instances can populate with what they see fit. This might be a bit easier to keep the top-level metadata keys a bit more straight.

It may be more complicated than this untested patch, but perhaps it will help discussion:

[code]

[2020-08-27 21:39] zepumph commented on #136
I'm also wondering how initial state may play into a pattern like this.

[2020-08-27 22:04] zepumph commented on #123
This is a very outdated issue, with the main, automatic solution implemented in https://github.com/phetsims/studio/issues/35, and improved upon since. PhetioStateEngine is now well setup to keep track of the most recently set state so that it can be reapplied as needed (for resetting screens or scenes).

Closing

[2020-08-27 22:04] #123 closed

[2020-08-27 22:08] zepumph commented on #93
I think the best way forward is to remove that assertion. ObjectIO is not for serializing type 'object', but instead serves as the root of the hierarchy. For some time we have allowed anything to serialize as itself in ObjectIO.toStateObject. I think that it fine and makes sense.

It only forbids it if we add back in that assertion.

For this issue I think it would be best to change ObjectIO.valid

[2020-08-27 22:18] zepumph commented on #184
It will be a very long time before I get to this.

[2020-08-27 22:20] zepumph commented on #150
I think @samreid meant to assign the creator of this issue here.

[2020-08-27 22:20] pixelzoom commented on #150
👍🏻 closing

[2020-08-27 22:20] #150 closed

[2020-08-27 22:31] zepumph commented on #203
Sounds good. I don't any other sims are in RC right now. Over to @ariel-phet to confirm and close

[2020-08-28 00:53] zepumph commented on #188
That is the best place to start in my opinion. I would rather risk having multiple patterns for IO Types than to over commit to this potentially limiting pattern.

Back to you @samreid fo the above review comments.

[2020-08-28 17:02] samreid commented on #121
Here's my working copy patch from progress so far:

<details>

[code]

</details>

[2020-08-28 18:17] zepumph opened #204 "LinkedElement should be its own file."
From https://github.com/phetsims/tandem/issues/161, I tried doing this, but ran into cyclical dependency issues. I then wanted to use the namespace, but wondered how that worked if LinkedElement.js never gets imported. It seemed sketchy to me and I wanted to touch base with @samreid.

Here is the patch:

<details>

[code]

[2020-08-28 18:47] zepumph commented on #136
This is a similar pattern that I used and described in https://github.com/phetsims/tandem/issues/161#issuecomment-614947406 to remove phetioFeatured from LinkedElement metadata

[2020-08-28 18:49] zepumph commented on #161
Most everything has been put into side issues, but I want to discuss https://github.com/phetsims/tandem/issues/161#issuecomment-645614502 in person with @samreid before calling it a day on this issue.

[2020-08-28 21:41] zepumph commented on #192
@samreid and I think that having the Tandem.REQUIRED check in Tandem.addPhetioObject and at the beginning of PhetioObject.initializePhetiObject is OK. That is really the only assertion in Tandem.addPhetioObject, so there isn't much duplication. Closing

[2020-08-28 21:41] #192 closed

[2020-08-28 21:57] zepumph commented on #161
@samreid and I think that it will be easiest to add this complexity to the Studio side. There we will make sure that overrides with match for the element and linked element.

1. add back in phetioFeatured to LinkedElement
2. assert that phetioFeatured is the same as the core (once both have overrides applied)
3. Add logic to studio to make sure that metadata updated in one is updated in the other.

[2020-08-31 00:47] samreid commented on #204
We could get rid of the PhetioObject -> LinkedElement dependency if we change the client side from:

[code]

to

[code]

Would that be acceptable for the client sites?  I haven't tested that this works, but it seems plausible.  Also I should mention I consulted with https://medium.com/content-uneditable/circular-dependencies-in-javascript-a-k-a-coding-is-not-a-rock-paper-scissors-game-9c2a9eccd4bc

[2020-08-31 16:05] zepumph commented on #204
It would definitely work. There are currently 50 usages, and it may make it a bit clearer what that method is doing. I don't have any issues with that idea.

[2020-08-31 17:09] samreid commented on #188
Marking as blocks publication until the preceding commit has been reviewed and/or passed CT.

[2020-08-31 17:12] samreid commented on #188
This patch demonstrates using this pattern for `BunnyIO`

<details>

[code]

</details>

[2020-08-31 22:16] samreid commented on #188
In the commit, I added support for inheritance using the `class extends ParentType` pattern which reminds me of our new mixin pattern described in https://github.com/phetsims/phet-info/issues/143.

[2020-08-31 22:58] samreid commented on #188
I leveraged this pattern to create parametric types for ActionIO and EmitterIO and the following tests work:

* Axon unit tests (including EmitterIOTests in phet-io brand)
* Studio works
* Mirror inputs works
* In natural selection studio, this listener works:

[code]

This eliminates a lot of boilerplate, fixes module load order and turns it into a more declarative style (through options).  I'm n

[2020-09-01 03:06] samreid commented on #188
The proposed pattern is working well, but I wondered if we are painting ourselves into a corner by not using traditional `class ... extends` hierarchies, like `class ChargedParticleIO extends ModelElementIO`.  But to bind to the core type requires something mixin-like: `class ModelElementIO extends BoundObjectIO(ModelElement)` which may not be better than the given proposal.  I'd like to think abo

[2020-09-01 19:15] samreid commented on #93
I removed the commented out assertion, and generalized the validator to be:

[code]

Ready for review.

[2020-09-02 16:13] zepumph commented on #193
@samreid will take this on.

[2020-09-02 18:22] zepumph commented on #188
This pattern is looking really nice! @samreid took me through it today. We think it is ready to be applied to all IO types.
I think that it makes the most sense to name this the same for each type, like `IOType`, and then for parameteric types something like `createIOType()`.

One small change that will limit the boilerplate is to move the parentType into the options, and to generally infer the pa

[2020-09-02 19:26] #93 closed

[2020-09-02 19:36] pixelzoom commented on #188
Tracking for natural-selection in https://github.com/phetsims/natural-selection/issues/218.

Just so I understand... Are you proposing to change the function signature from this:

````PhetioObject.createIOType = ( CoreType, typeName, ParentType = ObjectIO, options )```

to this?

```PhetioObject.createIOType = ( CoreType, typeName, options )```

If so, yes I agree. Especially since `ParentType` ha

[2020-09-02 21:41] pixelzoom commented on #188
In the above commit, I rename param `ParentType` to `ParentIOType`.

In `createIOType`:

[code]

I'm wondering if this could be implemented in a way that makes it more obvious that we're stripping off "IO".

[2020-09-02 21:48] pixelzoom commented on #188
... or if you can't find a way to make it more obvious that we're stripping off "IO", then make it so it won't break if the suffix is ever changed, and so you're not duplication 'IO' in the assertion.  Something like (untested):

[code]

[2020-09-02 21:51] pixelzoom commented on #188
In ObjectIO, this is not good. The literal 'IO' is duplicated 3x in one line!

[code]

It should be:

[code]

[2020-09-02 21:52] pixelzoom commented on #188
Same problem in PhetioElementView.js, duplicated twice here:

[code]

[2020-09-02 21:56] pixelzoom opened #205 "factor out a constant for 'IO' suffix"
IO Types are supposed to end with 'IO'. While working on https://github.com/phetsims/tandem/issues/188, I discovered that 'IO' is duplicated throughout the code.  Examples:

6x in ObjectIO:

[code]

2x in PhetioElementView.js:

[code]

... and those counts include the suffix that's mentioned in the assert messages.

This is by no means a complete list.

Highly recommended to factor out a constant

[2020-09-02 21:57] pixelzoom commented on #188
Yeah, this is another problem. See https://github.com/phetsims/tandem/issues/205.

[2020-09-02 22:12] samreid opened #206 "Move PhetioObject.createIOType to ObjectIO.createIOType"
From #188, we would like to move `PhetioObject.createIOType` to `ObjectIO.createIOType`.

Discussion:

[code]

[2020-09-02 22:18] samreid commented on #206
I replied:

[2020-09-02 22:29] samreid commented on #206
Completed.  @pixelzoom would you like to review?

[2020-09-02 22:30] pixelzoom commented on #206
👍🏻 closing.

[2020-09-02 22:30] #206 closed

[2020-09-02 22:31] pixelzoom commented on #188
Note that in https://github.com/phetsims/tandem/issues/206, `createIOType` was moved from PhetioObject to ObjectIO.  In case you're wondering where it went...

[2020-09-02 22:44] samreid opened #207 "Should throw an assertion error when Ending an unstarted event"
[code]

[2020-09-02 22:47] samreid commented on #207
Fixed, closing.

[2020-09-02 22:47] #207 closed

[2020-09-02 22:57] zepumph commented on #56
Yes sounds great.

[2020-09-02 23:59] zepumph commented on #168
@samreid is this something that we can do in your new `createIOType` pattern?

[2020-09-03 00:02] zepumph commented on #117
I feel like this would likely be helpful in reducing memory in Studio, but in every other use case where archetypes are created, it probably doesn't matter too much.

[2020-09-03 00:11] zepumph commented on #185
Done in https://github.com/phetsims/phet-io/issues/1685

[2020-09-03 00:11] #185 closed

[2020-09-03 04:22] pixelzoom commented on #188
I started converting NS in https://github.com/phetsims/natural-selection/issues/218, starting with BunnyIO.  I deleted BunnyIO, then added this in Bunny.js:

`Bunny.BunnyIO = ObjectIO.createIOType( Bunny, 'BunnyTypeIO' );`

BunnyGroup.js now has this:

`      phetioType: PhetioGroupIO( Bunny.BunnyIO ),`

And here's what I see in Studio for `naturalSelection.introScreen.model.bunnyCollection.bunnyG

[2020-09-03 04:23] pixelzoom commented on #188
Oops, I see my bug. Nevermind. Deleting previous comment.

[2020-09-03 04:33] pixelzoom commented on #188
I'm attempting to convert NS to use `createIOType` in https://github.com/phetsims/natural-selection/issues/218.

Does this approach not work with `ReferenceIO` subtypes, or maybe parameterized types?  For example in NS, AlleleIO is:

`class AlleleIO extends ReferenceIO( ObjectIO ) {}`

I attempted to replace in Allele.js with:

[code]

Then GenePair.js becomes:

[code]

And line 148 fails with:

[2020-09-03 05:09] pixelzoom commented on #188
More trouble converting NS...

The IO Type created by `createIOType` requires the Core Type to have 4 methods:

[code]

All of my Core Types are missing one or more of those required methods. For example, GenePair is missing `fromStateObject`, and fails immediately in the State wrapper.

I'm not sure how this is working for ChargedParticle, because it's missing `fromStateObject` and `stateToArgsFo

[2020-09-03 05:51] pixelzoom commented on #188
Re the problem in the previous issue...

ObjectIO was providing the default implementation of the required methods. Because (for example) `BunnyIO extends ObjectIO`, BunnyIO could implement only the methods that it needs to override. That is no longer the case with `createIOType`.  The core type is now responsible for implementing all required methods, and gets no help from ObjectIO.   So we need

[2020-09-03 06:14] pixelzoom commented on #188
Maybe something like this in the class generated by `createIOType`?

[code]

This still has a bit of a smell to it. We're delegating to the Core Type by overriding the `fromStateObject` method. Then Core Type is delegating right back to the parent IO Type.

[2020-09-03 06:24] pixelzoom commented on #188
Another problem that is really painful for me to point out…  Parameter names and type expressions in the IO Type generated by `createIOType` should match those of ObjectIO.  For some reason _every one of the parameters has either a different name, a different type expression, or both!!!_

Compare:

[code]

[code]

[code]

[code]

[2020-09-03 06:33] pixelzoom commented on #188
So to summarize, `createIOType` creates a class that:

* Overrides all of the default implementations provided by ObjectIO
* Incorrectly documents the methods that it overrides
* Calls methods in the Core Type that may not exist

[2020-09-03 10:03] samreid commented on #188
There are 3 different types of serialization.  https://github.com/phetsims/phet-io/blob/3865e3e116822ecd46a18646e999213ed77caf59/doc/phet-io-instrumentation-guide.md#three-types-of-deserialization, each uses a different combination of methods.  They are not all required.

ObjectIO has a parameter of type `{*}` since it supports `{string}` and `{number}` as well as `{PhetioObject}`.  `createIOType`

[2020-09-03 14:43] pixelzoom commented on #188
Yes, I'm aware of that. That doesn't mean that it's OK to generate a class that will fail if one of those methods is called, and can't use the default implementation.

How does that explain the difference in return types or parameter names?

[2020-09-03 14:51] pixelzoom commented on #188
- [ ] `@param {string} ioTypeName` should be named `ioTypeName`

[2020-09-03 14:53] pixelzoom commented on #188
- [ ] undocumented options:

[code]

[2020-09-03 16:59] zepumph commented on #188
What would be a better implementation for a state method in `createIOType`?

1. Assert existence of all methods:

[code]

2. Be graceful and defer to supertype when coreType doesn't have the method.

[code]

[2020-09-03 18:09] pixelzoom commented on #188
I've created my own createIOType.js in natural-selection to address problems and deficiencies with ObjectIO.createIOType.   As noted in https://github.com/phetsims/natural-selection/issues/218#issuecomment-686661186:

[2020-09-03 19:10] pixelzoom opened #208 "add static events and parameterTypes fields to ObjectIO"
While reviewing #188, I noticed this in the options for `ObjectIO.createIOType`:

[code]

These options are not documented. So I when on the hunt for what they are.  I found this for `parameterTypes`:

[code]

I couldn't find any documentation for `events`.

Based on the option defaults in `createIOType`, it seems appropriate to add something like this to ObjectIO:

[code]

[2020-09-03 21:48] pixelzoom commented on #205
This constant now appears in an addition place, in natural-selection createIOType.js:

`const IO_TYPE_SUFFIX = 'IO';`

[2020-09-04 03:36] pixelzoom commented on #188
Some notes about usage of natural-selection's createIOType.js ...

Here's an example that's typical of how I used it.  I'm basically still delegating to the Core Type. This is nice and compact. And I did it this way since BunnyIO.js was delegating to the Core Type, so I didn't have to change much code.

[code]

Instead of delegating to the Core Type, I could have put the full implementation of the

[2020-09-04 09:35] samreid commented on #188
The proposed usage site is:

[code]

Compare this with using a `class` declaration in the core file like so:

[code]

Since we are taking explicit control over the delegation, it seems preferable to define our own `class ... extends ...` to address the concerns raised in https://github.com/phetsims/tandem/issues/188#issuecomment-684167453.  This will also be much clearer than the dynamic dispatch

[2020-09-04 13:29] pixelzoom commented on #188
Happy to have a Zoom call, but I'm out until Tuesday 9/8.

The main thing that Strategy A is currently buying us over Strategy B is filling in this boilerplate:

[code]

Otherwise I'd be defining a class explicitly (e.g `class BunnyIO extends ObjectIO`), since it's absolutely more straightforward and readable.  The `class` approach still supports delegation, the boilerplate to do that is small/tol

[2020-09-04 14:00] pixelzoom commented on #188
Here's a working patch that combines Strategy A and B.   The class is defined explicitly using `class extends`.  The boilerplate of static fields is filled in by `defineIOTypeFields`. BunnyIO definition looks like:

[code]

<details>
<summary>patch</summary>

[code]

</details>

What we've lost here is:
* `validate` calls in `toStateObject` and `applyState`, could just add these in the method over

[2020-09-04 14:02] pixelzoom commented on #188
For reference serialization, this looks nice:

[code]

[2020-09-04 14:10] samreid commented on #188
This seems promising, but I want to talk about the difference between:

[code]

I like that Strategy A is declarative instead of imperative, but strategy B seems to be a better idiomatic fit for static class attribute declarations, and will be amenable to navigation, highlight, code complete, etc.

So I think we can keep some parts of `defineIOTypeFields` but several parts can move out like Strate

[2020-09-04 14:14] pixelzoom commented on #188
Seems like we're going to be left with:

[code]

Then is it worth the bother, or should we just live with the boilerplate?

[2020-09-04 14:41] pixelzoom commented on #188
In the above commit, I renamed `defineIOTypeFields` to `setIOTypeFields` and converted NS to this approach, deleting createIOType.js.   This felt like a step in the right direction.  Let's discuss.

[2020-09-05 15:25] samreid commented on #188
That proposal looks good to me.  Here's a minor change that eliminates one temporary variable and shaves off 2 lines.

<details>

[code]

</details>

I feel like this is a good direction to go, but I don't want to start converting all repos to use this pattern until @zepumph reviews and comments.

[2020-09-05 16:58] pixelzoom commented on #188
I prefer this pattern:

[code]

... because the class is complete and validated before assigning to a static constant.  But I don't mind if others use the pattern that you've suggested in the patch.

[2020-09-05 17:01] pixelzoom commented on #188
OK with me. But just pointing out that doc could also be added by explicit assignment:

[code]

How do you feel about `setIOTypeFields` calling `ObjectIO.validateSubtype( IOType )`?

[2020-09-05 17:03] pixelzoom commented on #188
Also might be good to rename ObjectIO `validateSubtype` to `validateIOType`.  There's no reason it can't validate any IO Type, including itself, right?

[2020-09-05 17:48] samreid commented on #188
I agree and that wouldn't be too bad, but then there would be a period of time where the IO Type has the wrong value, and it may be confusing that the value gets assigned twice.

I agree the validation belongs in that method.  I considered whether `setIOTypeFields` should have a different name, like `initializeIOType` since it is doing more than just setting IO Type fields.  What do you think?

Ye

[2020-09-05 18:05] samreid commented on #188
Also, how much of this will we want to revisit once we can use static properties, like so?

[code]

[2020-09-06 01:22] pixelzoom opened #209 "rename ObjectIO params to ioType"
Should these params in ObjectIO be renamed to `ioType`?
[code]

[2020-09-06 01:23] pixelzoom commented on #188
ObjectIO.validateSubtype was renamed validateIOType in the above commits.

[2020-09-06 01:24] pixelzoom commented on #188
options.documentation was added to `setIOTypeFields` in https://github.com/phetsims/natural-selection/commit/5a09377d000076285c2733edf59619c77a426828.

Should `setIOTypeFields` be moved to ObjectIO?  And should `createIOType` be deleted from ObjectIO?

[2020-09-06 01:25] pixelzoom commented on #188
Also, how much of this will we want to revisit once we can use static properties, like so?

[code]

Yes, undoubtedly.  It's the penalty for using a wannabe language that can't seem to get OO right.

[2020-09-06 21:36] samreid commented on #209
I renamed all typeIO to ioType, ready for review.

[2020-09-06 22:21] pixelzoom commented on #209
👍🏻 Closing.

[2020-09-06 22:21] #209 closed

[2020-09-07 14:20] samreid commented on #188
According to https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/Public_class_fields there is already support for static class fields on all our supported platforms.  There is also a babel plugin which will transform that correctly: https://babeljs.io/docs/en/babel-plugin-proposal-class-properties.

First, a reasonable default for documentation could be `null` or `''` and the

[2020-09-07 17:07] samreid commented on #162
We are adjusting how IO types are implemented and documented in https://github.com/phetsims/tandem/issues/188#issuecomment-688356582, putting on hold until that issue is further along.

[2020-09-08 17:53] pixelzoom commented on #188
FYI...  NS milestone is 9/17 to begin QA testing on a dev version (brand=phet-io) for delivery to the client.  After that we'll be jumping right into a full QA process for production.  This issue is not blocking for any of that.  If not completed by 9/17, then we'll publish with the NS-specific implementation in setIOTypeField.js for https://github.com/phetsims/natural-selection/issues/218.

[2020-09-09 04:20] samreid commented on #168
I should note that more than just validation is happening in `validateIOType`, and in https://github.com/phetsims/tandem/issues/188 we are introducing a new initialization-style method for IO Types.

That would test many scenarios.  But there are IO types that are not associated with PhetioObjects (such as StringIO)--would be nice to find a way to test them all.

[2020-09-09 19:46] pixelzoom commented on #188
9/9/2020 Zoom meeting with @samreid and @zepumph:

* For the near term (and especially the 10/1/2020 NS deliverable) we'll go with what's currently being done in NS setIOTypeFields.js.   I will move `setIOTypeFields` to a static method of ObjectIO.  @samreid or @zepumph will delete `createIOType` and its usages.

* For the longterm, there are other possible IO Type patterns to explore.  Until shas

[2020-09-09 19:57] samreid opened #210 "Eliminate the need for PhET-iO wrapper instances"
From https://github.com/phetsims/tandem/issues/188#issuecomment-689779651

PhetioObject calls:
[code]

However, it is unimportant that the IO Type constructor be used to create the wrapper.   The wrapper just consists of a `phetioID` and `phetioObject`.  We should eliminate this unnecessary use of ObjectIO's constructor.

[2020-09-09 19:57] pixelzoom commented on #205
I needed this constant in order to proceed with https://github.com/phetsims/tandem/issues/188#issuecomment-689779651.  So I've added this to ObjectIO:

[code]

[2020-09-09 20:00] pixelzoom commented on #188
setIOTypeFields.js has been moved to `ObjectIO.setIOTypeFields`, and is now used by NS.  Self unassigning until there's more to do here.

[2020-09-09 22:04] samreid opened #211 "Alternative ways to specify IO Types"
From https://github.com/phetsims/tandem/issues/188#issuecomment-689779651 and discussion with @zepumph and @pixelzoom.

After https://github.com/phetsims/tandem/issues/210 ObjectIO constructor will no longer be used to create wrappers.

This opens up the possibility for 2 different ways to specify IO types that may be better in the long run:

(A) Specify the IO type as an object instead of a `clas

[2020-09-09 22:07] samreid commented on #211
A point from @zepumph or @pixelzoom, if we were using a different language we would probably identify IO Type as an interface, to decouple the implementation from the API..

[2020-09-09 22:35] samreid commented on #211
Note: Work for this issue should be done in patches or branches until Natural Selection has safe SHAs.

[2020-09-09 22:39] samreid commented on #205
I refactored a few more usages to use `ObjectIO.IO_TYPE_SUFFIX`.  The remaining usages are in studio, which shouldn't load `ObjectIO`.  I was wondering if this should be factored out to `PhetioIDUtils` but this isn't for naming a phetioID, it is for naming an IO Type.  @pixelzoom where do you recommend to put this so it can be reused in studio as well?

[2020-09-10 02:16] samreid commented on #210
phetioCommandProcessor invokes the method like so:

[code]

I asked @zepumph which is better between:

[code]

and

[code]

And he recommended using `this`.

I mentioned we could create a backward compatible patch like so:

[code]

But using this may be clearest.  I'll make that change as part of this changeset.

[2020-09-10 02:29] samreid commented on #210
I have many things working nicely, and the wrapper type eliminated completely.

<details>

[code]

</details>

However, phet-io unit tests are failing because of the NodeIO properties.

[2020-09-10 02:31] samreid commented on #210
On hold until https://github.com/phetsims/scenery/issues/1046 is complete.

[2020-09-10 09:48] samreid commented on #210
One aspect of the patch was not blocked by the issues mentioned in the prior comment, so I decided to move forward with that change in order to (a) make that improvement and (b) prepare a more succinct patch since we may not return to this issue while it is fresh in our minds or before there is more churn in these files.

Here is the reduced patch after the above commits:

<details>

[code]

</det

[2020-09-10 15:32] samreid commented on #205
For example, constants and methods used in the simulation code and wrapper code are declared in PhetioIDUtils.js.

Should we create PhetioConstants.js, which at the moment will have one string, but maybe will have more constants one day?

[2020-09-10 16:08] samreid commented on #211
@zepumph suggested that we could identify APIs for different kids of statefulness.  For instance, data types must implement `toStateObject/fromStateObject` etc.  Not sure if we would need an enumeration or some other way to distinguish between these.  In Java, it would be a different interface or sub-interface.

[2020-09-10 19:49] pixelzoom commented on #205
If it were me, that's probably one of the first files that I would have created.  It's certainly where I'd expect to go looking for constants.  But I don't know know if it's appropriate for this project, or whether there are other constants lurking that could be moved there now.  So... Up to you.

[2020-09-11 03:02] samreid commented on #205
I added PhetioConstants, and moved `ObjectIO.IO_TYPE_SUFFIX` there.  I tested in studio unbuilt for natural selection.  Ready for review.

[2020-09-11 16:06] samreid commented on #188
I reverted usages of `createIOType` and deleted it.  This should block publication until those changes have been reviewed.  I'd like to request a review for the changes in Action.js and Emitter.js by @zepumph before NS SHAs.  If you don't have time, let's ask @pixelzoom if he can review this. Once that is complete, this issue can be closed.  Side tasks will be moved to new issues as described belo

[2020-09-11 16:08] samreid opened #212 "Move IO Types to the bottom of corresponding core type files (where appropriate)"
From https://github.com/phetsims/tandem/issues/188#issuecomment-691182819

Note this will not be possible for `StringIO` or `NumberIO`.  IO Types that are used by multiple core types may wish to remain separate.

[2020-09-11 16:41] pixelzoom commented on #188
@samreid said:

There's not any real compression here. The compression is due to 3 question things in the example:

* omission of `validate` call, likely may not be an improvement
* abbreviation of method doc and omission of `@param` annotation, again likely not an improvement
* defining what's left of the method on 1 line

So the code is essentially identical, and there's really no difference her