[2020-09-11 16:45] pixelzoom commented on #188
Otherwise the IO Types were just moved to same file as their associated Core Type. And they could just as easily have been left in their own .js files. It's really only necessary to move the IO Type definition into the Core Type .js file if you need to avoid circular references between IO Type and Core Type.

[2020-09-11 18:11] samreid commented on #211
Identifying the desired API for an IO Type has been very helpful:

[code]

Based on this API, I have sketched out a type `class IOType` which satisfies this API and has a convenient pattern for declaration sites.  I converted several IO Types to use this pattern and it reduces the amount of code in every case significantly.  It also automatically validates, which was a sore spot in our previous im

[2020-09-11 18:16] samreid commented on #188
I've written a proposal in https://github.com/phetsims/tandem/issues/211#issuecomment-691240527 which I think we should pursue.  It automatically includes the `validate` calls, eliminates the need for JSDoc, and eliminates the need for `setIOTypeFields` and `validateIOType`.  It's a larger change which will require changes to all IO Types and review, and we can hold off on it until Natural Selecti

[2020-09-11 23:36] pixelzoom commented on #205
👍🏻 closing.

[2020-09-11 23:36] #205 closed

[2020-09-12 15:15] samreid commented on #211
I added the proposal for IOType.js and ObjectIO2.js (so named so it doesn't interfere with the existing ObjectIO.js).  These changes allow BunnyIO to be changed from:

[code]

To:

[code]

[2020-09-12 15:35] samreid commented on #178
This will no longer be necessary after we adopt the proposal in https://github.com/phetsims/tandem/issues/211, on hold until that issue is further along.

[2020-09-12 15:36] samreid commented on #168
The proposal in https://github.com/phetsims/tandem/issues/168 automatically validates.  On hold until that is addressed.

[2020-09-12 15:37] samreid commented on #167
This will be addressed by the proposal in https://github.com/phetsims/tandem/issues/211 which automatically validates.  On hold until that issue is further along.

[2020-09-12 15:38] samreid commented on #137
This can be addressed while we work on the proposal in https://github.com/phetsims/tandem/issues/211.  On hold until that issue is further along.

[2020-09-12 15:40] samreid commented on #183
This will be addressed by the proposal in https://github.com/phetsims/tandem/issues/211, on hold until then.

[2020-09-12 15:42] samreid commented on #211
Above I referenced issues that will be partially or completely addressed by this proposal.

[2020-09-12 23:30] samreid commented on #212
Let's wait until NS has SHAs and perhaps wait until there is progress in https://github.com/phetsims/tandem/issues/211 first.

[2020-09-13 20:05] samreid commented on #193
I reviewed this issue and everything seems complete and ready to close.

[2020-09-13 20:05] #193 closed

[2020-09-14 17:21] pixelzoom commented on #211
This is looking nice. I'll probably have some more input when I use it in context. But for now, here are a few thoughts...

* Since `supertype` can be `null`, should it be moved into `config`?   I don't feel too strongly about this if `ObjectIO` is the only case where it will be `null`.

* Would it be better to have `supertype` default to `ObjectIO`?  I realize that's a little problematic because

[2020-09-14 17:27] pixelzoom commented on #211
I guess another thing I should comment on is whether I think this approach is better than the current approach (see examples in https://github.com/phetsims/tandem/issues/211#issuecomment-691504711).   It's certainly more concise.  But it creates sort of an alternate form of type hierarchy, where you need things like `getTypeHierarchy`. And that seems more complicated and less straightforward.  If

[2020-09-14 18:39] samreid commented on #211
Thanks, I agree that `supertype` should be an option that defaults to `ObjectIO` and I added that in the first commit.

I also added assertions that the root IO type supplies all state functions, in the 2nd commit.

The current paradigm also requires a thing called `getTypeHierarchy` which is currently in production.  https://github.com/phetsims/tandem/blob/9bde4c8e22bd80b8a1ace2a44b3eba7917063bd2

[2020-09-14 18:53] pixelzoom commented on #211
I'm referring your comment https://github.com/phetsims/tandem/issues/188#issuecomment-687643208, which was:

[code]

[2020-09-14 19:38] samreid commented on #211
Thanks, I understand. The proposed approach seems superior to using `class extends` and static properties, so I don't think it would need to be revisited once we support static properties.

[2020-09-15 16:23] pixelzoom commented on #211
So the next questions is...  When can/should this new approach be rolled into Natural Selection?  I have a deadline to take shas for 1.2 on 9/17, so I'm reluctant to change now.  On the other hand, Natural Selection is (I think?) the only sim currently using the `setIOTypeFields` approach.  So it might be nice to kill off that approach asap, so that we don't have yet-another approach to maintain (

[2020-09-15 17:09] samreid commented on #211
I reviewed the proposal with @zepumph today and he indicated the following:

* This seems like a reasonable approach.  It may not be the final solution but it is a good step in the right direction.  In the future, we may wish to move this even more to the core type.  But having a well-defined API for the IO Type makes that feasible.  This approach also streamlines the common use case for IO Types.

[2020-09-15 17:27] pixelzoom commented on #211
@samreid and I discussed on Slack.   We'll defer rolling this in NS until after shas are taken for 1.2.

[2020-09-15 21:05] pixelzoom commented on #211
Self unassigning until this is ready for integration into natural-selection and ph-scale.

[2020-09-15 21:08] samreid commented on #211
I'm planning to migrate all IO types to this new pattern in one of the first pushes.  OK if I do natural selection and ph-scale and reassign to you for review?

[2020-09-15 21:15] pixelzoom commented on #211
Yes, but that's going to happen after I take shas for natural-selection 1.2, correct?

[2020-09-15 21:17] samreid commented on #211
Yes

[2020-09-15 23:21] zepumph commented on #188
Given the comment over in https://github.com/phetsims/tandem/issues/211#issuecomment-692983485, this doesn't seem to block publication. @samreid, I'm going to remove this from that list, please change if there is another reason not to. Does this block NS?

[2020-09-15 23:25] pixelzoom commented on #188
This issue is definitely not blocking for the 10/1 RC deliverable, the subject of https://github.com/phetsims/natural-selection/issues/208.  As soon as that RC has been delivered, then this issue will immediately becoming blocking for the next NS milestone.

[2020-09-16 16:23] samreid commented on #188
Let's put this on hold pending work in #211.

[2020-09-17 15:37] samreid commented on #211
I started on this yesterday but will not push to master until NS SHAs are taken.

[2020-09-17 21:47] samreid commented on #211
NS SHAs have been taken.  Also, @zepumph reported that EFAC has been cherry picked to the branch, and it is now safe to proceed in master.

[2020-09-18 02:56] samreid commented on #211
As I described at today's PhET-iO meeting today, I'll make incremental commits to move toward completion of this and related issues.  It is a lot of work and would be unwieldy to do in branches or as one single commit.

The first commit will remove ObjectIO and port all IO Types to use IOType.  These local tests are passing:
* PhET brand aqua fuzzing
* PhET-iO brand aqua fuzzing
* Natural Selectio

[2020-09-18 03:11] samreid commented on #211
Duplicating prior comment due to so many hidden comments:

As I described at today's PhET-iO meeting today, I'll make incremental commits to move toward completion of this and related issues.  It is a lot of work and would be unwieldy to do in branches or as one single commit (155 files across 35+ repos).

The first commit will remove ObjectIO and port all IO Types to use IOType.  These local test

[2020-09-18 20:39] samreid commented on #211
This work is basically stable, and I'll put further work on hold until I can coordinate with @zepumph more.  The reason it is marked as blocks publication is until review is complete and until we decide how QA should test these nontrivial changes (isolated test vs rolling testing into an upcoming dev or RC test).

[2020-09-22 01:49] ariel-phet commented on #203
I think we are good here, closing

[2020-09-22 01:49] #203 closed

[2020-09-24 02:08] samreid commented on #211
Here's a patch of half-baked ideas trying to get rid of IOType as much as possible or integrate with the core type:

<details>

[code]

</details>

[2020-09-24 16:59] zepumph commented on #208
This issue feels like it is taken care of by the new `IOType` class created in #211. I'm going to close this now.

[2020-09-24 16:59] #208 closed

[2020-09-25 08:36] samreid commented on #210
I implemented a pattern for this as part of https://github.com/phetsims/tandem/issues/211.  @zepumph can you review this part in isolation?  See `IOType.createWrapper` and its usages.

[2020-09-25 08:38] samreid commented on #188
Some brainstorming in #211 revolved around automatically leveraging `IOType.valueType` if it exists.

[2020-09-25 08:40] samreid commented on #168
This issue has been addressed in master, but we will need to revisit this if we merge IO Types with core types (discussed in part in #211).  Leaving on hold for now.

[2020-09-25 08:41] samreid commented on #212
There is sufficient progress in #211, but @zepumph and I are partway through a "what is the long term goal" conversation which may adjust our path.  But no matter how that conversation goes, should we still implement this issue now as a stepping stone?

[2020-09-25 09:13] samreid commented on #211
If we automatically leverage `valueType` in ObjectIO like so:

[code]

Then 7 IO Type declarations in Natural Selection change from looking like this:

[code]

to looking like this:

[code]

Could we eliminate those altogether?  Perhaps places that expect an IOType could be changed to take a core type or an IO Type.  If given a core type, they would run something like this:

[code]

Then usage sit

[2020-09-25 17:33] pixelzoom commented on #211
It does seem like this is going in the direction of eliminating IO Types altogether, and having Core Types implement a specific interface. (Too bad JS doesn't have interfaces.)

[2020-09-25 20:00] zepumph opened #213 "IOType can supply default state methods by using `valueType`"
This is explained in https://github.com/phetsims/tandem/issues/211#issuecomment-698819668, but deserves its own issue for investigation.

[2020-09-25 20:03] zepumph commented on #211
@samreid and I think that it is possible that this could be an improvement, but we don't think we should prematurely investigate. If in the future we find ourselves annoyed at this much boilerplate, then we can reevaluate in a new issue:

`Wolf.WolfIO = new IOType( 'WolfIO', { valueType: Wolf } );`

[2020-09-25 20:29] zepumph opened #214 "Use consistent naming for IOTypes on core types"
from #211, @samreid and I want consistent naming across all our IO Types.

@samreid and I discussed how we want the field on core types to be named that stores the IO Type. We think that always naming it to be the phetioTypeName of the IO Type is clearest. This will look the same for parametric types and non.

Like this:

`Emitter.EmitterIO = parameterTypes => {. . . `
`Wolf.WolfIO= new IOType(. .

[2020-09-25 20:35] zepumph commented on #169
@samreid and I just realized that when there are multiple parameterTypes, we don't think that an Array will work for a `Map`. For example in Action and Emitter.

[2020-09-25 21:58] samreid commented on #211
Even in languages with interfaces, how is it possible for a type object to implement an interface?  For instance, if there is a bunny named `myBunny = new Bunny()`, we would want `Bunny` to implement the interface rather than the usual thing of wanting `myBunny` to implement the interface.  Keep in mind the interface we are aiming for is roughly described in https://github.com/phetsims/tandem/issu

[2020-09-25 22:01] zepumph commented on #210
This makes a lot of sense. Thanks for taking this on. I'll stay assigned until those issues blocking issues are dealt with.

[2020-09-25 22:13] zepumph commented on #211
My individual review of this issue:
* Please go back and look through every open issue linked above. Most were marked as "on hold" until this work was done. I feel confident in the pattern outlined by `Wolf.WolfIO = new IOType( 'WolfIO', { valueType: Wolf } );` such that those can now be dealt with or closed
* I think there are many IO types that still need to be inlined (we discussed this this mo

[2020-09-25 22:31] samreid commented on #214
I fixed the existing occurrences and will keep this in mind as we proceed in https://github.com/phetsims/tandem/issues/211.  @zepumph can this issue be closed?

[2020-09-25 22:34] samreid commented on #213
Here is the relevant part of that comment:

If we automatically leverage `valueType` in ObjectIO like so:

[code]

Then 7 IO Type declarations in Natural Selection change from looking like this:

[code]

to looking like this:

[code]

[2020-09-26 00:34] #214 closed

[2020-09-26 02:59] samreid commented on #213
Why does it make sense to take some things from the core type, such as `CoreType.fromStateObject`, but other things cannot be taken from the core type, such as `CoreType.phetioMethods` being taken as the IO Type `methods` or `CoreType.phetioDocumentation` being taken as the IO Type `documentation`?

[2020-09-26 03:01] samreid commented on #188
The latest proposal for this step is in https://github.com/phetsims/tandem/issues/213, let's close this and continue there.

[2020-09-26 03:01] #188 closed

[2020-09-26 03:02] samreid commented on #213
Note the philosophy for this issue was introduced in https://github.com/phetsims/tandem/issues/188, may be good to skim that issue before closing this one, to make sure our bases are covered.

[2020-09-26 03:05] samreid commented on #178
IOType now provides these methods as passed-in options, not as overridden methods that require JSDoc.  As we move methods like `toStateObject` to the core types, we will need to remember to add visibility annotations for those, but I think lint rules will help us remember.  This issue seems ready to close.

[2020-09-26 03:05] #178 closed

[2020-09-26 03:06] samreid commented on #168
We have converted the project to use `new IOType` which does not require a separate validation step.  Closing.

[2020-09-26 03:06] #168 closed

[2020-09-26 03:07] samreid commented on #167
The project has been converted to use `new IOType` which automatically validates values in `toStateObject` and `applyState`.  Closing.

[2020-09-26 03:07] #167 closed

[2020-09-26 03:11] samreid commented on #183
These are centrally documented in IOType options:

[code]

And methods that take an instance also run the validator.  This issue seems ready to close.

[2020-09-26 03:12] samreid commented on #110
Validation was centralized in #211 in IOType, closing.

[2020-09-26 03:12] #110 closed

[2020-09-26 03:14] samreid commented on #210
The title of this issue has been completed, since IOType is not a constructor for wrappers.  However, now we would like to eliminate the wrapper completely, so I'll retitle the issue.

[2020-09-26 03:20] samreid commented on #212
We discussed this today and agreed it is best to move `new IOType` to the core file for now.

[2020-09-26 03:22] samreid commented on #211
I reviewed the linked issues, and was able to close several of them.  Most remaining work is tracked in side issues and the linked TODOs and REVIEWS.  Another mention above for why this was blocking publication was:

I'll do as many of the TODOs and REVIEW comments as I can, but will likely need help from @zepumph on some of them, and it would be good to discuss QA with @zepumph.

[2020-09-29 16:13] samreid opened #215 "Several IO types should use ReferenceIO"
During #211 I noticed several IO types that were simulating ReferenceIO.  I'll point their TODOs to this issue.  There may be more as well.  Also, keep in mind https://github.com/phetsims/phet-io/issues/1709#issuecomment-700805070 has a proposal that `PhetioObject.toStateObject` would be reference-ish by default.

[2020-09-29 16:51] samreid opened #216 "How to treat parametric types that have no parameters, such as EmitterIO<>?"
From https://github.com/phetsims/tandem/issues/211, there is a TODO in the IOType constructor:

[code]

Should EmitterIO that emits nothing be a parametric type (like other EmitterIO) or a non-parametric type (since it doesn't emit anything)?  I'm uncertain of the assumptions or ramifications for studio.  @zepumph can you please make a recommendation?

If necessary, we could change the default for

[2020-09-29 17:09] samreid commented on #211
All TODOs have been addressed or moved to other issues.  The last topic for this issue is how it should be tested.  Some options:

1. (lazy) We alert QA to these changes the next time they are dev or RC testing SHAs that contain these changes.
2. (eager) We create a dedicated version and request up-front testing before other SHAs from master are tested.

The lazy approach may be sufficient in this

[2020-09-30 00:14] zepumph commented on #211
I think part of what leans me towards the lazy approach is the difficulty in pin pointing exactly what may have regressed. It may be easier to test eagerly in cases where you can give a runnable to QA and have them go at it. For this issue I would worry about (in no order):

* Type doc changing
* Methods from the wrapper no longer working
* A bug in IOType that causes an API change
* Something tha

[2020-09-30 05:18] ariel-phet commented on #211
@samreid @zepumph perhaps a bit of both - considering https://github.com/phetsims/QA/issues/519 is high on the testing list currently (EFAC will come first when the next RC is ready, but GAO is actively being tested) - perhaps after some review, GAO will be ready for its next dev test soon and can include these changes with QA alerted. That should help vet the new approach I would think.

[2020-09-30 17:32] samreid commented on #211
Other issues such as
https://github.com/phetsims/tandem/issues/212
https://github.com/phetsims/phet-io/issues/1709
https://github.com/phetsims/tandem/issues/213

Should probably be completed before we start testing.  They will introduce new complexities that would require further tests.

[2020-09-30 20:09] samreid commented on #213
@zepumph and I disussed these APIs

[code]

[2020-09-30 21:14] samreid commented on #212
I moved the appropriate IO types to the core type files.  All TODOs complete.  Closing.

[2020-09-30 21:14] #212 closed

[2020-09-30 21:19] samreid opened #217 "Review and Testing for IO Types"
From https://github.com/phetsims/tandem/issues/211, we have made significant improvements to IO Types, and more changes are planned in issues like:

https://github.com/phetsims/tandem/issues/212
https://github.com/phetsims/phet-io/issues/1709
https://github.com/phetsims/tandem/issues/213

We want to be confident these changes are all set for production.  Here is the thread from #211:

All TODOs ha

[2020-09-30 21:19] samreid commented on #217
@zepumph replied:

I think part of what leans me towards the lazy approach is the difficulty in pin pointing exactly what may have regressed. It may be easier to test eagerly in cases where you can give a runnable to QA and have them go at it. For this issue I would worry about (in no order):

* Type doc changing
* Methods from the wrapper no longer working
* A bug in IOType that causes an API cha

[2020-09-30 21:19] samreid commented on #217
@ariel-phet said:

[2020-09-30 21:42] samreid commented on #213
It may be more seamless to move static methods to the core types if we support `static` attribute, see https://github.com/phetsims/tasks/issues/1048

[2020-10-01 03:19] samreid commented on #211
I opened a dedicated issue about testing and review (which will span the scope of more than this issue).  All work complete or tracked elsewhere, closing.

[2020-10-01 03:19] #211 closed

[2020-10-01 03:37] samreid commented on #213
@pixelzoom can you please review the proposal in https://github.com/phetsims/tandem/issues/213#issuecomment-699190995 ?  Does it seem too tricky/magical to you?  Or an efficient way to eliminate unnecessary code?

[2020-10-01 22:51] pixelzoom commented on #213
Can you explain what an IO Type does other than serialization and type verification?  If the IO Type is delegating to the Core Type, and the IO Type doesn't have other responsibilities, then why is an IO Type necessary?

[2020-10-01 23:00] samreid commented on #213
In addition to serialization, IO types form a type system for PhET-iO Elements for wrapper interoperability.  They describe methods, documentation, type hierarchy & events that can be emitted.

[2020-10-01 23:03] pixelzoom commented on #213
Could those responsibilities also be folded into the Core Type, or is there value in keeping them separate?

[2020-10-01 23:07] samreid commented on #213
There are parts that make that difficult or impossible, such as:

* IO Types that don't correspond to a core type, such as `NumberIO`, `StringIO`, `VoidIO`, `ArrayIO`, `BooleanIO`, `FunctionIO`, `Float64ArrayIO`.
* Parametric IO Types, such as `PropertyIO<Vector2IO>`
* Nullable IO Types, such as `NullableIO<StringIO>`

[2020-10-01 23:18] pixelzoom commented on #213
OK, thanks for clarifying.  So it sounds like doing away with IO Types altogether is not an option.

So back to your original question:

If I understand the various options that have been proposed...  I like having the "non-magical" long form, with a factory method for the "magical" short form. For example:

[code]

[2020-10-09 02:04] zepumph opened #218 "ReferenceIO should serialize an object with key `phetioID`"
This is preferred to just being a string, and would allow for it to be a supertype to subtypes that want to add more data. Like https://github.com/phetsims/ph-scale/issues/205

[2020-10-09 02:23] zepumph opened #219 "Rename jsdoc from {function(new:ObjectIO)} -> {IOType}"
From work done in https://github.com/phetsims/tandem/issues/188. Assigning to both of us, but either could implement.

[2020-10-09 02:36] zepumph commented on #218
@samreid what do you think about this? Likely review with commits to come over in https://github.com/phetsims/ph-scale/issues/205

[2020-10-09 02:44] zepumph commented on #218
One bug fix in studio where the serialized screen was an id, but now it is an object with a phetioID.

[2020-10-09 16:51] zepumph commented on #218
There are a couple of bugs the above commits caused, like https://github.com/phetsims/phet-io/issues/1710

[2020-10-09 17:04] zepumph commented on #218
Studio is now fuzzing. Unassigning. Ready for review.

[2020-10-09 22:38] zepumph opened #220 "What to do when you addLinkedElement and then instrument?"
@samreid were over in https://github.com/phetsims/scenery/issues/1046 and thought it was pretty buggy to have the opportunity to add a linked element before instrumenting for PhET-iO, given what addLinkedElement() currently does (null out this.linkedElements).

There is an assertion to make sure that this doesn't happen:
1. `myObject.addLinkedElement();`
2. `myObject.initializePhetioObject();`
3.

[2020-10-09 23:03] zepumph commented on #220
@samreid what do you think about the above? I added a test to demonstrate the bugginess. My understanding is that no common code that is adding linked elements in master right now would do so out of order, but please check in on CT when you review to double check.

[2020-10-12 16:18] samreid commented on #220
The test and implementation look good. My only recommendation is to eliminate:

[code]

and just use `null` directly, like so:

<details>

[code]

</details>

If you do decide to keep a named constant for this, a better name would be nice.  Perhaps `LINKED_ELEMENTS_DISABLED` or something?

[2020-10-12 17:15] zepumph opened #221 "Remove Tandem.unlaunch()"
Now that qunitStart calls `Tandem.launch()`, I'm pretty sure that we can remove this. The only reason we would want to keep it around is if Tandem had tests that needed to split on logic around launched.

Currently I see 4 usages of Tandem.unlaunch
[code]

I think this is preferred to adding more usages to get around problems like https://github.com/phetsims/scenery/issues/1046#issuecomment-707182

[2020-10-12 18:02] samreid commented on #221
Can you please review the test in PhetioObjectTest: `'archetype bugginess when Tandem is not launched yet'`, should we keep that one?

That is, can all tests assume that Tandem is launched, and if they need it to be unlaunched, they will take care of that step?

[2020-10-14 19:11] zepumph opened #222 "Get rid of phetioComponentOptions"
This include `mergePhetioComponentOptions`.

Tagging https://github.com/phetsims/scenery/issues/1091 and https://github.com/phetsims/scenery/issues/1046 as underlying work. This is on hold until the following are complete:

- [x] https://github.com/phetsims/scenery/issues/1047
- [x] https://github.com/phetsims/scenery/issues/1082

[2020-10-16 15:41] samreid commented on #217
Dev testing for Gravity and Orbits completed and no issues related to this were identified.  Based on the preceding 2 comments, can @zepumph review and test the IO type changes (see bullet list 2 comments beforehand)?  Perhaps this should block next PhET-iO RCs.

[2020-10-17 12:48] samreid commented on #210
Implemented in the commits, and I moved https://github.com/phetsims/phet-io/issues/1712 to a side issue that I may need help on.  @zepumph can you please review?

[2020-10-17 15:22] samreid commented on #222
Removed in the commit.  I tested several unit tests in both brands, and compared natural-selection API before and after, and saw no differences. Ready for review.

[2020-10-21 22:06] zepumph commented on #210
Looks really good. I cleaned up "wrapper" terminology because we no longer think of IO Types as "wrappers" to the core type, and it is over-loaded with the other side of the cross-frame communication (wrapper side).

Closing, please reopen if there is anything else for you.

[2020-10-21 22:06] #210 closed

[2020-10-21 22:16] zepumph commented on #220
Sounds good to me. Thanks!

[2020-10-21 22:16] #220 closed

[2020-10-21 22:20] zepumph commented on #162
Marking off hold as #188 is complete. I think this issue is handled, here is the current doc for some state methods:

[code]

@samreid is there more here?

[2020-10-21 22:22] zepumph commented on #137
https://github.com/phetsims/tandem/issues/211 is closed. I think we can close this issue. Thanks for all that work @samreid.

[2020-10-21 22:22] #137 closed

[2020-10-21 22:26] zepumph commented on #219
Looks like this issue was already done, but I renamed a couple of old usages of TypeIO while I was at it.

[2020-10-21 22:26] #219 closed

[2020-10-21 22:30] zepumph commented on #222
Looks great to me. Thanks! It is so fun to actually remove junk from PhetioObject instead of adding to it.

[2020-10-26 20:16] zepumph commented on #217
I feel like studio is testament that this works well.

I looked at the rendered jsdoc, though I don't think that was the point of this review, and found a bug fixed in the above commit.

I noticed https://github.com/phetsims/scenery/issues/1047#issuecomment-716780463.

- [ ] This default is buggy, and doesn't support complex IO Types. It should be rewritten to find the index of the first usage of

[2020-10-26 23:44] #222 closed

[2020-10-27 22:30] samreid commented on #217
Thanks for the feedback.  I addressed them.  I didn't see a robust way to detect FunctionIO in phetioCommandProcessor, so I gave the option a better name.

Should we move

[code]

to another issue?  Can you recommend how to process that case?

Please review my commits. Can this issue be closed?

[2020-10-28 22:45] zepumph commented on #217
Yes new issue sounds good. Please create.

[2020-10-28 22:46] zepumph commented on #217
Everything else looks great.

[2020-10-29 16:38] zepumph opened #223 "Extra assertion about '<' correlated with parameterTypes"
From https://github.com/phetsims/tandem/issues/217, promoting TODO to issue in IOType:

[code]

[2020-10-29 22:11] zepumph commented on #217
I created https://github.com/phetsims/tandem/issues/223, I'm going to close this issue.

[2020-10-29 22:11] #217 closed

[2020-10-29 22:30] samreid commented on #223
`EmitterIO<>` seems reasonable to me, perhaps that should be a supported feature.  If we keep that, do we need to update anything else?

[2020-10-29 22:37] zepumph commented on #223
My goal in this was to make sure that the `parameterTypes` option stayed in line with our typeName conventions. Perhaps the best we could do would be the opposite assertion:

[code]

[2020-10-30 14:55] samreid commented on #223
I tried this and it yielded 2 problems:

[code]

First, the FunctionIO type name doesn't have any `<` at the moment.  Let's decide how it should look.  I think it should be `FunctionIO<ArgIO1,ArgIO2,ReturnIO>` or possibly `FunctionIO<ReturnIO,Arg1IO,Arg2IO>`.

Second, `NumberPropertyIO` specifies `parameterTypes:[NumberIO]` since it is a `PropertyIO`, but it has type name `NumberPropertyIO`.

@zep

[2020-11-04 18:51] samreid opened #224 "Make it so PhetioObject can take a lightweight form"
Working copy changes:

<details>

[code]

</details>

[2020-11-04 19:17] zepumph commented on #224
Question: What should the API for uninstrumented PhetioObjects be? Should it be the same as for instrumented PhetioObjects running in PhET brand?

[2020-11-04 19:31] zepumph commented on #218
We needed to update how studio was serializing valid values, since it didn't support Objects. This original issue commit made a valid value radio button from "my.phetio.id" to `{"phetioID":"my.phetio.id"}`. Fixed in the above commit.

[2020-11-04 19:40] zepumph commented on #224
We moved fields into the initialize function, but we now need to answer the above questions to optimize how much we can strip out in phet brand and for all uninstrumented PhetioObjects.

To me, the most important, must-haves seem to be `tandem`, and `isPhetioInstrumented()`.

But @samreid and I were also looking at some common code components that used `: options.phetio`, for passing metadata to s

[2020-11-05 01:06] zepumph commented on #213
I really like this idea! How about the above commit. Please review. I'm mainly wondering if it is too strict to make sure that options doesn't have all 4 of these things:
[code]

[2020-11-05 16:59] KatieWoe opened #225 "CT depth cannot be negative"
Several sims with these errors
[code]

[2020-11-05 17:15] zepumph commented on #225
This is because of https://github.com/phetsims/phet-io-wrappers/issues/371#issuecomment-722069214 made last night. I'm unsure why dataStream isn't pushing the nonPlaybackable for the stepSimulationAction. I'll investigate.

[2020-11-05 17:37] zepumph commented on #225
Ahh, because when high frequency events aren't emitted, it short circuits and doesn't push/pop. @samreid, I'd love a quick conversation on this to make sure I head down a good direction.

[2020-11-05 22:04] zepumph commented on #225
The above will fix the ct error, but it is really horrid. I'm going to see about something better.

[2020-11-06 00:19] zepumph commented on #225
Solved poorly above. Fixed better over in https://github.com/phetsims/phet-io-wrappers/issues/371. CT is fixed. Closing

[2020-11-06 00:19] #225 closed

[2020-11-07 00:30] zepumph commented on #189
phetioComponentOptions was removed in  https://github.com/phetsims/tandem/issues/222, and good riddance!.

[2020-11-07 00:30] #189 closed

[2020-11-07 00:42] zepumph commented on #221
I think it was best to keep Tandem.unlaunch for that one test. I got rid of other usages though. I think this issue is ready to close. @samreid?

[2020-11-07 00:45] samreid commented on #221
Looks great, thanks!  Closing.

[2020-11-07 00:45] #221 closed

[2020-11-07 00:46] zepumph commented on #187
This has been done in https://github.com/phetsims/chipper/commit/8c62cf6b9a44eef7e7aa06453cdcf138bb6b7435. I also removed most of the usages of Tandem.unlaunch over in https://github.com/phetsims/tandem/issues/221.

If we really want localized control, we may want a way to short circuit the phet-io listeners that are added to tandem at the bottom of PhET-iO. That may not be necessary though. We sh

[2020-11-07 00:46] #187 closed

[2020-11-07 00:51] zepumph commented on #153
Done above. Closing

[2020-11-07 00:51] #153 closed

[2020-11-07 00:53] zepumph commented on #117
Thus far, we have not encountered any memory concerns with this. There are likely only a handful or two archetypes, and I'm not worried about them sticking around. If in the future we want to optimize that when we notice it to be a problem, then that sounds great! Closing

[2020-11-07 00:53] #117 closed

[2020-11-07 02:05] samreid commented on #218
CT is clear and these changes look good, nice work @zepumph!  Closing.

[2020-11-07 02:05] #218 closed

[2020-11-09 22:55] pixelzoom opened #226 "PhetioGroup tandem name indexing"
This came up in a discussion with @arouinfar, in the context of https://github.com/phetsims/fourier-making-waves/issues/6.  To be clear, we may not pursue this approach for Fourier.  But the problem seems generally important to consider for PhetioGroup, and we'll use Fourier as the example.  You may want to run the Java version to familiarize yourself with the Discrete screen.

The Discrete screen

[2020-11-10 00:30] pixelzoom commented on #213
@zepumph asked:

I think that's perfect for now.  If we find a reason that one of those options should be applied, we can change later.

Question...  I see this in `fromCoreType`:

[code]

What happens in CoreType doesn't have `stateToArgsForConstructor`?  I'd like to `fromCoreType ` for several other IO Types in Natural Selection that have this boilerplate, and the Core Type does not define `stat

[2020-11-10 00:39] zepumph commented on #213
What about this patch?

[code]

?

[2020-11-10 01:44] pixelzoom commented on #213
I don't like `forwardStateToArgesForConstructor ` and `forwardApplyState`, they are a little too "indirect" for my tastes.

I also don't understand this line in the patch:

[code]

Is that comment correct? WolfIO uses dynamic element serialization, and it's definition options.applyState. And is applyState really optional with `fromCoreType`?  I guess I'm not clear on which serialization situations

[2020-11-10 17:29] zepumph commented on #213
Sounds reasonable to me!

One small issue:
[code]

This will not look up the hierarchy. We could recurse though.

[2020-11-10 17:32] pixelzoom commented on #213
Good point.  And this will also not recurse (in case you missed this addition):

[code]

[2020-11-10 17:51] zepumph commented on #213
We can use [Inheritance.js](https://github.com/phetsims/phet-core/blob/e3a8916b3cbf1e1b1d9fb763d2bd26436cf1b42d/js/inheritance.js) as an example of how to recurse for these checks.

[2020-11-10 17:57] pixelzoom commented on #213
@zepumph if you need test cases for `fromCoreType`, feel free to modify the Natural Selection IO Types listed in https://github.com/phetsims/natural-selection/issues/255.

[2020-11-10 23:16] samreid commented on #226
PhetioGroup doesn't support that.

For Fourier, I recommend creating amplitude names via string concatenation: ``` `amplitude${n}Property` ``` and creating them statically, not using PhetioGroup.

From the instrumentation guide:

a component of their parent (instead of being instrumented themselves)

when supporting PhET-iO state and API validation.

instances. Use `PhetioGroup` for multiple insta

[2020-11-11 00:42] pixelzoom commented on #226
@samreid said:

First, this was a general question, and (in talking with @arouinfar) seemed to be a general needed -- to dynamically create elements using the same tandem names, and with indexing that does not start from zero.  Fourier was used as a concrete example, and the approach we decide to use there doesn't eliminate the need to discuss this generally. That said...

How to create amplitude

[2020-11-11 18:15] samreid commented on #224
<details>

[code]

</details>

[2020-11-11 19:59] zepumph commented on #224
In the above commit, @samreid and I took this one step farther to not set PhetioObject keys in PhET brand. It involved only a couple of work arounds in PhetioDynamicElementContainer and Node. We also made exposing public fields more explicit with assertions making sure that you don't get an undefined when accessing fields in PhET brand.

Marking for review to check back on CT.

[2020-11-12 00:19] zepumph commented on #224
Nothing on CT. Closing

[2020-11-12 00:19] #224 closed

[2020-11-13 01:15] zepumph commented on #213
I disagree. `fromCoreType` doesn't require anything to be provided via its options, because it sets the require pieces in `fromCoreType` (`valueType`).

I added documentation saying that `toStateObject` is required, but any deserialization method is gracefully supported. I felt good enough to convert all usages worth it in Natural Selection, and I also converted Vector2 to test `fromStateObject` (

[2020-11-13 01:52] zepumph commented on #169
I converted things above. The only IOTypes that didn't take well to an Object as a key were FunctionIO, ActionIO, and EmitterIO. @samreid please review. Anything else here?

[2020-11-13 01:54] samreid commented on #169
Looks great, thanks!  Closing.

[2020-11-13 01:54] #169 closed

[2020-11-13 02:50] pixelzoom commented on #213
OK.  I took it for granted that the `config` param to `fromCoreType` was correct, but that's apparently not the case since you changed it to `options`.  In any case, they params are not consistent, and I don't see anything config-y in `fromCoreType`, so bravo!

Closing.

[2020-11-13 02:50] #213 closed

[2020-11-17 17:28] samreid commented on #162
Looks good to me, @pixelzoom would you like to review?

[2020-11-17 17:51] pixelzoom commented on #162
👍🏻

[2020-11-17 17:51] #162 closed

[2020-11-19 19:23] zepumph commented on #226
This was discussed during PhET-iO meeting today.

MK: what about moving this logic out of the tandem names, and into the data of the Property itself.

KP: this is much worse for instructional designers in studio

CM: This would mean subclassing Property to add this data.

CM: what about an option to supply a tandemName in createIndexedMember

SR: if we implement this, then we should be able to giv

[2020-11-19 21:26] pixelzoom commented on #226
I would implement this using subclassing, something like this:

[code]

[code]

[2020-11-24 02:28] samreid commented on #86
@zepumph and I visited PhetioObject and its startup and metadata sequence as part of https://github.com/phetsims/tandem/issues/224.  I feel like we covered some and maybe all of this issue.  @zepumph what do you say?

[2020-11-24 13:47] samreid commented on #215
I converted these and tested briefly.  I noted Energy Skate Park was failing before and after this change.  @zepumph can you please spot check one or two of these? Close if it seems reasonable.

[2020-12-05 02:08] zepumph commented on #215
Isn't https://github.com/phetsims/energy-skate-park/commit/c0d0a9846f3ec2f650041e113eb772d4ff970980 `NullableIO( ReferenceIO( ObjectIO)`?

[2020-12-07 18:24] samreid commented on #215
The previous code does seem like it was supposed to be `NullableIO`, but looking at occurrences, it seems like it shouldn't be.  ControlPoint has:

[code]

which seems correct, and the snapTargetProperty is:

[code]

So even though I didn't port what was there, perhaps it turned out OK?

[2020-12-07 18:47] zepumph commented on #86
The overrides are global, but the baseline for each object is already on PhetioObject. I feel like this issue is largely outdated

before the object is constructed, but maybe there is a better way to accomplish it.

This is a bit of a bummer, but I don't see a way that we could have getMetadata hard coded to pull from PhetioObject keys. I know we have thought about this before, and I don't see a s

[2020-12-07 18:55] zepumph commented on #215
I see. OK sounds good if you feel good. Can you take one more glance for other cases like that, then feel free to close?

[2020-12-07 21:07] zepumph commented on #202
I'm not sure if this can happen without building the phet-io.js wrapper-side library with webpack. We want this global available in both frames, mostly to factor out logic.

[2020-12-07 22:00] samreid commented on #86
I think it's ready to close, thanks!

[2020-12-07 22:00] #86 closed

[2020-12-07 22:11] samreid commented on #215
The other cases look like they are in the same boat: original version supported `null`, but didn't need to because it has a `Property<Nullable<...>>` elsewhere.  Closing.

[2020-12-07 22:11] #215 closed

[2020-12-08 02:28] samreid commented on #136
The patch is working nicely (aside from a missing return statement).  Here is Natural Selection:

[code]

Overriding `getMetadata` is a good pattern (preferable to adding more logic or data to PhetioObject).  However, I think it would be preferable to see:

`group.phetioDynamicElementName` rather than `group.instanceSpecificStuff.phetioDynamicElementName`.  Instead of saying "there may be a key wi

[2020-12-08 06:08] samreid commented on #140
In my review, most sites that call `isPhetioInstrumented` (outside of assertions) are safe because the function they call immediately guards on `PHETIO_ENABLED`.  For instance:

[code]

calls

[code]

One exception to this is in TinyForwardingProperty:

[code]

which calls this method:

[code]

`addLinkedElement` has a guard, but `removeLinkedElements` does not.  Maybe it doesn't matter because `r

[2020-12-12 04:19] zepumph commented on #136
Do you think it would be overkill to list the keys that types add to their metadata in IOType so that it can be documented on a type level, like in studio next to event names for and IO Type?

[2020-12-25 04:08] samreid commented on #136
The proposal from the preceding statement seems akin to `IOType.events`, and I agree it would be good to track the additional keys there, and use them for testing in the same way that we use `IOType.events` to check that events are valid.  Does mirroring `IOType.events` sound good to you?  Who should take the lead on implementation?

[2020-12-28 03:44] samreid commented on #147
I originally felt like an assertion would be sufficient, but upon reflection it seems too much of a "gotcha" to not be able to create dynamic elements before launch, and we should probably solve this eagerly.

While I was investigating, I found that `markDynamicElementArchetype` guards its call to `propagateDynamicFlagsToDescendants` via `Tandem.PHET_IO_ENABLED`, so I think we may only want to run

[2020-12-28 23:16] samreid commented on #121
I revised the patch to work with master, tested it with the Bunny.js patch above and verified it worked as desired.  It compares against the reference API if it exists, and compares against the archetype metadata if it exists (could compare both if they both exist).  Note, this will only be triggered when archetypes are generated--for example, by running in studio.

I tested on 2 sims locally and

[2020-12-31 00:52] zepumph commented on #140
As of today, I see that PhetioObject.removeLinkedElements does wrap in a check:

https://github.com/phetsims/tandem/blob/420ccdef0c4b4cd17fe1e1a9d331400ec11de5c0/js/PhetioObject.js#L522-L533

Closing

[2020-12-31 00:52] #140 closed

[2020-12-31 01:23] zepumph commented on #136
![image](https://user-images.githubusercontent.com/6856943/103388737-3e528c80-4ab7-11eb-9401-dc40185b0d29.png)

I think that is a good idea.

Above I committed your patch, and added `metadataKeys` to IOType. we get a bit of assertion to make sure that children don't specify the same key as parent IOTypes, but I couldn't figure out how to assert that once we have a completed metadata object, that a

[2020-12-31 02:23] zepumph commented on #121
Really nice stuff! In general I would prefer to the rules to be hard coded, and to match the doc in the first comment. That said, you can add any extra keys to the assertAPIError object.

CT looks clear to me. good work! Is a CT test that creates archetypes besides studio?

[2020-12-31 03:16] zepumph commented on #147
I though it only runs in phet-io brand right now?

Hmmm. The unit tests that I kinda rewrote are passing with this patch, but I didn't feel comfortable committing. Can you comment on how gross it is to grab what I need from inside the belly of Tandem?

[code]

[2021-01-19 17:15] samreid commented on #147
This strategy looks like the right way to go, I'm not worried about making `Tandem.bufferedPhetioObjects` public.  Some questions:

* Instead of `_.some( unlaunchedPhetioIDs, randomPhetioID => randomPhetioID === phetioID ) )`, can we use `unlaunchedPhetioIDs.includes(phetioID)`?
* Better documentation for `Tandem.bufferedPhetioObjects`?

Assigning to @zepumph for next steps.

[2021-01-19 21:30] samreid commented on #136
I added an assertion in `getMetadata` itself which seems reasonable.  It is throwing an assertion error during startup, which requires investigation.

<details>

[code]

</details>

[2021-01-20 12:44] samreid commented on #121
I matched the error text to the rule definition, and added a source key.

createArchetypes is defined like so:

[code]

I think CT uses `phetioPrintAPI` when it runs a `grunt` build.  I don't think CT uses `phetioReferenceAPI` at all.  And CT does fuzz studio.

What else do you recommend for this issue?

[2021-01-20 20:42] samreid commented on #87
@zepumph and I discussed that it may be appropriate to undeprecate GroupTandem for cases like https://github.com/phetsims/balloons-and-static-electricity/commit/e0dbeaa5f723c2903ccbc06559b7ff8c4e5753e6, I'll consider this as I continue.

[2021-01-20 23:00] zepumph commented on #121
Looks excellent. I think that is enough testing for now. We can always create more testing if we run into trouble in the future.

[2021-01-20 23:00] #121 closed

[2021-01-21 22:39] zepumph commented on #136
phetioArchetypePhetioID is seems to not be what you think it is. It is not for the PhetioCapsule or the PhetioGroup, but instead for its children. Let's the about dialog for example.

Here it is in Studio (sorry for the picture here):

![image](https://user-images.githubusercontent.com/6856943/105420966-c37c1d80-5bed-11eb-84df-b349e9d30943.png)

phetioArchetypePhetioID is so that `aboutDialogCapsu

[2021-01-23 03:18] zepumph commented on #136
Ready to close?

[2021-01-23 21:40] samreid commented on #87
For Friction, @zepumph recommended uninstrumenting the Atoms. When we looked closer, we saw that the tandem passed to Atom wasn't actually used.  So I uninstrumented them, but testing in the state wrapper noticed that sometimes things get out of sync:

![image](https://user-images.githubusercontent.com/679486/105614741-6b2d5300-5d88-11eb-97b3-a83d7660d479.png)

But that is a pre-existing problem a

[2021-01-23 21:46] samreid commented on #87
Before I started on Molarity, I noticed its tick mark labels are not showing:

![image](https://user-images.githubusercontent.com/679486/105614921-ce6bb500-5d89-11eb-8077-4c6cb634762a.png)

[2021-01-23 22:27] samreid commented on #136
Ah, I see. Yes, let's close.

[2021-01-23 22:27] #136 closed

[2021-01-23 22:32] samreid commented on #87
Since energy skate park has validation: false, it is actually safe to use GroupTandem to create the control points and tracks.  I considered that we may wish to wait until we revisit the sim to change this pattern, but perhaps I'll have a try at PhetioGroup to see how it goes.

[2021-01-23 23:46] samreid commented on #87
I converted EnergySkatePark to use PhetioGroup for the ControlPoints, Tracks and TrackNodes.  The sim is running in standalone mode, and Studio seems to be working OK.  I considered creating a branch to get reviewed before merging to master, but it is working well enough that I think we should commit to master soon.

Here's a patch of my current progress (needs self-review and cleanup)

<details>

[2021-01-24 04:37] samreid commented on #87
I'll continue on Energy Skate Park in https://github.com/phetsims/energy-skate-park/issues/123.  But it revealed another deprecated method that should be eliminated as part of this issue: `createFromPhetioID`.

[2021-01-24 04:56] samreid commented on #87
Summarizing work done in this issue:

* Forbid `'~'` in Tandem names, and remove special handling for it.
* Remove deprecated method `createFromPhetioID`
* Remove clearChildInstances and addChildElementDeprecated
* Addressed and eliminated all TODOs that referenced this issue
* For the sims listed in the issue description, many parts just needed to be uninstrumented.  Other cases used static indic

[2021-01-26 16:41] KatieWoe opened #227 "CT PhetioObject not found"
Number of sims failing CT with similar issues:
[code]

[2021-01-26 18:19] samreid commented on #227
Tagging for https://github.com/phetsims/phet-io/issues/1657 and proposed fix committed and testing OK locally, closing.

[2021-01-26 18:19] #227 closed

[2021-01-28 03:48] zepumph commented on #147
I went ahead with the patch, and added a bit of code to improve efficiency once tandem has been launched.  I struggled a bit on what should be testing. Studio ran fine, and the unit tests passed. Can you please review?

[2021-01-28 23:14] zepumph commented on #87
This is some really great stuff. Thanks for taking the lead here. It's great to see this old pattern gone!

For color vision I saw that you just uninstrumented but didn't replace. I noticed https://github.com/phetsims/color-vision/issues/134, so I made a note there. Perhaps there are more like that but I didn't see.

I can't think of anything else here. Great work.

[2021-01-29 18:03] samreid commented on #147
I reviewed the commits and don't have any further recommendations.  I'm not sure what else to test, but this issue seem OK to close.

[2021-01-29 18:03] #147 closed

[2021-02-02 16:27] samreid commented on #87
Yes, as described in https://github.com/phetsims/tandem/issues/87#issuecomment-766291464:

I also added a comment about color vision: https://github.com/phetsims/color-vision/issues/134

Thanks, closing.

[2021-02-02 16:27] #87 closed

[2021-02-02 20:58] samreid commented on #81
This was corrected by commits in https://github.com/phetsims/phet-io/issues/1469, closing.

[2021-02-02 20:58] #81 closed

[2021-02-02 20:58] samreid commented on #69
`disallowTandem` has been deleted, closing.

[2021-02-02 20:58] #69 closed

[2021-02-02 21:02] samreid commented on #28
This was corrected in https://github.com/phetsims/tandem/issues/26 and subsequent commits, closing.

[2021-02-02 21:02] #28 closed

[2021-02-02 21:07] samreid commented on #27
We removed this interface in https://github.com/phetsims/phet-io/issues/1422, closing.

[2021-02-02 21:07] #27 closed

[2021-02-03 03:04] samreid commented on #184
I applied a workaround (aka "hack") for this in https://github.com/phetsims/energy-skate-park/commit/6088ad3630fc810d273be704a5260a0223e6c6cd, where I mocked up the PhetioGroup interface to "uninstrument" it.

[2021-02-03 03:07] samreid commented on #204
It feels like this issue should be higher than a lot of the mediums, but perhaps not "high" priority.  What if we had a medium high priority?  Well, I'll mark it as high for now.

[2021-02-03 03:09] samreid commented on #223
This feels like higher priority to me, since it affects public API and how we name and conceptualize the types.

[2021-02-03 03:10] samreid commented on #216
This seems higher than medium priority, and related to https://github.com/phetsims/tandem/issues/223.  Marking "high" until we know more.

[2021-02-03 03:12] samreid commented on #157
The `tandemName` is now the first parameter of `createCorrespondingGroupElement`, closing

[2021-02-03 03:12] #157 closed

[2021-02-03 03:20] samreid commented on #183
This issue is showing up in "open issue" searches.  When I have seen that problem, before, it helps to reopen and reclose the issue.

[2021-02-03 03:20] #183 closed

[2021-02-03 18:32] samreid commented on #166
Many usages of `Tandem.ROOT` are in unit tests. For this I'll introduced `Tandem.ROOT_TEST`.

[2021-02-03 18:47] samreid commented on #166
Some issues inadvertently got referenced to https://github.com/phetsims/joist/issues/672, I'll link them back to here.

[2021-02-03 18:52] samreid commented on #166
OK, I've got some erroneous commit messages but I think everything is ready to review for this issue.

The commit messages with "Use GLOBAL and GENERAL sub-tandems, see phetsims/joist#672 " should be carefully checked, since they change sim-specific API tandems that used to be GLOBAL/GENERAL, I took my best guess on putting things under model/view.

https://github.com/phetsims/tandem/commit/c97e66

[2021-02-03 20:32] pixelzoom commented on #166
@samreid:

About https://github.com/phetsims/gas-properties/commit/fe48d489299ca1bb02ed45e58fe5df0c1544304f:

The change you made looks totally buggy. Did you look at this in Studio?

<img width="358" alt="screenshot_849" src="https://user-images.githubusercontent.com/3046552/106805185-9daa3c00-6623-11eb-9850-bf1219eb6fd3.png">

About https://github.com/phetsims/gas-properties/commit/fe48d489299ca

[2021-02-03 20:32] pixelzoom commented on #166
https://github.com/phetsims/ph-scale/commit/840da2c9f0cb0e05187e015a6b03d2a5f1a9cbbe is also buggy, bad Studio structure now in ph-scale.

[2021-02-03 20:33] pixelzoom commented on #166
https://github.com/phetsims/ph-scale/commit/840da2c9f0cb0e05187e015a6b03d2a5f1a9cbbe is also buggy, bad Studio structure now in ph-scale.

I haven't looked at the sims that I'm not responsible for. But I suggest that you take a look at all of the sims that you changed in Studio.

[2021-02-03 20:43] pixelzoom commented on #166
Raising priority to high because at least 2 sims are now broken.

[2021-02-03 20:57] pixelzoom commented on #166
natural-selection and ph-scale were fixed in the above commits.

[2021-02-03 22:55] samreid commented on #166
I reviewed the other commits and did not see other blocking changes, ready for review.

[2021-02-04 00:46] zepumph commented on #166
Looks great to me. Good work. Anything else here?

[2021-02-04 04:45] samreid commented on #166
All set, thanks!  Closing.

[2021-02-04 04:45] #166 closed

[2021-02-04 04:48] samreid commented on #23
We improved this in https://github.com/phetsims/tandem/issues/191, now it reads from chipper if available, otherwise creates a fallback.  Closing.

[2021-02-04 04:48] #23 closed

[2021-02-05 00:15] samreid commented on #204
@zepumph I just want to touch base with you before starting on this issue.  Is our plan still good?  I'm happy to implement, let me know.

[2021-02-05 00:33] zepumph commented on #204
Yes thanks, I really like https://github.com/phetsims/tandem/issues/204#issuecomment-683496339, please make sure that addLinkedElement asserts that you pass it of type `LinkedElement`.

[2021-02-08 02:59] samreid commented on #151
I addressed the cases I could easily discover.  The old pattern doesn't appear in the wrapper template, so that didn't need to be updated.  I was able to delete `PhetioIDUtils.getGeneralID`.  Ready for review, please close if all is well.

[2021-02-08 16:16] samreid commented on #223
I'd like to hear feedback from @zepumph on https://github.com/phetsims/tandem/issues/223#issuecomment-719601299 before working on this issue further.

[2021-02-08 16:53] samreid commented on #204
I'd like to touch base one one aspect before converting all 49 occurrences to the new pattern.

The original code had:

[code]

That is, a LinkedElement would only be created if the core element is instrumented.  We could accomplish that with a guard at every call site, like so:

[code]

But that is a lot of boilerplate-ish guards.  I wonder if it is too clever to do something like this in LinkedE

[2021-02-11 04:05] zepumph commented on #151
Excellent! Thanks

[2021-02-11 04:05] #151 closed

[2021-02-11 04:07] zepumph commented on #223
I like the way that FunctionIO and NumberProperty is currently more than I like having that assertion. If you disagree and would rather change all types with parameters to include `<` then we should discuss this more, perhaps in person.

[2021-02-11 04:13] zepumph commented on #216
I think this is slightly a duplicate of https://github.com/phetsims/tandem/issues/223. Personally, I don't feel like we need to do anything with this issue. It is more important to me that we make sure that `parameterTypes` are set correctly, and not that `<>` are exclusive only to a type with parameters, as it will never be a complete list (like for Function).

Feel free to close this issue if yo

[2021-02-14 04:43] samreid commented on #216
I agree it is perfectly natural to use types like `ActionIO<>` etc.  In the commit, I removed the commented-out code, closing.

[2021-02-14 04:43] #216 closed

[2021-02-24 19:27] zepumph commented on #124
This minor discrepancy is more trouble than its worth to fix at this point.

Sounds good past Michael!

I think we should close this issue

[2021-02-24 19:27] #124 closed

[2021-02-24 19:31] zepumph commented on #60
I see no more worrisome checks in the code like `    if ( options.hasOwnProperty( 'phetioReadOnly' ) ) {`

We continue to use https://github.com/phetsims/tandem/issues/60#issuecomment-409667107 as a way to specify defaults in types that will pass them to their composed children. This seems good to me. I recommend no more changes here.

[2021-02-24 19:31] #60 closed

[2021-02-24 19:35] zepumph commented on #115
Hiding the actual array has been working well so far. PhetioGroup has a forEach method that could be changed if we change the underlying array. Thus far I haven't seen a need for a set or map instead. I recommend closing this issue. If you disagree, I recommend we meet to discuss the particular CCK example, and why the current PhetioGroup wasn't working as desired.

[2021-02-24 19:39] zepumph commented on #56
I still really want https://github.com/phetsims/axon/issues/260 to happen, though I don't think this issue needs a priority to match that one. We can just keep it on hold.

[2021-02-25 22:12] samreid commented on #115
This seems OK to close for now, closing.

[2021-02-25 22:12] #115 closed

[2021-03-02 00:14] zepumph opened #228 "Should Tandem.supplied be public only to PhetioObject?"
I thought of this while reviewing https://github.com/phetsims/joist/issues/616. It seems like we should prefer `PhetioObject.isPhetioInstrumented()` instead of `Tandem.prototype.supplied`. I only see 6 usages outside of Tandem and PhetioObject.

@samreid will you review this untested patch and see what you think? All the other usages occurred before the `super` call, yet this patch for Property se

[2021-03-02 13:50] samreid commented on #228
That looks like a good improvement.  It also seems we should guard it with `VALIDATION`, like so:

[code]

Sound OK?

[2021-03-04 22:20] zepumph commented on #228
We don't guard in other cases. Should we?

https://github.com/phetsims/sun/blob/260e29027c31d1193a830a22417e337e476e2b8b/js/buttons/RectangularRadioButton.js#L82-L83

I understand why you want to, but I also feel like it further separates the code path for phet and phet-io.

[2021-03-05 16:00] samreid commented on #228
I was going with the "incremental instrumentation" philosophy where that style of validation wouldn't be checked until necessary.  But maybe this is a middle ground where "if the tandem was provided, it should be correct".  I don't have a strong preference, what's your recommendation?

[2021-03-05 17:44] samreid commented on #223
NumberProperty was discussed in https://github.com/phetsims/tandem/issues/216.  @zepumph commented that he prefers FunctionIO the way it is, which is like so: `FunctionIO(${parameterTypesString})=>${returnType.typeName}`.  The code in question was removed as part of #216, closing.

[2021-03-05 17:44] #223 closed

[2021-03-05 19:32] zepumph commented on #228
I actually think I have heard the opposite opinion from instrumenters like @pixelzoom, where it is sometimes MORE confusing to only get the assertion in PhET-iO brand, since it splits the code path. Perhaps you may be developing in PhET brand for some time, and then run it once in PhET-iO and find that you reach an assertion error that has nothing to do with your changes because of commits earlier

[2021-03-05 19:43] pixelzoom commented on #228
In general, it's preferrable to verify as many things as possible in all brands.  The more brand-specific code paths that you introduce, the more likely that something is going to break "now" and not be noticed until "later".

[2021-03-05 20:05] samreid commented on #228
Excellent point, thanks!  I removed the validation guard for this case.  There are 32 occurrences of `Tandem.VALIDATION`, should we open a new issue to check if any of them should be removed?

[2021-03-05 22:11] zepumph commented on #228
It sorta relates, since many check on `isPhetioInstrumented()`. In general we guard on VALIDATION when we don't want to expose that part of the PhetioObject api in PhET brand. Mostly for phetioType. I think we want to be wary of over doing this though. Turning validation off is a primary way to remove "gotchas" for incremental development.

Looking through all usages, here are cases we could poten

[2021-03-08 17:33] samreid commented on #228
The cross-property ones should keep a `VALIDATION` guard, to enable incremental instrumentation.  The ones that are about a single instance should have the guard removed, and I'll commit that momentarily.  https://github.com/phetsims/axon/blob/9af0a092673437b0fdac369ee5f6b483893d7d8b/js/PropertyStateHandler.js#L93 seems general enough that I'd want to leave it as it is.

[2021-03-08 17:34] samreid commented on #228
Back to @zepumph to proceed with the review.

[2021-03-09 01:20] zepumph commented on #228
Well said!

Closing

[2021-03-09 01:20] #228 closed

[2021-03-11 00:16] zepumph commented on #204
Thanks, I always get those reversed. I'd say go for the api change! Let me know if I can help.

[2021-03-12 00:00] pixelzoom opened #229 "PhetioObject lacks assertion messages for validation failures"
In https://github.com/phetsims/phet-io/issues/1589#issuecomment-789987905, I identified impediments to PhET-iO instrumentation, including:

A good place to start would be assertion messages for validators in PhetioObject. This is typical of the lack of assertion messages for validators, which is one of the reasons I don't use them.

Here's the example that motivated this issue.  I'm trying to do s

[2021-03-12 02:47] zepumph commented on #229
I committed a fix just for phetioDocumentation as part of a proposal over in https://github.com/phetsims/axon/issues/346. If that goes well, we can add messages to the rest of the validations in this file.

[2021-03-18 17:06] zepumph commented on #229
@pixelzoom, I want to note that I just found the comment above the phetioDocumentation validator:

https://github.com/phetsims/tandem/blob/b8fa64d34f560181a3ab15faf17fa765512c6053/js/PhetioObject.js#L32-L33

so you can use `<br>` to get new lines.

[2021-03-18 18:19] jonathanolson commented on #181
I'll look into the catching of uncaught errors.

Current state of undone tests are the light gray:

![image](https://user-images.githubusercontent.com/480878/111676819-2f40c800-87e4-11eb-8ce3-7f7dd0932a9d.png)

Note that this HID the failure of https://github.com/phetsims/scenery/issues/1183

[2021-03-19 01:38] zepumph commented on #181
I just spent all afternoon fuzzing GFL state wrapper, and there were no issues. I also was curious if it had to do with phetLibs being needed, but I didn't see anything suspicious.

[2021-03-25 15:08] jonathanolson commented on #181
Almost all tests were run in the burned-in snapshots. Every single test has run in the last week. I believe this is fixed, closing.

[2021-03-25 15:08] #181 closed

[2021-03-26 16:11] pixelzoom opened #230 "Use nested options for PhET-iO options"
In a Slack discussion where I was grousing about verbose option names for PhET-iO, @samreid asked if I had any recommendations.   Glad you asked!

Options related to PhET-iO are currently "flat".  A big improvement would be to use nested options, putting all PhET-iO options under `phetioOptions`.

Benefits of using nested options here:
* It conforms to PhET standards for options and nested options

[2021-03-26 16:47] pixelzoom commented on #230
Here's a plan for converting to `phetioOptions`:

1. Identify all of the options that are currently specified in the "flat" `options` hash.
2. Where those options are used, convert to `phetOptions` nested options. Add assertions that the flat options are undefined in `options`, to catch any call sites that might be missed.
3. Convert call sites to `phetioOptions`.
4. Test locally in aqua to identi

[2021-03-26 16:53] zepumph commented on #230
In general I am a bit more weary of this pattern than you seem. I don't want to diminish the original impetus for this issue, in which there seems to be a burden to options management because of PhET-iO naming convention's verbosity. I want to work on that as far as we as a project feel like it needs to. That said I have some thoughts creating `phetioOptions` nesting.

*>It conforms to PhET standa

[2021-03-26 17:10] pixelzoom commented on #230
If you consider nest options only relevant to nested compositions, that is a narrow (and imo incorrect) view of nested options. Yes, PhET has been using nested options mainly for composition, e.g. `buttonOptions` or `textOptions`.  (And I have concerns about that, because it breaks encapsulation by exposing implementation details, but I digress.)  There is absolutely no reason why nested options c

[2021-03-26 17:23] pixelzoom commented on #230
The basis for your arguement seems to be that this doesn't fit into the pattern of using flat options for class hierachy and using nested optons for composition.  Imo that's a weak argument, and a rather limited view of organizing options.  If there are advantages to be had to organizing in other ways (in this case, by feature set), I'd like to hear why that's not appropriate.

Two big differences

[2021-03-29 23:01] samreid commented on #230
To understand the tradeoffs of the proposal in a practical scenario, I navigated to Fourier, searched for `phetioType` and converted the first case I saw, here is a picture of the diff:

![image](https://user-images.githubusercontent.com/679486/112909811-5d10f100-90af-11eb-8fd8-8052502cc68b.png)

I understand the argument for combining conceptually related options together, but the increased verbo

[2021-04-01 21:00] zepumph opened #231 "PhetioIDUtils to be loaded by node code"
Over in https://github.com/phetsims/phet-io/issues/1750, we wanted to use PhetioIDUtils in phetioCompareAPIs, but that function is exported flexibly to be used by Node or the browser. We should adopt a similar pattern for PhetioIDUtils for use in chipper.

[2021-04-09 17:59] zepumph opened #232 "Move ObjectIO to PhetioObject"
This will help with https://github.com/phetsims/phet-io/issues/1753, and also just makes sense in general. Tagging @samreid.

[2021-04-09 18:23] zepumph commented on #232
I got totally stuck here with circular dependencies.

We need IOType from PhetioObject (like when we create ObjectIO), but IOType needs to know about the base supertype, which is PhetioObject.ObjectIO. I tried to use `phet.tandem.PhetioObject.ObjectIO`, but not all IOTypes are used by PhetioObjects, like FunctionIO and EnumerationIO. I thought I could get around this in a hacky way by just importi

[2021-04-09 20:27] samreid commented on #232
Here's a patch that moves out the defaults for reuse in PhetioObject and IOType:

<details>

[code]

</details>

[2021-04-09 20:38] zepumph commented on #232
The above is not ideal, but we think it will work better than other ideas:

* Moving IOType and ObjectIO into PhetioObject.
* We couldn't think of anything else.

[2021-04-09 21:15] zepumph commented on #232
We will continue with the above patch, to be applied over in https://github.com/phetsims/phet-io/issues/1753, closing

[2021-04-09 21:15] #232 closed

[2021-04-12 16:36] pixelzoom commented on #230
I'm happy to just close this issue, if nesting PhET-iO options is going to create more problems than it addresses.

[2021-04-15 16:04] samreid commented on #230
I'd appreciate a subgroup meeting between @samreid @pixelzoom and @zepumph to make sure I understand the issue.  It may even be a brief meeting where we ultimately close the issue.  But I don't think this needs to be marked for phet-io meeting.  Please correct me if I'm wrong about any of that.

[2021-04-16 16:56] samreid opened #233 "Better default for phetioDynamicElementName"
From https://github.com/phetsims/phet-io/issues/1753, `phetioDynamicElementName` has a default value of `null` which can never occur.

From the documentation:

[code]

The question is whether we could eliminate this complexity by specifying a default value of `"element"` for groups and `"instance"` for containers.

@zepumph what do you think?

[2021-04-20 19:55] samreid commented on #230
I'm also wondering how we would solve this problem with typescript, and how our options pattern may be handled in typescript.  See https://github.com/phetsims/tasks/issues/987#issuecomment-820730972.  I'll reach out to @zepumph and @pixelzoom for scheduling a discussion

[2021-04-20 23:01] zepumph commented on #84
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 23:03] zepumph commented on #53
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-21 18:04] pixelzoom commented on #230
Zoom meeting with @samreid @zepumph @pixelzoom

We decided that PhET-iO options are fine as is, the "phetio" prefix is useful, and verbose option names are OK.  There are a couple of options that need a reminder about the "phetio" prefix (e.g. `enabledPropertyPhetioInstrumented`), but they will be addressed in phetsims/scenery#1202.

Also... The "phetio" prefix indicates an API feature, does not i

[2021-04-21 18:04] #230 closed

[2021-04-22 16:56] pixelzoom opened #234 "Get the duration of a SoundClip"
As I'm starting to add sound to Fourier, I'm seeing code like this in WaveInteferenceSlider.js:

[code]

Setting the time between sounds empirically is brittle.  Can we add a method to get the duration of a SoundClip, based on it's configuration (playback rate, etc.)?

[2021-04-22 17:05] pixelzoom opened #236 "Relationship between SharedSoundClip and SoundClip?"
Related to #235...

SharedSoundClip is in fact not a SoundClip.  It uses SoundClip via composition, and has a (private) `soundClip` field.

Based on #235, perhaps it should be renamed SharedSoundPlayer?  That would solve the naming confusion that exists both here and in #235.

I'd also like to hear why you didn't implement using inheritance, i.e. `SharedSoundClip extends SoundClip`.   Was the inte

[2021-04-22 17:07] pixelzoom opened #237 "SharedSoundClip stop is needed"
Until https://github.com/phetsims/tandem/issues/236 is addressed, I have a need in Fourier to `stop` a shared sound clip (or sound player, or whatever we're calling it.)

@jbphet is it OK to add a `stop` method to SharedSoundClip?

[2021-04-22 17:11] pixelzoom commented on #236
I asked:

Based on this comment, the answer would seem to be "yes".

[code]

But now I need to add `stop`, and that seems reasonable.  And I'm going to have to change at least 2 comments about "only play".

[2021-04-22 17:24] pixelzoom commented on #237
Since I need to move forward quickly, I went ahead and added `stop`.   It seems relatively uncontroversial - if you're able to `play`, you should be able to `stop`.   I also adjusted the doc accordingly, to maintain the "only play and stop" philosophy.

Over to @jbphet for review.

[2021-04-22 19:03] jonathanolson opened #238 "branch: record"
For https://github.com/phetsims/scenery/issues/1196

[2021-04-22 20:45] pixelzoom commented on #234
I'll need to do this for shared sounds.  So this will also involve added an adapter method to SharedSoundClip.

[2021-04-22 23:04] zepumph commented on #233
So something like this?

[code]

Seems fine to me, no real preference either way. It may even be slightly more confusing because these strings are arbitrary, and will likely never be used, and if they are used, it isn't because of their values, but because that exact string ("element") was a tandem name for a capsule or group. What was the issue with `null`? At least it is an explicit bogus defaul

[2021-04-23 15:27] samreid commented on #84
Deleted via the GitHub web interface, closing.

[2021-04-23 15:27] #84 closed

[2021-04-23 15:27] samreid commented on #53
Deleted via the GitHub web interface, closing.

[2021-04-23 15:27] #53 closed

[2021-04-23 16:05] #233 closed

[2021-04-26 19:28] samreid opened #239 "branch: typescript"
To support https://github.com/phetsims/tasks/issues/987

[2021-04-30 19:22] samreid commented on #231
I'm not seeing that `phetioCompareAPIs` needs PhetioIDUtils at the moment.  I'm OK with the constant `'.'` or concatenation rules being copied there.  It feels like a better long term solution would be to gravitate toward modules everywhere.

[2021-05-24 20:57] zepumph opened #240 "branch: stateSchema"
For working on https://github.com/phetsims/phet-io/issues/1774.

[2021-05-24 23:47] zepumph opened #241 "ReferenceIO instances should be phetioState: false"
I found an unimportant bug where ReferenceIO instances are often stateful, in addition to being used for Data-Type serialization. Basically, there are many ReferenceIO instances that look like this in the state. For example in Natural Selection:

[code]

Basically this is just fluff, but buggy part is that the state engine IS trying to apply state on it. This is also the case for Dialogs.

I propo

[2021-05-25 00:23] zepumph commented on #241
Alright, these are out of state. It ended up being many less usages that I originally thought it would. Wahoo! @samreid please review. Note the changes in Dialog and Popupable. I think it is good to hard code phetioState values, as it seems outdated to me to have sub Properties take their phetioState from parent Nodes.

[2021-05-25 00:27] zepumph commented on #241
I merged the ReferenceIO change into stateSchema so that I can continue over in https://github.com/phetsims/phet-io/issues/1774.

[2021-05-25 16:41] zepumph commented on #241
There is a lot of CT errors that @pixelzoom reported, like:

[code]

Assigning myself back

[2021-05-25 19:07] zepumph commented on #241
I committed more fixes that I found. I'm not sure if there are more, but CT will find them. I also improved the assertion message. I'll check back later this evening to confirm all is fixed, or worst case @samreid can fix a couple as they come up using the above commit as an example.

[2021-05-25 21:54] zepumph commented on #241
CT found another bug where we were hacking around dynamic element creation issues by making dynamic container elements ReferenceIO types. That wasn't right, but it got them into state enough to trigger creation. Above I created `DynamicMarkerIO` to solve this, and to make things more explicit. This was an issue for the Dialog hierarchy. Now instead of an arbitraty referenceIO serialization, we use

[2021-05-25 21:55] zepumph commented on #241
To test that everything is working as expected, the state wrapper is your friend. I used JT and opened the AboutDialog. I also used NS because it has a bunch of custom dialogs that should be saved to the downstream sim via state.

[2021-05-26 12:45] pixelzoom commented on #241
In commit messages above, DynamicMarkerIO was desribed as a "hack":

So is this really "ready for review", or is a real solution needed?

[2021-05-26 12:47] pixelzoom commented on #241
About ReferenceIO in https://github.com/phetsims/tandem/issues/241#issuecomment-848291033, @zepumph said:

Why isn't this the default?
Is there an assertion in ReferenceIO that verifies this requirement?

[2021-05-26 12:50] samreid commented on #241
Maybe this could be parsed as:

[2021-05-27 14:54] pixelzoom commented on #241
Some sims were still failing in CT this morning 5/27/21: concentration, FAMB, molecule-polarity, ...

[2021-05-28 18:44] samreid commented on #241
Most objects should have `phetioState: true` which is codified here: https://github.com/phetsims/tandem/blob/6feaf45b1a4a6b75684b312093ee1ed721fb2bbb/js/TandemConstants.js#L21-L37.  There is a single inheritance hierarchy, so all PhetioObjects inherit this default--there is not a separate hierarchy for objects that will be associated with ReferenceIO.

There is a downstream assertion in `Reference

[2021-05-28 18:55] samreid commented on #241
After adding the assertion, I followed CT and the reports above to visit sims with this problem, and I changed them to `phetioState: false`.  @pixelzoom can you please review everything since this comment? https://github.com/phetsims/tandem/issues/241#issuecomment-848739073. After review, please reassign to me to monitor CT.

[2021-05-29 20:52] samreid commented on #241
The assertion added earlier was too specific.  I documented why, and removed it, and will wait for another round of CT to check on things.

[2021-06-01 23:50] samreid commented on #241
CT seems OK again.  @pixelzoom can you please review everything since this comment? https://github.com/phetsims/tandem/issues/241#issuecomment-848739073.

[2021-06-07 16:01] pixelzoom commented on #241
I don't see any problems with the commits since https://github.com/phetsims/tandem/issues/241#issuecomment-848739073.  But I predict that forgetting to specify `phetioState: false` for a ReferenceIO subtype this will be a contiual problem.

Closing.

[2021-06-07 16:01] #241 closed

[2021-07-03 21:39] samreid opened #242 "Why does PhetioDynamicElementContainer.js get simHasStarted from phetioAPIValidation?"
From https://github.com/phetsims/phet-io/issues/1648, there is a TODO:

// TODO: why do we get this information from phetioAPIValidation? Does recent API file work change this? https://github.com/phetsims/phet-io/issues/1648

[2021-07-06 15:24] pixelzoom opened #243 "Detect memory leaks caused by failure to de-register tandems."
Forgetting to dispose of subcomponents that have registered tandems is a common mistake (see https://github.com/phetsims/sun/issues/710). It creates a memory leak. And there's currently no support for catching this type of problem.

Should an assertion be added that prevents a parent tandem from being deregistered when it has child tandems registered?   For example, suppose that we have the follow

[2021-07-08 14:04] zepumph commented on #243
This is relatively similar in topic to recent discussion in https://github.com/phetsims/circuit-construction-kit-common/issues/704#issuecomment-873235709. We tried to add that assertion when creating the disposal/removal code, but ran into trouble because not all Tandems are tied to a PhetioObject. Thus if you have a child, you have no way of knowing if it should have been disposed, or if it is an

[2021-07-08 14:31] zepumph commented on #242
Thanks.

[2021-07-08 14:31] #242 closed

[2021-07-09 16:25] samreid commented on #229
@zepumph what remains to be done for this issue?

[2021-07-09 17:17] samreid commented on #243
I tested this patch by running http://localhost/main/circuit-construction-kit-dc/circuit-construction-kit-dc_en.html?brand=phet-io&phetioStandalone (note assertions and debugger are disabled)

<details>

[code]

</details>

It correctly detected bug in https://github.com/phetsims/circuit-construction-kit-common/issues/704#issuecomment-873235709 where the FireListener wasn't being disposed.  That t

[2021-07-09 17:28] pixelzoom commented on #243
To circle back to the first comment in this issue...  PhET-iO makes is easy to create memory leaks by forgetting to unregister tandems.  There is currently no support for detecting such a leak. Such leaks definitely exist in current common code.  So I'm proposing that PhET-iO prevent the programmer from creating such leaks.  And I don't particularly care how that's implemented. That said...

I don

[2021-07-09 20:07] samreid commented on #243
To elaborate on the proposal, it is an implementation of this idea: When a PhetioObject is disposed, in the next frame, assert that its instrumented descendants are also disposed.  It is done in the next frame (asyncronously) so there is no constraint on the order of whether children or parents must be disposed first.

That is already handled well by phetioAPIValidation.

[2021-07-10 02:54] samreid commented on #204
Upon reflection, I think we should avoid the overhead entailed in the proposal in https://github.com/phetsims/tandem/issues/204#issuecomment-775286305.  It would be preferable to have a utility function that short circuits and returns null where appropriate, instead of having an awkward constructor.  I also considered the following patterns:

### Dependency injection
[code]

where the clients woul

[2021-07-12 18:02] zepumph commented on #229
Adding messages to all validators. Please review.

[2021-07-12 18:27] zepumph commented on #243
The second patch, with some minor adjustments, was looking really nice. A great idea to kick it off to the next tick! I committed after fuzz testing every phet-io sim in local aqua fuzzing.

@pixelzoom can you please review with your context. Also note that we have no registry in phet brand, so this is only for PhET-iO brand (not sure if this was the scope you were hoping for).

[2021-07-12 18:43] zepumph commented on #231
Sounds good.

[2021-07-12 18:43] #231 closed

[2021-07-12 18:45] zepumph commented on #204
I'm fine closing. But first will you comment on if TypeScript has tools to assist in this problem?

[2021-07-12 18:48] samreid commented on #204
TypeScript has the same "no circular imports allowed" problem that JavaScript has, I'm not aware of other TypeScript features that would help this case.

[2021-07-12 18:48] #204 closed

[2021-07-13 03:54] samreid commented on #229
I skimmed the messages and they sound reasonable, and I tested with newlines in molecule polarity phetioDocumentation and saw this error:

[code]

This seems reasonable to me, @pixelzoom would you like anything else for this issue?

[2021-07-13 14:25] pixelzoom commented on #243
This is a nice improvement. Let's see how it works out in pratice, and if it catches potential memory leaks.

Closing.

[2021-07-13 14:25] #243 closed

[2021-07-13 18:56] pixelzoom commented on #229
Messages look reasonable to me too. Closing.

[2021-07-13 18:56] #229 closed

[2021-07-15 18:49] samreid commented on #240
@zepumph do we still need this branch?

[2021-07-16 17:12] zepumph commented on #240
Nope, deleted. Thanks

[2021-07-16 17:12] #240 closed

[2021-07-28 21:28] samreid opened #244 "Create MapIO"
Greenhouse may need a MapIO

[2021-07-28 22:27] samreid commented on #244
@jessegreenberg and I created this today, but did not have an opportunity to take it for a test drive in any circumstance.  Greenhouse is under revision and may not need this feature soon.  Still, it seems like the right direction for master, so I've left it committed and added a note about its status.  I'm planning to unassign myself until we have a use case for this again, but @zepumph can you t

[2021-07-29 14:31] zepumph commented on #244
The implementation looks solid to me. I factored out the isValidValue function to remove the todo. I think used this patch to explore it.

[code]

It showed me this state in the state wrapper. . . .

[code]

Then in the downstream sim I see that it is getting reconstituted very nicely too (from the console):

[code]

I'm ready to close this issue, with or without a checked in usage. Good work you

[2021-07-30 19:15] zepumph commented on #244
@jbphet and I just spent some time on MapIO, and I realized that these two isValidValue functions should not be the same. One validates the instance, and the other validates the stateObject (object literal). Commit coming soon!

[2021-07-30 19:30] zepumph commented on #244
We were blocking the pairing session on greenhouse that @jbphet and I were having, so I did a quick fix with a couple of TODOs. I'll add myself as an assignee, and remove review. Feel free to take this on if you want though (no need to if you don't).

[2021-09-02 16:48] zepumph commented on #244
I removed a TODO which was caused by a gotcha I put in ValidatorDef about having valueType + arrayElementType together. I updated it to make things more graceful, but still supportive with good error messages. I also updated some tests to be clear.

As for MapIO. . . this has been in Greenhouse effect for over a month now. Here is an example of a usage's toStateObject output for

`    modelObjectT

[2021-09-02 17:19] samreid commented on #244
That looks reasonable to me, closing.

[2021-09-03 18:20] zepumph opened #245 "fromCoreType should use CoreType.STATE_SCHEMA and not the stateSchema option"
While working on https://github.com/phetsims/phet-io/issues/1782, I see 9 usages. Let's just put the schema on the type instead, and assert that we don't supply with options (like we do for all other state methods). Tagging @samreid so he is aware of it.

[2021-09-03 19:25] zepumph commented on #245
This made fromCoreType a bit simpler, and I think it will help us out over in https://github.com/phetsims/phet-io/issues/1782. @samreid, please spot check things and feel free to close.

[2021-09-11 21:20] zepumph opened #246 "Serialization of NaN and infinities"
From https://github.com/phetsims/density/issues/87#issuecomment-916541483:

I think we should assert that we aren't serializing NaN, since `typeof NaN === 'number'` so that we aren't catching this in the validator.

I also thought we were successfully serializing infinity, so we should check on that. Tagging @samreid.

[2021-09-11 21:42] zepumph commented on #246
Alright, I supported NumberIO in Vector serialization, and also throw an error for NaN now. I wrote tests to outline NumberIO's serialization strategy. @samreid please review.

[2021-09-16 16:48] zepumph commented on #245
There is a large bug that was discovered while supporting @jbphet over in https://github.com/phetsims/greenhouse-effect/issues/85, For composite schemas, we need to know if the children should be deserialized with fromStateObject or with applyState. I think the best path forward to to begin to embed the "defaultDeserializationType" into the IOType. This has long been on my wishlist, over in https:

[2021-09-16 22:37] zepumph commented on #245
The above commits fix this, be adding IOType.defaultDeserializationMethod. This is how a stateSchema can know how to deserialize its component. The commit feels pretty safe, but I'm unsure this is the best direction. What about something more general like over in https://github.com/phetsims/phet-io/issues/1583. I feel like we added complexity, instead of adding an organizational property that coul

[2021-09-17 20:47] zepumph opened #247 "stateSchema bug validating between value vs composite schemas"
Related to work in https://github.com/phetsims/tandem/issues/245,

@jessegreenberg and I found a bug where because a stateschema was given a composite schema (Vector2IO) incorrectly, and should have been given a value stateSchema (NullableIO( Vector2IO )), when passing in a value (null), we got a truly atrocious error message:

[code]

Basically, when you get down to it, checkLevel expects a compo

[2021-09-20 19:28] zepumph commented on #245
Hey, @samreid, I'm very sorry that I have made things confusing here. This was totally the wrong issue for work https://github.com/phetsims/tandem/issues/245#issuecomment-921065520 and below. It should have instead been but on https://github.com/phetsims/phet-io/issues/1782 instead.

[2021-09-21 18:40] samreid commented on #245
@zepumph and I reviewed https://github.com/phetsims/phet-io/issues/1782 and this.  We didn't reorganize everything for https://github.com/phetsims/phet-io/issues/1583 but this is a nice addition for what's already in place.  Thanks!  Closing.

[2021-09-21 18:40] #245 closed

[2021-10-02 03:15] samreid commented on #246
Everything looks great!  A few questions, some for my own education:

1. Vector2 supports NaN but Vector2IO doesn't.  Should that be rectified, either by removing NaN from Vector2 support or by adding NaN support to NumberIO?  Could be a separate issue for "later"
2. Vector2 has this code.  Could the toStateObject be powered by the state schema?
[code]
3. I rewrote the NumberIO with ternaries, can

[2021-10-08 04:54] samreid commented on #246
On second thought, back to @zepumph to see if there's anything else.

[2021-10-08 15:04] #246 closed

[2021-10-14 22:30] samreid opened #248 "Can PhetioDynamicElementContainer.disposeElement be marked as public?"
From https://github.com/phetsims/circuit-construction-kit-common/issues/749, even though the overrides of disposeElement are marked as public, TypeScript used the parent annotation.  But I was confused about why it is protected in the base class?  Should it not be called typically?  I'll mark it as public to make progress in https://github.com/phetsims/circuit-construction-kit-common/issues/749, b

[2021-11-20 19:42] samreid commented on #239
Branch deleted, closing.

[2021-11-20 19:42] #239 closed

[2021-11-20 19:43] samreid opened #249 "Convert PhetioObject to TypeScript"
In Slack:

@jonathanolson said:

I said:

@jonathanolson said:

[2021-11-24 17:28] samreid opened #250 "State schema related types hyperlinks don't work in Studio when showing "Selected" types"
Discovered in Gravity and Orbits in https://github.com/phetsims/gravity-and-orbits/issues/414, and probably related to the work in https://github.com/phetsims/phet-io/issues/1781, it seems State schema related types hyperlinks don't work in Studio when showing "Selected" types.  I was able to reproduce this problem on master.  This problem did not affect the last gravity and orbits publication bec

[2021-12-02 20:59] zepumph commented on #250
Fixed above. How does that look?

[2021-12-03 15:31] zepumph opened #251 "Typescript error in PhetioObject"
`tsc` in tandem comes out clear, and there are no issues with transpile, but when I navigate to PhetioObject, Webstorm says it can't understand `_` as a variable. @samreid are you experiencing this? I was surprised because I see that lodash is included in the tsconfig.

[2021-12-03 15:33] samreid commented on #251
Mine does not show in red, but mousing over it gives this error (warning?)

![image](https://user-images.githubusercontent.com/679486/144629193-f5ebf83a-e2ee-4dc7-86bf-f1d7b2783d5d.png)

[2021-12-03 16:00] zepumph commented on #251
Hmm,

![image](https://user-images.githubusercontent.com/6856943/144633340-ec4861c5-4827-491a-b8ac-14e32e550766.png)

[2021-12-03 16:02] samreid commented on #251
I can take a look on zoom and we could try some things, but I'm not sure it can be fixed if WebStorm is acting wacky.

[2021-12-03 16:15] zepumph commented on #251
I restarted webstorm with PhetioObject open, and it seems to have fixed itself. Perhaps a dependency caching problem or something on their end.

[2021-12-03 16:15] #251 closed

[2021-12-03 16:56] samreid opened #252 "dynamic elements should only be created by the state engine when setting state"
When pressing "Preview Sim" in CCK AC studio (after putting CircuitElementNode into PhetioGroups) I get an error when at least one element is in the play area, "dynamic elements should only be created by the state engine when setting state" but it is setting state.

I have `phetioState: false` for the circuit element nodes.  Does this problem relate to the inverted trident pattern?

[2021-12-03 17:06] samreid commented on #252
Charges and fields taught me how to use `supportsDynamicState: false`, that seems to fix it.  Closing.

[2021-12-03 17:06] #252 closed

[2021-12-07 19:12] samreid commented on #250
That looks great, thanks!  Closing.

[2021-12-07 19:12] #250 closed

[2022-01-28 02:46] samreid opened #253 "Add a supplied Tandem subtype for type checking"
From slack:

Jesse Greenberg  2:14 PM
Is there an example currently of using Tandem.REQUIRED in a super class with the new options pattern? (edited)
2:19
I guess what I am finding is that I should still use
tandem?: Tandem
in the options type so that I can use Tandem.REQUIRED as a default in the optionize.
:+1::skin-tone-3:
1

Sam Reid  2:20 PM
That sounds right to me

Jesse Greenberg  2:21 PM
Coo

[2022-02-11 16:09] samreid opened #254 "Convert PhetioDynamicElementContainer and subclasses to TypeScript"
For https://github.com/phetsims/center-and-spread/issues/26, we would like PhetioGroup in particular to be in TypeScript.  I'll take a look.  Also noting that converting common code to TypeScript is one of my 2022 Q1 goals.

[2022-02-11 20:27] samreid commented on #254
This also benefited from converting Emitter and Action to TS.  I followed precedent in TinyEmitter, and that worked OK.  There are several TODOs, any and ts-ignore in the PhetioDynamicElementContainer classes, but it's providing much better type support in simulation usage (as tested in CAS).  The main issue that should be worked on next is inference of the creation args--right now it is fully exp

[2022-02-11 21:05] samreid commented on #254
@jonathanolson and I did a mini-review and we think the scenery changes are good.  We also think the array pattern from TinyEmitter will work for the PhetioGroup and related classes.

[2022-03-01 16:20] zepumph opened #255 "Should low frequency events nested in high frequency emit with `?phetioEmitHighFrequencyEvents=false`"
Pondered over in https://github.com/phetsims/geometric-optics/issues/348, where it seemed weird that a high frequency event could be filtered out and its low-frequency children would be promoted to top-level events.

Poking through dataStream.js, I found some comments that hint to this being a purposeful design decision, but I'm not sure at this time.

https://github.com/phetsims/phet-io/blob/ce6f

[2022-03-01 16:39] samreid commented on #255
That comment makes sense to me, that the data stream is saying "I don't want to know about HFEs, but I do want to know about LFEs".  So if there is a LFE that was a child of a HFE, then the data stream would just show the LFE.

[2022-03-01 17:26] zepumph commented on #255
Makes sense! I bet that was from LFE that were triggered from stepSimulation or something like that. I feel good to close. Thanks for jogging my memory.

[2022-03-01 17:26] #255 closed

[2022-03-09 21:53] pixelzoom opened #256 "Vestigial visibility annotations and type expressions in TypeScript code."
PhetioObject.ts, Tandem.ts (and others?) have vestigial visibility annotations and type expression throughout the constructor, which should have been removed during TypeScript conversion.  PhET dev team decision was to remove these.

For example, in PhetioObject.ts:

[code]

Looks like @samreid did the TypeScript conversion, so assigning to him.

[2022-03-10 20:39] zepumph opened #257 "Can a LinkedElement link to a LinkedElement?"
It isn't clear that this is supported, but I think it will be important for our path forward in https://github.com/phetsims/joist/issues/743. I would like to check in on this.

[2022-03-30 15:53] samreid opened #258 "Forbid tandem name "pickableProperty""
In https://github.com/phetsims/center-and-variability/issues/105 @kathy-phet proposed:

@chrisklus and I confirmed there are no existing usages.  It's OK with me if we add an assertion guard.

[2022-04-01 15:37] zepumph commented on #258
Makes sense to me, but seems like we should have a general solution. Brainstorming time!!!

* A list in tandem that is a blacklist checked by `createTandem`
* A way to register a blacklisted tandem. For example, in Node.ts (where pickableProperty matters) statically have this line of code:
[code]

What do you think @samreid?

[2022-04-01 16:12] samreid commented on #258
I recommend consolidating the list in Tandem.

[2022-04-01 16:27] zepumph commented on #258
Sounds excellent. I feel like this is best. Anything else here?

[2022-04-01 19:47] samreid commented on #258
For review, can we please use a different term, for the reasons mentioned in https://thenewstack.io/words-matter-finally-tech-looks-at-removing-exclusionary-language/ ?

[2022-04-04 20:52] zepumph commented on #258
Sounds good. See https://github.com/phetsims/special-ops/issues/221

[2022-04-04 20:52] #258 closed

[2022-04-08 17:12] pixelzoom opened #259 "ToggleButtonIO conversion to TypeScript"
I attempted to convert sun.ToggleButtonIO to TypeScript, and ran into several problems/questions.

(1) RectangularToggleButton et. al. require parameterization (e.g. RectangularToggleButton<boolean>) which is not supported by IOType.

(3) Why is there a 'phet.sun.' prefix on these values? Why aren't imports used?

[code]

(2) What should the type be for `isValidValue: instance`?  Are we going to n

[2022-04-08 22:54] samreid commented on #259
I observed that the main reason for ToggleButtonIO existing is that it defines an event type `'toggled'`.  However, that is an old pattern that predates using `Emitter`s for the same thing.  I observed that there are no `'toggled'` events in the codebase at the moment.  Therefore, it seems `ToggleButtonIO` can be removed.

[2022-04-08 22:56] samreid commented on #259
I removed `ToggleButtonIO` in the commits, @zepumph can you please review at your convenience?

[2022-04-11 17:35] zepumph commented on #259
Yes excellent. I can confirm that we have a toggledEmitter instrumented in the button model. This is the right strategy. Thanks!

https://github.com/phetsims/sun/blob/b30e57184a4740d4a9501968924234a86bb6f6f2/js/buttons/ToggleButtonModel.ts#L59-L63

[2022-04-12 14:54] samreid commented on #259
Thanks, it seems this issue can be closed.

[2022-04-18 20:05] zepumph commented on #254
I have some of these next steps in my working copy. Commits coming soon.

[2022-04-18 20:40] zepumph commented on #254
The majority of this work is as follows:

* Update PhetioDynamicElementContainer to recent standards (remove @public/private/returns jsdoc, optionize options pattern, etc)
* Support this.archetype sometimes being null. The involved creating a getter that asserts that it is null. Many usages of defaultArguments needed to change to have a closure to ensure things existed by then. I'd call that a fai

[2022-04-20 16:29] zepumph opened #260 "Adapt PhetioDataHandler to be more typescripty"
From https://github.com/phetsims/studio/issues/253#issuecomment-1097511671:

I think this is possible, but we want to make sure that we don't forget about PhET-iO while we are at it. It could still be possible to provide these emitter args from the wrapper into PhET-iO, so keeping good-quality validation in that case seems important. @samreid can you comment here given the needs of PhET-iO?

[2022-04-22 23:04] samreid commented on #260
As mentioned in https://github.com/phetsims/studio/issues/253#issuecomment-1106984153, I hope we can eliminate all `valueType` and `arrayValueType` from validator.  But we will still need `phetioType` for IO support (though it would probably not be needed for type checking).

[2022-04-27 22:03] samreid opened #261 "Convert IOType to TypeScript"

[2022-04-28 22:12] samreid commented on #261
The conversion is partway.  I considered abandoning it or patching it, but that seems like it would be worse.  I'll commit what I have and leave this issue open/elevated until things can be improved.

[2022-04-28 22:25] samreid commented on #261
Quick CT is reporting problems for this that I cannot reproduce.

[2022-05-09 15:38] samreid commented on #254
@marlitas and I made improvements in the commit, but ran into one problem with `phetioDynamicElementName`.  @zepumph can you please review the TODO and ts-ignore and recommend how to proceed?  It is about needing multiple optionize calls since one optionize uses the results of other optionize.  (Or maybe we can find a way to do it all in the one optionize).

[2022-05-09 16:54] samreid opened #262 "PhetioGroup.getElement return type improvements"
Related to #254, @marlitas and I observed that PhetioGroup currently has:

[code]

However, it should really have return type `T | undefined` since there is no guard on the index.  Alternatively, we could throw an error if the index is out of bounds and keep the specific return type of `T`, but that would be inconsistent with how the language treats array indices/access.  @zepumph what do you reco

[2022-05-10 17:55] zepumph commented on #262
I think that we should assert that index is in range. And we could do a type assertion/coercion as well to make typescript happy.

[2022-05-11 21:17] samreid commented on #262
I was surprised to see that array access already returns the array type (without undefined).  So we don't need type assertion or coercion.  Fixed and ready for review.

[2022-05-11 23:09] samreid commented on #261
I'm glad progress started on this, but things have seemed stable for now, so I may get back to this later.

[2022-05-26 18:41] zepumph commented on #262
More discussion in https://github.com/phetsims/projectile-motion/issues/277. We aren't going to change the typescript compiler option for all array accesses, but we are keeping the PhetioGroup assertion. Closing

[2022-05-26 18:41] #262 closed

[2022-06-06 22:56] pixelzoom opened #263 "Parameterize IOType for state object type, `IOType<T, S>`"
On 6/6/2022, @marlitas initiated a discussion in Slack#typescript about IOType. She was trying to eliminate uses of `any` in mean-share-and-balance `PipeModelIO`.  IOType is currently loaded with uses of `any`, and is lacking in ability to provide type-checking.  The conclusion was that adding a second parameter variable to IOType would provide more type safety.

For example:

`class IOType<T, S>`

[2022-06-10 16:46] marlitas opened #264 "Dispose tandems when disposing phetioGroup Element"
While working on Mean: Share and Balance @samreid and I noticed a memory leak that involved tandem and dynamicTandem.

To recreate:

1. Launch Mean: Share and Balance
2. Warm up Sim, go up to 7 cups then back down to 1
3. Take a memory snapshot
4. Go up to 7 cups then back down to 1
5. Take another memory snapshot
6. Compare snapshots and organize by deltas
7. Tandem and dynamicTandem had a +delta

[2022-06-17 21:18] samreid commented on #263
@marlitas and I added support for this in the commit.

[2022-06-28 18:56] zepumph commented on #264
Great catch @marlitas! Let me do some explaining.

Tandems are already set up to be "monolithic" in the sense that only one instance of Tandem should exist for a given phetioID. Thus, if you createTandem to make something that already exists, createTandem() will just return that instance instead of creating a duplicate instance. See here:

https://github.com/phetsims/tandem/blob/ddd87c95802b465c50

[2022-07-01 16:40] samreid commented on #253
In https://github.com/phetsims/mean-share-and-balance/issues/78 @marlitas and I observed this review comment:

[code]

As mentioned above, this would allow clients to pass in `Tandem.OPTIONAL` or `Tandem.OPT_OUT` and they type checker would pass, but we would not want to allow those values (which are `Tandem` instances).

@marlitas and I experimented with creating `AbstractTandem` and using that t

[2022-07-01 16:59] pixelzoom commented on #253
I don't understand this as a motivation for `tandem: Tandem.REQUIRED`. How does specifying `tandem: Tandem.REQUIRED` prevent the client from passing in `Tandem.OPTIONAL` or `Tandem.OPT_OUT`?   `PickRequired<PhetioObjectOptions, 'tandem'>` on the other hand requires the caller to provide a tandem, and make a decision about what that decision should be.  And `Tandem.OPTIONAL` or `Tandem.OPT_OUT` are

[2022-07-01 17:04] pixelzoom commented on #253
On more point...  In previous dev meetings, we had identified `PickRequired<PhetioObjectOptions, 'tandem'>` as the preferred alternative to `tandem: Tandem.REQUIRED` in TypeScript code.  And the `PickRequired` pattern is used throughout MSAB, with the one exception (that I could identify) being `PipeNode `.

So I recommend:

* Change PipeNode to use the `PickRequired` pattern, so that MSAB is cons

[2022-07-01 17:23] samreid commented on #253
@marlitas and @pixelzoom and I discussed this in a call.  I was surprised to see that passing `Tandem.OPTIONAL` to a place where `Tandem.REQUIRED` is specified does not perform any runtime checking.  @zepumph am I misremembering something, or is that something we used to have?

With the argument that we want to be able to support `Tandem.OPTIONAL` (for icons, etc), it seems like specifying a `Pick

[2022-07-01 18:01] pixelzoom commented on #253
Here's how I understand the `tandem` option, and the patterns we've used:

* A "supplied" tandem is one whose `supplied` field is true.  `Tandem.OPT_OUT`, `Tandem.OPTIONAL`, etc. are `supplied: false` because they are essentially placeholders that are not registered with the tandem registry.

*  In sim or common code, `supplied` is useful in situations where the format of the tandem name is typica

[2022-07-06 20:15] zepumph opened #265 "Allow objects to be deleted and recreated in same frame"
There is an assertion that checks to make sure descendants are deleted on next frame, but in Buoyancy, it is buggy because we delete a PhetioCapsule element and re-create it in the same frame. We will comment out these lines until we can be more robust about this.

https://github.com/phetsims/tandem/blob/c6a65b64060582984db50eb773191b8de3d94283/js/PhetioObject.ts#L647-L649

[2022-07-07 18:00] zepumph commented on #253
Tandem.OPTIONAL is NOT a legitimate value to pass in as an option. That is why we use Tandem.OPT_OUT, to separate out intent. The only spot I can think of where this is not the case is if a supertype is Tandem.REQUIRED, and the subtype specifies a default of Tandem.OPTIONAL.

Yes, I think this the best path forward, which means that generally using PickRequired + our current options pattern for se

[2022-07-07 20:32] zepumph commented on #264
Most likely this changed is causing https://github.com/phetsims/natural-selection/issues/311#event-6954427973. I think we have to do a better job of setting the parentTandem once using that instance again.

[2022-07-07 20:46] zepumph commented on #264
Just a small extra step in making sure we don't do API validation on disposed elements.

[2022-07-09 15:21] samreid commented on #263
This issue has good progress and works great to have a state type.  I feel the next step for this issue is to remove the defaults for the type parameters: `class IOType<T = any, StateType = any> ` ==> `class IOType<T, StateType> {`.  When I do this, there are around 100 type errors.  So that may be a time-intensive chip-away.

[2022-07-09 15:43] samreid opened #266 "Convert Tandem to TypeScript"
Convert Tandem to TypeScript.  This came up several times when investigating the type-checking lint rules, so would be good to do soon.

[2022-07-09 16:21] samreid commented on #266
I ported Tandem to TypeScript, it was pretty straightforward.  For review, there is one question in a TODO.  @zepumph can you please review this change at your convenience?

[2022-07-11 23:12] pixelzoom opened #267 "Tandem name conventions are applied haphazardly."
As discovered in https://github.com/phetsims/axon/issues/398 ...

In some cases, PhET wants to ensure that tandem names follows a specific naming convention. For example, all radio buttons should have a tandem name that ends with "RadioButton".

How those conventions are applied is implemented inconsistently, and in some cases not at all. Specifically:

* `tandem.name` suffix is hardcoded in multi

[2022-07-11 23:21] pixelzoom commented on #267
In the above commits, I factored out static `TANDEM_NAME_SUFFIX` where that suffix was being duplicated.

There are a few others that I identified (by searching for `endsWith`) but was unable to address:

- [ ] ReadOnlyProperty duplicates suffix 'Property'. But attempting to factor that out to static `TANDEM_NAME_SUFFIX` resulted runtime error: `Property.ts:13 Uncaught ReferenceError: Cannot acces

[2022-07-13 18:05] samreid commented on #263
@zepumph and I discussed this and talked about adding StateSchema into this.  Keep in mind StateSchema has the two types--composite and value-oriented.  This this does not need to be done for the milestone.

[2022-07-13 20:12] zepumph commented on #266
Looks great. Thanks for converting! I'm excited for the change. Closing

[2022-07-13 20:12] #266 closed

[2022-07-14 21:48] zepumph opened #268 "Prefer prototype methods as IOType implementation functions"

[2022-07-14 23:17] zepumph commented on #261
@samreid and I had a very fruitful conversation about this today. Thoughts!:

* We kept running into trouble with how type information wasn't being conveyed via IOTypes (for supertype, then parameterTypes) and realized that making those generic type parameters is likely the way to give that info.
* IOType seems to be doing too many jobs, and we may want to subtype it to add the `stateToArgsForCons

[2022-07-14 23:22] zepumph opened #269 "Remove out dated and useless IOType methods"
While working on https://github.com/phetsims/tandem/issues/268, I came up with the following list of methods that we should likely just remove from the PhET-iO API:

**TextIO**:
* setFontOptions
* getFontOptions
* setMaxWidth
* getMaxWidth

**SliderIO**
* setMajorTicksVisible
* setMinorTicksVisible

@samreid what do you think?

[2022-07-14 23:32] zepumph commented on #268
Alright. @samreid and I like this look much better!

[2022-07-14 23:32] #268 closed

[2022-07-15 21:10] samreid commented on #269
Yes, let's remove them until we have a need for them.  The ticks visible maybe should move to a PropertyIO(BooleanIO) when needed.  Maybe same with the font options.

[2022-07-18 22:15] zepumph commented on #269
Excellent! Thanks

[2022-07-18 22:15] #269 closed

[2022-07-19 14:53] zepumph commented on #249
I would like to review this! Will you post any weirdness that you might specifically want my attention on?

[2022-07-19 14:59] samreid commented on #249
Maybe look at the ts-ignores and the options patterns?

[2022-07-25 17:32] arouinfar commented on #267
I also think so. The less I need to manually review in Studio, the better.

[2022-08-15 01:48] samreid commented on #267
I addressed the requests in the commits.  There are still a few imperfections due to other constraints:

* Tandem cannot import from Screen, so the constant is defined in Tandem
* PhetioIDUtils has a duplicated block of constants that overlap with other things.

Ready for review.

[2022-08-22 17:11] pixelzoom commented on #267
Yes, this should be discussed/addressed.   Anything that has a design convention should have a corresponding check in the code to ensure that the convention is followed.

[2022-08-22 18:08] marlitas commented on #264
This got fixed when we moved to static allocation: https://github.com/phetsims/mean-share-and-balance/issues/60
closing.

[2022-08-22 18:08] #264 closed

[2022-08-23 20:25] samreid opened #270 "Copy/paste duplication and inconsistency between all of the regexes for `isValidTandemName`"
More generally, there is copy/paste duplication and inconsistency between all of the regexes for `isValidTandemName`.  Should we create our own data structure to make it possible to "tack on" more allowed characters for certain cases?

Also note: DynamicTandem doesn't allow commas.  That is a problem too.

[2022-08-25 18:31] zepumph commented on #161
**Over in https://github.com/phetsims/axon/issues/408#issuecomment-1227454976 we determined that we do NOT want LinkedElements to support API calls forwarding to their core elements.**

[2022-08-26 17:19] samreid commented on #267
I reviewed the proposal with @marlitas and @pixelzoom and it sounded promising.  The commits also have several TODOs pointing to this issue, some of which will need to move to side issues for help from the responsible developers.

[2022-08-26 21:01] samreid commented on #267
All remaining work moved to side issues.  @zepumph do you want to review this issue?

[2022-08-27 03:35] samreid commented on #263
@zepumph made progress in the commits--I'm not sure what's next or what's left.

[2022-08-27 17:43] samreid commented on #256
I addressed this in the commit.  Some of it was previously fixed, like `@public` which is now bad-typescript-text.  Some visibility annotations remain in a *.js preload file.  Ready for review.

[2022-08-27 19:05] samreid commented on #261
I made improvements on several parts of IOType.  There is still more to go.

[2022-08-27 22:03] samreid commented on #261
I split up the deserialization options to be mutually exclusive, and it seems like it is working OK in studio and state wrapper for GAO and CCK.  But it is beyond my comfort level, so I wanted to get feedback before committing:

<details>

[code]

</details>

Questions:
* OK to get rid of the ObjectIO deserialization methods, and the assertions that require them?
* When using `stateToArgsForConstr

[2022-08-29 14:49] pixelzoom commented on #256
👍🏻 closing

[2022-09-01 17:50] zepumph commented on #267
I think a quick co-review would be the fastest here.

[2022-09-08 19:06] zepumph commented on #267
- [ ] `tandemSuffix` Text/RichText should be `Text`.

[2022-09-08 19:37] zepumph commented on #267
This blocks PhET-iO because tandem names will change for Text suffixing.

[2022-09-08 19:47] zepumph commented on #267
In the next PhET-iO design meeting, we did a PSA about the new feature of PhET-iO elements called `tandemSuffix`. So if anyone finds a type, like Button, and not all tandem names end in "Button", we can add an assertion for that.

[2022-09-08 21:35] samreid commented on #244
As discovered in https://github.com/phetsims/chipper/issues/946, there are TODOs in the code referring to this issue.  Reopening.

[2022-09-09 00:17] samreid opened #271 "Add MapIO validation for values"
Moving a TODO from https://github.com/phetsims/tandem/issues/244.  Notifying @zepumph. I believe we should spend more time on TypeScript types and less time on validators, so I won't assign this at the moment.

[2022-09-09 00:18] #244 closed

[2022-09-12 18:03] zepumph commented on #261
@pixelzoom was using supertype and found that having unknown parameters for supertype was too strict.

[2022-09-12 18:38] zepumph commented on #261
- [ ] https://github.com/phetsims/tandem/commit/4093b3c21c8518b0b111cceba62243d6323f03b5 removed the inference on the valueType, but can we add that into Validator instead of duplicating it in IOType?

[2022-09-12 18:57] zepumph commented on #263
Today @samreid mentioned that he would like to see the state type inferred in many cases when creating IOType. It wasn't clear how that would be done, but it would be cool! We should discuss further.

[2022-09-12 19:40] zepumph commented on #267
renamed to tandemNameSuffix above (see https://github.com/phetsims/phet-io/issues/1855).

- [ ] We should most likely only assert about tandemNameSuffix when phetio validation is enabled. This seems like it will really bite the next person to try to instrument a pre-existing sim.

[2022-09-12 22:25] zepumph commented on #267
@samreid, anything else here?

[2022-09-13 21:43] samreid commented on #267
Everything looks great, nice work and thanks.  Closing.

[2022-09-13 21:43] #267 closed

[2022-09-19 19:59] samreid opened #272 "Why are LinkedElements phetioReadOnly: true?"
[code]

[code]

[2022-09-19 21:00] zepumph commented on #272
I thought it was buggy when I thought we were going to be building out support for calling methods on linked elements and forwarding those calls to the core elements, but the "read only" part is inherent to LinkedElementIO, and I can see it making sense. What do you prefer?

[2022-09-19 21:04] samreid commented on #272
I had expected to see it forward values like it does for `phetioFeatured`.

[code]

But I'm sure I can get used to it either way--not sure which is best.

[2022-09-29 04:18] samreid opened #273 "Eliminate IOType.fromCoreType"
From https://github.com/phetsims/tandem/issues/263, I would like to eliminate IOType.fromCoreType.  It was introduced as a convenience method, but it is making the type checking very complex and difficult, and making it difficult to make progress in classifying the different state serialization types.

We also now have well-established patterns and examples and type checking, so using the `IOType`

[2022-09-29 12:48] samreid commented on #273
To make sure I didn't miss any use cases, I instrumented `fromCoreType` to output the different parts that are being passed through to the options. Here are the results:

[code]

[2022-09-29 16:20] samreid opened #274 "Improve the serialization types for IO Type"
Related to https://github.com/phetsims/tandem/issues/263 and https://github.com/phetsims/tandem/issues/273, we should improve the serialization features for IO Type.

[2022-09-30 15:40] samreid opened #275 "Transform IOType into a type alias, which can be implemented statically/non-statically by core classes"
Starting with https://github.com/phetsims/tandem/issues/263 and its side issues https://github.com/phetsims/tandem/issues/274 and https://github.com/phetsims/tandem/issues/273, and related to https://github.com/phetsims/tandem/issues/261, I would like to experiment with combining IO Type information into the core classes.  Now that we have TypeScript, this can be accomplished by:

* Marking IOType

[2022-09-30 16:37] pixelzoom commented on #275
Why should IOType be an `interface`, rather than a `type`?

In https://github.com/phetsims/chipper/issues/1280, https://github.com/phetsims/phet-info/issues/200, we concluded that PhET should prefer `type` over `interface`.  Also in that issue, we converted many (all?) interfaces to types.  See also https://github.com/phetsims/phet-info/issues/200.

[2022-09-30 16:43] samreid commented on #275
Thanks, I updated the title and text.

[2022-09-30 17:18] samreid commented on #275
To support https://github.com/phetsims/tandem/issues/275, how can I say that an abstract class has a subclass that returns instances that match an interface?  So far I have:

type HasName = { getName: () => string };

export type CreatesHasName = {
  new( ...args: IntentionalAny[] ): HasName;
};

class Person implements HasName {
  public constructor() {

    // blank
  }

  public getName(): stri

[2022-09-30 17:59] samreid commented on #275
What is preferable, and least-surprise.  Type parameters always appear in the same order?  Or each set of type parameters makes the most sense for its case?  Which is preferable, Directory1 or Directory2?

[code]

@pixelzoom replied:

[2022-09-30 18:01] samreid commented on #275
Current progress, IOType looks like this:

[code]

And LayersModel in greenhouse will change from:

[code]

to

[code]

[2022-09-30 18:05] pixelzoom commented on #275
I'm not clear on the changes in greenhouse above.   These are static fields in what class? And does that class now implement IOType?

Also wondering if this major change should be reviewed by @zepumph before being pushed to all PhET-iO sims.  Or maybe this is something that you've already discussed with him.

[2022-09-30 20:26] pixelzoom commented on #273
Reopening.

Changes like [this one](https://github.com/phetsims/natural-selection/commit/49fafe155e76dd559406fc0dc1f8295e6cceaf72) in natural-selection violate PhET naming conventions.  Abbreviated names are discouraged, especially names like `t` and `s` that convey no information.

[code]

I have a hunch that this is what it should be, but I'd have to dig around to be sure:

[code]

@samreid you

[2022-09-30 20:30] pixelzoom commented on #273
@samreid I see similar viloations that you made for `toStateObject` and `fromStateObject` in the above commits.  Please fix these too.

[2022-09-30 20:35] samreid commented on #275
LayersModel. Here is a patch with more context:

<details>

[code]

</details>

No, the proposal is that classes would not implement IOType, but that `typeof MyClass` implements IOType.  That is because some of the parts, such as typeName, documentation, events, etc should be shared between all instances. That type is expressed on this line:

[code]

Yes, I labeled it "epic" and it would be good t

[2022-10-01 02:07] samreid commented on #275
There is already something very much like this called PhetioType in TandemConstants:

[code]

[2022-10-03 15:46] zepumph commented on #275
Very interesting stuff! I like it. Can we discuss sometime soon?

[2022-10-03 16:51] samreid commented on #275
I reached out to @zepumph and we are hoping to discuss today.  Here's my current patch for my reference:

<details>

[code]

</details>

[2022-10-07 04:09] samreid commented on #275
At today's quarterly planning meeting, we acknowledged that even though this may be a good long-term direction, we need to focus on other priorities this quarter.  Unassigning for now.

[2022-10-07 04:40] samreid commented on #273
Good idea, I improved the parameter names in the commits.  Please let me know if I missed any that you see.

[2022-10-07 04:53] pixelzoom commented on #273
Did you mean to assign this to me for review? I took a peek, looks like you got them all.  Feel free to close.

[2022-10-07 04:55] #273 closed

[2022-10-07 04:57] samreid commented on #274
I feel the long-term antidote for this problem is https://github.com/phetsims/tandem/issues/275.  Not sure if any of its ideas can be backpropagated to improve our short-term solution. My recommendation is to close this issue and wait until we can work on https://github.com/phetsims/tandem/issues/275.  I'll check in with @zepumph first.

[2022-10-07 04:59] samreid commented on #263
Not sure what else to do here until we work on https://github.com/phetsims/tandem/issues/275.  @zepumph can you advise, or can we catch up on it at an upcoming meeting?

[2022-10-10 19:40] zepumph commented on #263
I'm not exactly sure. You are probably right. I thought for a time that we were heading to a spot where the parameter types were going to be required, but that seems less than ideal. Let's make sure that we are treating https://github.com/phetsims/tandem/issues/275 as our primary issue for investigation of IOType improvements.

[2022-10-10 19:41] zepumph commented on #274
Yes, this seems like a duplicate at this point. Closing

[2022-10-21 12:31] pixelzoom opened #276 "Change PhetioCapsule phetioType to phetioValueType"
Should PhetioCapsule API be changed from `phetioType` to `phetioValueType`, as was done for DerivedProperty?

Example in PhetMenu.ts:

[code]

The `PhetioCapsule.PhetioCapsuleIO` bit is required in all cases.  So why not change to:

[code]

[2022-10-21 12:45] pixelzoom opened #288 "Document IOTypeOptions"
I'm trying to create an IOType in equality-explorer. I'm trying to understand the `supertype` options. And it doesn't help that not a single option for IOType is properly documented.  Did we not agree to document options in their type definitions?

From IOType.ts:

[code]

[2022-10-23 19:22] pixelzoom opened #277 "Add StringStateObject for StringIO."
Most IOTypes have an associated state-object type.  For example, `NumberIO` has `NumberStateObject`.

`StringIO` is different.  It currently does not have `StringStateObject`. Existing implementations of `toStateObject` and `fromStateObject` currently assume it’s `string`, and there’s no call to `StringIO.toStateObject` or `StringIO.fromeStateObject`.  I

I recommend adding `StringStateObject`, be

[2022-10-23 19:33] pixelzoom opened #278 "Anti-pattern for defining static readonly class properties."
I'm seeing a pattern of definiting static class properties that is concerning. It results in those constants being writeable when they should be `readonly`.

For example, here's Vector2.ts:

[code]

All of the `static` properties should be `static readonly`. And they should be instantiated inside the `class` definition, not outside the class definition.  Like this:

[code]

A couple of things for

[2022-10-23 19:40] pixelzoom commented on #278
This problem is widespread.  For example, looking only at IOType definitions:

@samreid I see this anti-pattern throughout cck-common:

* CircuitElement.CircuitElementIO
* Resistor.ResistorIO
* Vertex.VertexIO

@jonathanolson in density-buoyancy-common and gravity-and-orbits:

* Cuboid.CuboidIO
* Gravity.GravityIO
* Mass.MassIO
* Material.MaterialIO
* Body.BodyIO

@jbphet in greenhouse-effect, you

[2022-10-23 20:18] pixelzoom opened #279 "Serialized fields must be described in 3 different ways."
Encountered while instrumenting equality-explorer for https://github.com/phetsims/equality-explorer/issues/192.  And I've encountered this before, but TypeScript has made the problem worse, so I'm finally creating an issue.

There is an undesirable amount of duplication involved in definiting an IOType.  For example, let's look at equality-explorer Challenge.ts, where `ChallengeIO` is defined.

Fi

[2022-10-23 20:21] pixelzoom commented on #279
I should also point out that `toStateObject` and `fromStateObject` also contain a form of duplication.  For ChallengeIO:

[code]

So in general, if I change a field, I need to change it in 5 places, not 3 places.

[2022-10-23 21:37] jonathanolson commented on #278
Tried out the Vector2 example (since it was not ported that way because of ImmutableVector2), and it fails:

<img width="878" alt="image" src="https://user-images.githubusercontent.com/480878/197419433-9785a3e1-5580-4cde-8e66-bda6adea422c.png">

I don't see a way of handling this with other ways easily, can you recommend a pattern for use at this site other than what's being done?

[2022-10-23 21:38] jonathanolson commented on #278
Avoiding this pattern for most of the above cases however seems quite helpful.

[2022-10-23 23:55] marlitas commented on #278
Addressed the MSaB occurrence. Unassigning.

[2022-10-24 01:28] pixelzoom commented on #278
@marlitas Static constants should not be assigned in the constructor, because the constructor is called every time that `new Pipe` is called.   See the commit above for the correct way to define a static constant.  Let me know if you have any questions.

[2022-10-24 14:20] samreid commented on #278
I agree these are antipatterns but also wanted to point out the overlap in https://github.com/phetsims/tandem/issues/275 in which we may (as a long term solution) combine IOTypes with the core types.

[2022-10-24 14:34] pixelzoom commented on #278
Yes, there's indeed overlap with #275.  But I want to emphazied that, while the examples I've pointed to involve IOTypes, the antipattern applies to all statics, not just IOTypes.  Do a search for "public static" and you'll find many examples.

[2022-10-24 14:45] samreid commented on #277
I added the type and used it in Challenge.ts.  I'm not sure of an efficient way to find all the places it should be used.

[2022-10-24 20:12] jbphet commented on #278
Thanks for pointing this out @pixelzoom.  I made changes in quite a few places in greenhouse-effect, beyond the list shown above.  @marlitas - I agree that a lint rule for this would be helpful.

[2022-10-24 20:57] zepumph commented on #277
This regex helps finds spots where primitives are being used as types to state objects.

`type \w+StateObject = \{`

I didn't see any `string` usages. I did though see many `number` and boolean`.

In my opinion. StringIO and BooleanIO do not need equivalents in type space, because they map literally to their primitive values.  NumberStateObject is needed though to handle infinitiy. If we want to u

[2022-10-24 22:37] zepumph opened #280 "Primitive IOTypes should have much less boilerplate"
Over in #277 @samreid and I realized that we should just simplify types and state objects for number, string, and boolean, instead of continuing to build up scaffolding for them. More to explain later!

[2022-10-25 00:11] zepumph commented on #280
@samreid and I made a bunch of progress here. We realized how much less work it is to have BooleanIO StringIO and NumberIO serialize as their primitives. The only reason we hadn't done that yet is because NumberIO was serializing infinity for us. What a headache infinity was causing. So we just made it its own IOType. Only needed by RangeIO and Bounds2IO. So much nicer! This will be some API chang

[2022-10-25 00:13] zepumph commented on #277
Ok. So actually @samreid and I went the opposite direction here in https://github.com/phetsims/tandem/issues/280. Why are we adding so much junk everywhere for primitive IOTypes? The answer was because NumberIO was serializing infinity, and the rest was mindless precedent following (at least by me). Things are much more cleaned up now. We don't need to serialize number/string/boolean, they are jus

[2022-10-25 00:19] zepumph commented on #280
@samreid can you please review this and https://github.com/phetsims/tandem/issues/277#issuecomment-1289804145 and let me know if you think there is anything more to do?

[2022-10-25 00:23] pixelzoom commented on #277
Reopening.

@zepumph said:

I still see NumberStateObject in NumberIO.ts.
I still see 57 calls to NumberIO.toStateObject and 65 calls to NumberIO.fromStateObject.

[2022-10-25 02:24] pixelzoom commented on #277
I guess my working copy wasn't fully pulled. Or I pulled before the changes were pushed. I now see the changes to NumberIO.ts.  Nice!

[2022-10-25 22:01] pixelzoom commented on #277
Reopening.  Documentation for InfiniteNumberIO is identical to NumberIO, looks like a copy-paste error.

[code]

[2022-10-25 22:09] zepumph commented on #277
Let's pick this up in https://github.com/phetsims/tandem/issues/280 since that is where the commits are.

[2022-10-25 22:09] #277 closed

[2022-10-25 22:09] zepumph commented on #280
- [ ] From https://github.com/phetsims/tandem/issues/277#issuecomment-1291189012, we need to update the documentation for InfiniteNumberIO

[2022-10-26 22:21] pixelzoom opened #281 "PhetioGroup does not support Prototype pattern"
**Prototype** is a standard software-design pattern for object creation. A reasonable introduction is https://java-design-patterns.com/patterns/prototype/#.

This pattern is used in common code (e.g. Vector2, Range) and sims.

For example, in equality-explorer Term.ts:

[code]

... and its implemention in (for example) ConstantTerm.ts:

[code]

PhetioGroup does not currently support the Prototype

[2022-10-27 17:06] jessegreenberg commented on #278
Here is the example AST, it should be easy to make a lint rule to flag when `readonly` is missing: https://typescript-eslint.io/play/#ts=4.8.4&sourceType=module&showAST=es&code=MYGwhgzhAECyCeBhcVoG8CwAoa0AOArgEYgCWw0EALmFedAE4CmYAJgPYB2I80AKgFEAynwD6fABIBJAHIBxaAF5oAckEiVAbmwBfIA

[2022-10-28 01:26] pixelzoom commented on #281
This blocks instrumentation for most of the dynamic elements identified in https://github.com/phetsims/equality-explorer/issues/200.

[2022-10-29 00:59] samreid commented on #281
PhetioGroup uses this creation function: `createElement: ( t: Tandem, ...p: P ) => T`.  So the Prototype pattern could be implemented like so:

[code]

[2022-10-29 14:23] pixelzoom commented on #281
I don't follow the proposed implementation in https://github.com/phetsims/tandem/issues/281#issuecomment-1295669421.  Are you proposing that I use an entirely separate PhetioGroup instance to make element copies?  So if I have N creation patterns in my sim, I need N PhetioGroup instances?

[2022-10-29 14:52] samreid commented on #281
No, I'm just showing that PhetioGroup is flexible about how objects are created.  It is not locked in to using constructors, for example.  So you can use `copy` methods or other strategies when generating group elements.  Maybe I will understand the problem better with more context.

[2022-10-29 18:01] pixelzoom commented on #281
I understand that PhetioGroup doesn't restrict you to any specific implementation of `createElement`.  But it restricts you to _one_ implementation of `createElement`, so a specific PhetioGroup instance only supports only one method of creating elements.   That's not a good fit for elements that support (and required) multiple creation patterns.

So if PhetioGroup is going to be the means for crea

[2022-10-29 18:23] samreid commented on #281
Here is a demonstration of calling `new` and `copy` within one PhetioGroup.createElement implementation, and a use case at the end to demonstrate creating 2 Terms, one using each approach:

[code]

[2022-10-30 15:59] pixelzoom commented on #281
Great, we have something that could work for Term in equality-explorer.  You're assuming that both creation patterns has the same signature, and you're overloading `createMethod`,  via options.

 or you're proposing to overload `createElement` so that it effectively has multiple signatures (which will be a TypeScript headache.).

[2022-10-30 16:12] pixelzoom commented on #281
The above example also demonstrates how the mutually-exclusive GroupOption approach leads to obfuscated code.

This is incorrect:

[code]

The signatures for Term's creation methods are:

[code]

In both cases, options can be provided.  And it's not uncommon when implementing `copy` to narrow the interface for options, so we more likely need to support:

[code]

So the type for `GroupOptions.termO

[2022-10-30 16:18] pixelzoom commented on #281
The above example also demonstrates how overloading `createElement` via a mutually-exclusive `GroupOptions` approach leads to a tangled mess.

The general idea for `GroupOptions` was to support different combinations of options by using `never`.  I've seen this in other places in PhET code, and imo it's a pattern to be avoided.  Assumging that we're willing (which I'm not) to accept this as our pa

[2022-10-30 16:30] pixelzoom commented on #281
Also ... PhetioGroup is really difficult to work with and understand, and a big cost when retrofitting code.  Do you really want to make it even more difficult to understand, and more difficult to retrofit, by using a pattern like `GroupOptions`?

[2022-10-30 16:36] samreid commented on #281
The central implementation feature of PhetioGroup and PhetioCapsule is that it is able to trigger the same group member creation code in a simulation and during a PhET-iO state set operation.  To me, that seems at-odds with the idea of having lots of different ways to create the objects.

[2022-10-30 16:38] samreid commented on #281
In Mean: Share and Balance we switched from PhetoiGroup to pattern where we preallocate a pool of objects and use an `isActiveProperty` on each one, and it seems to be working well in that sim.

[2022-10-30 22:51] pixelzoom commented on #281
Having multiple creation patterns is a very legitimate and common way OO practice.  So if "the central implementation feature of PhetioGroup" is that it expects all instances to be created with the same pattern, then I'd say that PhetioGroup is a lousy design.

So yes, agree - PhetioGroup is at odds with how standard creation patterns are applied.  So is the solution to revisit PhetioGroup to supp

[2022-10-30 22:53] pixelzoom commented on #281
This approach would require pre-allocating 108 Terms for each screen in _Equality Explorer_.  144 Terms for _Equality Explorer: Two Variables_.  It would also require lots of changes to the most complicated sim that I've ever written for PhET, not something that I'm at all interested in doing.

[2022-10-30 23:12] pixelzoom commented on #281
For the record...  I don't think that either PhetioGroup/ PhetioCapsule are serving PhET particularly well.   We are going out of our way to architect software so that we don't need to use them (e.g. Fourier, MSaB), making choices/compromises that we would otherwise make to the detriment of the software.  And when we have no choice but to use PhetioGroup/ PhetioCapsule, they are painful to use in

[2022-10-30 23:17] kathy-phet commented on #281
Hey Guys, Let's plan to take this to a design meeting conversation, and ideate together in real time about the architectural needs of PhET and the current PhET-iO group approach. This week we are busy with POSE, but let's pick this up the following week.

[2022-11-09 17:13] zepumph commented on #280
@samreid sorry I didn't assign you.

[2022-11-15 00:27] pixelzoom opened #282 "StateSchema `_private` does not have TypeScript support."
Related to https://github.com/phetsims/natural-selection/issues/326 ...

When creating an IOType, specifying a `stateSchema` with a `_private` field will save the state for those fields, but exclude them from display in Studio.  This feature works in JavaScript, but apparently does not have proper TypeScript support.  There are currently no TypeScript sims using `_private`, and natural-selection i

[2022-11-15 00:32] pixelzoom opened #283 "Bring documentation up to standards in IOType.ts and StateSchema.ts"
While working on #282, @samreid and I discovered that documentation for IOType.ts and StateSchema.ts is not up to standards.  And that's one of the things that's making IOTypes difficult to use.

For example:

- [x] `type` documentation in IOType.ts is almost non-existentent.  Fields in those types are not documented, which is where fields are supposed to be documented by PhET convention. Some opt

[2022-11-15 00:42] pixelzoom opened #284 "Clean up the "state object" part of the IOType API"
IOType is very inconsistent about the name that it uses for "state object".  This is one of the things that makes it unnecessarily confusing.  It would clearer if`stateObject` were used everywhere, instead of `state`, `s`, etc.

Suggestions:

- [ ] Rename `applyState` to `applyStateObject`
- [ ] Rename `stateToArgsForConstructor` to `stateObjectToConstructorArguments`
- [ ] Rename params "state",

[2022-11-17 19:04] samreid commented on #278
Dev meeting Nov 17 2022.

We agreed that making public static class properties `readonly` is best.  Just something that needs to be cleaned up.

@zepumph: I see 262 usages where this pattern is happening.  Maybe half of them can be fixed. So that is maybe 2 hours of work to do it all.
@AgustinVallejo: I'm happy to help on this.
@kathy-phet: Can @pixelzoom and @AgustinVallejo pair together for a "k

[2022-11-18 00:19] pixelzoom commented on #278
@AgustinVallejo and I met about this after today's dev meeting.  He'll use the regex `static .*:.*;` to identify potential places to add `readonly`.  For any that prove to be problematic (like Vector2), he'll note them, and he and I will review.

[2022-11-22 19:23] samreid commented on #282
@zepumph and I also discussed adding this type:

[code]

Not perfect, but would help get us past some ts-ignores.

[2022-11-22 19:24] zepumph commented on #282
Also wanted to note this patch which we could pursue later, but I like the above to start.
<details>

[code]

[2022-11-22 21:13] pixelzoom commented on #282
I should also point out that the `_private` convention in StateSchema does not seem to be well-known, and therefore not consistently followed.  For example, in greenhouse Wave.ts, WaveIO does not use `_private` for the private fields of Wave (`propagationLimit`, `renderingWavelength`, etc.). @jbphet

[2022-11-25 19:01] zepumph commented on #280
And still! :sigh:

[2022-11-28 19:05] jbphet commented on #282
@samreid and @zepumph - I was mentioned above in this issue, so now I'm wondering whether I should modify the code in greenhouse-effect to use `_private`.  What do you recommend?

[2022-11-28 22:05] samreid commented on #282
Does Greenhouse PhET-iO state data have values that are more of an "implementation detail" than a "user-facing feature"?  If so, those values should be nested under `_private`.

[2022-11-29 21:11] jbphet commented on #282
I don't want to hijack this issue with questions specific to Greenhouse Effect, so I've set up [an issue](https://github.com/phetsims/greenhouse-effect/issues/226) where I'll try to get information on how to use `_private` appropriately in that sim.

[2022-11-30 16:24] samreid commented on #280
I updated the docs, skimmed commits and reviewed comments.  Everything seems great! Closing.

[2022-11-30 16:24] #280 closed