[2015-04-22 15:42] samreid opened #1 "Tandem listeners should be registered before *any* sim code runs"
In concentration, Solutes are being created statically--that is, at module load time.  If they are going to register themselves at module load time, then Tandem listeners should be registered before they run.

One possibility would be to move Tandem to preload.

Another possibility would be for Tandem to buffer the addInstance calls until all listeners are wired up (but how to know if there will b

[2015-05-26 21:41] pixelzoom opened #2 "provide basic documentation for how to instrument a sim"
In https://github.com/phetsims/beers-law-lab/issues/99, it was decided that beers-law-lab should be fully instrumented (a) because it's partially done to support concentration, and (b) to give me an opportunity to instrument a sim while the API is still in flux.

@samreid suggested in https://github.com/phetsims/beers-law-lab/issues/99#issuecomment-98429168:

It was agreed, and @jbphet was assigne

[2015-05-26 21:48] pixelzoom commented on #2
Labeling this issue as high priority.  It's a prerequisite to me instrumenting beers-law-lab, and I'm a little concerned that things are continuing to evolve (and perhaps become solidified) for specific customers, without me (or anyone other than @samreid and @jbphet) having experience with instrumenting a sim.

[2015-05-28 17:27] ariel-phet commented on #2
Plan is for @pixelzoom and @jbphet to pair on instrumenting beer's law and then give an outline on useful documentation

[2015-09-18 21:33] pixelzoom opened #3 "tandem dependency is missing from package.json"
`TANDEM` was added to beers-law-lab-config.js, but `tandem` doesn't appear in package.json.

This causes 2 problems:

(1) dependencies.json is incomplete, it is missing `tandem` shas. So for interoperable sims published to date, we have no way to reproduce their source code snapshot.

(2) "Quick Start" instructions in README.md are incomplete. This is causing problems for non-PhET developers, as r

[2015-09-18 21:37] pixelzoom commented on #3
Since all sims will eventually be instrumented with tandem, there are 2 ways to proceed with fixing this:

(1) Add tandem to common.preload in chipper/build.json, so that it's a preload for all sims. This is a 1-line fix that resolves the issue for the above sims and future sims.  But adds a dependency that's not required for sims that haven't been instrumented.

(2) Add tandem to preload in packa

[2015-09-18 21:51] pixelzoom commented on #3
For now, I did option (2) above - that is, fixed the sims that currently have a dependency on tandem. I added tandem to phetLibs in their package.json, and (for published sims) regenerated their README.md file.

@samreid please review, and let's discuss whether to add tandem to common.phetLibs in chipper/build.json.

[2015-09-18 21:53] pixelzoom commented on #3
Great. Now all of the above sims are failing lint, because tandem doesn't pass lint.  Eg:

[code]

[2015-09-18 21:59] pixelzoom commented on #3
Lint fix pushed, but not tested, since I'm not clear on how to test tandem.

[2015-09-18 22:13] samreid commented on #3
Lint fix for tandem tests nicely, I tested by running http://localhost:8080/together/html/concentration-together.html?togetherEvents.log=console and looking at the console log.

[2015-09-19 22:27] pixelzoom commented on #3
Thoughts on whether to add tandem to common.phetLibs in chipper/build.json?

[2015-09-20 01:20] samreid commented on #3
I suspect it should be in the common libs.  It will be instantiated in each sim's main and just passed through constructors, so each sim will need it (unless we come up with some other strategy for dealing with this problem).

[2015-09-25 04:27] samreid commented on #3
@pixelzoom now that you are more familiar with how tandem is intended to be used in simulations, can you help me answer the question of how to proceed here?  Or should we still discuss it an upcoming meeting?

[2015-09-25 12:29] pixelzoom commented on #3
I'm OK with putting tandem in chipper/build.json, and it sounds like you agree (https://github.com/phetsims/tandem/issues/3#issuecomment-141723906).  What remains is to see if anyone else objects to having a phetLib dependency for all sims that won't actually apply to all sims for quite some time.

[2015-09-25 12:30] pixelzoom commented on #3
I'm OK with putting tandem in chipper/build.json, and it sounds like you agree (https://github.com/phetsims/tandem/issues/3#issuecomment-141723906).  What remains is to see if anyone else objects to having a phetLib dependency for all sims that won't actually apply to all sims for quite some time.  If other developers want to chime in here, that could eliminate the need for discussion at developer

[2015-09-25 12:59] samreid commented on #3
Unassigning until after this has been discussed.  The `phet-io-meeting` label will help us make sure this issue stays on our radar.

[2015-10-01 18:44] samreid commented on #3
Design meeting consensus: add tandem to chipper/build.json

[2015-10-01 18:45] samreid commented on #3
And get rid of the tandem references in the sims package.jsons.

[2015-10-12 00:03] samreid commented on #3
I've added tandem to chipper/build.json and removed tandem references from 7 repos.  Tested building and launching built beaker, everything seemed ok.  Will commit shortly.

[2015-10-12 00:05] samreid commented on #3
@pixelzoom commented that this solution:

[2015-10-12 00:10] samreid commented on #3
I'm not too familiar with the readme generation tasks.  Is the strategy here to iterate over all of the simulations and check whether the version is < or > than 1.0.0, and choose whether to use the unpublished-README or published-README task?  Is there already a script that will do that?  Pinging @pixelzoom and @jonathanolson since they look like the primary contributors to generateREADME.js.

[2015-10-12 16:14] pixelzoom commented on #3
There is unfortunately no list of published sims. So the procedure to regenerate README.md for published sims is:

1. Edit active-runnables so that it contains only published sims
2. Run `grunt-all.sh published-README`
3. Commit all modified README.md files

[2015-10-12 16:30] samreid commented on #3
After looking around it seems we do not need to generate the unpublished sim readme's because they don't list their git clone dependencies.

[2015-10-12 16:53] pixelzoom commented on #3
Correct - unpublished sims have no "Quick Start" section in their README.md, which is where the dependencies appear in the form of `git clone` commands.  That's why I said "Technically requires regenerating README.md for all *published* sims" (emphasis added).

[2015-10-12 18:57] samreid commented on #3
I updated the README's above, anything else to do here?

[2015-10-12 19:02] pixelzoom commented on #3
I think that covers it.  Closing.

[2015-10-12 19:02] #3 closed

[2015-10-30 20:05] pixelzoom opened #4 "add visibility annotations"

[2015-10-30 20:05] pixelzoom commented on #4
Assigned to @samreid for review.

[2015-11-04 19:24] samreid commented on #4
Looks perfect, nice work, closing.

[2015-11-04 19:24] #4 closed

[2015-11-16 04:23] pixelzoom opened #5 "add namespace"
See https://github.com/phetsims/tasks/issues/378

[2015-11-18 23:14] pixelzoom commented on #5
I wonder if we're going to run into problems having Tandem.js and tandem.js?

[2015-12-05 01:57] samreid commented on #5
Yes, we cannot have both.  What do you recommend?  I think Tandem is the right name for the tandem instances, but this is also what we typically would use for the namespace filename.

What about for cases where there would be a collision (such as tandem and, if we namespace it in the future, together) naming the namespace file like ${repo}Namespace.js?  In this case it would be tandemNamespace.js

[2015-12-05 16:18] pixelzoom commented on #5
I'd be OK with tandemNamespace.js, if we follow the same convention everywhere (which will require some work to do).  This would also address the issue of together.js currently not being a namespace.  And we should get other developer opinions before proceeding.

[2015-12-07 16:22] jbphet commented on #5
I would be fine with the idea of ${repo}Namespace, and after namespacing a handful of repos I feel like it would actually be an improvement.

[2015-12-07 16:27] pixelzoom commented on #5
@jonathanolson How do you feel about changing the scenery namespace to `sceneryNamespace.js` and `var sceneryNamespace = ...` ?  And similarly for kite and dot?

[2015-12-07 16:57] samreid commented on #5
The preceding @pixelzoom proposal sounds good to me--would make it very clear and easy to see what is related to namespace.  Here, take this: :+1:

[2015-12-07 17:01] pixelzoom commented on #5
This was actually @samreid's proposal in https://github.com/phetsims/tandem/issues/5#issuecomment-162125956.  I am but an innocent bystander.

[2015-12-07 17:02] pixelzoom commented on #5
Well... I guess I did suggest making the change uniformly for all sims.

[2015-12-07 17:03] samreid commented on #5
You are too kind!  I hadn't thought to extend this to `var sceneryNamespace = ...` but that's a good suggestion.

[2015-12-07 17:04] jonathanolson commented on #5
I'm not terribly opposed to it. We already changed from ```scenery.Node = ``` to ```scenery.register( ... )```, so it wouldn't be immediately obvious anyways.

Just takes a bit of inside knowledge to know that:
[code]

[2015-12-07 17:04] pixelzoom commented on #5
If we change the name of the .js file, then we must change the name of `var sceneryNamespace`, or JSLint will complain.  Unless we explicitly added a "don't complain" directive.

[2015-12-07 17:06] samreid commented on #5
sceneryNamespace.register( 'foo', foo );
scenery.foo // now exists
[code]

[2015-12-07 17:07] jonathanolson commented on #5
On that note, if the file's renamed sceneryNamespace.js, I'm going to be accessing a ton of things internally like ```sceneryNamespace.Node``` which is unlike either PhET or non-require.js usage.

[2015-12-07 17:07] pixelzoom commented on #5
So the option are to do something different for tandem, or change the namespace convention everywhere? Anyone have a preference on that?  I'm ambivalent.

[2015-12-07 17:08] pixelzoom commented on #5
Or another option... Come up with a different name for Tandem.js.

[2015-12-07 17:08] samreid commented on #5
In that case, I think it would be best to leave the var named as `var scenery = ...`.

[2015-12-07 17:09] jonathanolson commented on #5
[code]
will require opt-outs for linting on every file?

[2015-12-07 17:10] samreid commented on #5
We could add logic that opts out the namespace from having to match the var name (it is our lint rule and we have full control over it), but that would just be another special case we have to remember.

[2015-12-07 17:17] pixelzoom commented on #5
Skype discussion:

[12/7/15, 10:06:41 AM] Chris Malley: so the options are to do something different for tandem, or change the namespace convention everywhere. anyone have a preference on that?  I'm ambivalent.
[12/7/15, 10:07:38 AM] Chris Malley: question asked in issue.
[12/7/15, 10:08:21 AM] Chris Malley: option 3: rename Tandem.js
[12/7/15, 10:08:54 AM] Sam Reid: option 4: rename the tandem re

[2015-12-07 17:18] pixelzoom commented on #5
+1 for using tandemNamespace, but keeping the current convention elsewhere.

[2015-12-07 17:22] jonathanolson commented on #5
+1 for what @pixelzoom said (https://github.com/phetsims/tandem/issues/5#issuecomment-162597651).

[2015-12-08 14:23] samreid commented on #5
I added the namespace above.  Can @jbphet @jonathanolson or @pixelzoom double-check that I've done it properly?

[2015-12-08 18:45] pixelzoom commented on #5
Looks correct, closing.

[2015-12-08 18:45] #5 closed

[2015-12-18 20:21] samreid commented on #2
Instrumentation documentation will be created as part of https://github.com/phetsims/together/issues/114, closing.

[2015-12-18 20:21] #2 closed

[2015-12-28 22:43] samreid opened #6 "Pool tandems assign the wrong index"
Currently, if you do

[code]

you will receive:
electron_0
neutron_1

It should be neutron_0, so we need to change this implementation. The use case will be something like:

[code]

PoolTandem would be a subclass that adds the index.

[2015-12-28 22:52] samreid commented on #6
@pixelzoom and I also discussed renaming from Poolable tandems to something that has less of the "pool" connotations.

Perhaps something like:
[code]

[2015-12-29 22:34] samreid commented on #6
I added GroupTandem above and updated the sims to use it, @pixelzoom would you like to take a look?

[2015-12-30 19:53] pixelzoom commented on #6
A couple of fixes in the above commits, please review.

[2015-12-30 19:55] samreid commented on #6
Changes look good, thanks, closing.

[2015-12-30 19:55] #6 closed

[2016-01-26 05:32] samreid opened #7 "Add Tandem.createSupertypeTandem()"
From https://github.com/phetsims/sun/issues/192

`createSupertypeTandem` would use the same id but provide no-op for addInstance().

[2016-02-03 05:54] samreid commented on #7
Implemented and tested in Beer's Law Lab with dropper node, it seems like it is working nicely.  @pixelzoom would you like to review (low priority)?

[2016-02-03 16:51] pixelzoom commented on #7
Yes thanks, I'll have a look. Probably not this week.

[2016-02-03 23:32] pixelzoom commented on #7
Should the "Step 4" of "How To Instrument a PhET Simulation" be revised to indicate that `createSuperTandem` should be used when passing a tandem to a supertype?
https://github.com/phetsims/together/blob/master/doc/how-to-instrument-a-phet-simulation.md

[2016-02-05 16:22] samreid commented on #7
I added this section in the tandems documentation:

**Tandems in subclasses**
When passing a tandem to a superclass, `tandem.createSupertypetandem` should be used.  This will prevent the supertype from registering the instance, and the subtype can call `tandem.addInstance` at the end of its constructor, so the registration will only occur once and only when the object is fully formed.

[2016-02-05 20:46] pixelzoom commented on #7
:+1: Closing.

[2016-02-05 20:46] #7 closed

[2016-02-12 22:48] pixelzoom opened #8 "how to make values that the user sees accessible?"
In beers-law-lab, ConcentrationMeterNode was given `{Property.<string>} readoutProperty` to provide access to exactly what the user is seeing on the meter.  This was at request of a customer. This was not a straightforward instrumentation, and required a relatively expensive change to the sim code.  Presumably any displayed value (in any sim) is fair game for this feature.  So we need a better way

[2016-02-12 22:49] pixelzoom commented on #8
Here's a Skype conversation between @samreid and me, which started with noting that `reaoutProperty` should be `DerivedProperty.<string>`.

[2/12/16, 1:31:49 PM] Chris Malley: Any reason why ATDetectorNode doesn't need a similar property?
[2/12/16, 1:32:22 PM] Sam Reid: We should give it a similar property, if it doesn’t already have one.
[2/12/16, 1:36:51 PM] Chris Malley: It seems like the justi

[2016-02-12 22:52] pixelzoom commented on #8
In https://github.com/phetsims/phet-io/issues/338, @samreid summarized our above conclusions:

[2016-02-12 22:55] pixelzoom commented on #8
I'm still of the opinion that we should keep tandem out of scenery, unless we run into a very compelling reason not to.  In this case, decorating scenery.Text via TandemText seems like a fine solution.  In sim code, we change Text to TandemText wherever there's a displayed value that needs to be available in the API.  In general, that should be a small subset of the Text nodes in a sim.

[2016-02-15 23:33] samreid commented on #8
TandemDragHander had to be implemented in sun due to issues note here: https://github.com/phetsims/phet-io/issues/254 but it seems like TandemText could be implemented in the tandem repo, with a tandem->scenery dependency.  Thinking toward the future, I'll probably need substructure for other wrappers like this.  Maybe TANDEM/scenery/nodes/TandemText.  @pixelzoom @jbphet @jonathanolson please comm

[2016-02-15 23:36] samreid commented on #8
Well, I think we should also figure out how to put TandemDragHandler in tandem, if we are using it as a central point for wrapper subclasses.  It seems this may be possible if every sim gets an explicit tandem dependency.

[2016-02-15 23:37] samreid opened #9 "Move TandemDragHandler to Tandem"
See https://github.com/phetsims/tandem/issues/8.  If we are going to centralize tandem subclasses in tandem, then TandemDragHandler should be there too.

[2016-02-15 23:42] samreid commented on #8
I am wondering whether to make the Tandem arguments optional or required, and (if required) whether to put them in the options hash or not.  I'm leaning toward making them top-level required arguments for the Tandem subclasses.  For one, this will un-clutter the options hash.  On the other hand, this would make the Tandem subclass signatures different than the things they wrap.  Hm.. This latter c

[2016-02-15 23:43] samreid commented on #8
Cancel that, since this is designed to easily replace subclasses, the signature should remain the same.  I'll put the tandems in the options.

[2016-02-15 23:52] samreid commented on #9
As noted in #8 this may require us to make all sims depend on Tandem, since some sun components use TandemDragHandler.

[2016-02-16 00:03] samreid commented on #8
After creating TandemText I realized that these values won't show up in the phetioEvent stream since there is no observer watching for when a Text's text has changed.  I asked over skype:

[2016-02-16 00:06] samreid commented on #8
I cannot find a feature like this in Scenery.  I recall once we discussed rewriting parts of scenery to use parts of axon, but I don't know the status of this.  I could override setText in the subclass maybe?

[2016-02-16 00:12] pixelzoom commented on #8
Seems like a reasonable Emitter to add directly to scenery.Text.

[2016-02-16 00:15] samreid commented on #8
That sounds reasonable.  I only see 2 occurrences of `new Emitter` in scenery, so want to discuss with @jonathanolson before doing this, so we can be sure to be doing things in a consistent and complete way, or at least on that path (and will add Emitter in TandemText until then).

[2016-02-16 00:33] pixelzoom commented on #8
I'm not sure what the longterm plan is for moving from Events to Emitter.  For backwards compatibility, perhaps both will be supported.  If that's the case, I'm wondering if new features need to support both.

[2016-02-16 17:20] samreid commented on #8
@jonathanolson what do you think about adding text changed emitter to scenery.Text?  Or should I put it in TandemText?

[2016-02-16 17:25] samreid commented on #8
[2/16/16, 10:21:17 AM] Jonathan Olson: Current Scenery way is to trigger0( 'text' ) for it. Refactoring later would potentially change to emitters/properties
[2/16/16, 10:21:35 AM] Jonathan Olson: does that sound acceptable?
[2/16/16, 10:22:36 AM] Sam Reid: Is performance a concern?  Putting this in TandemText instead of Text guarantees trigger/emit is only called when necessary.
[2/16/16, 10:23:2

[2016-02-16 17:29] samreid commented on #8
@jonathanolson can you please review this scenery commit?

https://github.com/phetsims/scenery/commit/9332b6e7560f65faafa700ddda02d7a21bd8b841

[2016-02-16 17:35] samreid commented on #8
Work complete, perhaps would be good for @pixelzoom to review as part of https://github.com/phetsims/beers-law-lab/issues/163 review if/when he has time.

[2016-02-16 17:52] samreid commented on #9
I'd rather not have to move this twice, so I'm marking this for discussion at next phet-io meeting.

[2016-02-16 17:59] pixelzoom commented on #8
Looks good. Closing.

[2016-02-16 17:59] #8 closed

[2016-02-16 18:33] pixelzoom commented on #8
TandemText is lacking in documentation and annotations.  Fixed in above commit, @samreid please review if you'd like.

[2016-02-16 18:37] samreid commented on #8
Thanks, looks good.

[2016-02-16 19:06] jonathanolson commented on #8
Scenery commit looks great.

[2016-02-18 20:45] pixelzoom commented on #9
If there's consensus to add TANDEM dependency to all sims...
Then move to `tandem/js/input/TandemDragHandler`, to match `scenery/js/input/SimpleDragHandler`.

[2016-02-18 20:49] samreid commented on #9
@jonathanolson says as a general principle it is OK for sun to rely on tandem.

[2016-02-18 20:51] samreid commented on #9
**Consensus: Add tandem dependency to all sims and move TandemDragHandler to tandem**

Also call it TandemSimpleDragHandler for consistency.

[2016-02-18 20:53] samreid commented on #9
@jonathanolson said an uncoventional option would be to "monkey-patch" change the original objects (but could not change the original constructor).

[2016-02-18 21:08] samreid commented on #9
**New Consensus: get rid of all the decorator subclasses, see if performance is still OK (esp. for TandemDragHandler), get rid of TTandem names, etc.**

[2016-02-18 21:08] samreid commented on #9
And move SimpleDragHandler to scenery-phet.

[2016-02-18 21:15] samreid commented on #9
@jonathanolson also points out that we don't have to make this change immediately, since it won't directly break wrapper clients (if a name changes from TTandemDragHandler to TSimpleDragHandler).

[2016-02-18 21:19] pixelzoom commented on #9
Why do we want to get rid of decorator types? Seems like they nicely isolate the PhET-io related features.

[2016-02-18 21:19] pixelzoom commented on #9
Why do we want to get rid of decorator types? Seems like they nicely isolate the PhET-io related features, without adding complexity to the main types.

[2016-02-18 21:34] samreid commented on #9
I agree this is great separation of concerns, the main issues are:
* in the extreme case we would have a new Tandem* subclass for each original common code class.  This means TandemHSlider, etc.
* All of the base (non-tandem types) would have to be flexible enough to adding tandem behavior by subclassing.
* Knowing which class to instantiate.  For instance, scenery-phet's NumberControl.js creates

[2016-02-19 05:34] jonathanolson commented on #9
I think that covers what you said earlier.

[2016-02-25 18:13] samreid commented on #9
We need to discuss this again when @pixelzoom is back.

[2016-02-25 20:11] jonathanolson commented on #9
Also pointing out, I wasn't trying to recommend whether we should have the extra types. Just noting potential ways that we COULD get rid of them.

[2016-03-03 21:33] samreid commented on #9
Meeting notes:

It seems like many places like HSlider it make more sense to inline the tandem code.  TandemDragHandler made sense because we didn't want tandem in scenery and because it resulted in a lot of code that made sense to consolidate and doesn't cause tricky inheritance issues (yet).

[2016-04-13 19:46] samreid commented on #9
I moved TandemDragHandler to tandem, and updated all config files to point to tandem.  I tested that all sims are launching, closing.

[2016-04-13 21:09] pixelzoom commented on #9
Fixed lint errors in joist, scenery-phet and sun, due to this dangling comma where TANDEM is the last entry in config.js:

`TANDEM: '../../tandem/js',`

[2016-04-13 22:18] samreid commented on #9
Thanks @pixelzoom, I'll run grunt-all to make sure no others were skipped.

[2016-04-13 22:25] samreid commented on #9
Lint-all checks out, closing.

[2016-04-13 22:25] #9 closed

[2016-05-05 01:40] samreid commented on #1
Tandem preload listeners solves this problem, closing.

[2016-05-05 01:40] #1 closed

[2016-05-15 07:14] samreid opened #10 "branch: phet-io-require"
See https://github.com/phetsims/phet-io/issues/436

This is a temporary branch until the work is completed and merged into master or we identify a reason this strategy cannot work and the branch is abandoned/deleted.

[2016-05-17 01:27] samreid opened #11 "branch: phet-io-require-2"
See https://github.com/phetsims/phet-io/issues/436

[2016-05-18 02:43] samreid commented on #10
Branch deleted, closing.

[2016-05-18 02:43] #10 closed

[2016-05-27 16:48] samreid commented on #11
Branch merged to master and deleted, closing.

[2016-05-27 16:48] #11 closed

[2016-07-18 14:57] samreid opened #12 "branch: phet-io-types"
See https://github.com/phetsims/phet-io/issues/489

I emailed the developer list:

PhET Developers,

I'm about to create branches in 6 repos to support the work-in-progress for moving phet-io types to simulations as part of https://github.com/phetsims/phet-io/issues/489

This approach seems feasible, so please keep in mind that changes to these repos will eventually need to merge.

Currently the r

[2016-07-20 17:40] samreid opened #13 "Create TandemPropertySet"
Now that we are passing types as Property options, the PropertySet constructor is getting a bit more complex:

[code]

@andrewadare and I discussed restructuring this like so:

[code]

The main benefit is that it clusters related metadata together.

Implementing this in tandem is one way to accomplish creation of the new API without breaking backward compatibility.

This breaks with the pattern of

[2016-07-20 17:45] samreid commented on #13
Maybe in the future, we can simplify further and move to this paradigm:

[code]

It gets rid of the repeated value/tandem/type keys and makes them required arguments.

[2016-07-20 17:45] samreid commented on #13
Priority bump to put it on my TODO list radar.

[2016-07-21 03:40] samreid commented on #13
Some of the tradeoffs here are:

* keeping a straightforward migration path (instrumentation consists of adding tandems and changing type names, not changing parameters)
* making the code maintainable for the long run

Would be good to check in with other developers which direction they would like to investigate.

[2016-07-21 18:09] samreid commented on #13
[code]

[2016-07-21 18:13] samreid commented on #13
Proposal from @ariel-phet during meeting, start with option 2 then in the future consider upgrading to option 4.

[2016-07-21 18:17] pixelzoom commented on #13
// Option 5
TandemPropertySet.addProperty( 'voltage', new Property( value, {
  tandem: tandem && tandem.createTandem( 'hello' ),
  type: Number && TNumber( 'volts' )
} );

[2016-07-21 18:28] andrewadare commented on #13
Outcome from discussion at dev meeting: remain with option 1 for now, and table discussion until all developers are available to weigh in.

[2016-07-21 18:39] samreid commented on #13
[code]

[2016-07-21 20:20] samreid commented on #13
Option 6 plays very nicely with the IDE syntax highlighting and navigation.

[2016-07-21 21:04] samreid commented on #12
Merged to master and deleted branch, see https://github.com/phetsims/phet-io/issues/498

Closing.

[2016-07-21 21:04] #12 closed

[2016-07-22 14:46] samreid commented on #13
**Option 7**

PropertySet could infer the tandem names from the property names, then we would only need to supply the parent tandem and types:

[code]

[2016-07-22 20:14] samreid commented on #13
Here's a real example from Forces and Motion: Basics showing a many-property propertyset, using option 1:

[code]

[2016-07-22 20:17] pixelzoom commented on #13
If the goal was to show how hideous option 1 can be, you have indeed succeeded :)

[2016-08-25 20:00] samreid opened #14 "Tandem.removeInstance should be a no-op unless brand===phet-io"

[2016-08-26 16:21] samreid opened #15 "Explore an interface pattern for tandem"
@pixelzoom suggested instead of putting `if (brand==='phet-io')` in several methods, we may want to make a Tandem interface with a no-op implementation.

[2016-08-29 03:11] samreid commented on #14
Closely related to #15

[2016-08-29 03:26] samreid commented on #15
Would be good for me to discuss with @andrewadare after discussing other tandem issues.

[2016-08-29 03:30] samreid commented on #14
Fixed above, thanks for the suggestion @pixelzoom.

[2016-08-29 03:30] #14 closed

[2016-08-31 13:17] samreid commented on #15
Here are the public methods in Tandem which may need to (a) carry into the interface or (b) be blocked by branch checks are:
[code]

[2016-11-16 17:30] andrewadare opened #16 "TandemRectangle constructor is missing parameters"
The constructor in TandemRectangle.js calls out to Rectangle like this,
[code]
which is the signature for the Dot version. The Scenery constructor is this:
[code]

I'll fix it.

[2016-11-16 17:39] andrewadare commented on #16
The following will need updates for this change:
 - ComboBox.js
 - ItemToolboxNode.js in FAMB

[2016-11-16 17:42] samreid commented on #16
We should support all permutations of query parameters support by scenery rectangle, hopefully this will just work if we pass through args as they appear.

[2016-11-16 18:09] andrewadare commented on #16
Changes should be complete. Lint and load tests pass. It would be a good idea to test the parts of FAMB related to ItemToolboxNode.

[2016-11-16 19:09] samreid commented on #16
@andrewadare and I worked together to make sure TandemRectangle supports all of the signatures of Node Rectangle.  Closing.

[2016-11-16 19:09] #16 closed

[2016-12-13 22:43] samreid opened #17 "Tandem.createTandem() should assert that the name exists"
Today @jbphet and I added an assert to Tandem.createTandem that checks that the tandem exists.

However, this is failing a bunch of PhET-branded sims:

![image](https://cloud.githubusercontent.com/assets/679486/21162489/d83f7772-c14a-11e6-8de0-4933ad2961d5.png)
[code]

[2016-12-13 22:44] samreid commented on #17
I've removed the assert for now, we will have to think about how to re-enable it.  One possibility would be to require RadioButtonGroup items to pass tandems (even for uninstrumented sims).

[2016-12-15 16:56] samreid commented on #17
Fixed in above commits, closing.

[2016-12-20 17:13] samreid commented on #17
@pixelzoom identified a problem where this was erroring out for combo boxes.  Reopening.

[2016-12-20 17:20] pixelzoom commented on #17
Looks like the bug is in ComboBox:

[code]

` itemNodeOptions` is the options associated with the constructor's `items` argument. Perhaps this is something new that was added, because I don't recall `items` having their own options.  In any case, if they are not provided, then `itemNodeOptions` defaults to `{}` and `itemNodeOptions.tandemName` is `null` -- which causes failure of the assertion in

[2016-12-20 17:23] samreid commented on #17
I think the solution we settled on for RadioButton was to fall back to a default tandem name like so:

[code]

That seems like it would also work for ComboBox.  Thoughts before I proceed?

[2016-12-20 17:25] pixelzoom commented on #17
This looks like another potential form in ComboBox:

[code]

`options.tandem` may very well be `null`, which will cause line 425 to fail.

[2016-12-20 17:25] pixelzoom commented on #17
... and line 437:

[code]

[2016-12-20 17:32] samreid commented on #17
@pixelzoom and I agreed to add the RadioButton-like pattern on line 167 of ComboBox.

[2016-12-20 17:55] samreid commented on #17
@pixelzoom and I worked on this, committed above, tested, closing.

[2016-12-20 17:55] #17 closed

[2017-01-17 19:00] samreid commented on #13
PropertySet is deprecated, closing.

[2017-01-17 19:00] #13 closed

[2017-02-06 17:55] samreid opened #18 "Move TandemEmitter behavior to Emitter (if possible)"
We would like to integrate tandem into all core classes, including Emitter.  It may not be possible for Emitter, since Emitter may need to include child Emitters as part of its definition.  We'll have to see.

See https://github.com/phetsims/phet-io/issues/926

[2017-02-06 17:56] samreid opened #19 "TandemButtonListener code should be inlined into ButtonListener"
Similar to #18, we should move TandemButtonListener code to ButtonListener and delete TandemButtonListener.

[2017-02-06 17:57] samreid opened #20 "TandemSimpleDragHandler should move code to SimpleDragHandler"
Similar to #18, we should move TandemSimpleDragHandler code to SimpleDragHandler and delete TandemSimpleDragHandler.

[2017-02-21 17:38] samreid commented on #19
Fixed above, for testing I did:

* manual testing of the data stream where the listener is instrumented
* aqua test for phet-io sims
* tested lint for unit-rates
* spot test for aqua

I'll post on Skype for developer to be aware of this change, closing.

[2017-02-21 17:40] samreid commented on #19
On second thought, review sounds best.  @jonathanolson can you please review these changes?

[2017-02-21 19:44] jonathanolson commented on #19
Changes look good to me (at least on the Scenery/phet-io side).

[2017-02-21 19:44] #19 closed

[2017-04-10 20:05] pixelzoom opened #21 "Why do tandemized types use options?"
Why do `TandemSimpleDragHandler` and `TandemEmitter` use `options` for passing instrumentation information?

While instrumenting Molarity (https://github.com/phetsims/molarity/issues/31) @samreid said that it's clearer to pass `tandem` as a required constructor arg.   Why doesn't that apply here? We certainly won't be using these types in non-instrumented sims, so the instrumentation information i

[2017-04-10 21:04] pixelzoom commented on #21
Discussed with @samreid, and generally decided to put tandem in options when a type has an options parameter.  The motivation for this was also to keep the API the same when switching from non-instrumented to instrumented types.

Closing.

[2017-04-10 21:04] #21 closed

[2017-05-18 18:38] pixelzoom opened #22 "rename uninstrumentCodeIndex?"
In Tandem.js:

[code]

Looks to me like this var should be named `uninstrumentedCodeIndex`.

[2017-05-18 20:08] #22 closed

[2017-06-19 20:03] pixelzoom opened #23 "Tandem duplicates packageJSON"
`Tandem` should be using (instead of duplicating) `joist.packageJSON`.  If a circular dependency is preventing this, then packageJSON.js should be moved from joist to phet-core.

[2017-07-11 17:57] pixelzoom opened #24 "separator character should not be allowed in Tandem id"
The separator character ('.') should not be allowed in the `id` argument to `createTandem`, `createGroupTandem` and similar functions.

Example, with molecule-polarity loaded in the browser:

[code]

This is returning a Tandem ("moleculePolarity.foo") that has never existed and is being created as a side effect.

This lack of validation is also being exploited as a lazy shortcut in many places. E.

[2017-07-11 18:11] pixelzoom opened #25 "Different tandem instances can have the same ID"
There is apparently nothing to prevent tandem ids from being shared between static and non-static.

 Example, with molecule-polarity loaded in the browser:

[code]

This seems like a potential problem.

[NOTE: Example above was edited, I copied some things incorrectly from my console.]

[2017-07-11 18:15] pixelzoom commented on #25
I'm guessing that `createGroupTandem` has a similar problem -- i.e., a tandem id used for a group may also be used for a non-group.

[2017-07-11 18:26] pixelzoom opened #26 "Tandem.js doesn't meet PhET code standards"
Missing visibility annotations, missing `@static` for some static functions, inadequate documentation (e.g. `launched`), ...

[2017-07-11 18:33] pixelzoom opened #27 "Tandem: bad names for instance listener API"
Tandem uses the listener pattern for notifying when an instance is added and removed.  The documentation for `addInstance` includes the specification for an instance listener:

[code]

In this case, the function names don't conform to the typical listener pattern.  The current names, `addInstance` and `removeInstance`, make it sound like they are doing the adding and removing.  The names should be

[2017-07-11 18:56] pixelzoom opened #28 "Tandem description is inaccurate"
[code]

This is inaccurate.  There is no registry implemented here.  This is just a thin wrapper that forwards registration requests to "instance listeners".   The registry appears to live in pheti-io.phetio.js.

[2017-08-05 02:07] samreid commented on #18
In the preceding commits @zepumph and I got things working.  I'll leave this open and assigned to myself to double check on Bayes after the change, and assigned to @zepumph to double check the changes and see if there's anything else.

[2017-08-05 02:28] samreid commented on #18
Bayes seems OK, @zepumph can you please double check everything?

[2017-08-07 18:08] zepumph commented on #18
I think everything looks good to me. Thanks for finishing that up. Closing

[2017-08-07 18:08] #18 closed

[2017-08-08 15:26] samreid commented on #20
This will be a significant change, spanning 31 files over 15 repos and nontrivial changes to scenery SimpleDragHandler.  @pixelzoom @jonathanolson @jessegreenberg @jbphet @zepumph brace yourselves.

[2017-08-08 22:24] samreid commented on #20
I've implemented it, reviewed it with @zepumph, tested aqua and am thinking this is ready to commit and have Bayes take a closer look.

[2017-08-08 22:29] samreid commented on #20
OK commits appear above, I'll leave this issue open and assigned me to check Bayes later on.

[2017-08-08 22:39] zepumph commented on #20
@samreid I have been thinking about our decision to emit to the data stream regardless of listener options passed in.

I think that this is a good choice. I'm seeing that over half of the TandemSimpleDragHandlers (I haven't pulled yet) don'e implement an end event. This would be confusing in the data stream.

I wanted to spend one more minute thinking about this pattern in regards to the 'drag' li

[2017-08-08 22:45] samreid commented on #20
Both of the examples you provided supply `options.translate`.  In my preceding commit, I moved the drag event to capture both the translate and drag.  It seems best to leave the emitters out of the conditionals.  If we find sites that are using SimpleDragHandler but not doing any drag/translate, then those sites should probably use another type of listener.  And it seems good to catch start+end in

[2017-08-08 23:19] zepumph commented on #20
That sounds great. Good solution.

[2017-08-09 00:46] samreid commented on #20
Bayes is tentatively optimistic, closing for now.

[2017-08-09 00:46] #20 closed

[2017-10-06 04:09] zepumph opened #29 "should addInstance and removeInstance handle noop for optional but not supplied tandems?"
I find myself often needing to cover my bases with the following commands:

`options.tandem.isLegalAndUsable() && options.tandem.addInstance( this, TTooMuchFunTypingBoilderPlate )`.

Is there a way around this? Marking for phet-io meeting.

[2017-10-06 17:47] samreid commented on #29
I have had the same problem, including places where other qualifiers were needed (perhaps for phetioEvents), it would be good to discuss.

[2017-10-06 23:20] zepumph opened #30 "isLegalAndUsable should return false if not in phet-io brand"
Agreed upon after discussing with @samreid. I implemented it below and fuzz testing for both brands is working.

[2017-10-06 23:41] zepumph commented on #30
@samreid please review and then close.

[2017-10-07 13:00] samreid commented on #30
Looks good, thanks.

[2017-10-07 13:00] #30 closed

[2017-10-22 00:36] samreid commented on #29
Perhaps there are cases where tandem.addInstance should sometimes be no-op if tandem is not legal and usable and some cases where it should be an error if tandem is not legal and usable?

[2017-10-22 00:46] samreid opened #31 "Centralize logic for add/removeInstance, AKA implement model tandems like scenery node tandems"
On Thursday we discussed centralizing the logic for add/removeInstance, perhaps like it is done for scenery Node subclasses.  Here are my raw notes:

pass in the phetioType in options or on prototype.....

then tandem.addinstance

maybe need a PhETObject core type that everything extends.

Only one tandem per object.

OK to put things on the prototype but not on the instance.

If we go with this.s

[2017-10-22 01:34] samreid commented on #31
@zepumph was there some problem that contraindicated the proposed strategy?  My memory is a bit fuzzy from the last part of that conversation.

[2017-10-24 02:40] samreid opened #32 "Replace this.tandem with prefixedNames like this.derivedPropertyTandem"
See https://github.com/phetsims/axon/issues/148

This will help prevent accidental overrides, like we did for `prefixDispose` instance methods.

[2017-10-27 21:42] zepumph opened #33 "Should optional and not supplied tandems opt out of removeInstance?"
In Tandem.removeInstance I don't see a check that no-ops if the tandem is `!required && !supplied` like I do in addInstance. That seems problematic, since then Tandem is calling remove listeners on an object that hasn't been registered with phet-io before. How have we not run into trouble before? @samreid tag so you are aware.

I suggest removeInstance look like:

[code]

[2017-10-27 21:43] samreid commented on #33
Good point, the logic in addInstance and removeInstance should probably be the same

[2017-10-27 23:10] zepumph commented on #33
Bayes looks good. Closing

[2017-10-27 23:10] #33 closed

[2017-11-02 04:46] samreid opened #34 "Eliminate createStaticTandem and always buffer tandems before listeners wired up"

[2017-11-02 05:20] samreid commented on #34
implement above, @zepumph can you please review?

[2017-11-02 05:22] samreid commented on #34
I also switched to a pattern where tandems are flushed as soon as the tandem listeners are added (rather than all instance listeners being added), instance listeners get a callback for all pre-existing tandems in the right order.  The effect should be the same but without the odd waiting period we had to support previously.

[2017-11-03 05:26] samreid commented on #31
More notes from https://github.com/phetsims/phet-io/issues/1248

To make the proposed strategy work, we would need the following ingredients:

1. A base type like PhETObject that all models can inherit from
2. PhETObject would accept options including a `phetioType` parameter which defaults to null
3. All PhETObject subclasses (and their subclasses) would need to call mutate/setTandem

If I unders

[2017-11-03 21:29] samreid commented on #32
Duplicate of https://github.com/phetsims/phet-io/issues/1239, closing.

[2017-11-03 21:29] #32 closed

[2017-11-06 20:23] zepumph commented on #31
I think the reason that this hasn't bitten us before is because in general when implementing, I'm keeping tandem out of the hierarchy until the last line of a constructor. An example of this is `ExpandCollapseBar.js`. It doesn't call mutate with the tandem until the very last line of the subtypiest type. I can't find another example right now (perhaps ExapndCollapseBar` isn't the best) but sometim

[2017-11-10 02:51] samreid commented on #31
Let's say I have node subtype Button, which calls `this.mutate`.  Then I add subclass RoundButton, which adds a `radius` property and also calls `this.mutate`.  The first mutate call will register the tandem, but the radius property isn't set yet.  So any attempts to read/write the radius will fail.

[2017-11-10 16:56] zepumph commented on #31
Yes, but you don't pass tandem up through options AND mutate in the sub class. If the subclass needs to hold off on tandem registration because it adds something important during construction, then it is up to the subclass to NOT pass up the tandem in options to the super type. Notice my lines in above code:
[code]

Then we can mutate with the tandem at the end of the subtypiest constructor.

If i

[2017-11-10 18:56] samreid commented on #31
I understand, thanks for clarifying.

[2017-11-10 18:58] zepumph commented on #31
I think this is a pertinent point though, it is delicate. We should make sure to thoroughly check usages of this as we go through and redesign/ bring up to phet-io code.

[2017-11-10 19:11] zepumph commented on #31
Or should we work on a more robust way of doing things. Like the tandem setter knows to always wait until the constructor is done somehow.

[2017-11-13 02:35] samreid commented on #31
We could abandon synchronous modifications and schedule registration for the first `setTimeout` after instantiation?  Synchronous modifications require an alternate API anyways, and waiting for a `setTimeout` guarantees that the instance is fully created.  Then the base class is the only one that needs to call `addInstance`, but we would still need to know the subtype TType.  But perhaps this coul

[2017-11-13 02:38] samreid commented on #31
Or maybe we don't even need to schedule registration for first `setTimeout` callback because `postMessage` and `iframe` will already automatically wait until sim frame is ready because it is single-threaded.

[2017-11-14 21:17] zepumph commented on #31
I like the thought, and it seems like the right direction. Please feel free to prototype, but if I'm online before you start, I would love to talk about it a bit more. I want to make sure that I understand it completely. I'm not sure I understand the parts about `setTimeout`

[2017-11-15 02:42] samreid commented on #31
The proposal was based on the assumption that iframes are single-threaded and cannot be interrupted in an intermediate or inconsistent state.  @zepumph and I couldn't find specific documentation about this, but we set up a test to investigate the behavior.  We tried to interrupt the "sim" frame on chrome but were unable to do so (at least on Chrome).

[code]

[code]

[2017-11-15 03:58] samreid commented on #31
This will be clumsy for parametric types like Property, which already supply the phetioValueType.  But maybe we can get rid of phetioValueType and have subclasses specify `phetioType: TProperty(myTType)`

[2017-11-15 04:08] samreid commented on #31
I'm seeing plenty of occurrences with `tandem.addInstance(this,TType)` and have been converting them to `tandem.addInstance(this,{phetioType: TType})` but it crossed my mind that we may want to support 2nd arg as TType|options.

[2017-11-15 04:10] samreid commented on #31
Maybe this could also simplify the Node side, we could call addInstance right away instead of waiting for last mutate call.

[2017-11-15 05:27] samreid commented on #31
The proposed changes resulted in significant changes over 158 files.  Most importantly:

1. Many cases changed `tandem.addInstance(this,TType)` to `tandem.addInstance(this,{phetioType: TType})`
2. Parameterized types such as TProperty and TObservableArray now use `phetioType: TProperty(TType)` instead of `phetioValueType: TType`
3. I renamed `TProperty.valueType` to `TProperty.elementType` to dist

[2017-11-15 05:39] samreid commented on #31
Beer's Law Lab instance proxies seems to be working now.  Beer's Law Lab state seems to be working except for the background color:

![image](https://user-images.githubusercontent.com/679486/32820620-9f356838-c98c-11e7-9d1e-b9f5844a98d9.png)

[2017-11-15 06:08] samreid commented on #31
Balloons and Static electricity Instance Proxies and State are working.

[2017-11-15 06:36] samreid commented on #31
All phet-io sims are passing phet-io aqua fuzz.

[2017-11-15 07:03] samreid commented on #31
All phet sims are passing aqua fuzz.  `grunt lint-everything` is passing.  I think I'm at a good commit point.  We can let Bayes take a look at things, and it will be good to discuss these changes with @zepumph, perhaps take a look at a few files from axon, sun, tandem, and a sim to get a sense of the changes and let's chat.

Another benefit of this approach, the `tandem` in the superclass is the

[2017-11-15 07:12] samreid commented on #31
I slacked:

Brace yourself for nontrivial changes coming to 158 files across 32 repos to support `https://github.com/phetsims/tandem/issues/31`.  Local tests were passing and lint was OK for at least one pass, but I expect Bayes to find some trouble.

[2017-11-15 07:16] samreid commented on #31
Pushes complete, please be on your toes and report any problems here.

[2017-11-15 16:52] samreid commented on #31
I realized we also need to eliminate `expressions`, I'll take a look at that next.

[2017-11-15 17:06] samreid commented on #31
I slacked @jbphet to ask:

[2017-11-15 17:14] samreid commented on #31
It may be best to eliminate `expressions` and replace all usages with `invokeSequence`.  However, I'm wondering if we will need to add a high-level function on SimIFrameClient for that.  Or if we will need a holdover like putting `TObject.applyExpressions` in a `setTimeout` so things will continue working until we have the long term solution.

[2017-11-15 17:15] samreid commented on #31
I was also surprised to see that many expressions still work correctly (since many of them are only calling methods on the base type, like TNode.setVisible, etc.)

[2017-11-15 17:41] jbphet commented on #31
I spoke on zoom with @samreid and answered his questions from the comment above (https://github.com/phetsims/tandem/issues/31#issuecomment-344660098).

[2017-11-15 17:44] samreid commented on #31
In the above commit, I converted `expressions` to `invokeSequence` in the sonification wrappers.  I tested that http://localhost/phet-io-wrapper-sonification/ohms-law/html/ohms-law-sonification.html?sonificationFile=sonificationTonesForSliderChanges&accessibility works as expected.  @jbphet can you skim the rest to see if anything was disturbed?

[2017-11-16 07:07] samreid commented on #31
@zepumph can you please spot check some of the changes and report if they seem reasonable?  Let's also leave this issue open until @jbphet reports about testing sonification wrappers.

[2017-11-17 01:29] zepumph commented on #34
Does this have to do with launching Tandem in phetio.js rather than in simLauncher?

The practice look really good. It is nice when you see commits that simplify the code, and I think that the above do just that. I see 17 instances of `createStaticTandem`. Would you like to go for the switch, or should I?

[2017-11-17 02:20] zepumph commented on #31
These look good besides the above bug pointed out by @pixelzoom. Now I see 51 addInstance calls. Is it time to make a supertype that can handle that for us everywhere but in Node.js?

[2017-11-17 03:26] samreid commented on #31
So instead of doing:

[code]

It would be:
[code]

And PhETIOInstance would have the removal in its dispose?

If we added a new type for this, would Node use it too?

[2017-11-17 03:29] samreid commented on #34
We still need `createStaticTandem` but now it means (a) to create a global tandem without another tandem instance (instead of the old meaning which was to buffer it separately as well as (a)).

`Tandem.launch` is called at the end of phetio.js, that indicates listeners are wired up and flushes the buffer.

[2017-11-17 16:15] zepumph commented on #34
I'm sorry I don't understand, let's talk soon.

[2017-11-17 16:29] zepumph commented on #31
Could it? I wasn't sure because of the mutator keys. I don't think it is necessary, let's get the model side set and see how that goes. It may reveal an obvious choice for how to handle the view.

In terms of PhETIOInstance, is that too phetio specific? Has there ever been a desire to adjust the prototype of Object in order to hit all of our types? If so, this file can serve that function. Perhaps

[2017-11-17 16:37] samreid commented on #31
Perhaps it would be used for things like ButtonListener too.  Perhaps we should name it as `PhETObject` or something general?

We've never discussed it before, I'm not sure how it would work exactly--it sounds contraindicated because 3rd party code we use may be relying on Object as it is.

[2017-11-17 18:03] zepumph commented on #34
@samreid and I spoke. We decided it would be good to delete `createStaticTandem`, and instead export a single rootTandem from Tandem, and use that at the call site, like:
[code]

After doing this, we should be able to simplify `tandemRequired/Optional` methods to utilize this; these singletons could be right on the static object, rather than functions.

@samreid or I will get to this, whoever has

[2017-11-17 20:55] zepumph commented on #31
I guess I'm just saying that we shouldn't rule it out as a flexibility. Maybe though, PhET would never need this because if we need something with such global access, we just make it a global, like lodash. I can't see a benefit to using `this.extend(` rather than lodash's `_.extend` because we added methods like that to the Root's prototype. Whatever you think it best.

[2017-11-18 20:22] samreid commented on #31
Here's my current thoughts on PhETObject.js.  Note the following:

* it may help simplify the event start/end calls for https://github.com/phetsims/phet-io/issues/1235.
* it includes the phetio options
* it stores the tandem and phetioType for use in subclasses and methods
* it significantly simplifies e.g., Emitter.js

[code]

[2017-11-18 20:59] samreid commented on #31
This change will push us to always put tandem in the options.

[2017-11-18 21:03] samreid commented on #31
For example, here's a diff indicating the change to a PrecipitateParticle in Beer's Law Lab:

![image](https://user-images.githubusercontent.com/679486/32984724-1380d446-cc69-11e7-8984-49f11d1b2083.png)

If this is indicative of the savings on other code, this will be a nice move.

[2017-11-18 21:22] samreid commented on #31
I committed PHET_CORE/PhETObject.js above, see https://github.com/phetsims/phet-core/blob/master/js/PhETObject.js.  This will be a large change for our project to move from inheriting from Object to having instrumented types inherit from PhETObject instead.  It seems like it locks us into one way of doing things, but on the other hand, it seems like the appropriate solution to this problem and fac

[2017-11-19 00:51] samreid commented on #31
@zepumph can you look at the proposed PhETObject.js and make recommendations before the next dev meeting?

[2017-11-19 01:31] samreid commented on #34
Fixed in preceding commits. @zepumph can you please review changes to Tandem.js and spot check a few usages?

[2017-11-20 17:18] samreid commented on #31
@zepumph and I were wondering if we would want any other functionality in a common base type, such as tracking disposal:

[code]

[2017-11-20 17:27] samreid commented on #31
If we want to support this or something like it for Node.js, then it should support Node.call(tandem) or this.mutate(tandem), which are the two supported paradigms for Node initialization.

[2017-11-20 17:37] samreid commented on #31
@jonathanolson is wondering if this should be a mixin?

[2017-11-20 17:40] samreid commented on #31
@jonathanolson recommends lowercase `ET`

[2017-11-20 19:45] zepumph commented on #31
Another thought, refactoring phetioEvents into `PhetObject` is a nice idea, but I want to talk about edge cases before implementing. I can't remember what issue, but this has been brought up before. I'm thinking of how PushButtonModel triggers phet-io events with the IOType of the view, so as to hide the model/view implementation detail.

[2017-11-20 20:51] samreid commented on #31
Maybe we can still support this behavior, say, if the PushButtonModel triggers an Emitter that the PushButton observes, and the PushButton is truly responsible for the event, as opposed to a workaround that lets the PushButtonModel masquerade as a PushButton.

[2017-11-20 20:52] zepumph commented on #31
That sounds nice. I agree, we should proceed with this top level approach, and we will fit in edge cases to work with this clearly better/easier system.

[2017-11-20 20:59] zepumph commented on #34
This looks really nice. Thanks! I have never noticed this before, but it seems weird to me that Tandem.js is reaching in to packageJSON for a rootTandem. At the very least perhaps it should fall back to something.  I'll create a new issue to discuss. Otherwise good to close!

[2017-11-20 21:59] zepumph opened #35 "Should Tandem.js use package.JSON"
I noticed as part of  From https://github.com/phetsims/tandem/issues/34 that we use the package.JSON's name of a sim to get the root tandem. Is there a better way of doing this?

From https://github.com/phetsims/tandem/issues/34#issuecomment-345830142:

@samreid should Tandem know about package.json for the name of the root tandem? Maybe it would be better to have that passed in from joist/more si

[2017-11-21 01:29] zepumph commented on #31
This is now blocking two separate issues related to phetsims/joist#445.

[2017-11-21 01:30] zepumph commented on #31
Looks like we may not be able to discuss this until the first dev meeting in December since @samreid and @pixelzoom are out the week after thanksgiving. Is there a way that we could expedite this?

[2017-11-21 01:43] samreid commented on #35
The root tandem must be available before sim modules are loaded so that "static" tandems will work.  So we cannot, for example, pass a variable from `sim-main.js`.  That leaves us with something that can be loaded in tandem/ by a module or a preload constant.  Loading from package.json is the former, I'm not sure what other good options we have.  Suggestions?

[2017-11-21 01:46] zepumph commented on #35
Not good suggestions. Brainstorming. We could batch everything before tandem is launched, and when launched tack on the "root" to the front of all of the ids in the batched list before draining/addInstance, then from there rootTandem would be defined as usual.

[2017-11-21 01:59] samreid commented on #35
That would work, but is there a good reason not to use the name from package.json?  Wouldn't adding the same name somewhere else be an undesirable duplication?

[2017-11-21 02:03] zepumph commented on #35
Makes sense and agreed. Closing

[2017-11-21 02:03] #35 closed

[2017-11-21 17:47] samreid commented on #31
Perhaps we will be able to discuss it Tuesday or Wednesday of next week, going on hold until then.

[2017-11-22 01:51] zepumph commented on #34
This is good to go. Closing

[2017-11-22 01:51] #34 closed

[2017-11-22 18:50] zepumph commented on #31
After thinking about https://github.com/phetsims/phet-io/issues/1216#issuecomment-346405797, I feel more inclined to have this be a phet-io specific type. `PhetioObject.js` as a mixin to any type we want to be instrumented. This would be very nice to handle addInstance, disposal/removeInstance, assigning a phetioID or tandem to itself, assigning its phetioOptions to itself like phetioState/phetioI

[2017-11-24 06:01] samreid commented on #31
At a recent developer meeting, we discussed broader use of mixins in the project.  @jonathanolson also pointed out there are a few places where inheritance is dictated by other concerns, such as `molecule-shapes/js/common/view/3d/AtomView.js` which must extend `THREE.Mesh`.  That being said, I think inheritance will be the more straightforward/idiomatic/maintainable way to proceed, even if we cann

[2017-11-24 06:05] samreid commented on #31
In the preceding commit, I renamed PhETObject=>IOObject.

[2017-11-24 06:09] samreid commented on #31
Also, now that it is specialized for PhET-iO, perhaps it doesn't belong in phet-core?  On the other hand, if we put it in the `phet-io` repo, then we will have to load it with `ifphetio!` plugin and add crazy workarounds to get it running.  Maybe it should go in the tandem repo because it's available everywhere it is needed, and it is about instrumenting instances through the tandem interface and

[2017-11-24 23:12] samreid opened #36 "Review IOObject.js"
From https://github.com/phetsims/tandem/issues/31 @zepumph and I implemented a new type called IOObject.js which is intended to be used as a base type for instrumented PhET-iO types.  It attempts to standardize a number of new options that were being handled with an odd strategy in phet-io.js.

IOObject.js is checked in to master for review, and we have purposefully avoided using it until review i

[2017-11-25 11:49] samreid commented on #26
I added docs in the preceding commit, assigned to myself to see if there's anything else to do.

[2017-11-25 12:03] samreid commented on #25
`createStaticTandem` was eliminated in https://github.com/phetsims/tandem/issues/34

Yes, the only difference between GroupTandem and Tandem is that GroupTandem adds the following method:

[code]

Tandem is designed around concatenating strings, hence the following code would not be an error:
[code]

On the other hand, `x`, `y` and `z` would all have the same `id`.  Also `a` and `b` have the same

[2017-11-26 17:49] samreid commented on #26
I cleaned this up quite a bit in the preceding commits.  @zepumph can you please review it yourself before we send it back to @pixelzoom?

[2017-11-27 20:56] zepumph commented on #25
Good to note that while you can have the same ids, you won't be able to add instances of these same strings without getting an error.

[code]

It seems like the main confusion we are trying to avoid would be:

[code]

[2017-11-27 22:03] zepumph commented on #26
Looking good, thanks @samreid. Back to you @pixelzoom

[2017-11-28 15:13] pixelzoom commented on #25
Re this:

[code]

The fact that `x !== y` is problematic, as noted by the example in https://github.com/phetsims/tandem/issues/25#issuecomment-347325181.

Imo, the second call to `createTandem` should error out -- you can't "create" the same thing twice.  If you really need to get at a tandem that was previously created, then add a `getTandem` call, or (better yet) use assignment.  E.g.:

[code]

[2017-11-28 16:12] pixelzoom commented on #26
Missing visibility annotations for `createGroupTandem`, `get tail`.  Looks like they should be `@public`, so I added them in the above commit.  @samreid please confirm and close.

[2017-11-28 16:17] pixelzoom commented on #36
The `PrecipitateParticle` example isn't helping me - I'm guessing that the diff is clipped in important places.  I would also help to see `SoluteParticle`.  @samreid can you please add a comment with the proposed implementations of `PrecipitateParticle` and `SoluteParticle`?

[2017-11-28 16:31] pixelzoom commented on #31
This is assigned to me, but I'm not clear on what I'm supposed to review, or what feedback is needed. https://github.com/phetsims/tandem/issues/31#issuecomment-345887237 refers to "the bug reported by @pixelzoom" but I see no reference a specific bug in this issue.   So...  I'm going to self-unassign and await further instructions.

[2017-11-28 16:43] samreid commented on #25
Implementing that seems like it would open the door to memory leaks.  I don't understand the problem in https://github.com/phetsims/tandem/issues/25#issuecomment-347325181, why does it matter that they are different hellos?  Currently, only the `tandem.id` is used, which is identical between the two tandems.

[2017-11-28 16:47] pixelzoom commented on #25
The key word here is "currently".

[2017-11-28 17:00] samreid commented on #36
Yes, I used the IDEA diff "accordion" that only shows changes (rightmost icon in this pic)
![image](https://user-images.githubusercontent.com/679486/33332961-dee3d8e8-d422-11e7-874a-d22bd0dd104b.png)

I'll prepare a text example for review.

[2017-11-28 17:01] samreid commented on #31
I've isolated the part for @pixelzoom review to https://github.com/phetsims/tandem/issues/36, we can proceed there.

[2017-11-28 17:46] samreid commented on #25
To future-proof ourselves, we could implement Tandem.equals() and implement it with content-based equality (rather than reference based equality).

[2017-11-28 18:17] zepumph commented on #25
It seems like part of the problem here is that our registry exists in phetio, and not in Tandem. If Tandem had a registry of instances, then it would be easy to have `createTandem` validate. I'm not sure I see a large benefit in it though, but more a lateral step.

@samreid could you supply a usage for what you are thinking with `Tandem.equals()`, would that be a static method that takes in two `T

[2017-11-29 17:30] samreid commented on #36
I'm hitting a snag that IOObject.addInstance is being called before the sub constructor is complete.  This means we cannot do `toStateObject` at this point.  So we will have to abandon state snapshots or find a way to make IOObject.addInstance go at the end of construction.

@zepumph can we chat about which way to go?

[2017-11-29 17:47] samreid commented on #36
Branch is here: https://github.com/phetsims/beers-law-lab/issues/219

It will reproduce the problem from my previous comment--use instance proxies, then shake solute, then evaporate.  When PrecipitateParticle is created it will fail out.

[2017-11-29 18:13] samreid commented on #36
I discussed it with @zepumph and we decided to add `PhETIO.js.getStateForObject` and change instance proxies to read like so:
[code]
Then we will eliminate the initial `stateObject` from the instanceAdded emits.

[2017-11-29 19:05] samreid commented on #31
Unmarked for developer meeting, after I get it fixed up we'll run it past @pixelzoom first.

[2017-12-01 23:32] zepumph commented on #36
@samreid I've been working on this for a while and I have hit an impasse. There is quite a bit of issue downstream of the async call above. Imagine this chain of events:

1. addInstance emitted
2. in instance proxies send out for the 'getStateForObject' method.
3. async in the other frame the instance is deleted.
4. the instanceRemovedListener fires and tries to delete something from the instance

[2017-12-02 00:39] zepumph commented on #36
@samreid I think the above is pretty safe. Basically we removed the assertion that for an instance to be removed, it must exist in instance proxies, which is understandable because we added a race condition in if an instance is removed in the sim before instance proxies can get the initial state (also async call) and create the div UI component. Please review the changes above.

[2017-12-02 04:24] samreid commented on #36
I'm seeing a few problems with the proposed solution. First, testing it on beer's law lab, particles are not disposed when they hit the solution (it should go back down to 211 instances, but the created shaker particles never go away).  Second, it seems that `null` would be better than `{}` for a non-existent `phetioid`. Or maybe even an error.

[2017-12-02 04:33] samreid commented on #36
I wonder if the remove is getting called before the add callback completes--this could explain why we are getting zombies.

[2017-12-02 04:41] samreid commented on #36
Perhaps the divs are being removed but the count in the control panel isn't updating.

[2017-12-02 04:50] samreid commented on #36
Fixed in preceding commit.

[2017-12-02 05:49] samreid commented on #36
In the "ioobject" branch of beers-law-lab, I applied the IOObject base class to all types that were using `tandem.addInstance`.  It is now ready for @pixelzoom to review.  Steps for review:

0. Pull all in master, checkout the beers-law-lab `ioobject` branch and pull it too.
1. Read through tandem/js/IOObject.js
2. Compare beers-law-lab master to beers-law-lab ioobject.  Begin with `ShakerParticle

[2017-12-03 14:46] samreid commented on #25
I'll rename this issue since static tandems no longer exist.

[2017-12-03 14:54] samreid commented on #25
[code]
Doesn't seem problematic to me unless we have code that is comparing tandems for equality, like

[code]

I do not yet see the value of doing tandem equality comparisons since it would not be leveraged by our implementation at the moment.

I have been considering Tandem as syntactic sugar for doing string concatenation and it is sufficient for that.  If in the future we start treating Tandem

[2017-12-04 19:15] zepumph commented on #25
@samreid, I think you're right. The main concern here is confusion for developers that are not as used to the system. We should make the purpose of tandems clear in the documentation so that devs understand the original developer's intended usage (sugar for string concat).

I also want to point out that while there could be confusion while developing if someone mistakenly created the same tandem o

[2017-12-04 19:52] pixelzoom commented on #25
@samreid said:

That's an internal detail, something that should be encapsulated.  And if you're going to make that assumption throughout client code, then perhaps a full-blown type with instances isn't appropriate for Tandem.

[2017-12-04 20:08] pixelzoom opened #37 "buggy Tandem.isLegalAndUsable"
Tandem.js line 249:

`return this.supplied || (this.optional && !this.supplied);`

Tandem instances do not have an `optional` field.  Tandem does have a static `optional` field.

[2017-12-04 20:11] pixelzoom opened #38 "this.options is unused outside of Tandem constructor"
Tandem.js line 47:

[code]

`this.options` is `@private` and unused outside of the constructor.  So there's no reason to make it an instance field.

[2017-12-04 20:13] pixelzoom commented on #38
To clarify... All of the fields in `this.options` are assigned to individual instance fields in the Tandem constructor.  So there's no need to `this.options`.

[2017-12-04 20:24] pixelzoom opened #39 "Tandem: duplicated logic in assertions"
Tandem.js:

[code]

In both cases you're duplicating the logic used to determine whether the tandem has a tail.

Should be:

[code]

You might also consider adding the tandem id to each of these assertion messages, to make the messages more useful.

[2017-12-04 20:26] pixelzoom commented on #39
Also wondering about the expression in these assertions:

`this.id.indexOf( '.' ) >= 0`

Presumably you should be checking that index !== -1.   If you're having to test for index === 0, then you have faulty code elsewhere that's allowing you to create a tandem id that starts with '.'

[2017-12-04 20:30] pixelzoom opened #40 "tandem id separator is duplicated as a string literal"
I see `'.'` duplicated 6 times.  The tandem id separator should most definitely be factored out into a constant.  And made public via a static constant if you're using it outside of Tandem.

[2017-12-04 20:31] pixelzoom commented on #39
... and in fact Tandem's constructor is faulty, it's not checking for occurrence of the separator ('.') in the  `id` argument.  Need to add this assertion in the constructor:

`assert && assert( id.indexOf( SEPARATOR ) === -1, 'id cannot contain the separator ' + SEPARATOR );`

And SEPARATOR needs to be factored out, see https://github.com/phetsims/tandem/issues/40.

[2017-12-04 20:33] zepumph commented on #38
Right you are, thanks.

[2017-12-04 20:35] pixelzoom commented on #40
And the separator is indeed used in multiple places outside of Tandem, where it appears as a literal.   Numerous examples in the phet-io and phet-io-wrapper-* repositories.

E.g. in sonificationUISoundsSampled.js

`163  var lastIdElement = messageObject.phetioID.split('.').pop();`

[2017-12-04 20:37] pixelzoom commented on #25
@samreid If Tandem is syntactic sugar for string concatenation, why isn't it being used in cases like https://github.com/phetsims/tandem/issues/40#issuecomment-349096675, reproduced here:

[code]

[2017-12-04 20:39] zepumph commented on #38
How does that look?

[2017-12-04 20:40] pixelzoom commented on #25
And if it's not appropriate to use `Tandem` in cases like the above, consider factoring out the id-related functions so that they can be by both `Tandem` and cases like the above.   With the current approach, you currently have zero encapsulation of the id format.

[2017-12-04 20:41] zepumph commented on #25
sonificationUISoundsSampled.js is client wrapper code, so we don't have access to the Tandem instance there. We only have the string literal (phetioID).

[2017-12-04 20:42] pixelzoom opened #41 "encapsulate the format of phetioID"
Relocating this from https://github.com/phetsims/tandem/issues/25#issuecomment-349097125, since it's an issue of it's own.   Also related to https://github.com/phetsims/tandem/issues/40.

There is currently no encapsulation of the tandem id format.  The separator (`'.'`) appears as a string literal in numerous places (see https://github.com/phetsims/tandem/issues/40).   And client code is doing th

[2017-12-04 20:43] pixelzoom commented on #25
See https://github.com/phetsims/tandem/issues/25#issuecomment-349097990.

[2017-12-04 20:44] zepumph commented on #37
Wow this is a big one! Quite a while ago we name changed from "optional" to "required" and must have missed this usage. There will probably be quite a few assertions that trigger from this.

[2017-12-04 20:46] zepumph commented on #25
We struggle with this, because we don't have a library that that is used on the sim side (with requirejs) or with wrapper code (just a global, see WrapperUtils.js).

[2017-12-04 20:49] #38 closed

[2017-12-04 20:51] pixelzoom commented on #25
What's the barrier to having a library that encapsulates tandem id and is usable by both sims and wrappers?

[2017-12-04 20:52] pixelzoom commented on #41
In https://github.com/phetsims/tandem/issues/25#issuecomment-349098299, @zepumph said:

sonificationUISoundsSampled.js is client wrapper code, so we don't have access to the Tandem instance there. We only have the string literal (phetioID).

[2017-12-04 20:52] pixelzoom commented on #41
In https://github.com/phetsims/tandem/issues/25#issuecomment-349099138, I said:

See https://github.com/phetsims/tandem/issues/25#issuecomment-349097990.

[2017-12-04 20:53] pixelzoom commented on #41
In https://github.com/phetsims/tandem/issues/25#issuecomment-349099699 @zepumph said:
We struggle with this, because we don't have a library that that is used on the sim side (with requirejs) or with wrapper code (just a global, see WrapperUtils.js).

[2017-12-04 20:54] pixelzoom commented on #41
What's the barrier to having a library that encapsulates tandem id and is usable by both sims and wrappers?

[2017-12-04 20:54] pixelzoom commented on #25
Please continue the discussion about tandem id encapsulation in #41.

[2017-12-04 20:57] pixelzoom commented on #41
And for the record... The lack of encapsulation is not limited to wrappers.  I see 9 occurrences of `'.'` in the phet-io repository that qualify.

[2017-12-04 20:58] pixelzoom commented on #41
Looks like not all occurrences of '.' in the phet-io repository are related to tandem identifier.  But my point is some of them likely are, and it's not easy to tell which ones.

[2017-12-04 21:05] zepumph commented on #41
I see two of the 9 (10 for me) that apply to this problem:
[code]

These should use use a Tandem static method to parse so that we can factor out the usage of '.' into a singular "tandemDelimiterChar" in Tandem.js. Is this the type of thing you are trying to centralize?

[2017-12-04 21:08] zepumph commented on #36
@pixelzoom correct me if I am wrong about the closing.

[2017-12-04 21:10] pixelzoom commented on #41
The delimiter is only part of the encapsulation problem.  The functions for picking apart a tandem id are the other part.  E.g the above example is essentially duplicating `Tandem` `tail` and `parentTandem`.

[2017-12-04 21:12] pixelzoom commented on #36
Thanks, I accidentally closed this - I'm actually in the middle of reviewing it.

[2017-12-04 21:19] pixelzoom opened #42 "Tandem: addInstance and removeInstance lack safeguards"
I see no safeguards in Tandem that prevent the same instance from being added/removed twice, or for removing an instance that hadn't been added.

Here's an example, where nothing fails with assertions enabled:

[code]

[2017-12-04 21:22] pixelzoom commented on #36
After completing step (1), review IOObject:

IOObject and ObjectIO in the same file, potentially confusing:

[code]

I don’t understand this comment, looks like a grammatical error:

[code]

Name does not match the convention for tandem instance fields. This should be named `this.ioObjectTandem`:

[code]

Line 58 is exceptionally long, exceeds the line limit for PhET style.

No safeguards that pre

[2017-12-04 21:25] pixelzoom commented on #36
ShakerParticle is not a subtype of IOObject. Presumably you mean SoluteParticle?

[2017-12-04 21:30] zepumph commented on #37
@samreid I think that we have been thinking about this method wrong. The `isLegalAndUsable` check really, when it boils down to it is just the `supplied` check, because even if the instance is tandemOptional, if it isn't supplied, then you shouldn't be calling phetioEvents or other phetio features on this. For example, see this assertion in Property.js:
[code]

Here we want tandem.isLegalAndUsable

[2017-12-04 21:34] pixelzoom commented on #37
`isLegalAndUsable` is certainly confusing, and not well-documented.  `isSuppliedOrOptional` would have been a better name, rather than introducing the poorly defined "legal" and "usable".

[2017-12-04 21:36] zepumph commented on #37
I this it is more like `phetioEnabledAndIsSupplied`. That's where the legal/usable came from.

[2017-12-04 21:53] pixelzoom commented on #36
Steps (2) and (3), rest of the changes in "ioobject" branch:

- [ ] `tandem: Tandem.required` should presumably be defined in supertype SoluteParticle, not duplicated in both subtypes (ShakerParticle, PrecipitateParticle)

- [ ] `tandem: Tandem.required` is presumably not needed in Shaker, since it's already specified in supertype Movable.

- [ ] PrecipitateParticle presumably does not need to spe

[2017-12-04 21:57] pixelzoom commented on #36
@samreid said:

To clarify... It looks like you applied this mostly (solely?) to view types.  View types (subtypes of scenery nodes) continue to use the old approach.  Correct?

[2017-12-04 22:02] pixelzoom commented on #36
Step (6), for each of the options that begin with the phetio prefix in IOObject.js search for at least one usage to see how they are used in practice:

- [ ] Why are BeersLawSolution, PrecipitateParticle and Solute specifying `phetState: true`? That is the default in IOObject.

- [ ] Could not complete this step because there are no usages of `phetioEvents`, `phetioReadOnly ` and `phetioInstanceDo

[2017-12-04 22:11] pixelzoom commented on #36
Overall:

• Lots of specific questions (see checklist items in above comments), but I'm guessing that the majority of these are instrumentation errors, and not specific to IOObject.

• In it's current state, IOObject is not ready for production.  See https://github.com/phetsims/tandem/issues/36#issuecomment-349109911.

• I like passing tandem via options, rather than as a required constructor para

[2017-12-06 17:17] samreid commented on #36
ShakerParticle extends SoluteParticle which extends IOObject

[2017-12-06 17:24] pixelzoom commented on #36
Got it, and (as indicated above) ShakerParticle - SoluteParticle - IOObject hierarchy has been reviewed.

[2017-12-10 15:13] samreid commented on #36
Responding to feedback in https://github.com/phetsims/tandem/issues/36#issuecomment-349109911

A Type always refers to its IO Type (formerly known as TType).  For instance Vector2 refers to Vector2IO.  IOObject has the IO prefix because it is specific to PhET-iO.  Not sure how to clarify this.

I updated the options docs in preceding commit

Fixed in a commit

I shortened it a bit (still over limi

[2017-12-10 15:28] samreid commented on #36
Responding to feedback from https://github.com/phetsims/tandem/issues/36#issuecomment-349118684

Fixed in preceding commit.

Removed in preceding commit.

Fixed in preceding commit.  But this may be a sticky issue because I don't know whether @zepumph and I are decided whether things like state and events should be opt-in or opt-out.

Removed extraneous assertion in preceding commit.

[2017-12-10 15:30] samreid commented on #36
Yes, scenery currently has an incompatible implementation of PhET-iO support, but the APIs are being designed to match up.  For instance, the IOObject options match the Node options.

[2017-12-10 15:33] samreid commented on #36
The main reason is that @zepumph and I have been hedging our bets about whether things should be "opt-in" or "opt-out".  Perhaps types should be opt-in to being instrumented, but once instrumented should be "opt-out" from specific features?  I'll remove the phetioState: true annotations in case we continue in that direction.

[2017-12-10 15:34] samreid commented on #36
For this part of the review, please search across all repos.

[2017-12-10 15:39] samreid commented on #36
@jonathanolson recommends making IOObject a mixin.  However, in https://github.com/phetsims/tandem/issues/31#issuecomment-346749272 I reasoned that a base class would be more appropriate.  It seems it would be possible to change Node's parent class from Object to IOObject, then delete all of the PhET-iO support from Node.js (since it would be handled by the parent class).

[2017-12-10 15:42] samreid commented on #36
@pixelzoom thanks for the careful review.  As part of addressing and responding to your feedback, I purposefully left checkboxes (like the ones in https://github.com/phetsims/tandem/issues/36#issuecomment-349109911 ) unchecked since I wasn't sure that my proposed commits would be satisfactory--you can use those checkboxes to track progress if you wish.

[2017-12-11 16:44] pixelzoom commented on #36
Regarding these related checklist items and @samreid's replies:

I understand that opt-in vs opt-out may still be  undecided. But if you're going to "hedge bets", then you should do so everywhere, not in a few seemingly random places.  Since the implementation of IOObject currently defaults to `phetState: true` (opt-out), and hedging has not been done uniformly, it makes sense to remove these. (Wh

[2017-12-11 16:46] pixelzoom commented on #36
Re this item and @samreid's reply:

Done.

[2017-12-11 16:55] pixelzoom commented on #36
Re:

Then why not use IOObject in scenery? Or factor out the options to be used in both IOObject and Node? The need to keep Node and IOObject options in-sync creates a longterm maintenance issue.

[2017-12-11 16:59] pixelzoom commented on #36
Re:

I don't believe that sending a start with no ends in not catchable. If so, then you have a software design problem.  You should also be able to catch 2 starts, 2 ends, and other invalid cases. This should be an easy problem to solve with a flag or counter.

[2017-12-11 17:01] pixelzoom opened #43 "similarity of IOObject and ObjectIO names may result in programming errors"
From review of IOObject in https://github.com/phetsims/tandem/issues/36#issuecomment-350785293:

Yes, I understand the semantics, and I understand the roles of IOObject and ObjectIO.  I'm just predicting that they will be inadvertently confused because of the similarity of their names.

[2017-12-11 17:02] pixelzoom commented on #43
If we don't come up with a different name for one of these types, then we should at least mention this at a developer meeting, so that all developers are aware of this pitfall.

[2017-12-11 17:09] pixelzoom opened #44 "unify IO type approach"
From review of IOObject in https://github.com/phetsims/tandem/issues/36#issuecomment-350785893:

I said:

@samreid replied:

I said:

[2017-12-11 17:11] pixelzoom commented on #36
@samreid I've moved unresolved sub-issues to their own GitHub issues.  Feel free to close this if you feel that the IOObject review is completed.

[2017-12-11 17:11] samreid commented on #44
@jonathanolson can we change Node.js to extend IOObject.js instead of Object?  Notes on mixin vs inheritance are here, my recommendation is to use inheritance if feasible: https://github.com/phetsims/tandem/issues/31#issuecomment-346749272

[2017-12-11 17:12] samreid commented on #36
Thanks for the review @pixelzoom, closing.

[2017-12-11 17:12] #36 closed

[2017-12-11 18:30] samreid commented on #44
Initial investigation is promising, I committed changes to a new branch https://github.com/phetsims/scenery/issues/721.  This eliminates 188 lines of code from Node.js (a good trade to switch to 82 lines of code from IOObject.js) and more importantly unifies the phet-io instrumentation implementation.  I tested a few instrumented nodes in Faraday's Law instance proxies and it seemed OK.

Ultimatel

[2017-12-11 18:34] jonathanolson commented on #44
It has my approval (just reviewed the above commit), just fix the parentheses-space formatting that got reverted.

[2017-12-11 18:37] zepumph commented on #44
I don't see how it will work if tandem or options are passed through the Node.mutate call, how will that get up to `IOObject`? Are they not allowed to? If not then that will change convention/code in many places around the project.

[2017-12-11 19:03] samreid commented on #43
@zepumph what do you think we should do?

[2017-12-11 19:04] samreid commented on #44
Good point @zepumph, I'll look for some cases that exhibit that pattern and look for ideas.

[2017-12-11 19:06] jonathanolson commented on #44
Ahh, I assumed that IOObject would have something like mutate that would do a similar operation. It definitely would be inconvenient if mutate couldn't be used for it.

[2017-12-11 19:10] zepumph commented on #43
Not changing `ObjectIO` seems like an obvious choice, since it is part of wrapper type convention. We could change `IOObject` to `phetioObject`. That seems easy and reasonable.

[2017-12-11 19:15] pixelzoom commented on #43
Why would we use lowercase (`phetioObject`) for a type name?

[2017-12-11 19:21] zepumph commented on #43
You are right! `PhetioObject` is probably better that `PhETIOObject` eh?

[2017-12-11 19:30] samreid commented on #44
@jonathanolson and I discussed and reasoned that something like:

[code]

May be suitable to (a) assign these non-mutable values once in IOObject and (b) keep mutate logic out of IOObject.

[2017-12-11 19:55] zepumph commented on #44
That may be much harder to maintain than adding some sort of logic in `Node.mutate` that calls up to `IOObject`.

In terms of conventional efficiency, it adds a large correctional step to bridge the gap from phet to phet-io.

I found 180 files with this regex `Node\.call\( this \)(.*\n)*.*\.mutate` where a direct descendant of `Node` uses mutate instead of the parent call for options. Wouldn't it

[2017-12-11 20:33] samreid commented on #44
It seems unfortunate that IOObject should support mutate since `phetioState`, `tandem`, `phetioInstanceDocumentation`, `phetioEvents`, `phetioReadOnly`, `phetioType` should not be mutable.

I know this unconventional (is crazy too strong a term?), but what about putting the `IOObject.call(this,options)` call in Node.mutate?  If options are supplied to the Node constructor, then they will pass thro

[2017-12-11 20:55] samreid commented on #44
Or maybe it would be approximately the same to have a mutate call in IOObject, but how do we enforce that it gets called exactly once?

[2017-12-11 22:12] zepumph commented on #44
Mutate can get called a lot, as it is passed up the chain, but maybe we could have a `constructed` flag in `IOObject`.

[2017-12-11 22:19] samreid commented on #44
I thought it would cause problems if it is called more than once in a hierarchy?  Also agreed we could track a constructed flag in `IOObject`.

[2017-12-11 22:48] samreid commented on #44
I'm partway through converting IOObject to use a `initIOObject` method which contains the body of the former constructor and it's working out to be very messy:

[code]

I'm wondering if we should bite the bullet and try something like `Node.call( this, IOObject.getOptions( options ) );`

[2017-12-11 23:22] samreid commented on #44
From slack:

I’m struggling with `https://github.com/phetsims/tandem/issues/44#issuecomment-350884154`, not sure how to deal with node constructor options and mutate call for its new parent type.

Chris Malley [3:52 PM]
Did you rule out the option of sharing options between Node and IOObject, instead of making Node extend (or mixin) IOObject?

[3:52]
As I recall, the issue was keeping options in s

[2017-12-11 23:23] samreid commented on #44
I think we should bark up that tree a little while and see how it goes

[2017-12-12 21:08] samreid commented on #44
I'm partway through specifying phetio options on startup (not mutate), and I added a check that they cannot be specified differently in mutate, which is helping make sure no code is using the old pattern. This is a lot of work but it feels like the right direction.

[2017-12-13 00:42] samreid commented on #44
I'm seeing a lot of

[code]

which can be converted.

[2017-12-13 02:47] samreid commented on #44
I've got all phet-io fuzz tests passing with the check that verifies phetio options are correct in the constructor.  I'll commit shortly.

[2017-12-13 02:51] samreid commented on #44
I commented on the public slack channel:

[2017-12-13 02:57] samreid commented on #44
Commits are above and I merged scenery ioobject to master.  Leaving open to check on Bayes.

[2017-12-13 04:45] samreid commented on #44
Bayes seems OK after I correct ABSwitch in the preceding commit.  @pixelzoom an unfortunate side effect of this strategy is that Node.call() / Node.mutate() patterns must now supply phet-io options to the Node constructor.  For example, see FaucetNode.js.  What previously read:

[code]
Now reads:
[code]

The `IOObject.getOptions(options)` call takes only the options supported in IOObject so that o

[2017-12-13 16:20] samreid opened #45 "Fix the parentheses space"
From https://github.com/phetsims/tandem/issues/44#issuecomment-350815308 @jonathanolson said:

I'm guessing that @jonathanolson is referring to this new space:

![image](https://user-images.githubusercontent.com/679486/33949398-b7267d36-dfe6-11e7-8300-f7d11cf3a64e.png)

This space is added by WebStorm IDEA PhET Formatting.  Is it undesriable?

[2017-12-13 17:23] jonathanolson commented on #45
Turns out I read the diffs incorrectly, and thought things like this were getting broken instead of fixed:

![spaces-a](https://user-images.githubusercontent.com/480878/33952585-7fb36afe-dfef-11e7-9788-71bdab34507d.PNG)

Closing, sorry about that!

[2017-12-13 17:23] #45 closed

[2017-12-13 21:01] pixelzoom commented on #44
@samreid said:

... Now reads:
[code]

I really don't like this at all, and I don't understand the need for it.   Let's chat.

[2017-12-13 21:10] pixelzoom commented on #44
IOObject.checkOptions is confusing.  After reading through it, I think the purpose is to make sure that if you pass options though both Node constructor and an explicit `mutate` call (a dubious practice to begin with), that you didn't change the value of any PhET-iO options  in the `mutate` call.  Is that correct?

[2017-12-13 21:13] pixelzoom commented on #44
I think @jonathanolson should take a close look at this too.  Approach seems wrong and unnecessarily complex to me.   The approach to passing `options` via constructor and/or `mutate` should ideally remain unchanged, and I don't understand what's preventing that.

[2017-12-13 21:13] pixelzoom commented on #44
Labeling as "top" priority since this is now in master.

[2017-12-13 21:20] pixelzoom commented on #43
IOObject is documented as:

[code]

This comment seems to leave the door open to putting non-PhET-iO functionality in this type. If that's the intent, then perhaps `PhETObject`?   If that's not the intent, then make it clear in the documentation (and type name, if it's changed) that this type handles PhET-iO responsibilities only.

[2017-12-14 00:03] pixelzoom commented on #44
@samreid and I started working on this via Slack/Zoom. With the revised approach that we came up with, the only constraint will be that the PhET-iO options can be passed via either the constructor or `mutate`, but not both.

[2017-12-14 01:46] samreid commented on #44
I've got things mostly running on my working copy, and many sims are launching, so I'll commit soon.  The main problem I'm running into is difficulty in specifying `phetioType: NodeIO` in Node.js.  If I specify this in the constructor, it tells IOObject to use the constructor initialization, then there is a failure during mutate.  We kind of need to extend options `phetioType: NodeIO` only when th

[2017-12-14 04:57] samreid commented on #44
I finished making the changes @pixelzoom and I discussed, it would be good if @pixelzoom has time to review.  I also added a workaround to Node.js that specifies NodeIO, but which can be overriden by subtypes.
https://github.com/phetsims/scenery/commit/39540496fd253c5600ae6af860c014cd3bb88f42
https://github.com/phetsims/tandem/commit/d3fa524ad829f023ee36ca74d88fd73e66d0c113

[2017-12-14 14:48] samreid commented on #43
I changed the docs to indicate it is for PhET-iO instrumentation only.

[2017-12-14 19:39] samreid commented on #43
Meeting consensus:

[2017-12-14 21:35] samreid opened #46 "Convert types to use PhetioObject"
See https://github.com/phetsims/phet-io/issues/1227

[2017-12-14 21:46] samreid commented on #43
I'll work on this.

[2017-12-14 21:51] samreid commented on #43
I renamed it above, and realized that I need to rename this in the beers-law-lab branch as well.  And we should bring that beers-law-lab branch to master.

[2017-12-14 21:56] samreid commented on #43
Renaming complete, closing.

[2017-12-14 21:56] #43 closed

[2017-12-14 21:59] samreid commented on #46
Beer's Law Lab is now using PhetioObject, see https://github.com/phetsims/beers-law-lab/issues/219

[2017-12-15 01:38] pixelzoom opened #47 "questions about the 'id' used by startEvent and endEvent"
Notice in commit https://github.com/phetsims/tandem/commit/8da7c9717f130a38c1930c0b133c1a5bb123f07a while https://github.com/phetsims/phet-io/issues/1281.

Questions about PhetioObject.js:

(1) Why is the return value of `startEvent` documented as `@returns {number|boolean}`? When would it be number vs boolean?  And how can it possibly be anything but boolean when the `return` statement is a boole

[2017-12-15 02:12] pixelzoom commented on #44
I reviewed PhetioObject and Node, looks generally nice.

The "workaround to Node.js that specifies NodeIO" is unfortunate. I understand why it's needed and I can't think a better solution.

In PhetioObject `initializePhetioObject`, I believe that this assertion should move to the top of the constructor, because we should never be calling `initializePhetioObject` without `options`:

`63 assert && a

[2017-12-15 02:34] samreid commented on #47
For example, `true && 4` evaluates to `4`.

If the tandem is not legal and usable, then the expression short circuits and returns false.  If the tandem is legal and usable, it returns a numeric identifier that is used to cross-check the end (to make sure ends and starts match).

[2017-12-15 02:45] samreid commented on #44
PhetioObject() can be called without options--this is the normal use case when using Node.call(this) without options, and hence should not trigger an assertion error.  I can see that both places that call `initializePhetioObject` guarantee the options exist, but it still seems nice to keep the assertion in case things change at the call sites.

[2017-12-15 02:49] pixelzoom commented on #47
Thanks for the clarification. I've added that info to the `@returns` tag of `startEvent`.

Perhaps `@returns {number}|false` would be a better way to document `startEvent`?

I'm also unclear on what happens in the case where `startEvent` returns `false`.  Presumably that `false` id value is passed to `endEvent`.  But `endEvent` isn't checking to see if `id === false`, and is instead calling `isLeg

[2017-12-15 02:54] pixelzoom commented on #44
There are 2 calls to `initializePhetioObject`:

// PhetioObject:
    if ( options ) {
      this.initializePhetioObject( {}, options );
    }

// Node
    mutate: function( options ) {

      if ( !options ) {
        return this;
      }

      this.initializePhetioObject( { phetioType: NodeIO }, options );
[code]

[2017-12-15 02:57] pixelzoom commented on #44
Btw... I'm OK with allowing `initializePhetioObject` to be called without `options`, if you think there's some value in that.  But if that the case, the doc should be changed to `@param {Object} [options]` and `assert( options, ... )` should be deleted.

[2017-12-15 02:57] samreid commented on #44
Did you mean to move this assertion to the top of `initializePhetioObject`?

[2017-12-15 02:58] pixelzoom commented on #44
Ah sorry, yes - I meant to move `assert( options, ... )` to the top of `initializePhetioObject`, not the constructor.

[2017-12-15 02:58] samreid commented on #44
OK that sounds good, I'll move it now.

[2017-12-15 03:00] samreid commented on #44
I moved the assert statement, anything else for this issue?

[2017-12-15 03:01] samreid commented on #47
There is an assumption that `isLegalAndUsable` will have the same value at start and end, and hence will be a suitable check.  It may be equivalent to check `id===false`.  Not sure which I prefer, let me know your recommendation.

[2017-12-15 03:04] pixelzoom commented on #44
Nope, that's it, closing.

[2017-12-15 03:04] #44 closed

[2017-12-15 03:10] pixelzoom commented on #47
I added some more doc for `endEvent`:

`@param {number|boolean} id - identifier that was returned by the corresponding startEvent`

But this whole `{number|boolean}` has that "implicit coercion" smell to it.  And (as evidenced by the trouble I'm having with it) is confusing, difficult to document, etc.   Instead of returning `false` when the tandem is "not legal and usable", how about returning a

[2017-12-15 03:13] pixelzoom commented on #47
[code]

I'm sure there's a better name for `ILLEGAL_OR_UNUSABLE_EVENT_ID` ;)

[2017-12-15 03:16] pixelzoom commented on #47
... and since `endEvent` never uses `id` when it's a `boolean`, it really doesn't need to ever be a boolean.  When !isLegalAndUsable, you could return pretty much any numeric value from `startEvent`, and it will never be passed to `endEvent`.

[2017-12-15 03:25] pixelzoom commented on #47
`phetioEvents.start` is already using -1 as a special "don't do anything" message index.  See phetioEvents.js lines 136 and 186.  Recommended to factor out this -1 (`NO_MESSAGE_INDEX`?), and use it in PhetioObject, something like:

[code]

Note that there's no need to test `legalAndUsable` in `endEvent`, because `phetioEvents.end` will handle turning itself into a no-op (phetioEvents.js line 186).

[2017-12-15 19:56] samreid commented on #46
I've done several, but there are still 30 or so more cases to convert.  Tagging @ariel-phet and @kathy-phet so they are aware I'll be working on this.

[2017-12-19 04:32] samreid commented on #47
Maybe we can go one step further and have phetioEvents.start take the `tandem` as an argument (instead of the `id`), then it can do the check and short circuit itself.

[2017-12-19 16:43] samreid commented on #47
I'm planning to work on this after https://github.com/phetsims/tandem/issues/46 is complete so there are a much smaller number of cases to convert.

[2017-12-22 20:25] samreid commented on #25
It seems best to discuss this as a development team to decide how to proceed.

[2017-12-22 20:55] samreid commented on #37
I went with

[code]

@pixelzoom does this seem good to you?

[2017-12-22 21:11] samreid commented on #41
phetioEvents.js should change to take a Tandem as an argument rather than a phetioID.  Other places I see `phetioID.`:

sonification: these look like they are doing string matching and probably OK
build-an-atom: testing strings, perhaps OK
create-instance-proxy-div:

[code]

instance-proxies.js does prefix matching, maybe can be deleted.

I'm not convinced that factoring out

[code]
into an auxili

[2017-12-22 21:12] samreid commented on #41
@pixelzoom thoughts?

[2017-12-23 04:25] samreid commented on #46
I've converted to use PhetioObject where possible.  There are still a few singletons using tandem.addInstance, but they look appropriate.  The next step will be to turn on the assertions in PhetioObject, but that will be in another issue.

[2017-12-26 01:12] samreid opened #48 "re-enable all assertions in PhetioObject"
This will help us identify the following issues:
(a) cases where an event triggers the an event on the same instance
(b) cases where an object is disposed while triggering an event.

From #46

[2017-12-26 01:13] samreid commented on #46
Created new issue #48, closing.

[2017-12-26 01:13] samreid commented on #48
Bayes is not currently operational, so we will have to rely on local testing to help catch issues.

[2017-12-26 01:19] samreid commented on #48
Please see https://github.com/phetsims/equality-explorer/issues/25 for an issue that was created in Equality Explorer about this assertion.

[2017-12-26 01:41] samreid commented on #48
Local Aqua testing for phet brand indicated issues in these sims:

- [ ] build-a-molecule
- [ ] expression-exchange
- [ ] molecule-shapes
- [ ] molecule-shapes-basics
- [ ] states-of-matter
- [ ] states-of-matter-basics
- [ ] sugar-and-salt-solutions
- [ ] sun

I included all red sims (even those with seemingly unrelated issues), in case the unrelated issues may be masking this issue.

[2017-12-26 19:18] pixelzoom commented on #41
build-an-atom: testing strings, perhaps OK

Not clear what specifically you're referring to, so I can't comment on whether I think that are OK.

Things are properly encapsulated if:
(1) you can change the separator from '.' to something else _in one place_
(2) code for parsing a tandem (e.g. `tail`, `parentTandem`) is not duplicated

[2017-12-26 19:24] pixelzoom commented on #41
Related issue: phetio ids should not be formed using string concatenation

[2017-12-26 19:29] pixelzoom opened #49 "what is the correct term for the 'id' field of a Tandem instance?"
What is the correct term for referring to the `id` field of a Tandem instance?  I see no less than 4 different names for this thing in code and issues:

id
phetioID
tandem id
wrapper id

... and it's confusing.  Highly recommended that you standardize on a term, one that makes sense for the public API.

[2017-12-26 19:36] #37 closed

[2017-12-26 20:07] zepumph opened #50 "TypeError: Cannot read property 'id' of undefined"
In states of matter and a few others, it looks like BooleanRectangularStickyToggleButton is never calling `PhetioObject.initializePhetioObject`.

[code]

[2017-12-26 20:11] zepumph commented on #50
I dove into this, and it looks like this error is only happening on types marked with `Tandem.indicateUninstrumentedCode()`. There we don't have a truthy tandem with an id, so this link fails:
`var id = this.phetioObjectTandem.id;` since `this.phetioObjectTandem` is assigned from `options.tandem`.
Two thoughts about how to proceed:

1. Add `tandem: tandem.optional` to all places with `Tandem.indic

[2017-12-26 20:13] zepumph commented on #50
One more thought. In most cases this won't matter, because there won't be a phet-io event hooked up in a class that isn't instrumented, but this error is for the edge case where a subtype is not instrumented, but the parent is triggering an event to the data stream, without a tandem. Perhaps there needs to be a check for this.

[2017-12-26 20:59] samreid commented on #50
The problem is that RoundButtonView and RectangularButtonView do not pass additional phetio options to `initializePhetioObject` so PhetioObject never gets fully initialized.  I think we need to adjust the checks in `initializePhetioObject` or have a better way of passing the base options from the call site.

[2017-12-26 21:06] samreid commented on #50
I couldn't find a good direct solution (yet?) so I've applied a workaround in RoundButtonView and RectangularButtonView.  @zepumph can you please take a look at your convenience?

[2017-12-26 22:21] samreid commented on #49
I think we previously agreed to use `phetioID`.  What are all of the sites that should be updated to reflect this?  Should `Tandem.id` be renamed to `Tandem.phetioID` too?

[2017-12-26 23:01] samreid commented on #41
Based on the remarks in this issue and in https://github.com/phetsims/molecules-and-light/issues/165 I want to make sure we are on the same page about usage of `phetioIDs` and how they are intended to be used.  Let's look for instance at phet-io-wrappers/build-an-atom-game/build-an-atom-game.html which has this code:

[code]

The first `phetioID` is `buildAnAtom.gameScreen.model.provideFeedbackPro

[2017-12-26 23:23] samreid commented on #48
The problem in build-a-molecule is exactly what we have been talking about in https://github.com/phetsims/scenery/issues/725 and https://github.com/phetsims/scenery/issues/726. The drag event is calling `endDrag`.  This is causing trouble for PhetioObject's assertions because PhetioObject's new assumption is that an event cannot trigger an event on the same object.

[2017-12-27 00:43] samreid commented on #48
I wonder if the problems in https://github.com/phetsims/tandem/issues/48#issuecomment-353902230 were fixed by commits in https://github.com/phetsims/tandem/issues/50 ?

[2017-12-27 00:50] samreid commented on #48
I added the workaround to use PHET_CORE/Timer to invoke the end drag in the next animation frame.

[2017-12-27 00:53] samreid commented on #48
Next round of testing

- [ ] build-an-atom: cannot dispose while event is in progress

[2017-12-27 01:42] samreid commented on #48
After proposed changes to fix build-an-atom style cases, I added another assertion to make sure objects are not disposed twice, and it is triggering in Circuit Construction Kit.

[2017-12-27 04:27] samreid commented on #48
Fixed a latent bug in CCK CircuitElement disposal.

[2017-12-27 15:03] samreid commented on #48
After fixing that, Next round of testing

- [ ] circuit-construction-kit-black-box-study

[2017-12-27 16:58] samreid commented on #48
I suspect it could be too restrictive to forbid objects from triggering double events on themselves (even though it seems rare).

[2017-12-27 17:13] samreid commented on #48
On the other hand, in a previous case and this case catching double triggering revealed an underlying problem in the code, so maybe it is good to keep (until we find a case we cannot circumvent).  Committing fix for MomentaryButtonModel shortly.

[2017-12-27 17:15] samreid commented on #48
On second thought, I'm not convinced the change above is a good move--it works around the problem at hand but when the button becomes disabled and it does not change the value it may be incorrect for the data stream.

[2017-12-27 17:20] samreid commented on #48
Better solution committed above.

[2017-12-27 17:45] samreid commented on #48
Everything is passing aqua fuzz (except for sugar and salt solutions which has namespace problems).  I'll test phet-io aqua before committing.

[2017-12-27 17:48] samreid commented on #48
Everything is green on phet-io aqua.  `grunt lint-everything` is clear, one commit coming up.

[2017-12-27 17:50] samreid commented on #48
The changes in PhetioObject warrant another review by @pixelzoom.  I'll create a new issue to make sure it is set for review.

[2017-12-27 17:50] #48 closed

[2017-12-27 17:51] samreid opened #51 "review PhetioObject"
From https://github.com/phetsims/tandem/issues/48

First @samreid should make sure it is set for review, and clearly identify what is to be reviewed.

[2017-12-27 17:57] samreid commented on #51
Perhaps we will do the review as part of https://github.com/phetsims/equality-explorer/issues/25

[2017-12-27 17:57] #51 closed

[2017-12-27 18:05] samreid opened #52 "Eliminate `id` from start/endEvent"
The `id` is now tracked internally in PhetioObject.  We will need to update all client calls to `startEvent` and `endEvent`

[2017-12-27 20:00] pixelzoom commented on #41
I'm OK with usages like:

`{ phetioID: 'buildAnAtom.gameScreen.model.provideFeedbackProperty', method: 'setValue', args: [ false ] },`

... where you're using a complete id that was formed elsewhere.  If you were somehow manipulating this id (e.g. `phetioID.split( '.' ).pop()`) that's not OK.

[2017-12-27 22:19] zepumph commented on #49
In my mind Tandem has always been separate from phet-io. I think I feel this way because Tandem sets up the id structure, and phet-io attaches appropriate listeners and uses those ids. For this reason I don't dislike keeping `id` as the name, although I don't feel strongly against renaming to `phetioID` for consistency.
Since instances are of type `Tandem`, their name should have the suffix "Tande

[2017-12-27 22:32] zepumph commented on #41
vs

To me, string manipulation and using intact phetioIDs (both in the wrapper code) use the same assumptions about id structure and separator key. @pixelzoom would you explain how you find these different? Please note that I am only talking about the wrapper side, which most often means that
 we aren't using requirejs, but rather plain ol' javascript.

[2017-12-27 22:39] pixelzoom commented on #41
`'buildAnAtom.gameScreen.model.provideFeedbackProperty'` (for example) is a token that you got from the sim that identifies a specific Property.  You don't care about what the actual token is, what the separators are, etc.  For the purposes of the wrapper, it could just as well have been something like "4f284dkg74232".    So no problem _using_ that identifier as a string literal.

What is a proble

[2017-12-27 22:54] samreid commented on #41
For the moment, let's focus our conversation on phet-io-wrappers/instance-proxies/createInstanceProxyDiv.js line 65

[code]

I appreciate the recommendation to factor this out.  Where should we factor it out to?  Once we decide how to address this occurrence, we can generalize to other occurrences if any.

Option 1: Make a `getPhetioIDTail` function earlier in the file.
Option 2: Factor out `.` in

[2017-12-27 23:15] samreid commented on #52
Fuzz tests seemed good, so I committed, closing.

[2017-12-27 23:15] #52 closed

[2017-12-28 01:59] samreid commented on #49
I'm comfortable with `Tandem.id` and `phetioID` in the wrappers, but OK to change to `Tandem.phetioID` if that helps.

I changed/reworded/fixed occurrences of "tandem id".  Did not see occurrences of "wrapper id".

@pixelzoom can you please review my comment and @zepumph comment and advise?

[2017-12-28 15:05] pixelzoom commented on #49
Above changes look good.

`Tandem.phetioID` would certainly tie it all together, and make it clear what `@param phetioID` is expected to be.

I must have been thinking of "wrapper type" -- which is a similar issue to this one, multiple (vestigial?) names for the same thing: wrapper type, IO type,...

[2017-12-28 15:11] pixelzoom commented on #41
For `getFriendlyName`, the wrappers and sims should be using the same implementation as Tandem `tail`. `WrapperUtils.js` lives in phet-io-wrappers.   So unless you want to make every sim depend on phet-io-wrappers, no, that's not the approach I had in mind.

Option 3 is closer, but not globals.  There should be an encapsulation of phetioID-related methods that is usable by sims and wrappers.

Perh

[2017-12-28 15:34] samreid commented on #41
Available to chat about tandem/issues/41 at your convenience.

Until then, I'll look into creating a preload file that can be used by sims and wrappers.

[2017-12-28 15:39] pixelzoom commented on #41
Here's what I had in mind, PhetioIDUtils.js in tandem.  There may be a better term than "component" for the implementation and documentation.

[code]

[2017-12-28 15:42] samreid commented on #41
Wrappers do not use requirejs.

[2017-12-28 15:48] pixelzoom commented on #41
Then something that can be used with or without requirejs, like `string.js` plugin.   The point is what's in the above example and how it encapsulates phetioID.

[2017-12-28 15:48] samreid commented on #41
So.... a global?

[2017-12-28 15:51] pixelzoom commented on #41
Assuming a sim is running, wouldn't PhetioIDUtils already be available to wrappers via `phet.tandemNamespace.PhetioIDUtils`?

[2017-12-28 15:53] samreid commented on #41
The wrapper is in a different frame than the sim, so we would have to either (1) require same-origin policy which is not a constraint we have now, or (2) supply asynchronous support for those methods and access over postMessage or the PhET-iO API (which uses postMessage).

[2017-12-28 15:54] pixelzoom commented on #41
So we have a design where wrappers and sims are incapable of sharing the same reusable code?

[2017-12-28 16:03] samreid commented on #41
Looking at phet-io-wrappers/instance-proxies/instance-proxies.html I can see there are a few files used in sims and wrappers: QueryStringMachine.js, lodash, jquery.  To make code usable in sims and wrappers, the straightforward way would be to use a preload and attach objects to `window` globals.  If we apply that to this case, it seems Tandem would still be requirejs but its methods like `tail` w

[2017-12-28 16:10] pixelzoom commented on #41
An approach similar to QueryStringMachine.js seems fine.  May want to limit use of PhetioIDUtils to Tandem, then provide static (delegate) methods in Tandem for clients that need to manipulate phetioID.

[2017-12-28 17:34] samreid commented on #41
I created PhetioIDUtils and used it in Tandem and instance proxies.  I updated all development htmls to point to the new preload.  All fuzz tests are green (aside from sugar-and-salt-solutions) and lint everything is passing.  Committing.

[2017-12-28 17:41] samreid commented on #41
@pixelzoom I factored out PhetioIDUtils and used it in Tandem.js and createInstanceProxyDiv.js, can you please review?

[2017-12-28 17:44] samreid commented on #49
I'll rename `Tandem.id` to `Tandem.phetioID` and create a new issue for renaming "wrapper types" to "IO types".

[2017-12-28 19:15] pixelzoom commented on #41
Looks good to me.  Anything else to do?

[2017-12-29 03:14] samreid commented on #41
That's all for now, closing.

[2017-12-29 03:14] #41 closed

[2017-12-29 03:46] samreid commented on #49
In the preceding commits, I changed `Tandem.id` to `Tandem.phetioID`.  I should manually iterate through the remaining occurrences of `.id` and see which need to be updated.  I'm seeing possibilities in some wrapper files.

[2017-12-29 14:55] samreid commented on #49
In classroom-activity, it looks like HTML element `id`s get reused as phetioIDs, so they cannot be renamed.

[2017-12-29 15:01] samreid commented on #49
I reviewed the 400+ occurrences of `.id` and flagged https://github.com/phetsims/phet-io-wrapper-classroom-activity/issues/4 and fixed https://github.com/phetsims/tandem/commit/62a98be078e0c70d31a251cac94dd7553c3f3662

[2017-12-29 15:03] samreid commented on #49
@pixelzoom anything else to do for this issue?  (Note side issues which will be handled separately: https://github.com/phetsims/phet-io/issues/1291 https://github.com/phetsims/phet-io-wrapper-classroom-activity/issues/4 )

[2017-12-29 15:44] pixelzoom commented on #49
👍 Looks good, closing.

[2017-12-29 15:44] #49 closed

[2018-01-08 17:05] pixelzoom commented on #25
1/8/18 dev meeting notes:
`createRootTandem` and `createStaticTandem` not longer exist. Validation occurs when `addInstance` is called.

[2018-01-08 17:05] #25 closed

[2018-01-21 20:54] samreid commented on #31
Review complete, and PhetioObject is mainstream now, closing.

[2018-01-21 20:54] #31 closed

[2018-01-22 04:18] samreid commented on #47
PhetioObject.startEvent no longer has a return value, and no `id` needs to be passed to `endEvent`.  @pixelzoom can this issue be closed?

[2018-01-22 17:00] pixelzoom commented on #47
This comment looks like it might be vestigial, since I don't see phetioID anywhere in PhetioObject.js:

`83 // TODO: do we need phetioID if we have phetioObjectTandem?`

[2018-01-23 01:59] pixelzoom commented on #47
Worked on this with @samreid via Slack, see above commits.

[2018-01-23 01:59] pixelzoom commented on #47
Reassigning to @samreid to take a closer look at faradays-law data stream, to verify before closing.

[2018-01-23 03:34] samreid commented on #47
I'm also seeing some failed unit tests after the changes above.  I'll look into them.

[code]

[2018-01-23 03:40] samreid commented on #47
Faraday's Law data stream seems good.  I removed options to endEvent() and checked lint is passing and equality explorer is launching.

[2018-01-23 03:49] samreid commented on #47
The first unit test failure is because when running in PhET brand but not PhET-iO brand.  Specifically:
http://localhost/tandem/tandem-tests.html?ea&brand=phet-io passes
http://localhost/tandem/tandem-tests.html?ea fails

This is because in PhET brand, `isSuppliedAndEnabled` evaluates to false and the event never gets "started", so there is no error when `endEvent` is called.  Perhaps we just need

[2018-01-23 05:28] samreid commented on #47
Proposed fix committed, @pixelzoom would you like to review the last series of commits?

[2018-01-23 17:12] #47 closed

[2018-02-08 18:16] pixelzoom opened #53 "branch: ama/tandem-enabled"
Identified by `print-branches.sh`.  Most recent commits by @samreid. Please describe.

[2018-02-09 06:05] samreid opened #54 "Make sure PhetioObjects get initialized"
See https://github.com/phetsims/sun/issues/335

PhetioObjects support initalization over the constructor or over a subsequent `initializePhetioObject` call (called from Node.mutate).  Let's try adding an assertion that makes sure one of these has been called.  @pixelzoom and I discussed and we think there is a chance there are some Nodes that don't get initialized in constructor or mutate, but I w

[2018-02-09 06:08] samreid commented on #53
Branch deleted, closing.

[2018-02-09 15:57] samreid commented on #54
@pixelzoom said:

[2018-02-09 17:11] samreid commented on #54
I added this code to the PhetioObject constructor:

[code]

and immediately ran into this code in utteranceQueue:
[code]

[2018-02-12 18:12] samreid commented on #54
I revised the code to get stacks:
[code]

and counted 179 uninitialized instances in Faraday's Law.

[2018-02-12 23:31] samreid commented on #54
After adding a few `tandem: Tandem.optional`, I'm down to around 36 cases.

[2018-02-13 00:18] samreid commented on #54
@pixelzoom said in slack:

[2018-02-13 17:42] samreid commented on #54
@pixelzoom said:

We can decide whether we require one of the registration attempts to succeed, or whether it is OK if they all fail.

We are now assigning `null` to PhetioObject attributes in the constructor, let's proceed with "it's OK if `initializePhetioObject` never succeeds" and see how that goes.

[2018-02-13 17:42] #54 closed

[2018-03-15 21:48] zepumph commented on #50
I'm not sure I understand this. These views both inherit from Node, which has this line:
`      this.initializePhetioObject( { phetioType: NodeIO }, options );`

so why do we need more options? We already have base options.

[2018-03-16 18:37] zepumph commented on #40
With `PhetIOIDUtils.js`, this has been taken care of in Tandem, but there are many other usages like in phet-io:
![image](https://user-images.githubusercontent.com/6856943/37538584-e9006426-2905-11e8-9831-83cd41123bb8.png)

I'm not as worried about it in the Sonification wrapper, since those are attached to specific publications of sims, and the wrappers themselves aren't on a long term maintainab

[2018-03-16 20:02] zepumph commented on #40
I did work on this, and eliminated all usages of the hard coded separator in the sim code. I also set up the classroom activity and lab book wrapper to accept `PhetioIDUtils.js` calls in requirejs mode (it already worked when built). I fixed some of the sonification wrapper's usages, assuring that PhetioIDUtils works in requirejs and built version of the wrapper, but I'm still not convinced that i

[2018-03-17 01:19] zepumph commented on #39
This has been done as part of work with `PhetioIDUtils.js`:

[code]

Closing

[2018-03-17 01:19] #39 closed

[2018-03-19 21:44] samreid commented on #40
Right, we agreed that complete phetioIDs like `'forcesAndMotionBasics.netForceScreen.view.controlPanel'` would remain as they are, without having the `'.'` factored out.

[2018-03-19 22:12] zepumph commented on #40
Glad we agree. Thanks all! Closing

[2018-03-19 22:12] #40 closed

[2018-03-20 17:14] samreid commented on #50
The docs for `initializePhetioObject` are:

[code]

If there are no relevant keys provided in `options`, then PhetioObject returns early and waits for a future call where the options are provided.

[2018-03-26 17:58] zepumph commented on #50
Sounds good, thanks for explaining. I think that this will work for now.

[2018-03-26 17:58] #50 closed

[2018-04-11 18:32] zepumph commented on #42
Tandem does not have this logic, you are right. We wrote Tandem as a thin layer of string/id manipulation, but for the most part it isn't that powerful. Instead we have safeguards in place in the addInstance listener in phetio.js. `phetio.addInstance()` is the method that get's called whenever `Tandem`'s addInstance is called (sorta confusing sorry), think of this as the meat and bones of tandem r

[2018-05-23 17:49] zepumph opened #55 "Rename PhetioObject.startEvent/endEvent to have "phetio" in them"

[2018-05-23 17:50] zepumph commented on #55
Right now it seems confusing to have these events dispersed in complicated event logic, and not well named. Like this in SimpleDragHandler, it is very difficult to see which events are for phetio, and what is just for the method:

[code]

[2018-06-08 17:21] pixelzoom opened #56 "failure to check phetioType in PhetioObject"
PhetioObject line 141:

[code]

If you instrumented a DerivedProperty and didn't specify the `phetioType` option, this will fail with:

`TypeError: this.phetioType is not a constructor`

Either some validation that needs to be added, or there is some faulty logic.  E.g. perhaps this `if` statement should be inside the `if` statement at line 101?

[2018-06-11 13:23] samreid opened #57 "Should PhetioObject allow Property link loops?"
When developing PhetioObject, we disallowed cycles in Property links.  That is, one Property cannot (by links to other properties) cascade a change to itself.  The reasoning was (a) this would be faster and less memory invasive for PhetioObject allocations and (b) Property cycles probably indicate a flaw in the design of the Property links.

As we rolled out PhetioObject, we found a few places whe

[2018-06-11 14:31] samreid commented on #57
In the preceding commit, I added support for Property loops.  We may still decide to revert this based on discussion here and in https://github.com/phetsims/hookes-law/issues/52

[2018-06-11 15:14] samreid commented on #56
I added a more specific assertion in the preceding commit.  @pixelzoom would you like to review?

[2018-06-12 19:09] zepumph commented on #57
The commit looks good. I wonder if we want to make this an option, and assert out for most cases saying "you probably don't want property event looping." Then if you can't code around it in the implementation (like for HL), then you can add an option to a specific Property instance like `options.allowEventLooping = true`.

I'm trying to balance flexibility vs. the complexity of PhET-iO and the num

[2018-06-12 19:12] pixelzoom commented on #57
Yes, it would be nice to turn it on an off.  @samreid also proposed (somewhere, perhaps in a Slack conversation) that detecting Property loops should be the responsibility of axon, rather than phet-io.

[2018-06-12 19:54] pixelzoom commented on #57
If we wanted to detect loops in axon, the place to handle it would probably be in `Property` `_notifyListeners`.   Bracket the call to `changeEmitter.emit2` with a `@private` flag.  Fail an assertion conditionally based on a query parameter, since this is likely to affect lots of existing code.

Here's what `_notifyListeners` might look like:

[code]

[2018-06-13 00:11] pixelzoom commented on #57
I moved the detection of Property loops to https://github.com/phetsims/axon/issues/179.

[2018-06-15 19:08] zepumph commented on #57
@samreid, in 89d81c69a40472b91e7a140d09ef8ab30a70a456 you removed an assertion that has caused tandem unit tests to fail for a few days. Do you think we should add that back in?

[2018-06-15 20:13] pixelzoom opened #58 "phetioInstanceDocumentation value requirements"
While working on https://github.com/phetsims/hookes-law/issues/58, I added `phetioInstanceDocumentation`.   I then discovered this assertion in PhetioObject:

[code]

On Slack, @samreid described the requirement for an ending period as "to be consistent".

Looking at uses of `phetioInstanceDocumentation`, the only consistency that I see is consistent use of ‘.’ at the end of fragments that are not

[2018-06-15 20:16] pixelzoom commented on #58
So that I could commit my work for phetsims/hookes-law#58, I've added awkward periods to the ends of my `phetioInstanceDocumentation` values.  I hope to remove them in the future.

[2018-06-15 20:23] pixelzoom opened #59 "inconsistent default for phetioInstanceDocumentation"
In PhetioObject.js:

`DEFAULT.phetioInstanceDocumentation` is the empty string `''`, line 32.

 `this.phetioInstanceDocumentation` is documented as `{string}` but is initialized to `null`, line 58.

Recommend to use `null` consistently as the default value.  If there's something downstream that requires `phetioInstanceDocumentation` to be non-null, fix it.

[2018-06-15 20:42] zepumph commented on #58
This is public facing documentation, what benefit is there for incomplete sentences and fragments to explain implementation to clients?

[2018-06-15 20:51] pixelzoom commented on #58
@zepumph asked:

The consumer of the documentation is presumably technical.  And even for non-technical audiences, concise fragments can communicate just as effectively as overly-verbose/redundant sentences.

And the majority of the current uses of `phetioInstanceDocumentation` are already fragments.  If the assertion was intended to require documentation to be grammatically correct, it is not acc

[2018-06-15 21:56] zepumph commented on #58
I agree, clearly it isn't enough to just have that assertion.

[2018-06-18 14:50] samreid commented on #57
I updated the PhetioObjectTests in the preceding commit.  This issue is complete and we will continue in  phetsims/axon#179.

[2018-06-18 14:50] #57 closed

[2018-06-21 04:56] samreid commented on #58
The main reason this check was introduced is that studio looked something like this:

[code]

I guess (3) just stood out to me as looking odd, so I wanted a way to find and eliminate those.  I'm not sure if we need an automated step to do this or not, but this is the main documentation for PhET-iO clients, so it would be good to make sure it is complete and consistent, however we do so.

[2018-06-21 19:36] ariel-phet commented on #58
Consensus: assertion should be removed, and agreed that some flexibility should be allowed in the presentation of the API.

@zepumph will make a separate issue to discuss aesthetics of the API

[2018-06-21 19:45] zepumph commented on #58
Consensus from dev meeting: we will get rid of the assertion because it is contrived and isn't helping anything. We will move to https://github.com/phetsims/phet-io/issues/1334 for discussion about what general phet-io doc should look like.

[2018-06-21 19:46] #58 closed

[2018-07-09 18:47] zepumph commented on #59
@pixelzoom good suggestions. I agree that null is best for this. I found one spot where we needed to make sure that undefined wasn't being passed though. Please review.

[2018-07-09 18:52] pixelzoom commented on #59
👍

[2018-07-09 18:52] #59 closed

[2018-07-27 19:53] zepumph commented on #55
I went with `phetioStartEvent`/`phetioEndEvent` because we already have the convention of starting option properties with `phetio`. Now we can still say that anything phet-io related in sim/common code will either be involved with `tandem`, or start with `phetio`.

Please review. Is there anything else for this issue @samreid?

[2018-07-29 01:19] samreid commented on #55
Looks great, thanks, closing.

[2018-08-01 18:02] zepumph opened #60 "Determine the best way to extend and pass phetio options"
Discovered while working on https://github.com/phetsims/axon/issues/180 and phetsims/sun#340

We found that `_.extend` can be buggy about undefined if we aren't careful. This happens when we create keys with `undefined` values. For example:

[code]

If there was nothing in the default options or passed in options about phetioReadOnly, then it gets extended with `phetioReadOnly: undefined` and won'

[2018-08-01 18:03] zepumph commented on #60
New possibility, when we know we are passing these to out children, we use that types default options to extend `phetioReadOnly` with PhetioObject's default:
[code]

[2018-08-01 20:55] zepumph commented on #60
We need to go back through sun buttons and use that hierarchy as an initial usage to try out whatever pattern we decide on in this issue.

[2018-08-01 21:08] zepumph opened #61 "create phetioEventType option for PhetioObject"
from https://github.com/phetsims/axon/issues/180 and https://github.com/phetsims/sun/issues/340

when we converted sun buttons to use emitter, all the events are now triggered with the `eventType` of "model" even though they should be `user` events.

We should create a better way to have a default eventType (like in PhetioObject's constructor), and specify an override as we see fit for instances/c

[2018-08-09 13:12] samreid commented on #42
![image](https://user-images.githubusercontent.com/679486/43901008-9b7f005c-9ba3-11e8-844c-eef56b44b12d.png)

Closing.

[2018-08-09 13:12] #42 closed

[2018-08-15 00:38] zepumph commented on #61
Thoughts:

* `getInstanceMetadata` isn't including this new property. Do you think it should (I'm on the fence leaning towards no)
* default model is ok with me. I understand your hesitation. I think the goal would be to make it as simple as possible for another phet dev to get it right, so under that mentality, I recommend that we could set `PhetioObject` default to 'user' and then `Property` and

[2018-09-11 18:44] samreid commented on #61
This doesn't seem like it should be part of the state.  It should only be used to produce the messages.

Still unsure about this.  Especially we have been moving toward nested `user` `Emitters` in UI components, as described in https://github.com/phetsims/sun/issues/396.  If we passed `phetioEventType` from parents to children (defaulting to the same value as parent), then it may make sense to put

[2018-09-27 05:14] samreid commented on #61
I agree, we should include the `phetioEventType` in the `instanceMetadata`.  Not sure if we would show it in studio by default aside for specific types such as Emitter or Property.  By that token, it is odd that objects that do not send events (like Node) still have a `phetioEventType`.

[2018-09-27 05:17] samreid commented on #61
Completed in two commits above, @zepumph can you please review and close if all is well?

[2018-09-28 00:37] zepumph opened #62 "Tandem validation should override isSuppliedAndEnabled"
Right now we need to do both the suppliedAndEnabled check as well as the validation check in order to assert out for instrumentation in code:

[code]

I wish that isSuppliedAndEnabled would be always false if Tandem.validationEnabled is false, here is the supplied/enabled method now:
[code]

What do you think @samreid? Related to https://github.com/phetsims/phet-io/issues/1369

[2018-09-28 00:56] zepumph commented on #61
Looks great thanks!

[2018-09-28 00:56] #61 closed

[2018-09-28 20:44] zepumph commented on #46
There is one todo that was added in this issue without an issue attached to is, assigning to you @samreid.

In Property.dispose():

[code]

[2018-10-01 21:54] zepumph opened #63 "phetioInstanceDocumentation is too verbose"
For an option that is basically needed for every PhET-iO instrumented object, this is very long, from slack:
[code]

I'm not opposed to `phetioDoc` if we can convince ourselves that it is clear enough, and that the space saving is worth the "code smell" (in the context to PhET's coding conventions: `Names (types, variables, properties, functions,...) should be sufficiently descriptive and specific

[2018-10-02 00:12] samreid commented on #63
`phetioDocumentation` sounds nice to me.

[2018-10-03 16:36] zepumph commented on #62
@samreid and I and @chrisklus discussed this issue. We decided that it shouldn't be done. Instead we will work on improving tandem.isSuppliedAndEnabled in the following ways:

      1. delete tandem.enabled
      2. rename PhetioObject.tandem.isSuppliedAndEnabled to PhetioObject.isInstrumented
      3. support functions in phetioStartEvents

I'll rename the issue.

[2018-10-03 18:36] zepumph commented on #62
@chrisklus, @samreid, and @zepumph were able to successfully get 1 and 3 accomplished in the above commits.

[2018-10-03 18:51] zepumph commented on #62
@chrisklus, @zepumph did (2) but found that many of the uses of tandem.isSuppliedAndEnabled() are meant to be used to manipulate options that need to be passed into the PhetioObject constructor. Mainly this is an issue for Node, because we only want to send options up to the parent once.

@samreid please review the above commits with respect to how we moved some code, like assertions that we would

[2018-10-03 23:46] samreid commented on #62
Increased priority in hopes I can get to this while it's fresher in my mind.

[2018-10-04 20:07] zepumph commented on #63
@samreid please review. It was a pretty straight forward issue although it touched many files.

[2018-10-04 23:03] zepumph commented on #56
I think that a few things should happen here.
1. I think `outerType` is a difficult name to understand. What about any of the following horrible options:
    * `unparameterizedType`
    * `unconstructedType`
    * `constructorType`
    * `typeWithoutParameters`
    * `uninstantiatedType`
2. If we think this belongs here, then it also belongs in Property and Emitter, and all other types with parame

[2018-10-04 23:15] zepumph commented on #62
This deserves a review before any phet-io sims are published.

[2018-10-07 02:56] samreid opened #64 "options.highFrequency should be a constructor option, not a phetioStartEvent option"
Just as we moved `phetioEventType` from phetioStartEvent options to a constructor option, we should also move `highFrequency` to a constructor option.

- [x] We should name it with `phetio` prefix and make sure it is used for the Input.js emitters accordingly.
- [x] Remove the phetioStartEvent option
- [x] Make sure it is filtered properly.  Maybe clients should filter based on presence/absence of

[2018-10-07 21:38] samreid opened #65 "Move phetioStartEvent event name to constructor arg"
From #64

This seems to be a good idea, perhaps call it `phetioEventName` or `phetioEvent`?

[2018-10-07 21:43] samreid commented on #64
I've made numerous changes to address the checked items in the top comment.  I moved one item to a new issue.  Local tests show:

* lint is passing
* http://localhost/phet-io-wrappers/phet-io-wrappers-tests.html?sim=faradays-law&ea is passing
* http://localhost/aqua/test-server/test-sims.html?ea&audioVolume=0&sound=disabled&testDuration=10000&testConcurrentBuilds=4&brand=phet&fuzzMouse shows no sy

[2018-10-07 21:58] samreid opened #66 "Should we rename phetioHighFrequency => phetioEventFrequency or similar?"
From https://github.com/phetsims/tandem/issues/64.  It would be nice to have `phetioEvent` prefix, but seems unwieldy to say `phetioEventHighFrequency`--maybe `phetioEventFrequency: 'high'` would be nice?  @zepumph what do you think?  This value leaks out of the API in the instance metadata, so it needs a long-term name.

[2018-10-07 21:58] samreid commented on #64
All remaining work removed to new issues, @zepumph can you please review?  Close if all is well.

[2018-10-08 19:40] samreid opened #67 "What "classes" should PhetioObject support? How should we support them?"
As part of https://github.com/phetsims/axon/issues/184 @zepumph and I discussed phetioClasses for PhetioObject, which could look like this:

[code]

This would give us a new paradigm for indicating classes like 'high-frequency' and 'input-event' and we could add classes like 'significant-model-event'.  How should we approach this?  Is it better to have an array of strings, or explicitly enumerated

[2018-10-08 19:41] zepumph commented on #67
This could potentially change the public api dramatically, marking as blocking thoughtful api release for FL.

[2018-10-08 19:46] zepumph commented on #67
1. One key discussion point is if this system will be "opt-in" or "opt-out" based. It makes sense to me from an implementation standpoint that everything would be included by default and you could then omit items one by one. But this adds a level of complexity to the wrapper suite, because we would need to define the wrapper "class level". Colorized log will likely not want "high frequency" events

[2018-10-08 20:51] zepumph commented on #64
In `PhetioObject`, it looks like `phetioMessageStack` is really only needed for high frequency events. It took a bit of digging to discover this. It is confusing why there needs to be a stack in PhetioObject, and a stack in phetioEvents. Is there a way around this? I think at the very least phetioMessageStack deserves more specific documentation.

Please correct me if I am wrong.

[2018-10-08 20:57] zepumph commented on #66
This seems like it belongs in the conversation with https://github.com/phetsims/tandem/issues/67

[2018-10-10 18:20] samreid commented on #67
In https://github.com/phetsims/phet-io/issues/1382#issuecomment-428677148 we discussed the need to be able to filter/subdivide events.  For example, validatePointers and voltageChanged are both "high frequency".  You get both or neither, but there is no way to select one.

[2018-10-10 19:19] samreid commented on #67
We decided to add a new class `phetioPlaybackEvent` for events that are required for playback.  At the moment, this includes `frameEndedEmitter` and `validatePointersEmitter`.

[2018-10-10 19:35] #67 closed

[2018-10-10 22:12] zepumph commented on #66
@samreid, @chrisklus, and I discussed this substantially today during the phet-io dev meeting today. It was decided that `phetioHighFrequency` was enough for right now, if more specific processing is needed it can always be done downstream, in the wrapper.

Closing, @samreid please reopen if there is more to discuss.

[2018-10-10 22:12] #66 closed

[2018-10-10 22:13] zepumph commented on #66
In combination with a playback class of events as well.

[2018-10-11 00:16] samreid commented on #63
Looks great and tests in studio well, thanks, closing.

[2018-10-11 00:16] #63 closed

[2018-10-11 03:55] samreid commented on #62
This looks great, especially the documentation for `PhetioObject.isPhetioInstrumented`, nice work!  I spotted a missing check in Checkbox, will commit shortly.

[2018-10-11 03:57] samreid commented on #62
I added a guard in the preceding commit.  @zepumph can you double check that and close if all is well.  I think it's acceptable/natural for assertions to be after the super() call.

[2018-10-17 19:15] pixelzoom opened #68 "documentation for PhetioObject fields doesn't meet standards"
There are currently 9 fields in `PhetioObject` constructor that look like this:

[code]

All of those should be:

[code]

with an explanation of what `null` means.

[2018-10-17 19:30] pixelzoom commented on #68
Slack discussion:

Michael Kauzmann [1:22 PM]
everything is the PhetioObject constructor is set to null, but `initializePhetioObject` acts as the actual constructor.
I agree it needs to be better documented.

Chris Malley [1:27 PM]
Setting a breakpoint in `initializePhetioObject`, I see a `phetioDocumentation` with value `null`.  So if you’re saying that the field types are correct after calling `

[2018-10-17 19:32] pixelzoom commented on #68
It looks to me like the initial values of fields should not be `null`, they should be taken from DEFAULTS.  E.g., instead of this:

[code]

[2018-10-17 19:33] pixelzoom commented on #68
It looks to me like the initial values of fields should not be `null`, they should be taken from DEFAULTS.

E.g., instead of this definition:

[code]

define like this:

[code]

[2018-10-17 23:12] zepumph opened #69 "What's the difference between disallowTandem and indicateUninstrumentedCode?"
is it possible to consolidate these at all? I'm not sure I understand them.

[2018-10-19 15:49] samreid commented on #69
`indicateUninstrumentedCode` is a flag to help us remember to check if common files need further sub-instrumentation.

I recommend we delete `disallowTandem`--looks like it was originally used to indicate that something should not be instrumentable.  OK to delete `disallowTandem`?

[2018-10-22 20:39] zepumph commented on #69
I agree! @chrisklus is this something you would like to do?

[2018-10-26 16:52] samreid commented on #65
In https://github.com/phetsims/phet-io/issues/1397#issuecomment-433191882, we decided to go with "name".

[2018-10-26 16:59] samreid commented on #64
`dataStream.start` returns an `id`, so that it can double check that `dataStream.end(id)` correctly matches.  The stack in PhetioObject is to keep track of the indices for cross checking in dataStream.

Now that we have significantly reduced the number of calls to dataStream.start and isolated them to a handful of sites, perhaps that is no longer necessary?  But I'm wondering what would happen if

[2018-10-28 00:14] zepumph commented on #64
Sounds like we should keep it in just in case.

[2018-10-28 13:01] samreid commented on #64
Adding meeting:phet-io label in case that was intended previously.  Also, @zepumph can you please clarify the state of this issue?  Is the only remaining issue regarding https://github.com/phetsims/tandem/issues/64#issuecomment-427975129 or does more review/work remain to be done?  Can we remove the "block-publication" label?

[2018-10-29 14:30] samreid opened #70 "Should tandem option start with phetio?"
All other PhetioObject options have a phetio prefix. Should tandem have one too, like `phetioTandem`?  I think our team is pretty accustomed to tandems and knowing they are part of instrumentation, but I wondered if this should be up for discussion.  Another possibility would be to rename `Tandem` to `PhetioID` and `tandem` to `phetioID`

[2018-11-02 17:03] zepumph commented on #64
I think this is ready to be closed what about you?

[2018-11-02 19:04] samreid commented on #64
Sounds good, thanks, closing.

[2018-11-02 19:04] #64 closed

[2018-11-07 23:54] zepumph commented on #29
This issue has been handled by PhetioObject, closing

[2018-11-07 23:54] #29 closed

[2018-11-09 15:35] pixelzoom opened #71 "IO types cause increase in memory footprint"
From https://github.com/phetsims/unit-rates/issues/207#issuecomment-437252582:

I think that there is likely other places where we can decrease memory consumption, seeing as 150% is still a large size increase to all sims, and likely that is from things like default parameters that @samreid was able to factor out some.

[2018-11-09 15:39] samreid commented on #71
My summary from https://github.com/phetsims/unit-rates/issues/207#issuecomment-437248201

@pixelzoom replied:

Perhaps a short call would be very helpful? I'll be on slack.

[2018-11-09 16:22] pixelzoom commented on #71
Discussed with @samreid via Slack.

This has likely been a problem in brand=phet-io for a long time, and was not noticed due to insufficient memory testing.  It didn't manifest previously in Unit Rates, because that sim has not been instrumented.   After IO types were moved to tandem, they were no longer stubs, and therefore contributed to the memory footprint of all brands.

Example of the proble

[2018-11-09 16:30] samreid commented on #71
Another 0.5MB saved in the preceding commit.

[2018-11-09 16:31] samreid commented on #71
We could reduce PhET-iO memory footprint by eliminating the wrapper instances (aka `PhetioObject.phetioWrapper`).  This wouldn't help PhET brand though.

[2018-11-13 03:10] samreid commented on #46
Node.js declares:

[code]

PhetioObject currently has `phetioObjectDisposed`, perhaps so named to avoid collisions with Property and Node.  @jonathanolson what do you think about Node leveraging PhetioObject disposed flag?

[2018-11-13 05:52] jonathanolson commented on #46
Sounds fine to me. If it's being elevated from phet-io to "general", can it be called _isDisposed (and similarly Property would use it?)

Also make sure that the disposal logic (if assertions are enabled) below the _isDisposed definition will work.

[2018-11-13 15:57] samreid commented on #46
@jonathanolson would it be OK if I go with the name `isDisposed` (no underscore) and mark it as `@protected`, and eliminate the method `isDisposed()`?

[2018-11-13 16:44] samreid commented on #56
It seems unfortunate that we would have to put `outerType` or something like it on every parameterized type instance, and then have to check against that in the core types.  Also note that EnumerationIO was recently introduced as a new parametric type.

Perhaps it would be best for now to (a) remove `outerType` and the code that checks it, and precede `new this.phetioType( this, this.tandem.phetio

[2018-11-15 17:42] zepumph commented on #46
What about having a `this._isDisposed` that is private, and then have a protected es5 getter and setter `this.isDisposed`?

[2018-11-15 17:44] samreid commented on #46
Can you elaborate on the advantage of having underscore + es5 getter+setter as opposed to just a protected `this.isDisposed`?

[2018-11-20 16:56] samreid commented on #71
In https://github.com/phetsims/graphing-quadratics/issues/50#issuecomment-438877837 @pixelzoom reported:

* Chrome 70.0.3538.102
* macOS 10.11.6 on MacBook Pro

| Minutes | Heap Size (MB) |
| ---: | ---: |
| 0 |  43.9 |
| 5 |  52.2 |
| 10 | 53.6 |
| 15 | 54.6  |
| 20 | 54.7 |
| 25 |  55.4 |
| 30 |  55.5 |
| 45 |  55.6 |

@pixelzoom anything else to do for this issue?

[2018-11-20 17:15] pixelzoom commented on #71
Seems like this issue is resolved. Closing.

[2018-11-20 17:15] #71 closed

[2018-11-20 22:00] zepumph commented on #46
No strong preference; to me it seems more idiomatic to OO programming, and is also the way that Node is built.

[2018-11-25 01:29] samreid opened #72 "Correct logic for Tandem.required.required"
From https://github.com/phetsims/phet-io/issues/1369#issuecomment-441407500

The commit you referred to changed:
[code]
to
[code]

But master is now:
[code]
and the implementation of validationEnabled is now: (as of https://github.com/phetsims/phet-io/issues/1384)
[code]

It's unclear to me which is appropriate.  We should discuss it.

[2018-11-25 01:32] samreid opened #73 "printMissingTandems (a) should be prefixed with phetio (?) and (b) should print a bit nicer to the console."
From https://github.com/phetsims/phet-io/issues/1369#issuecomment-426740777

[2018-11-26 03:06] jonathanolson commented on #46
I can't really imagine any need to override whether something appears to be disposed, so I don't have a preference.

[2018-11-29 04:45] samreid commented on #46
I'll mark this as blocks-publication until it has been tested/reviewed, since this will affect several scenery and axon files and usages.

[2018-11-29 05:07] samreid commented on #46
I've made local changes to unify Node._isDisposed and Property.isDisposed with PhetioObject.isDisposed.  I am not 100% confident that the changes are correct (particularly in Node), but the changes are across 13 files in 8 repos, so not trivial to create branches.

Local aqua testing is good so far after about 12 sims.

I will also need to leak test.  I'm testing Graphing Quadratics since it's bee

[2018-11-29 05:21] samreid commented on #46
Local aqua is showing no issues and I think I'm at a good point to commit and get review feedback.  @jonathanolson do you have time to take a look?

[2018-11-29 06:46] jonathanolson commented on #46
Presumably yes. Can test in the Scenery playground:
[code]

however if it's extremely rare to run into this for all devs, then I'm fine dropping it. Presumably the code could just be moved over to PhetioObject? (I'll test that and see if I run into assertions anywhere).

[2018-11-29 06:51] jonathanolson commented on #46
The other commits (tandem/axon/scenery) look good.

[2018-11-29 16:06] jonathanolson commented on #46
Adding the assertion found that ESPB/ESP Track.js inherits PhetioObject but doesn't do the super dispose.

[2018-11-29 16:35] samreid commented on #46
That sounds like a good catch, do you want to commit the change to PhetioObject?

[2018-11-29 19:44] pixelzoom commented on #46
@samreid will commit the fix, then remove the "blocks" label.  Wait on GQ and AM RCs until this is done.

[2018-11-29 19:49] samreid commented on #46
Proposed fixes above and correctly flag problems in Energy Skate Park sims.  Flagging @jessegreenberg so he is aware.  Reassigned to @jonathanolson to review and close if all is well.

[2018-11-29 21:56] pixelzoom commented on #46
Increasing priority, since this is blocking Graphing Quadratics 1.0 RC. Please notify me when this is closed.

[2018-11-30 00:08] zepumph commented on #73
related to https://github.com/phetsims/phet-io/issues/1384

[2018-11-30 03:52] samreid commented on #46
I also mentioned to @pixelzoom that he can review this if he gets to it first.

[2018-11-30 18:31] pixelzoom commented on #46
I'd prefer not to spend time familiarizing myself with this issue.  But if @jonathanolson doesn't get to it by Monday morning, I'll dive in.

[2018-11-30 19:16] jonathanolson commented on #46
Looks good to me.

[2018-11-30 19:16] #46 closed

[2018-11-30 20:30] zepumph opened #74 "Should not be able to have a '.' in a createTandem arg"
For example, from the console:

[code]

Let's have that error out.

[2018-11-30 20:31] zepumph commented on #74
Tagging @samreid

@chrisklus, is this something you want to take a look at? I was thinking an assertion in `Tandem.js@createTandem`

[2018-11-30 23:31] samreid commented on #65
Even if "name" is what appears in the data stream, we cannot use the key "name" in PhetioObject--we must signify that it is for the events.  Also, I cannot work on this until we segregate out to make one event name per instance.  Right now ObservableArray emits two different event types.

[2018-12-03 21:06] samreid commented on #74
Related or duplicate of https://github.com/phetsims/tandem/issues/24

[2018-12-04 18:47] zepumph commented on #74
Right!

[2018-12-04 18:47] #74 closed

[2018-12-05 15:57] samreid commented on #73
@zepumph upgraded the console output in https://github.com/phetsims/phet-io/issues/1384, all that is left for this issue is to change printMissingTandems to phetioPrintMissingTandems.

[2018-12-05 15:59] samreid commented on #73
Name changed in the preceding commit.  @zepumph anything else for this issue?

[2018-12-05 17:40] zepumph commented on #73
Nope looks good thanks

[2018-12-05 17:40] #73 closed

[2018-12-11 14:11] samreid commented on #65
Also, if we make `phetioEventName` a PhetioObject constructor parameter, it would be required but only for PhetioObjects that emit to the data stream.

[2018-12-12 20:03] zepumph opened #75 "Pass type to ObjectIO for general type checking."
This could alleviate the need to call `assertInstanceOf` in every TypeIO. Instead we could just call it in ObjectIO once. I'm not sure if we could get away with the same things for toStateObject and FromStateObject, but maybe we could assign the type as a property on the TypeIO (not instantiated) so that `toStateObject` could look something like this for Vector2IO:
[code]

`type` is pretty overloa

[2018-12-12 20:04] zepumph commented on #75
@samreid assigning over to you, let us know if you want help, or want to delegate to one of us.

[2019-01-18 05:38] samreid commented on #24
Regex didn't show any more obvious occurrences of this pattern.  I added assertions and tested a few phet-io sims--no problem noted.  Closing until Bayes CT says otherwise.

[2019-01-18 05:38] #24 closed

[2019-01-22 23:04] pixelzoom opened #76 "Use an Enumeration for `phetioEventType` option"
Use an Enumeration for `phetioEventType` option.

[2019-01-22 23:06] zepumph commented on #76
@chrisklus I'm wondering if you are interesting in taking a stab at this one. I am happy to pair with you on it.

Something like
[code]

[2019-01-31 02:44] chrisklus commented on #76
@zepumph helped me out quite a bit with this, @samreid could you review?

[2019-02-13 17:16] samreid opened #77 "Remove tandem.addInstance( this ) calls"
In https://github.com/phetsims/phet-io/issues/1422 we identified other calls to `tandem.addInstance( this )`.  These should be removed and we should use PhetioObject for all registrations.

[2019-02-13 17:27] samreid commented on #77
False alarm, thanks to beaker.  Closing.

[2019-02-13 17:27] #77 closed

[2019-02-22 16:31] samreid opened #78 "Simplify Tandem.js by removing generality"
From https://github.com/phetsims/phet-io/issues/1422#issuecomment-463378791

Tandem was designed as a general registration engine, but now it seems likely it will only ever be used for PhET-iO.  Hence we may have the possibility to simplify it based on that assumption.  However, changes should not reduce modularity for the worse.

[2019-02-22 19:06] samreid opened #79 "How can we guarantee that all data sent to PhetioObject.phetioStartEvent is valid?"
In https://github.com/phetsims/phet-io/issues/1432 @zepumph and @chrisklus and I discovered that data passed to PhetioObject.phetioStartEvent was previously serialized using JSON.stringify (in the data stream), but now this is using structured cloning, implemented in https://github.com/phetsims/phet-io/issues/1398.  This means that `phetioStartEvent('hello',new Color('green'))` would fail where it

[2019-02-22 19:09] samreid commented on #79
We are facing the same problem with Property values.  The IO type may or may not define `toStateObject`.  So perhaps we can address both problems by adding a check at the `postMessage` site that iterates through the tree to make sure no rich objects with constructors leaked through.

[2019-03-06 01:14] samreid commented on #76
Looks great, thanks!  We will finish in https://github.com/phetsims/phet-io/issues/1427, closing this one.

[2019-03-06 01:14] #76 closed

[2019-03-21 11:31] samreid opened #80 "Prevent "_" from appearing in non-group-member tandems"
From https://github.com/phetsims/phet-io/issues/1442#issuecomment-475114529, we are investigating using "_" to denote dynamic particles and hence would need to restrict its usage elsewhere.

[2019-03-21 11:36] samreid commented on #80
Here's a patch that implements this desired behavior:

[code]

However, there are about 5 simulations that use a pattern where the tail of a group member is copied for the tandem of a non-group member:

&testSims=build-an-atom,charges-and-fields,energy-skate-park,energy-skate-park-basics,john-travoltage

I tried to patch these with a hack:

<details>

[code]

</details>

And it is mostly working,

[2019-03-22 23:10] pixelzoom opened #81 "PhetioObject TODO has no associated GitHub issue"
PhetioObject.js:

[code]

[2019-04-02 03:10] samreid opened #82 "How should we implement for LinkedElement?"
Discovered in https://github.com/phetsims/sun/issues/420, there doesn't seem to be anything set up for LinkedElement disposal.  Do these need to be disposed?  Can they be automatically disposed when the target element is disposed?

[2019-04-02 03:11] samreid commented on #82
Oh wait, it looks like there is something built in for this:

[code]

[2019-04-02 03:11] #82 closed

[2019-04-02 14:53] KatieWoe opened #83 "CT Tandem was required but not supplied"
PhetIO sims seem to be showing an error similar to the ones bellow in CT
[code]

[2019-04-02 14:57] samreid commented on #83
This problem was introduced as part of work on https://github.com/phetsims/sun/issues/420, proposed fix pushed and looks resolved in local testing.

[2019-04-02 14:57] #83 closed

[2019-04-02 22:47] samreid commented on #75
Validation is now automatic in the ObjectIO constructor.  Validation must still be duplicated for the static methods.  @zepumph can this issue be closed?

[2019-04-03 20:42] zepumph opened #84 "branch: dynamicGroup"
For work on phetsims/phet-io#1442

[2019-04-03 22:20] samreid commented on #84
Merged to master and deleted branch, closing.

[2019-04-04 00:59] #75 closed

[2019-04-04 20:08] zepumph opened #85 "Assertion failed: createTandem cannot accept dots"
From https://github.com/phetsims/phet-io/issues/1442.

While reviewing https://github.com/phetsims/molarity/issues/54 I tried to load BLL, shake some particles into the solution on the first screen, and then before particles have dissolved, launch the template. It looks like the "create" function is trying to make a Tandem like:

`new Tandem(null, "beersLawLab.concentrationScreen.model.shakerParti

[2019-04-12 21:14] zepumph opened #86 "baseline and overrides could be better handled in PhetioObject"
From phetsims/phet-io#1440

There are few improvements that could be made from that issue:

* It is odd/confusing that PhetioObject.getMetadata() has an optional argument. This is to support getting the baseline metadata before the object is constructed, but maybe there is a better way to accomplish it.
* Do we want to store the baseline metadata on each PhetioObject? Right now it is somewhat ethe

[2019-04-13 00:54] zepumph commented on #86
@samreid and I discussed this. There were a few solutions thrown around, but none felt right
* Move the field declarations above the baseline/override logic. This puts PhetioObject in an incomplete state for 100 lines of code, which feels like a smell
* factoring out the setting of all instance fields to a function, and doing that before and then also for the overrides, which has the same issue as

[2019-04-13 00:55] zepumph commented on #86
This may not be possible because of allocation size for every PhetioObject. Maybe we can convince ourselves otherwise.

[2019-04-17 20:23] chrisklus opened #87 "Remove Tandem.GroupTandem and previous state pattern"
From https://github.com/phetsims/phet-io/issues/1443. Tandem.GroupTandem was also marked as deprecated upon the completion of https://github.com/phetsims/phet-io/issues/1442.

In order for phet-io metadata file validation to work (without our current workaround), we need the usages of GroupTandem to be replaced with GroupMemberTandem.

UPDATE by @samreid: Here is a list of sims using `createGroupT

[2019-04-17 20:23] zepumph commented on #80
This also has to do with  #87

[2019-04-17 23:57] zepumph commented on #80
@samreid I think that work in #1442 has made this much easier to implement. Can you please review my changes?

[2019-04-18 00:58] zepumph opened #88 "Should we validate phetioType when it comes from baseOptions?"
When initializing a phet-io object, we run this code:

https://github.com/phetsims/tandem/blob/6b341e063536d344a04f064c61d3d4dea5e76630/js/PhetioObject.js#L169-L194

This is testing options BEFORE the baseOptions have been mixed into them. So sometimes we don't have a phetioType in the options. Shouldn't we be calling this code on all phetioTypes? Perhaps we could factor this code out to a method

[2019-06-11 21:40] pixelzoom opened #89 "setting phetioReadOnly via Studio fails with "api mismatches""
There's a problem with setting a Node to `phetioReadOnly: true` via Studio.  I encountered this in phetsims/graphing-quadratics#112, and discussed with @zepumph on Zoom.

Here's an example to demonstrate the problem.  I wanted to remove `phetioReadOnly: true` NoRealRootsNode.js and set it via Studio.

Before removing from the code, here's what the relevant portion of baseline.js looks like.  While

[2019-06-11 21:43] pixelzoom commented on #89
This blocked further work on phetsims/graphing-quadratics#112, which I've been told is my top priority to complete by Friday 6/14/19.   So labeling this issue  with top priority.  If it can't be resolved by 6/14, then feel free to complete this part of phetsims/graphing-quadratics#112.

[2019-06-11 21:58] zepumph commented on #89
The problem is largely that a metadata value that is determined via overrides (for the "no roots" `Node`) then effects the baseline value of a subproperty, (like the Node's visibleProperty) and so then the baseline of the sub property is "tainted" because the override changed it.

I added a bug fix above. It isn't the root cause of this issue, but it was responsible for giving me some weird logic

[2019-06-12 00:07] samreid commented on #89
I put some notes and a patch in the slack channel.  Will continue investigating later.

[2019-06-12 03:41] samreid commented on #89
@chrisklus and I fixed the problem in the preceding commits.  Now the process of using studio to specify the values will work without throwing API mismatch errors.

This solution propagates the baseline value from the Node to the nested NodeIO Properties.  The problem with the previous solution was that it propagated the overridden Node value to the NodeIO baselines.  One consequence of the select

[2019-06-12 14:20] pixelzoom commented on #89
Thanks for the fix.  I didn't end up using the patch, since NoRealRootsNode wasn't the only case in GQ, just an example.

If additional Properties are ever added to PhetioObject, won't this create a bit of a problem?

In the case of GQ, the goal was to prevent access a Node's `visibleProperty`, since it's intended to be controlled via a view-specific Property.   For example, if you want to show/hi

[2019-06-12 17:07] samreid commented on #78
@chrisklus and @zepumph and I discussed it this morning, and agreed that the way phetioEngine is a listener on Tandem, and Tandem manages listeners + buffer is reasonably well modularized.  We recommend closing this issue.

[2019-06-12 17:07] #78 closed

[2019-06-12 17:35] zepumph opened #90 "Factor out PHET_IO_ENABLED"
Noticed while working on https://github.com/phetsims/phet-io/issues/1497, there are 6 usages of

`const PHET_IO_ENABLED = !!( window.phet && window.phet.phetio );`

Most of these places already import Tandem, so let's make it a static constant there.

[2019-06-12 17:37] #90 closed

[2019-06-13 18:00] zepumph opened #91 "Rename ObjectIO.instance -> ObjectIO.phetioObject"
from https://github.com/phetsims/phet-io/issues/1501. I think this will be more clear.

[2019-06-14 20:09] zepumph opened #92 "Asymmetric definition of PhetioObject fields"
@samreid, I think there should be a consistent patter for how we define things in the constructor. Many of these are null, but not all of them. I thought we were using null to save space. I'm especially interested in the boolean properties. Doesn't defining as `false` take up more space than defining as `null` to be filled in later.

No matter what we choose. The doc type seems wrong, though `bool

[2019-06-14 20:17] zepumph commented on #92
From https://github.com/phetsims/tandem/issues/89

[2019-06-14 20:18] zepumph commented on #89
I think this is asking, for example, if NodeIO created another sub Property that needed fields passed to it,  won't it be problematic to pass these to that new Property. I don't think it will, it is just a manual process to remember what to use.

It may also be asking, "what if we add another option to PhetioObject that needs to be propagated like this.?" Again I think this is not too dangerous, i

[2019-06-17 16:00] samreid commented on #89
This strategy seems appropriate for now.  I'm also uncertain about whether in the future we will need a way to propagate overrides the way we propagate baseline values, but this seems a clear and workable plan for now.

[2019-06-17 16:00] #89 closed

[2019-06-23 02:22] samreid commented on #92
I suspect that a boolean reference takes the same or approximately the same memory as a null reference.  So for me this is not about space.  But for uniformity, let's annotate all of these types as `{Type|null}`, even for the boolean types, and default the booleans to null.  Sound OK?

[2019-06-25 23:28] zepumph commented on #92
Assigning to @chrisklus too; whoever gets to it first.

[2019-06-30 02:28] samreid commented on #91
Renamed in above commits, @chrisklus or @zepumph can you please review?

[2019-07-01 20:07] chrisklus commented on #91
@samreid your changes look good and I don't any other similar uses of 'instance'. Ready to close if you are.

[2019-07-02 23:06] zepumph opened #93 "ObjectIO.toStateObject to only support Object?"
In https://github.com/phetsims/phet-io/issues/1516 we tried adding an assertion to ObjectIO.toStateObject like so:
[code]

but there were some CT failures (no details on those right now sorry).

I think it would be nice to understand this more, and either find a way to add this in, or document why it doesn't work. I feel like we may have tried this a year ago or so, but clearly it wasn't documente

[2019-07-06 15:35] samreid commented on #91
Thanks, closing

[2019-07-06 15:35] #91 closed

[2019-07-17 17:53] zepumph opened #94 "Consolidate "global" tandem into Tandem"
Related to https://github.com/phetsims/phet-io-wrappers/issues/287, we should treat a global tandem like we do a general one. There could be a single entry in Tandem.js. This way sim contants files wouldn't have to duplicate this convention around the project.

[2019-07-17 18:17] pixelzoom opened #95 "naming convention for Tandem static instances"
A naming convention question… `Tandem` has a number of static instances, named `Tandem.required`, `Tandem.globalTandem`, etc.  Since these are constants, should they be uppercase?  Ala `BeersLawSolution.COBALT_CHLORIDE`, etc.

[2019-07-17 18:39] zepumph commented on #94
In the above commits we consolidated all global tandems to be nested under `simName.global`. This is now accessible via `Tandem.globalTandem`. Quite a few stragglers were instrumented directly on the root. It was good to clean this up, especially because, now with an assertion in studio added in https://github.com/phetsims/phet-io-wrappers/issues/287, studio will error out if there is anything but

[2019-07-17 20:23] pixelzoom commented on #95
Regardless of case, there another problem with static instance names.  Some have a "Tandem" suffix (`rootTandem`, `generalTandem`, `globalTandem`)  while others do not (`required`, `optional`).   Let's pick one convention and use it consistently.  I don't have a preference.

[2019-07-17 20:34] zepumph commented on #95
Here is a proposal:
[code]

@samreid any objections?

[2019-07-17 21:48] pixelzoom opened #96 "create global.model and global.view"
`Tandem.globalTandem` was recently added for global elements.  What is the convention for the structure of this element subtree?  Should it be organized into `global.model` and `global.view`, like screens?

For example, Gas Properties (and other sims) have model and view separation of things in `PhET Menu > Options`.

Should I organize like this? (my preferred choice)

[code]

Or like this? (curre

[2019-07-17 22:14] pixelzoom commented on #96
Hmmm... Looks like the OptionsDialog has to be under `general...phetMenu.optionsDialog`.  How the do I get the dialog content to appear under there?

[2019-07-18 04:20] samreid commented on #95
Looks great to me!

[2019-07-22 23:30] pixelzoom opened #97 "Tandem.optOut"
When using a common-code component that requires a Tandem, there is currently no convention for how to specify otherwise.

This came up in Gas Properties, where I used `SCENERY_PHET/GaugeNode` in the creation of a Screen icon.   We clearly don't want it to be instrumented, but it requires a Tandem.

Another example is a set of developer-only controls (e.g. Checkboxes) that we don't want to instrum

[2019-07-22 23:33] pixelzoom commented on #97
@zepumph please review.

[2019-07-24 21:16] zepumph commented on #97
That looks excellent. Thanks!

[2019-07-24 21:16] #97 closed

[2019-07-27 01:55] samreid opened #98 "Redundant phet-io overrides should throw a validation error"
If the phet-io override file specifies the same value as the baseline file, I believe that should be a validation error.  @zepumph do you agree and do you know if we currently check for that?

[2019-07-29 17:45] zepumph commented on #98
Yes indeed! Rule EIGHT!!!

[2019-07-29 21:44] samreid commented on #98
Thanks, it seems that is checked in phetioAPIValidation, closing.

[2019-07-29 21:44] #98 closed

[2019-08-02 22:04] zepumph opened #99 "remove elementType from parameteric TypeIOs"
From https://github.com/phetsims/phet-io/issues/1534, it is confusing to have `parameterTypes` and `elementType`. phetioInherit only looks at parameterTypes for calculating typeName. It was be best to remove elementType.

[2019-08-02 22:44] zepumph commented on #99
Oops, duplicate of https://github.com/phetsims/phet-io/issues/1537

[2019-08-02 22:44] #99 closed

[2019-08-05 22:32] samreid opened #100 "create ParametricTypeIO"
From https://github.com/phetsims/phet-core/issues/63 and https://github.com/phetsims/axon/issues/257, @zepumph and I discussed and would like to pursue something like `ParametricTypeIO` which would

* encode `equals` implementation for the parametric types.
* documentation for parametric types
* Can maybe use `outerType` for cross checking in all equals implementations.

Not sure if we would use t

[2019-08-07 19:46] chrisklus opened #101 "Rename Parametric outer types"
Options:

[code]

Lowercase indicates that this is a function, not a type. @zepumph and I like the `get` prefix most, as nothing is being created in most cases (because of caching, to be implemented in #102). And, we think it looks nicer than having a lowercased type name, which has potential to be confusing.

[2019-08-07 20:44] chrisklus opened #102 "Add caching strategy to parametric TypeIOs"
For https://github.com/phetsims/tandem/issues/100. It could look like this:

[code]

We can remove the cache from Action with this change. We need to make sure that this strategy doesn't overwrite other phet-io TypeIOs.

[2019-08-07 20:45] chrisklus commented on #102
This could help performance in https://github.com/phetsims/phet-io/issues/1542

[2019-08-08 02:41] zepumph commented on #100
In the above commits we:

* created `getParametricTypeIO`, factoring out equals and `parameterTypes` to it
* make all parametric types use it except `EnumerationIO`
* add support for parametric `typeName` creation from `getParametricTypeIO`.
* remove `typeName` messing from `phetioInherit`, moving it instead to the individual files to customize it.
* Added an assertion that made `documenation` req

[2019-08-08 04:19] zepumph commented on #101
The point of this issue is that parametric "outer" types are currently named and cased like types, but really they are functions that take parameters and return IOTypes. This makes for a pleasant looking call site ( `PropertyIO( NullabledIO( BooleanIO ) ) )` ) but it is tremendously difficult to grok.

[2019-08-08 16:29] samreid commented on #101
Are you thinking we would change how these appear in the PhET-iO types API files?  Would it still appear as `PropertyIO(NullableIO(BooleanIO))` or something else?

[2019-08-08 17:03] zepumph commented on #101
My thought would be something else. I agree that the above looks really nice! It is an easy API usage. The problem is that it is an incorrect naming. `PropertyIO` is not an IOType, instead it is a function that takes parameters and returns an IOType. Ideally I want to think of "PropertyIO" as the actual IOType. Such that `createPropertyIO( parametersTypes)` could return a `PropertyIO`.

[2019-08-08 17:11] samreid commented on #101
Developers dealt with this same problem in C++ templates and Java generics and doubtless other languages--it seems a standard paradigm to instantiate these templates/generics using this uniform syntax: e.g. `new Linked_List<char>();`.  I'm not convinced we should pursue something different that deviates from the well-established pattern.

[2019-08-22 19:53] zepumph commented on #100
Things have been working very well here. I'm happy about the changes. @samreid what else do you think needs to be done for this issue?

[2019-08-22 19:56] zepumph commented on #100
There are still three TODOs marked for this issue

[2019-08-22 19:59] zepumph commented on #101
I think that @samreid is right here. For this issue:
- [ ] Rename ParametricTypeIO -> ParametricTypeIOImpl
- [ ] Rename getParametricTypeIO -> ParametricTypeIO
- [ ] Regenerate baselines/types if needed

Any other thoughts? @chrisklus do you want to implement?

[2019-08-22 20:01] zepumph commented on #102
I think we shouldn't lose steam on this. It seems like it would be a really good performance improvement.

[2019-08-23 22:24] zepumph opened #103 "How to handle phetioFeatured LinkedElements"
From https://github.com/phetsims/gravity-force-lab/issues/174#issuecomment-524459433 two thoughts came up with @kathy-phet and I:

* It is annoying that you have regenerate the baseline after pasting in overrides to avoid an api mismatch. The is because if a model Property is marked as featured, then only after the baseline regeneration does the linkedElement also get marked as such
* We don't wan

[2019-08-24 04:40] samreid commented on #103
The idea seems reasonable, but I haven't had time to check the details of the proposed patch.   But if it works and addresses the API mismatch problem, it seems good to me to proceed.

[2019-08-28 16:33] chrisklus opened #104 "Best name for ParametricTypeImplIO"
In https://github.com/phetsims/tandem/issues/101, we chose to rename ParametricTypeIO to ParametricTypeImplIO, since that is more correct with its purpose. But @samreid and I think we might be able to think of a name we like better. This became important because we noticed that ParametricTypeImplIO is leaking into the API and all of the phet-io types files.

[2019-08-29 04:19] pixelzoom commented on #104
I don't see `ParametricTypeImplIO` in master, and I have no idea what an "ImplIO" is.  So the only feedback I can provide is that "ImplIO" violates this item in the code review checklist:

[2019-08-29 19:01] pixelzoom commented on #104
8/29/19 dev meeting:
`ParametricTypeImplIO` is an inner type of `ParametricTypeIO`

[2019-09-05 17:07] zepumph commented on #101
I think that the rename was good for the code vars, but I don't think the `Impl` should leak into the typeName itself. For example, notice how `PropertyIO`'s typeName is not `PropertyIOImpl.<BooleanIO>`. This is done via the string passed to `phetioInherit`.

I recommend keeping the var names the same, but changing the following line:

[code]

to remove the `Impl` piece.

[2019-09-05 17:09] zepumph commented on #104
I think this decision was settled, and the implementation will be done over in https://github.com/phetsims/tandem/issues/101. I'm ready to close this. @chrisklus what do you think?

[2019-09-09 14:40] samreid commented on #100
In the conversion from phetioInherit to ES6 class, I removed ParametricTypeIO.  @zepumph and I still want to discuss whether it should be reintroduced in some form.

[2019-09-09 18:02] zepumph commented on #85
I can't even reproduce the above error because I first get and assertion like `should have type: ShakerParticleIO in allTypes`, when I first shake out particles.

This certainly has to do with https://github.com/phetsims/phet-io/issues/1442.

[2019-09-10 05:15] samreid commented on #65
@zepumph can you please take a look at this issue?  ObservableArray emits both `'itemAdded'` and `'itemRemoved'`, but maybe that should be converted to Emitters?  Where do you want to go with this issue, if anywhere?

[2019-09-11 18:56] zepumph commented on #103
This is a duplicate of https://github.com/phetsims/phet-io-wrappers/issues/240. Closing

[2019-09-11 18:56] #103 closed

[2019-09-11 21:11] pixelzoom commented on #104
What was the decision? Please don't make me go dig for it.

[2019-09-11 23:37] zepumph commented on #100
I feel like what we wanted to house in that file, we may just do in a cache that is used by every parametric type, so the supertype is not needed. Thanks @samreid! Let's talk more over in https://github.com/phetsims/tandem/issues/102. Besides the TODOs, is there anything else here?

[2019-09-11 23:39] zepumph commented on #102
In a discussion with @samreid last week, we thought that perhaps we could make a cache that could be used by composition in each parametric type. The key is having a mapping function that can get the typeName of an IO type without creating the IO type (key for garbage collection performance at least).

[2019-09-11 23:45] zepumph commented on #104
Since this discussion aboce, `ParametricTypeIO.js` was deleted, see https://github.com/phetsims/tandem/issues/100. Sorry that I was not explicit above.

To some up this issue currently, I would say that the "Impl" piece of these names stands for Implementation, and they are private to their individual parametric type files. This naming is an unfortunate byproduct of creating our own custom paramet

[2019-09-11 23:47] zepumph commented on #102
- [ ] Once this is implemented, we should remove the cache set up specifically for Action.js

[2019-09-11 23:49] zepumph commented on #104
After reading https://github.com/phetsims/tandem/issues/101#issuecomment-525823807, perhaps this is the correct place to discuss renaming all of these "Impl" variables.

[2019-09-12 00:54] samreid commented on #104
What if we name the outer types like `PropertyIOT( NumberIO)` and the inner types as `PropertyIO( NumberIO )`.  The `T` stands for `Template` and is used for the outer type template.  The inner type is named as we want it to appear in the client-facing API file.

[2019-09-12 00:57] samreid commented on #100
I'm not seeing any more TODOs marked for this issue.  If you confirm that, let's close.

[2019-09-12 03:36] pixelzoom commented on #104
Sounds like @samreid has some suggestions that may not have been considered, and this issue may not be ready to close after all.

[2019-09-12 20:31] #104 closed, assigned to zepumph

[2019-09-13 21:21] #65 closed

[2019-09-18 17:01] chrisklus opened #105 "Create mixin for stateObjectToArgs"
From https://github.com/phetsims/phet-io/issues/1454 and https://github.com/phetsims/charges-and-fields/issues/170.

For any Group member types, it would be nice to have a mixin for the method `stateObjectToArgs`. This would allow us to have this method on Group members only, and not accidentally call it on an IO type that is not part of a Group.

@zepumph will take the lead on this and report bac

[2019-09-20 00:45] zepumph commented on #101
It isn't the greatest solution to have a single letter in an acronym separate these two different items. That said it is a balance of readability and conciseness. I am fine going through with it, but would like to see what @pixelzoom thinks about naming parametric outer types `PropertyIOT`, and the actual IO types would then always be correct.

Some other Options:
* PropertyIOParametric
* Property

[2019-09-20 01:05] pixelzoom commented on #101
From the CRC:

"IO" is a standard abbreviation. "IOT" is not, and I'm not wild about the abbreviation approach in general.  `PropertyIOParametric`, or perhaps `PropertyIOTemplate`, conforms to PhET standards,  and is imo more appropriate.

[2019-09-20 01:06] pixelzoom commented on #101
And yes, +1 for disambiguating and making the IO type name be correct.

[2019-09-20 22:09] zepumph commented on #101
Alright. Time to crowd source. Options on the table:

* PropertyIOParametric
* PropertyIOTemplate
* *write-in*

Please vote!

[2019-09-23 15:14] samreid commented on #101
I wrote down those options, our starting point, and a `createPropertyIO` option in context so we can take a look in context:

[code]

[2019-09-23 17:18] chrisklus commented on #101
`PropertyIOTemplate` feels clearest and simplest to me.

[2019-09-24 14:24] samreid commented on #101
Can we re-evaluate `createPropertyIO` now that we are clearer about this being a type constructor rather than a type which will appear in the API?

[2019-09-24 16:52] pixelzoom commented on #101
How would `createPropertyIO` work?  In the example above, it looks like a single function that is capable of creating any IO type.

[2019-09-24 16:54] samreid commented on #101
What is now called `PropertyIO` would be renamed to `createPropertyIO`.  It is a single function declared in PropertyIO.js that creates what is currently called `PropertyIOImpl`, but `PropertyIOImpl` will be renamed to `PropertyIO`

[2019-09-24 16:55] pixelzoom commented on #101
Oh never mind, I see.  It would be identical to `PropertyIO`, just a different name.

+1 for using a name that looks like a function, instead of a name that looks like a class.

[2019-09-24 16:57] pixelzoom commented on #101
If `createPropertyIO` is declared in PropertyIO.js, then what does the `require` statement look like that allows you to use it as `createPropertyIO`?

[2019-09-24 16:58] samreid commented on #101
We could rename PropertyIO.js to createPropertyIO.js

[2019-09-24 17:06] pixelzoom commented on #101
Continuing with the `createPropertyIO` name...  What would this become?

`phetioType: DerivedPropertyIO( NullableIO( Vector2IO ) )`

Is it this monstrosity?

`phetioType: createDerivedPropertyIO( createNullableIO( Vector2IO ) )`

[2019-09-24 17:07] samreid commented on #101
Yes, the code for creating it would be `createDerivedPropertyIO( createNullableIO( Vector2IO ) )` and the concrete type would appear in the API file as `DerivedPropertyIO<NullableIO<Vector2IO>>`

[2019-09-24 17:09] pixelzoom commented on #101
Sorry, I didn't note my edit in my previous comment.  So which of these is it?

`createDerivedPropertyIO( createNullableIO( Vector2IO ) )`

`createDerivedPropertyIO( createNullableIO( createVector2IO() ) )`

[2019-09-24 17:10] samreid commented on #101
`createDerivedPropertyIO( createNullableIO( Vector2IO ) )`.  We don't need `createVector2IO()` because `Vector2IO` is already a concrete (nonparametric) type.

[2019-09-24 17:11] pixelzoom commented on #101
So we're going to have some IO types that are available directly (e.g. `Vector2IO`) and some that are returned by `create*IO` functions?   Can you describe how that is going to work?

[2019-09-24 17:13] pixelzoom commented on #101
And why not use the same pattern for parametric and non-parametric types? What if `Vector2IO` becomes parametric in the future?

[2019-09-24 17:19] samreid commented on #101
Parametric types take type parameters.  Nonparametric types do not.  So why should they use the same pattern?  Are you saying you want `Vector2IO()` instead of `Vector2IO`?

That's how it currently works in master.  `PropertyIO` is a parametric type, which is to say it is a function that returns a concrete type which is currently called `PropertyIOImpl`.  We wanted to rename `PropertyIOImpl` to `P

[2019-09-24 17:52] zepumph commented on #101
Though possible, that seems very unlikely. We have never converted a non-parametric IO type to parametric before, and most are just data types anyways.

I agree that `create*IO()` is verbose, but I can't tell how much of my dislike is that I'm used to the current form. Here are some more thoughts, just to look at them.

[code]

@pixelzoom in the past week note your following comments:

I'm a bit c

[2019-09-24 18:04] pixelzoom commented on #101
If you're confused, it's because I'm confused, mostly by the lack of examples that are fleshed out enough to be comprehensible to someone who isn't deeply involved in this.   Those of you on the PhET-iO sub team may be fine with abbreviated examples, explicitly discussing cases like `DerivedPropertyIO<NullableIO<Vector2IO>>`, and assuming that the rest of us know the difference between parametric

[2019-09-26 05:58] zepumph commented on #101
This issue is marked for PhET-iO meeting, but it is pretty developer specific. There isn't too much on the agenda tomorrow, so I'm going to add it as a last minute discussion topic to dev meeting. I think it will be most efficient if we can all get on the same page and decide what is best synchronously.

For anyone just joining the party, we are trying to do a rename to disambiguate between betwee

[2019-09-26 15:19] pixelzoom commented on #101
I think that continued to refer to it as the "out type" (sic) is confusing.  It's a function masquerading as a type by using a name that starts with uppercase.

[2019-09-26 18:04] samreid commented on #101
The first suggestion from the top of the issue is `createPropertyIO`, does that sound OK?  It's a function that creates a `PropertyIO`

[2019-09-27 00:23] zepumph commented on #72
I see that the code is currently:

[code]

This looks really nice to me. I don't think anything else is needed here to discuss. @samreid please reopen if you disagree.

[2019-09-27 00:23] #72 closed

[2019-09-27 00:55] zepumph commented on #56
I think this isn't correct. `PhetioObject` has a default PhetioObject of `ObjectIO`.

If you don't overwrite that, and the type you instrument can't be cloned with the structured cloning algorithm in `window.postMessage`.

Personally I don't feel strongly about including these assertions. If we still want to add these assertions, then they should be to all parametric types.

Over in https://github

[2019-09-27 18:50] zepumph commented on #96
I think `global.view` and `global.model` make sense are are idiomatic to the setup of other screens.  @samreid @chrisklus can you think of a reason that we wouldn't want to make this change?

[2019-09-27 18:52] zepumph commented on #95
I'll take this one on

[2019-09-27 19:47] zepumph commented on #102
This is causing other issues to be on hold, elevating priority.

[2019-09-27 21:00] zepumph commented on #95
@chrisklus volunteered to take this on. Thanks Chris!

[2019-09-27 23:47] zepumph opened #106 "Create CorrespondingViewIO? Or Maybe GroupMemeberIO?"
from phetsims/charges-and-fields#170, we had for a time `ModelElementNodeIO` (https://github.com/phetsims/charges-and-fields/blob/b7f5214eb6091e7da3af26fe0748939e1229ec52/js/charges-and-fields/view/ModelElementNodeIO.js), This held a reference to the model element, though it wasn't used by anything, and there was no reason to have it in state for supporting state.

In that file, there was a `model

[2019-09-27 23:49] zepumph opened #107 "Add more phetioType assertions in Group"
From https://github.com/phetsims/charges-and-fields/issues/170, @samreid, @chrisklus and I discussed this at one point, but I didn't want this to get swept under the rug.

I would really like to have an assertion that helps to link the IO Type from the GroupIO parameter type to the phetioType passed to the core type. For example in CAF, `ElectricFieldSensorNode.phetioType` is `ReferenceIO`, and in

[2019-09-28 00:05] zepumph commented on #107
@samreid what do you think about these assertions? I didn't commit.

<details>

[code]

[2019-09-28 01:01] samreid commented on #96
Sounds great to me!

[2019-09-28 01:02] samreid commented on #96
I wasn't sure who should implement this, so I invited both @pixelzoom and @zepumph

[2019-09-28 01:35] pixelzoom commented on #96
Before implementing, shouldn't a designer be consulted?

[2019-09-30 00:30] samreid commented on #96
@kathy-phet or @arouinfar can you please review https://github.com/phetsims/tandem/issues/96#issue-469462699 and comment?

[2019-09-30 00:44] chrisklus commented on #96
Sounds good to me as well.

[2019-09-30 18:15] arouinfar commented on #96
`global.model` and `global.view` sounds reasonable to me.

[2019-09-30 18:52] kathy-phet commented on #96
Where does this appear in the tree? Is it under "general" or is it a new main header?
We have "sim.general. .... " and the "sim.screenname...." is this "sim.global.model..."?

[2019-09-30 19:57] zepumph commented on #96
We have 3 things allowed on the sim root:

* `general`, which is stuff that pertains to all sims
* `global`, which is sim specific stuff that pertains to all screens
* `xScreen` which pertains only to that screen.

I think the goal of this issue is to determin if all three of these should be further sub divided with a `view` and `model` structure. Currently only the screens are.

[2019-09-30 20:26] kathy-phet commented on #96
OK. I see. I think having model and view for the "global" tandems consistent with how the screen work is good.

Are you proposing also to change the "general" tandems?

[2019-09-30 20:29] zepumph commented on #96
It wasn't explicit in this issue, but I don't see why we would do it for one but not the other.

[2019-09-30 20:43] kathy-phet commented on #96
I'm wondering for general, if it is going to make it harder to find things? Right now we have a "Navigation Bar" there which makes it easy to find the stuff in the navigation bar. But if that was first model and then view it would be harder to find. That is my only concern with this path - the instructional designer looking for stuff. What would it look like in "general" if it were to change?

[2019-09-30 21:18] zepumph opened #108 "create general.model and general.view?"
From https://github.com/phetsims/tandem/issues/96

@kathy-phet and @arouinfar felt good about this model/view separation for global things, but for general @kathy-phet said:

Let's discuss it further here!

[2019-09-30 21:19] zepumph commented on #96
Let's discuss conventions for `general` over in https://github.com/phetsims/tandem/issues/108.

[2019-09-30 21:22] zepumph commented on #108
Here is a first pass at categorizing the items I see when running GFL from master:

model
  * activeProperty
  * browserTabVisibleProperty
  * focusProperty
  * phetioCommandProcessor
  * resizeAction
  * screenIndexProperty
  * soundEnabledProperty
  * stepSimulationAction

view
  * utteranceQueue (I think this belongs in the view, even though currently the event type is "MODEL" we should change

[2019-10-01 17:01] samreid commented on #108
That division looks appropriate to me.  I don't think we need a category for "controller", most of those things would make sense in the view, at least with our current architecture.

[2019-10-02 00:31] samreid opened #109 "Create Group.createCorrespondingHeterogeneousGroupMember"
From https://github.com/phetsims/charges-and-fields/issues/170#issuecomment-537164328

It seems so!  I'll take a look.

[2019-10-02 00:33] samreid commented on #109
Proposed fix implemented, @zepumph can you please take a look?

[2019-10-02 00:52] samreid commented on #56
In https://github.com/phetsims/axon/issues/260 we are considering a strategy that might make work here unnecessary.  I recommend putting this issue on hold until https://github.com/phetsims/axon/issues/260 is decided.  Sound OK @zepumph?

[2019-10-02 15:46] samreid commented on #102
I prototyped this for Property and tested in Graphing Quadratics.  I saw: 43.1MB (cache) and 45.3MB (no cache).  That's a savings of 2.2MB or nearly 5%.  That was 11 cache misses and 360 cache hits.  I'll commit and if we agree this pattern looks OK we can apply it to other parametric types.

[2019-10-02 15:50] samreid commented on #102
@zepumph does this pattern look OK to you?

[2019-10-02 16:12] samreid commented on #102
We discussed it today, we agreed the pattern is appropriate and we should apply it to all of the parametric types.

[2019-10-02 16:53] zepumph opened #110 "Factor out `validate` calls from toStateObject/setValue to usage sites"
@samreid, @chrisklus, and I wish that it would be simpler if we validated at the usage sites instead of needing to add it to each implementation (so each IO Type).

For `setValue` this is very straight forward, as there is only two usages. One in the state engine and one in NumberProperty.setValue for the parent.

`toStateObject` on the other hand has 60 usages, and they are called all over the pl

[2019-10-03 22:15] #109 closed

[2019-10-03 23:19] zepumph commented on #96
It sounds like `global.model` and `global.view` are approved by designers. @pixelzoom do you think that we should create these as statics on `Tandem`, like `Tandem.GLOBAL_MODEL` and `Tandem.GLOBAL_VIEW` and in fact hide `Tandem.GLOBAL` from public consumption?

[2019-10-04 02:01] pixelzoom commented on #96
Yes, I guess so. Is there another (better?) alternative?

If we want this to be "consistent with how the screens work", then there may be things as the top-level that are above both `global.model` and `global.view`.  So we'll probably want all 3 of those tandems.

[2019-10-05 01:28] zepumph opened #111 "Rename Group"
from https://github.com/phetsims/phet-io/issues/1454#issuecomment-538128286

I agree, it would be nice to have something that conveyed better that "phet-io registry" feel that it is taking on.

I don't think this is top priority, we don't even know for certain if `Group` is the final implementation. See https://github.com/phetsims/phet-io/issues/1454 and sub issues before spending too much time on

[2019-10-09 20:26] zepumph opened #112 "Convert Group creation to static on member class"
From phetsims/phet-io#1454, we explored ways to move group creation logic closer to the constructor of the group members. After experimenting with CAF's model chargedParticles, we want to do this to all Groups.

[2019-10-09 20:27] zepumph commented on #112
There are other explorations from https://github.com/phetsims/phet-io/issues/1454 that we may go with that will render this issue useless.

[2019-10-09 21:11] zepumph commented on #111
Some ideas from phet-io dev meeting today:

* PhetioDyanamicGroup
* PhetioGroup
* PhetioSet
* PhetioCollection
* DynamicGroup
* PhetioPool(party)
* DyanmicElementGroup
* DynamicElementContainer

* We really like a name that communicates its unordered, set-like qualities.
* We like "Group" because we have been using it so far and it makes sense. Other terms seem only like a side step, not an improv

[2019-10-11 17:01] samreid opened #113 "Group should be homogeneous"
From https://github.com/phetsims/phet-io/issues/1454, in order to maintain generality, Group was originally developed to support heterogeneous value types.  However, this leads to an awkward API, so we considered changing to homogeneous only. From yesterday's discussion:

Further discussion from today from https://github.com/phetsims/phet-io/issues/1454#issuecomment-541141057

From discussion toda

[2019-10-11 17:07] samreid commented on #113
This could be a simple job if it is limited to:

* Remove the *heterogeneous methods
* Pop up the `prototypeSchema` to top level, so the 2nd arg would be the create function.  The default arguments would go in the options.  Or maybe a required arg?  I don't know.  Let's try it as a required arg, since it seems it will appear frequently.
[code]

[2019-10-11 17:13] samreid commented on #112
Based on discussion today with @chrisklus and @zepumph and myself.  Regarding whether the Group should always be declared in the value type, like `Particle.createGroup`, we think this may sometimes be valuable, but in other cases it may be better to declare the groups in the model or other container.  For instance, in CCK, it would be nice to see all of the `Group` instances declared side-by-side

[2019-10-11 17:26] chrisklus commented on #111
@samreid, @zepumph and @chrisklus quickly agreed on `PhetioGroup` to be the new name. How nice!

@samreid volunteered to take this on.

[2019-10-11 17:55] zepumph opened #114 "Updates to Group API"
Here are some micro adjustments that should be done before too long.
- [x] rename `groupMemberCreatedEmitter`  -> `memberCreatedEmitter` and same for `disposed`
- [x] make those private
- [x] add Group methods for adding/removing; addMemberCreatedListener/removeMemberCreatedListener and addMemberDisposedListener/removeMemberDisposedListener
- [x] add es5 getter for array? We decided no not right n

[2019-10-11 17:55] zepumph commented on #114
Tagging @chrisklus too.

[2019-10-11 19:58] samreid commented on #114
All parts fixed as prescribed, @zepumph want to review?

[2019-10-12 00:04] zepumph commented on #114
I like these changes. I especially like that the emitters are private now. Not like anyone was going to call `emit` outside of the Group, but still, if feels good to me.

[2019-10-12 00:04] #114 closed

[2019-10-12 01:23] zepumph commented on #102
I added this for ActionIO and EmitterIO, and removed the cache in Action. I didn't see any noticeable heap change, but that is expected since things were already cached.

[2019-10-12 05:06] samreid commented on #113
This is mostly complete in my working copy, but I'll hold off pushing until I can monitor CT more closely.

[2019-10-12 15:03] samreid commented on #113
I converted Group to homogeneous in the preceding commits, @zepumph can you please review?  Also note I renamed `addNextGroupMember` to `addNextMember` (not tracked in an issue).

[2019-10-12 15:06] samreid commented on #112
In https://github.com/phetsims/phet-io/issues/1454#issuecomment-541243715 @pixelzoom identified this pain point:

One issue I identified in Circuit Construction Kit was that some Vertex instances needed to be tracked in the Group whereas others (transient, used for scaffolding in creating toolbox icons during startup) needed to be not tracked in the Group.  So we may benefit from keeping the flexi

[2019-10-12 15:21] samreid commented on #111
Renamed in preceding commits, @zepumph can you please review?

[2019-10-12 15:25] samreid opened #115 "PhetioGroup should have collections-like interface."
In usage of PhetioGroup in Circuit Construction Kit, there are:

* 12 usages of `vertexGroup.array.indexOf`
* 5 usages of `vertexGroup.array.forEach`
* 2 usages of `vertexGroup.array.filter`
* 1 usage of `vertexGroup.array.map`

It seems we should change these to `vertexGroup.indexOf`, etc.  We could also do the same in ObservableArray if we proceed with https://github.com/phetsims/axon/issues/265

[2019-10-12 15:26] samreid commented on #115
Marking high as it pertains to Group interface

[2019-10-12 19:30] zepumph commented on #115
To me indexOf is array specific. I would prefer 'contains' because phetioGroup is more set-like than ordered. If there is code depending on an ordering of group members then I think we have a problem.  Another reason for trying to hide the array in group completely.

[2019-10-12 19:33] zepumph commented on #112
We would want validation though that all instrumented items went through the group channel. It seems like for icons they could likely just not be instrumented; we should be able to pass an opt out tandem to them or something.

[2019-10-14 19:35] samreid commented on #115
I added collections-like methods above.  I agree PhetioGroup is more set-like than array-like, but I have many occurrences of `vertexGroup.array.indexOf` in CCK.  It would be good to discuss them and see if there's a better way.  I'll assign to @zepumph for review of what's there and I'll note in Wednesday's agenda for possible discussion.

[2019-10-16 18:52] zepumph commented on #111
Looks great thanks!

[2019-10-16 18:52] #111 closed

[2019-10-16 18:56] zepumph commented on #113
Things look really good to me. I see that we made defaultArguments as a required param. That sounds good to me. I'm about to take this for a test drive over in https://github.com/phetsims/projectile-motion/issues/177 and will report any problems in a new issue. Anything else here?

[2019-10-16 19:06] samreid commented on #113
That's all for now, thanks!  Closing.

[2019-10-16 19:06] #113 closed

[2019-10-16 19:24] zepumph opened #116 "PhetioGroup.createNextMember is named very similarly to createGroupMember"
From https://github.com/phetsims/tandem/issues/113#issuecomment-541332807

While working on Projectile Motion, I noticed how easy it would be to accidentally call createGroupMember (the "implementation" function) instead of createNextMember. `createGroupMember` is marked as public, though only for PhetioGroupIO. Should we rename `createGroupMember` to something like `createGroupMemberImplementatio

[2019-10-16 19:27] samreid commented on #116
How about `createIndexedMember` and add JSDoc that says it is primarily for internal use, and that most clients will use `createNextMember`?

[2019-10-16 23:56] zepumph commented on #96
@pixelzoom please review. I named them as was decided in https://github.com/phetsims/tandem/issues/95.

[2019-10-17 04:13] zepumph commented on #101
usages:
[code]

[2019-10-17 17:52] zepumph commented on #115
I like all of these changes. I would say there is little value in having these methods, and still having `array` be public read-only. Can we make it private?

Many usages I've see were for iterating through or just a `contains` check. Perhaps we can decouple the array-like implementation.

That said, this may increase the load to convert from ObservableArray to PhetioGroup. Still I think I'd prefe